.user-home_header {
  h3 {
    margin-top: 30px;
  }

  hr{
    margin-bottom: 40px;
  }

  .user-home_message{
    margin-bottom: 20px;
  }


  .user-home_unapproved {
    margin-top: 25px;
    >div{
      margin-bottom: 10px;
    }
  }

  .user-home_unapproved-row{
    margin-bottom: 20px;
  }

  .user-home-text {
    text-align: left;
  }

  .features-header {
    text-align: left;
    margin-top: 25px;
  }

  .features li {
    text-decoration:  none;
    text-align: left;

  }
}

