.internal-risk{
  label{
    font-weight: normal;
    font-family: $font-family-bolder;
  }
  .normal-text{
    font-family: $font-family-default;
    font-weight: normal;
  }

  input[type="radio"]{
    margin-right: 2px;
  }
}
