<div class="add-criteria-modal">

  <div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-mousedown="$dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>{{$ctrl.criteriaModel.id ? 'EDIT' : 'ADD'}} CRITERIA</h1>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="criteria-title">Title</label>
      <textarea id="criteria-title"
                ng-trim="false"
                rows="5"
                placeholder=""
                name="criteria-title"
                class="form-control"
                ng-model="$ctrl.criteriaModel.title"
                required
                ng-attr-maxlength="200">
       </textarea>
      <remaining-characters text="$ctrl.criteriaModel.title" max="200"></remaining-characters>
    </div>

    <div class="form-group" ng-if="(!$ctrl.criteriaModel.answerType || $ctrl.criteriaModel.answerType === 'Score') && $ctrl.assessmentTemplate.includeWeight">
      <label for="criteria-weight">Weight %</label>
      <input id="criteria-weight"
             number-mask="0"
             min="0"
             max="100"
             name="criteria-weight"
             class="form-control"
             placeholder=""
             ng-model="$ctrl.criteriaModel.weight"
             maxlength="40"/>
    </div>

    <div class="form-group">
      <label for="criteria-comments-requirement">Comment type</label>
      <ui-select id="criteria-comments-requirement"
                 name="criteria-comments-requirement"
                 class="search-dropdown"
                 ng-model="$ctrl.criteriaModel.commentsRequirement"
                 search-enabled="false"
                 required>
        <ui-select-match>{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="requirement.value as requirement in $ctrl.commentsRequirements">
          <span>{{requirement.label}}</span>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="form-group">
      <label for="criteria-answer-type">Answer type</label>
      <ui-select id="criteria-answer-type"
                 name="criteria-answer-type"
                 on-select="$ctrl.onAnswerTypeChange()"
                 class="search-dropdown"
                 ng-model="$ctrl.criteriaModel.answerType"
                 search-enabled="false"
                 required>
        <ui-select-match>{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="answerType.value as answerType in $ctrl.answerTypes">
          <span>{{answerType.label}}</span>
        </ui-select-choices>
      </ui-select>
    </div>

  </div>

  <div class="modal-footer">
    <div class="row mbottom10">
      <div class="col-xs-12 text-center">
        <button class="btn btn-primary" ng-click="$ctrl.addCriteria()"
                ng-disabled="!$ctrl.criteriaModel.title || !$ctrl.criteriaModel.commentsRequirement || !$ctrl.criteriaModel.answerType">
          {{$ctrl.criteriaModel.id ? 'SAVE' : 'ADD'}}
        </button>
        <button class="btn btn-secondary" ng-click="$close()">CLOSE</button>
      </div>
    </div>
  </div>
</div>
