<div class="page" ng-class="{'edit-mode': !$ctrl.readOnly}">

  <page-header header="$ctrl.title"
               on-back="$ctrl.onBack()"
               back-btn-name="'PROGRAMME LIST'"
               editable-block="$ctrl"
               stop-editing="true">
  </page-header>

  <!--TODO move to component-->
  <header-status class="mbottom30">
    <hs-left class="row text-nowrap" ng-if="$ctrl.programme.createdOn && $ctrl.programme.creatorName && !($ctrl.programme.modifiedOn && $ctrl.programme.modifierName)">Created on {{($ctrl.programme.createdOn) | date: 'dd/MM/yyyy'}} by {{$ctrl.programme.creatorName}}</hs-left>
    <hs-left class="row text-nowrap" ng-if="$ctrl.programme.modifiedOn && $ctrl.programme.modifierName">Last updated on {{($ctrl.programme.modifiedOn) | date: 'dd/MM/yyyy'}} by {{$ctrl.programme.modifierName}}</hs-left>
    <hs-right ng-if="$ctrl.programme.id">Programme ID: <b id="programme-id">{{$ctrl.programme.id}}</b></hs-right>
  </header-status>

  <form class="form-gla" role="form" name="newProgForm">

    <div class="form-group" ng-if="$ctrl.newProgrammeMode || $ctrl.editMode">
      <label for="programme-name">Enter a programme name</label>
      <input id="programme-name" name="name" type="text" class="form-control" required placeholder="Programme name" ng-model="$ctrl.programme.name" maxlength="50"/>
      <div id="name-error" class="error-wrapper" role="alert" ng-show="newProgForm.$submitted || newProgForm.name.$touched">
        <span class="error" ng-show="newProgForm.name.$error.required">Enter a name</span>
      </div>
    </div>


    <multi-panel class="mbottom20 programme-information">
      <div class="section full-page-section">
        <div class="section-header">Programme information</div>

        <mp-field label="$ctrl.labels.managingOrganisation">
          <span ng-if="$ctrl.readOnly || !$ctrl.newProgrammeMode || $ctrl.managingOrganisations.length < 1">{{$ctrl.programme.managingOrganisationName}}</span>
          <ui-select ng-if="!$ctrl.readOnly && $ctrl.newProgrammeMode && $ctrl.managingOrganisations.length > 1"
                     id="managing-organisation"
                     aria-label="{{$ctrl.labels.managingOrganisation}}"
                     placeholder="Select"
                     ng-model="$ctrl.managingOrganisationModel"
                     search-enabled="false"
                     on-select="$ctrl.onManagingOrganisation($item)"
                     required>

            <ui-select-match ng-attr-title="{{$select.selected.name}}" placeholder="Select">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="managingOrganisation in $ctrl.managingOrganisations">
              <span>{{ managingOrganisation.name }}</span>
            </ui-select-choices>
          </ui-select>
        </mp-field>

        <mp-field label="$ctrl.labels.status">
          <span ng-if="$ctrl.readOnly">{{$ctrl.programme.status}}</span>
            <ui-select id="programme-status"
                       aria-label="{{$ctrl.labels.status}}"
                     ng-if="!$ctrl.readOnly"
                       name="status"
                       ng-model="$ctrl.programme.status"
                       required
                       search-enabled="false">
              <ui-select-match placeholder="Select status">{{$select.selected}}</ui-select-match>
              <ui-select-choices repeat="status in $ctrl.statuses">
                <span>{{status}}</span>
              </ui-select-choices>
            </ui-select>
        </mp-field>

        <mp-field label="$ctrl.labels.glaInternal">
          <span ng-if="$ctrl.readOnly">{{$ctrl.programme.restricted ? 'Yes' : 'No'}}</span>

          <div ng-if="!$ctrl.readOnly" class="radio-group">
            <label class="radio-inline">
            <input aria-label="{{$ctrl.labels.glaInternal}} Yes"
                   type="radio"
                   name="restricted"
                   ng-disabled="$ctrl.totalProjectCount"
                   ng-model="$ctrl.programme.restricted"
                   ng-value="true"> Yes
            </label>
            <label class="radio-inline">
            <input aria-label="{{$ctrl.labels.glaInternal}} No"
                   type="radio"
                   name="restricted"
                   ng-disabled="$ctrl.totalProjectCount"
                   ng-model="$ctrl.programme.restricted"
                   ng-value="false"> No
            </label>
          </div>

        </mp-field>

        <mp-field label="$ctrl.labels.enableForProjects">
          <span ng-if="$ctrl.readOnly">{{$ctrl.programme.enabled ? 'Yes' : 'No'}}</span>

          <div ng-if="!$ctrl.readOnly" class="radio-group">
            <label class="radio-inline">
              <input aria-label="{{$ctrl.labels.enableForProjects}} Yes"
                     type="radio"
                     name="enabled"
                     ng-model="$ctrl.programme.enabled"
                     ng-value="true"> Yes
            </label>
            <label class="radio-inline">
              <input aria-label="{{$ctrl.labels.enableForProjects}} No"
                     type="radio"
                     name="enabled"
                     ng-model="$ctrl.programme.enabled"
                     ng-value="false"> No
            </label>
          </div>
        </mp-field>

        <mp-field label="$ctrl.labels.markForAssessment">
          <span ng-if="$ctrl.readOnly">{{$ctrl.programme.inAssessment ? 'Yes' : 'No'}}</span>

          <div ng-if="!$ctrl.readOnly" class="radio-group">
            <label class="radio-inline">
              <input aria-label="{{$ctrl.labels.markForAssessment}} Yes"
                     type="radio"
                     name="inAssessment"
                     ng-model="$ctrl.programme.inAssessment"
                     ng-value="true"> Yes
            </label>
            <label class="radio-inline">
              <input aria-label="{{$ctrl.labels.markForAssessment}} No"
                     type="radio"
                     name="inAssessment"
                     ng-model="$ctrl.programme.inAssessment"
                     ng-value="false"> No
            </label>
          </div>
        </mp-field>

        <mp-field label="$ctrl.labels.totalProjects">{{$ctrl.programme.nbSubmittedProjects || 0}}

        </mp-field>

        <div class="gla-label mtop10" ng-if="$ctrl.programme.id"><a ui-sref="projects({programmeId: $ctrl.programme.id})">View all projects for this programme</a></div>
      </div>
    </multi-panel>

    <section-header2 class="collapse-project-types"
                     show-bar="true"
                     on-collapse-change="$ctrl.onProjectTypesCollapseChange()">Project type (template)</section-header2>

    <div class="row no-gutter" ng-if="$ctrl.availableTemplates.length">
      <div class="col-xs-6">
        <a class="collapse-all"
           ng-if="$ctrl.programme.templatesByProgramme.length"
           ng-click="$ctrl.collapseTemplates()">{{$ctrl.getTemplatesToggleName()}}</a>
        <span ng-if="!$ctrl.programme.templatesByProgramme.length">You can select multiple templates</span>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-secondary pull-right add-btn" ng-click="$ctrl.addNewTemplate()" ng-if="!$ctrl.readOnly">
          ADD NEW TEMPLATE <b>+</b>
        </button>
      </div>
    </div>


    <programme-templates-table programme="$ctrl.programme"
                               read-only="$ctrl.readOnly"
                               projects-count="$ctrl.projectsCount"
                               on-delete="$ctrl.onTemplateRemoved($event)"
                               on-collapse-change="$ctrl.onCollapseChange()"
                               gla-roles="$ctrl.glaRoles"
                               allow-change-in-use-assessment-template="$ctrl.allowChangeInUseAssessmentTemplate"
                               assessment-templates="$ctrl.filteredAssessmentTemplates"></programme-templates-table>




    <div class="mtop40 mbottom40 text-center" ng-if="!$ctrl.readOnly">
      <button class="btn btn-primary" ng-class="{'btn-md': $ctrl.programme.id}"
              ng-disabled="newProgForm.$error.required ||
              !$ctrl.programme.templatesByProgramme.length ||
              !$ctrl.programme.status ||
              $ctrl.isSaving"
              ng-click="$ctrl.stopEditing()">{{$ctrl.programme.id? 'STOP EDITING' : 'SAVE'}}<i class="glyphicon glyphicon-edit" ng-if="$ctrl.programme.id"></i></button>


      <div class="mtop15" ng-if="!$ctrl.programme.id"><a href ui-sref="programmes" class="form-cancel">Cancel</a></div>
    </div>

  </form>
</div>
