<div class="project-questions medium-page">
  <div class="row text-center">
    <gla-project-header [editable-block]="$ctrl" (on-back)="$ctrl.back()">{{$ctrl.projectBlock.blockDisplayName}}</gla-project-header>
  </div>

  <gla-spinner ng-if="$ctrl.loading"></gla-spinner>

  <questions class="mtop30"
             ng-if="!$ctrl.loading"
             project="$ctrl.project"
             block="$ctrl.projectBlock"
             questions="$ctrl.questions"
             read-only="$ctrl.readOnly"></questions>

  <project-block-footer editable-block="$ctrl"></project-block-footer>

</div>
