<div class="profiled-unit-wizard">
  <div class="input-container wizzard">
    <div>
      <div class="form-group">
        <label for="{{'tenureType'+$ctrl.wizardType}}">Tenure</label><br/>
        <ui-select ng-attr-id="{{'tenureType'+$ctrl.wizardType}}"
                   name="tenureType"
                   placeholder="Select"
                   ng-model="$ctrl.unit.tenure"
                   search-enabled="false"
                   on-select="$ctrl.onTenureSelect()">

          <ui-select-match ng-attr-title="{{$select.selected.name}}" placeholder="Select">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="tenure in $ctrl.tenureDetails track by tenure.id">
            <span>{{ tenure.name }}</span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div ng-if="$ctrl.showMarketTypes">
      <div class="form-group">
        <label for="{{'marketType'+$ctrl.wizardType}}">Market Type</label><br/>
        <ui-select ng-attr-id="{{'marketType'+$ctrl.wizardType}}"
                   placeholder="Select"
                   ng-model="$ctrl.unit.marketType"
                   search-enabled="false"
                   ng-disabled="!$ctrl.unit.tenure"
                   on-select="$ctrl.onMarketTypeSelect()">
          <ui-select-match ng-attr-title="{{$select.selected.marketType}}" placeholder="Select">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="item in $ctrl.unit.tenure.marketTypes track by item.id">
            <span>{{ item.name }}</span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div>
      <div class="form-group" style="min-width: 80px">
        <label for="{{'beds'+$ctrl.wizardType}}">Bed(s)</label><br/>
        <ui-select ng-attr-id="{{'beds'+$ctrl.wizardType}}"
                   placeholder="Select"
                   ng-model="$ctrl.unit.nbBeds"
                   search-enabled="false">
          <ui-select-match ng-attr-title="{{$select.selected.displayValue}}" placeholder="Select">{{$select.selected.displayValue}}</ui-select-match>
          <ui-select-choices repeat="item in $ctrl.config.beds track by item.id">
            <span>{{ item.displayValue }}</span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div>

      <div class="form-group">
        <label for="{{'unitDetails'+$ctrl.wizardType}}">Unit Type</label><br/>
        <ui-select ng-attr-id="{{'unitDetails'+$ctrl.wizardType}}"
                   placeholder="Select"
                   ng-model="$ctrl.unit.unitType"
                   search-enabled="false">
          <ui-select-match ng-attr-title="{{$select.selected.displayValue}}" placeholder="Select">{{$select.selected.displayValue}}</ui-select-match>
          <ui-select-choices repeat="item in $ctrl.config.unitDetails track by item.id">
            <span>{{ item.displayValue }}</span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="numberOfUnitsGroup">
      <div class="form-group">
        <label for="{{'numberOfUnits'+$ctrl.wizardType}}">Number of Units</label><br/>
        <input ng-attr-id="{{'numberOfUnits'+$ctrl.wizardType}}"
          ng-model="$ctrl.unit.nbUnits"
          maxlength="11"
          number-mask="0"
          class="form-control"
          placeholder="Enter units"/>
      </div>
    </div>
    <div ng-if="$ctrl.unit.type === 'Rent'">
      <div class="form-group">
        <label for="avgNetWeeklyRent">Avg. Net Weekly Rent £</label><br/>
        <input id="avgNetWeeklyRent"
          ng-model="$ctrl.unit.netWeeklyRent"
          maxlength="14"
          number-mask="2"
          class="form-control"
          placeholder="Enter rent £"/>
      </div>
    </div>

    <div ng-if="$ctrl.unit.type === 'Rent'">
      <div class="form-group">
        <label for="avgWeeklyServiceCharge">Avg. Weekly Service Charge £</label><br/>
        <input id="avgWeeklyServiceCharge"
          ng-model="$ctrl.unit.weeklyServiceCharge"
          maxlength="14"
          number-mask="2"
          class="form-control"
          placeholder="Enter £"/>
      </div>
    </div>
    <div ng-if="$ctrl.unit.type === 'Rent' && $ctrl.unit.marketType.id === $ctrl.UnitsService.LEGACY_RENT_MARKET_TYPE_ID">
      <div class="form-group">
        <label for="avgWeeklyMarketRent">Avg. Weekly Market Rent £</label><br/>
        <input id="avgWeeklyMarketRent"
          ng-model="$ctrl.unit.weeklyMarketRent"
          maxlength="14"
          number-mask="2"
          class="form-control"
          placeholder="Enter rent £"/>
      </div>
    </div>

    <div ng-if="$ctrl.unit.type === 'Sales'">
      <div class="form-group">
        <label for="marketValue">Avg. Market Value £</label><br/>
        <input id="marketValue" ng-model="$ctrl.unit.marketValue" maxlength="14" number-mask="0" class="form-control" placeholder="Enter £"/>
      </div>
    </div>

    <div ng-if="$ctrl.unit.type === 'Sales' && $ctrl.unit.marketType.id !== $ctrl.UnitsService.DISCOUNTED_RATE_MARKET_TYPE_ID && $ctrl.unit.marketType.id !== $ctrl.UnitsService.LEGACY_SALES_MARKET_TYPE_ID" class="first-tranche-sales">
      <div class="form-group">
        <label for="firstTrancheSales">Avg. First Tranche Sales %</label><br/>
        <input
          id="firstTrancheSales"
          ng-model="$ctrl.unit.firstTrancheSales"
          maxlength="3"
          number-mask="0"
          class="form-control"
          placeholder="Enter %"/>
      </div>
    </div>

    <div ng-if="$ctrl.unit.type === 'Sales' && $ctrl.unit.marketType.id === $ctrl.UnitsService.DISCOUNTED_RATE_MARKET_TYPE_ID" class="discount-off-market-value">
      <div class="form-group">
        <label for="discountOffMarketValue">% Discount off Market Value</label><br/>
        <input id="discountOffMarketValue"
               ng-model="$ctrl.unit.discountOffMarketValue"
               maxlength="3"
               maxlength="11"
               number-mask="0"
               class="form-control"
               placeholder="Enter %"/>
      </div>
    </div>

    <div ng-if="$ctrl.unit.type === 'Sales' && $ctrl.unit.marketType.id === $ctrl.UnitsService.LEGACY_SALES_MARKET_TYPE_ID" class="legacy-sales">
      <div class="form-group">
        <label for="avgNetWeeklyRentForSales">Avg. Net Weekly Rent £</label><br/>
        <input id="avgNetWeeklyRentForSales"
               ng-model="$ctrl.unit.netWeeklyRent"
               maxlength="14"
               number-mask="2"
               class="form-control"
               placeholder="Enter rent £"/>
      </div>
    </div>

    <div ng-if="$ctrl.unit.type === 'Sales'">
      <div class="form-group">
        <label for="weeklyServiceCharge">Avg. Weekly Service Charge £</label><br/>
        <input id="weeklyServiceCharge" ng-model="$ctrl.unit.weeklyServiceCharge" maxlength="14" number-mask="2" class="form-control" placeholder="Enter £"/>
      </div>
    </div>

  </div>
  <div class="text-right">
    <button class="btn btn-primary" ng-disabled="!$ctrl.isValidForm()" ng-click="$ctrl.add()">ADD</button>
  </div>
</div>
