<ng-template #tipContent>
  <gla-markdown [text]="helpText"></gla-markdown>
</ng-template>

<div class="gla-tooltip"
     (mouseenter)="mouseEnter(t)"
     (mouseleave)="mouseLeave(t)"
     (focusin)="focusin(t)"
     (focusout)="focusout(t)">

  <span tabindex="0"
        role="button"
        aria-label="Show more information"
        class="glyphicon glyphicon-info-sign cursor-pointer"
        placement="right"
        container="body"
        triggers="manual"
        #t="ngbTooltip"
        [ngbTooltip]="tipContent"></span>
</div>
