:host {
  display: block;
}

input[type=checkbox] {
  margin-right: 5px;
}

a.add-milestone {
  display: inline-block;
  margin-right: 10px;
  float: right;
}

.sub-item {
  margin-left: 20px;
  margin-top: -15px;
}

.item-label{
  font-family: "Gotham-book", "Helvetica Neue", "Helvetica", "Arial", "sans-serif"
}

.up-down-button {
  width: 10%;
}


