.login {
  h2 {
    margin-top: 30px;
    text-align: center;
  }
  h3 {
    margin-top: 30px;
    text-align: center;
  }
  p {
    margin-top: 50px;
  }
  .form-group{
    margin-bottom: 5px;
  }
}

.gla-welcome-message {
  text-align: center;
  padding-top: 5px;
  font-size: 12px;
  font-weight:lighter;
}
.login-email-error{
  min-height: 14px;
}
