<div class="grant-block-wrap">
  <div class="grant-block">
    <div class="grant-title" ng-transclude></div>
    <div class="grant-property" ng-repeat="item in $ctrl.items">
      <div class="grant-name">
        <span class="glyphicon glyphicon-exclamation-sign" ng-if="item.displayWarn"></span>
        {{item.itemName}}
      </div>
      <div class="grant-value">
        <span ng-if="item.type"><span ng-if="item.type === 'CURRENCY'">&pound;</span>{{item.itemValue | number}}</span>
        <span ng-if="!item.type">{{item.itemValue}}</span>
      </div>
    </div>
  </div>
</div>
