<div class="template-block">
  <form class="form-gla" name="modalForm" role="form">
    <div class="row">
      <div class="col-xs-12 col-sm-8 center-col">
        <page-header header="'Block details'" on-back="$ctrl.onSave({$event: $ctrl.block})">
          <ph-right>
            <button class="btn btn-primary btn-md" ng-click="$ctrl.copyBlock()">
              COPY<span class="glyphicon glyphicon-copy"></span>
            </button>
          </ph-right>
        </page-header>

        <div class="form-group">
          <label for="block-type">Block type</label>

          <ui-select id="block-type"
                     name="block-type"
                     ng-model="$ctrl.block.block"
                     on-select="$ctrl.onBlockTypeSelect($select.selected)"
                     ng-disabled="!$ctrl.isNew || $ctrl.readOnly"
                     required
                     search-enabled="false">
            <ui-select-match placeholder="Block type">
              {{$select.selected.blockType}}
            </ui-select-match>
            <ui-select-choices repeat="blockType.blockType as blockType in $ctrl.blockTypes track by blockType.blockType">
              <span>{{blockType.blockType}}</span>
            </ui-select-choices>
          </ui-select>
          <div class="error-wrapper" ng-if="(modalForm['block-type'].$touched && modalForm['block-type'].$error.required)" role="alert">
            <span class="error">Required</span>
          </div>
        </div>

        <div class="form-group">
          <label for="display-name">Display name</label>
          <input class="form-control"
                 id="display-name"
                 maxlength="100"
                 name="display-name"
                 ng-model="$ctrl.block.blockDisplayName"
                 ng-disabled="$ctrl.readOnly"
                 placeholder="Display name"
                 required
                 type="text"/>
          <div class="error-wrapper" ng-if="modalForm['display-name'].$touched && modalForm['display-name'].$invalid" role="alert">
            <span class="error">Required</span>
          </div>
        </div>

        <div class="form-group">
          <label for="display-order">Display order</label>
          <input class="form-control"
                 id="display-order"
                 maxlength="5"
                 name="display-order"
                 ng-model="$ctrl.block.displayOrder"
                 ng-disabled="$ctrl.readOnly"
                 number-mask="0"
                 placeholder="Display order"
                 required
                 type="text"/>
          <div class="error-wrapper" ng-if="modalForm['display-order'].$touched && modalForm['display-order'].$invalid" role="alert">
            <span class="error">Required</span>
          </div>
        </div>
        <details-template-block block="$ctrl.block"
                                ng-if="$ctrl.block.block === 'Details'"
                                read-only="$ctrl.readOnly"
                                template="$ctrl.template"></details-template-block>

        <template-block-questions ng-if="$ctrl.block.block === 'Questions'"
                                  block="$ctrl.block"
                                  read-only="$ctrl.readOnly"></template-block-questions>

        <template-block-outputs ng-if="$ctrl.block.block === 'Outputs'"
                                  block="$ctrl.block"
                                  template="$ctrl.template"
                                  read-only="$ctrl.readOnly"></template-block-outputs>

      </div>
    </div>
<!--    <div class="text-center mtop30">-->
<!--      <button class="btn btn-primary" ng-click="$ctrl.onSave({$event: $ctrl.block})" type="button">SAVE BLOCK</button>-->
<!--    </div>-->

<!--    <pre>{{$ctrl.block | json}}</pre>-->
  </form>
</div>
