<div class="row no-gutter mbottom10">
  <div class="col-xs-12">
    <div class="no-padding" ng-class="{'col-sm-9 col-md-10': $ctrl.issues.length, 'col-xs-12': !$ctrl.issues.length}">
      <section-header
        subheader="{{$ctrl.subheader}}">
        {{$ctrl.header}}
      </section-header>
    </div>
    <div class="col-sm-3 col-md-2 text-right no-padding section-control" ng-if="$ctrl.issues.length && !$ctrl.disableHideClosedFilter">
      <label for="hideIssues"><input type="checkbox" id="hideIssues" ng-model="$ctrl.hideClosed" ng-change="!$ctrl.disableHideClosedFilter && $ctrl.toggleFilter()"/> Hide closed issues</label>
    </div>


    <div class="col-xs-12 text-right mbottom10 no-padding" ng-if="!$ctrl.readOnly">
      <button type="button" class="btn btn-secondary" ng-click="$ctrl.createNewIssue()">CREATE NEW ISSUE +</button>
    </div>
    <div class="table-responsive">
      <div ng-if="!$ctrl.issues.length" class="empty-table">Not provided</div>
      <table ng-if="$ctrl.issues.length" id="issues-summary-table" class="table table-bordered">
        <thead class="thead-inverse uppercase">
            <tr class="mainHeader">
              <th style="width: 50px" class="no-print"></th>
              <th style="width: 200px;">TITLE</th>
              <th style="width: 305px;">DESCRIPTION OF ISSUES AND IMPACT</th>
              <th style="width: 220px;">IMPACT LEVEL</th>
              <th style="width: 100px;">STATUS</th>
              <th ng-if="$ctrl.projectMarkedCorporate" style="width: 100px;">CORPORATE REPORTING</th>
              <th style="width: 10px;"> </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="$ctrl.issues.length == 0">
              <td></td>
              <td colspan="5" class="not-provided">Not provided</td>
            </tr>
            <tr allow-enter ng-attr-tabindex="{{$ctrl.canEdit(issue)? 0: undefined}}" ng-class="{'primary-row':$ctrl.canEdit(issue)}"  ng-click="$ctrl.canEdit(issue) && $ctrl.editIssue({issue:issue})" ng-repeat-start="issue in $ctrl.issues | filter: $ctrl.filter | orderBy: 'sortOrder'">
              <td allow-enter
                  aria-expanded="{{!!$ctrl.blockSessionStorage.manageProjectIssuesTablesState[issue.id]}}"
                  aria-label="{{!$ctrl.blockSessionStorage.manageProjectIssuesTablesState[issue.id]? 'Expand' : 'Collapse'}}"
                  class="expandable no-print"
                  ng-click="$ctrl.blockSessionStorage.manageProjectIssuesTablesState[issue.id] = !$ctrl.blockSessionStorage.manageProjectIssuesTablesState[issue.id]; $event.stopPropagation();"
                  role="button"
                  tabindex="0">
                <span>
                  <i class="glyphicon glyphicon-triangle-bottom" ng-if="!$ctrl.blockSessionStorage.manageProjectIssuesTablesState[issue.id]"></i>
                  <i class="glyphicon glyphicon-triangle-top" ng-if="$ctrl.blockSessionStorage.manageProjectIssuesTablesState[issue.id]"></i>
                </span>
              </td>
              <td>{{issue.title}}</td>
              <td class="issue-description-cell">{{issue.description}}</td>
              <td ng-class="'{{$ctrl.issueImpactLevelsDisplayMap[issue.initialImpactRating].css}}'">
                  <div>{{$ctrl.issueImpactLevelsDisplayMap[issue.initialImpactRating].displayValue}}</div>
              </td>
              <td >
                <a href="JavaScript:void(0)" ng-click="$ctrl.closeIssue({issue:issue}); $event.stopPropagation();" ng-if="$ctrl.canEdit(issue)">{{issue.status}}</a>
                <span ng-if="!$ctrl.canEdit(issue)">{{issue.status}}</span>
              </td>
              <td ng-if="$ctrl.projectMarkedCorporate" class="delete-btn-container delete-risk-button-container" ng-click="$event.stopPropagation();" >
                <input id="issueIsCorporate" ng-change="$ctrl.onIssueMarkCorporateChange(issue)" ng-if="$ctrl.canEdit(issue)" ng-model="issue.markedForCorporateReporting" type="checkbox"/>
                <span ng-if="!$ctrl.canEdit(issue)">
                     {{issue.markedForCorporateReporting ? 'Yes' : 'No'}}
                  </span>

              </td>
              <td class="delete-btn-container delete-issue-button-container">
                <delete-button ng-click="$ctrl.deleteIssue({issue:issue}); $event.stopPropagation();" ng-if="$ctrl.canEdit(issue)">
                </delete-button>
              </td>
            </tr>
            <tr class="secondaryRow" ng-if="$ctrl.blockSessionStorage.manageProjectIssuesTablesState[issue.id]" ng-repeat-end>
              <td class="secondaryCell" colspan="7">
                <table id="issues-action-table" class="table table-bordered table-responsive secondary-table">
                  <thead>
                    <tr>
                      <th style="width: 250px;"></th>
                      <th style="width: 290px;">ACTIONS</th>
                      <th style="width: 1px;"></th>
                      <th style="width: 222px;">OWNER</th>
                      <th style="width: 100px;"></th>
                      <th ng-if="$ctrl.projectMarkedCorporate"  style="width: 100px;">
                        <!--CORPORATE REPORTING-->
                      </th>
                      <th style="width: 0px;"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-if="issue.actions.length == 0">
                      <td></td>
                      <td colspan="3" class="not-provided">Not provided</td>
                    </tr>
                    <tr ng-repeat="action in issue.actions">
                      <td></td>
                      <td colspan="2">{{action.action}}</td>
                      <td colspan="2">
                        {{action.owner}}
                      </td >
                      <td ng-if="$ctrl.projectMarkedCorporate" >
                        <input id="actionIsCorporate" ng-change="$ctrl.updateIssue(issue)" ng-disabled="!issue.markedForCorporateReporting" ng-if="$ctrl.canEdit(issue)" ng-model="action.markedForCorporateReporting" type="checkbox"/>
                        <span ng-if="!$ctrl.canEdit(issue) ">
                           {{action.markedForCorporateReporting ? 'Yes' : 'No'}}
                        </span>
                      </td>
                      <td  class="delete-btn-container delete-action-button-container">
                        <delete-button ng-if="$ctrl.canEdit(issue)"
                                       ng-attr-id="delete-owner-{{$index+1}}"
                                       class="small"
                                       ng-click="$ctrl.deleteAction({issue:issue, action: action}); $event.stopPropagation();">
                        </delete-button>
                      </td>

                    </tr>
                  </tbody>
                </table>
                <div ng-if="$ctrl.canEdit(issue)" class="text-right add-mitigation">
                  <a class="pageLink add-mitigation" href="JavaScript:void(0);" id="addMitigation" ng-click="$ctrl.addAction({issue:issue})">Add Action & Owner</a>
                </div>
              </td>
            </tr>

        </tbody>
    </table>
    </div>
  </div>
</div>
