@import "variables";

:host {
  display: block;
  text-align: right;
  font-size: 12px;
  margin-top: 5px;
  font-family: $font-family-light;
  color: #b0b0b0;
}

.remaining-characters-count {
  font-family: $font-family-default;
  color: $secondary-grey;
}
