<div class="org-programmes">
  <div class="row no-padding-row" ng-if="$ctrl.org.programmes.length">
    <div class="col-xs-12 no-padding programmes-list list">
      <div class="row no-padding-row section-header">
        <div class="col-xs-8">
          Programme
        </div>
        <div class="col-xs-4">
          Total approved budget £
        </div>
      </div>
      <div class="row no-padding-row" ng-repeat="programme in $ctrl.org.programmes | orderBy: 'name' | limitTo: $ctrl.showHowMany">
        <div class="org-programme list-item">
          <div class="row no-padding-row">
            <div class="col-xs-8 programme-title programme-name">
              <a href="JavaScript:void(0)" ng-click="$ctrl.goToOrganisationProgramme($ctrl.org.id, programme)">
                {{programme.name}}
              </a>
            </div>
            <div class="col-xs-4 total-approved-budget">
              <span ng-if="programme.total || programme.total === 0">{{programme.total | currency:'£':0}}</span>
              <span ng-if="!programme.total && programme.total !== 0">Not provided</span>
            </div>
          </div>
        </div>
      </div>


      <show-more-btn ng-if="$ctrl.org.programmes.length > 3"
                     ng-click="$ctrl.showMoreLessProgrammes()"
                     collapsed="$ctrl.showAll">VIEW {{$ctrl.showAll ? 'LESS' : 'ALL'}} PROGRAMMES</show-more-btn>

    </div>
  </div>
</div>
