<div id="top-menu-container" ng-class="{'mobile-menu-expanded': $ctrl.mobileMenuExpanded}">
  <gla-cookie-warning></gla-cookie-warning>
  <banner-message ng-if="$ctrl.shouldShowBanner()" class="system-outage-banner" message="$ctrl.systemOutageMessage" can-close="$ctrl.canDismissBanner"></banner-message>
  <nav class="navbar navbar-default" ng-if="user.loggedOn">
    <div class="container-fluid">

      <div class="navbar-header visible-xs">
        <button aria-label="menu"
                type="button"
                class="navbar-toggle collapsed"
                ng-click="$ctrl.mobileMenuExpanded = !$ctrl.mobileMenuExpanded"
                data-toggle="collapse"
                data-target="#navbar-collapse-1">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="visible-xs navbar-menu-text">MENU</span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ng-class="{'dropdown': topMenuItem.items.length, 'active': isMenuItemActive(topMenuItem)}"
              ng-repeat="topMenuItem in menu"
              permission
              permission-only="topMenuItem.permissions">

            <a aria-haspopup="true"
               data-toggle="dropdown"
               href="JavaScript:void(0)"
               ng-class="{'dropdown-toggle': topMenuItem.items.length}"
               ng-click="$ctrl.goToState(topMenuItem.state)"
               role="button"
               tabindex="0">{{topMenuItem.title}}<span class="caret" ng-if="topMenuItem.items.length"></span></a>

            <ul class="dropdown-menu" ng-if="topMenuItem.items.length">
              <li ng-repeat="item in topMenuItem.items"
                  permission
                  permission-only="item.permissions"
                  ui-sref-active="active">
                <a href ng-click="$ctrl.onPageChange()" tabindex="0" ui-sref="{{item.state}}">{{item.title}}</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right scroll-to-top-link">
          <li><a aria-label="Move up to top of the page" href="JavaScript:void(0);" ng-click="$ctrl.scrollToTop()" role="button" tabindex="0"><span class="glyphicon glyphicon-chevron-up"></span></a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
