.reports {
  padding: 0 15px;

  well {
    padding: 20px;
  }

  section-header {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .ui-select-match-text span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ui-select-choices {
    width: auto;

  }

  .downloadButton {
    margin-top: 22px;
    color: $white;
    max-width: 150px;
    border-color: transparent;
  }

  .form {
    margin-left: -15px;
    margin-right: -15px;
  }
}
