<page-header
  back-btn-name="$ctrl.backBtnName || 'PROJECT OVERVIEW'"
  on-back="$ctrl.onBack()"
  editable-block="$ctrl.editableBlock"
  stop-editing="$ctrl.stopEditing !== false"
  header="$ctrl.project.title">
   <ng-transclude ng-if="!$ctrl.project"></ng-transclude>
   <ph-right ng-if="$ctrl.project && ($ctrl.linkMenuItems.length || $ctrl.actionMenuItems.length)">
       <div class="btn-group project-menu-dropdown" uib-dropdown is-open="status.isopen">
         <button id="project-menu" type="button" class="btn-project-menu btn btn-md btn-default" uib-dropdown-toggle ng-disabled="disabled" title="Project Menu">
           PROJECT MENU <i class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></i>
         </button>
         <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="project-menu">
           <li role="menuitem" ng-repeat="item in $ctrl.linkMenuItems">
             <a ng-if="!item.hr" title="{{item.displayText}}" ui-sref2="change-report({projectId: $ctrl.project.id})" ui-sref="{{item.uiSref}}">
               <!--<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>-->
               {{item.displayText}}
             </a>
             <hr ng-if="item.hr"/>
           </li>

           <!--<li><hr></li>-->

           <li role="menuitem">
             <a ng-if="!$ctrl.project.currentUserWatching" title="Watch" ng-click="$ctrl.onActionClicked({item: {action:'watch'}})">
               <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
               Watch
             </a>
             <a ng-if="$ctrl.project.currentUserWatching" title="Stop watching" ng-click="$ctrl.onActionClicked({item: {action:'unwatch'}})">
               <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
               Stop watching
             </a>
           </li>

           <li ng-if="$ctrl.reportMenuItems.length && $ctrl.actionMenuItems.length"><hr></li>
           <li role="menuitem" ng-repeat="item in $ctrl.actionMenuItems">
             <a title="{{item.displayText}}" ng-click="$ctrl.onActionClicked({item:item})">
               <span class="glyphicon" ng-class="item.icon" aria-hidden="true"></span>
               {{item.displayText}}
             </a>
           </li>
         </ul>
       </div>
     </ph-right>

  <ph-right ng-if="$ctrl.createBtnName">
    <button class="btn btn-primary btn-md" ng-click="$ctrl.onCreate()">
      {{$ctrl.createBtnName}}
    </button>
  </ph-right>
</page-header>

<!-- Project header status -->
<div class="row subtitle-row" ng-if="$ctrl.editableBlock.project.id">
  <div class="col-xs-12  col-sm-4 no-padding text-xs-center text-sm-left  block-version"
       ng-class="{'col-sm-4': $ctrl.editableBlock.infoMessage, 'col-sm-8': !$ctrl.editableBlock.infoMessage }"
       ng-if="$ctrl.editableBlock.version || $ctrl.editableBlock.revertable">
    <span>{{$ctrl.editableBlock.version}}</span>
    <span class="text-nowrap">
      <a href="" ng-if="$ctrl.editableBlock.blockHistory.length > 1" ng-click="$ctrl.editableBlock.viewHistory()" class="view-history">View History</a>
      <!-- Show IF editable, if can be deleted and is not locked by other user -->

      <span ng-if="(!($ctrl.editableBlock.lockDetails && !$ctrl.editableBlock.editable && $ctrl.currentUser != $ctrl.editableBlock.lockDetails.username)
        && $ctrl.editableBlock.editable && $ctrl.editableBlock.readOnly)">
        <span ng-if="$ctrl.editableBlock.blockHistory.length > 1 && $ctrl.editableBlock.deletable">|
          <a href="" ng-click="$ctrl.editableBlock.deleteBlock()" class="delete-block">{{$ctrl.undoLinkText}}<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></a>
        </span>
        <span ng-if="$ctrl.editableBlock.blockHistory.length < 2 && $ctrl.editableBlock.revertable">
          <a href="" ng-click="$ctrl.editableBlock.revertBlock()" class="revert-block">{{$ctrl.undoLinkText}}<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></a>
        </span>
      </span>
    </span>
  </div>

  <div class="col-xs-12 no-padding project-message green"
       ng-class="{'col-sm-4' : $ctrl.editableBlock.version || $ctrl.editableBlock.revertable, 'col-sm-6 col-sm-offset-3' : !$ctrl.editableBlock.version && !$ctrl.editableBlock.revertable}"
       ng-if="$ctrl.editableBlock.infoMessage">
    <div>{{$ctrl.editableBlock.infoMessage}}</div>
  </div>

  <div class="col-xs-12 no-padding text-sm-right  project-id ukprn"
       ng-class="{'text-xs-center': $ctrl.editableBlock.infoMessage || $ctrl.editableBlock.version || $ctrl.editableBlock.revertable,
         'col-sm-4': $ctrl.editableBlock.version || $ctrl.editableBlock.revertable,
         'col-sm-3': !$ctrl.editableBlock.version && !$ctrl.editableBlock.revertable,
         'col-sm-offset-9' : !$ctrl.editableBlock.infoMessage && !$ctrl.editableBlock.version && !$ctrl.editableBlock.revertable}">
    Project <span>ID: <strong>P{{$ctrl.editableBlock.project.id}}</strong></span>
    <div ng-if="$ctrl.showUkprn"> UKPRN: <strong>{{ $ctrl.editableBlock.project.organisation.ukprn || 'Not provided' }}</strong></div>
  </div>
</div>
