<div class="input-group">
  <div class="input-group-btn">
    <select aria-label="Search option"
            class="search-dropdown form-control"
            id="search-option"
            name="search-option"
            ng-change="$ctrl.onSelect($ctrl.selectedOption)"
            ng-disabled="$ctrl.options.length == 1 && $ctrl.selectedOption"
            ng-model="$ctrl.selectedOption"
            ng-options="searchOption as searchOption.description for searchOption in $ctrl.options"
            required>
    </select>
  </div>
  <input ng-attr-type="{{$ctrl.selectedOption.name == 'organisationId'? 'number' : 'text'}}"
         id="search-input"
         class="form-control search-input allow-in-readonly"
         aria-label="search-input"
         placeholder="{{$ctrl.selectedOption.hint}}"
         ng-model="$ctrl.searchText"
         ng-keyup="$event.keyCode == 13 && $ctrl.search()"
         ng-change="$ctrl.onChange()"
         maxlength="{{$ctrl.selectedOption.maxLength}}">
  <span class="input-group-btn">
    <button class="btn btn-primary search-button"
            ng-if="!$ctrl.showClearButton"
            type="button"
            aria-label="Search button"
            ng-click="$ctrl.search()"
            ng-disabled="!$ctrl.isSearchEnabled()">
      <span class="glyphicon glyphicon-search"></span>
    </button>
    <button class="btn btn-primary clear-search-button"
            ng-if="$ctrl.showClearButton"
            type="button"
            aria-label="Search button"
            ng-click="$ctrl.clear()">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </span>
</div>
