question-form{
  .dropdown-options-top{
    .label{
      padding-top: 10px;
    }
    margin-bottom: 20px;
  }

  .dropdown-option{
    delete-button{
      display: block;
    }
    margin-bottom: 8px;
  }
}
