<div class="organisation small-page organisation-page">

  <gla-page-header (on-back)="$ctrl.back()">
    <span id="org-name">{{$ctrl.org.name}}</span>
  </gla-page-header>

  <header-status>
    <hs-left>
      <div>Status: {{$ctrl.org.status}}</div>
      <div ng-if="$ctrl.org.changeStatusReasonDetails" class="change-status-comments word-wrap word-break">
        <div>Comments</div>
        <div ng-if="$ctrl.showDuplicateOrgAsLink">Organisation is duplicate of <a ui-sref="organisation.view({orgId: $ctrl.org.duplicateOrganisationId})">{{$ctrl.org.duplicateOrganisationId}}</a></div>
        <div ng-if="!$ctrl.showDuplicateOrgAsLink">{{$ctrl.org.changeStatusReasonDetails}}</div>
      </div>
    </hs-left>

    <hs-center class="gla-alert">
      <div class="row" ng-if="$ctrl.isDeprecatedOrgType">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span>Help GLA OPS to prevent duplicate organisation records: edit your Organisation Details and change your Organisation Type to one of the new options (you may also be prompted to add a few further details). Note that 'Registered Provider' or 'Learning Provider' status, if applicable, is now confirmed in separate questions.</span>
      </div>
    </hs-center>

    <hs-right ng-if="$ctrl.isTeamOrganisation">
      <div ng-if="$ctrl.org.createdOn && $ctrl.org.createdByName">
        Created on {{$ctrl.org.createdOn | date: "dd/MM/yyyy"}} by {{$ctrl.org.createdByName}}
      </div>
    </hs-right>

    <hs-right ng-if="!$ctrl.isTeamOrganisation">
      <div ng-if="$ctrl.org.createdOn && $ctrl.org.createdByName">
        Registration requested on {{$ctrl.org.createdOn | date: "dd/MM/yyyy"}} by {{$ctrl.org.createdByName}}
      </div>

      <div ng-if="$ctrl.org.rejectedOn && $ctrl.org.rejectedByName">
        Organisation rejected on {{$ctrl.org.rejectedOn | date: "dd/MM/yyyy"}} by {{$ctrl.org.rejectedByName}}
      </div>

      <div ng-if="$ctrl.org.approvedOn && $ctrl.org.approvedByName">
        Organisation approved on {{$ctrl.org.approvedOn | date: "dd/MM/yyyy"}} by {{$ctrl.org.approvedByName}}
      </div>

      <div ng-if="!$ctrl.isApproved() && $ctrl.org.inactivatedOn && $ctrl.org.inactivatedByName">
        Organisation set inactive on {{$ctrl.org.inactivatedOn | date: "dd/MM/yyyy"}} by {{$ctrl.org.inactivatedByName}}
      </div>
    </hs-right>
  </header-status>

  <div class="mtop20">Content inside a section can be expanded or collapsed by selecting the chevron icon next to it</div>
  <div class="org-details">
    <section-header2 collapsed="$ctrl.collapsedSections.details" on-collapse-change="$ctrl.onCollapseChange()">Details</section-header2>
    <div id="duplicate-ukprn-warning" ng-if="$ctrl.occuranceOfUkprn > 1 && $ctrl.org.status === 'Pending'" class="error mbottom10">This organisation has a duplicate UKPRN with another organisation</div>
    <gla-multi-panel ng-if="!$ctrl.collapsedSections.details" [editable]="$ctrl.editable" (on-edit)="$ctrl.edit('details')" class="details-section">
      <div class="one-column-section organisation-details">
        <div class="section">
          <h4 class="section-header">{{$ctrl.orgEntityName}} details</h4>
          <mp-field label="$ctrl.orgEntityName+' name'">{{$ctrl.org.name}}</mp-field>
          <mp-field ng-if="!$ctrl.isTeamOrganisation" label="'Also known as'">{{$ctrl.org.knownAs}}</mp-field>
          <mp-field label="'Address'" ng-if="$ctrl.displayAddress" id="address">
            <div>{{$ctrl.org.address.address1}}</div>
            <div>{{$ctrl.org.address.address2}}</div>
            <div>{{$ctrl.org.address.address5}}</div>
            <div>{{$ctrl.org.address.postcode}}</div>
          </mp-field>
          <mp-field ng-if="!$ctrl.isTeamOrganisation" label="'Website'" >
            <a ng-href="{{$ctrl.org.website}}" target="_blank" class="text-nowrap" ng-attr-title="{{$ctrl.org.website}}">{{$ctrl.org.website}}</a>
          </mp-field>
          <mp-field ng-if="!$ctrl.isTeamOrganisation" label="'Finance contact email address(es)'" id="finance-contact-email">{{$ctrl.org.financeContactEmail}}</mp-field>
          <mp-field label="'GLA OPS ID'">{{$ctrl.org.id}}</mp-field>
          <mp-field label="'Registration key'">{{$ctrl.org.registrationKey}}</mp-field>

          <mp-field ng-if="!$ctrl.isTeamOrganisation" label="'Organisation type'" id="organisation-type">{{$ctrl.organisationTypes[$ctrl.org.entityType].summary}}</mp-field>
          <mp-field ng-if="$ctrl.isManagingOrganisation" label="'Icon'" mp-default="' '">
            <img alt="" class="org-icon" ng-if="$ctrl.org.iconAttachmentId" ng-src="/api/v1/file/{{$ctrl.org.iconAttachmentId}}"/>
            <span ng-if="!$ctrl.org.iconAttachmentId">Not provided</span>
          </mp-field>

          <mp-field ng-if="$ctrl.isFieldVisible('companyCode') || $ctrl.org.entityType === 7" label="'Companies House registration number'">{{$ctrl.org.companyCode}}</mp-field>
          <mp-field ng-if="$ctrl.isFieldVisible('societyNumber')" label="'Society number'">{{$ctrl.org.societyNumber}}</mp-field>
          <mp-field ng-if="$ctrl.isFieldVisible('isCharityCommission')" label="'Registered with the Charity Commission'">{{$ctrl.org.isCharityCommission ? 'Yes' : 'No'}}</mp-field>
          <mp-field ng-if="$ctrl.org.isCharityCommission" label="'Registered charity number'">{{$ctrl.org.charityNumber}}</mp-field>

          <mp-field ng-if="$ctrl.isFieldVisible('vatNumber') || $ctrl.org.entityType === 7" label="'VAT number'">{{$ctrl.org.vatNumber}}</mp-field>
          <mp-field ng-if="$ctrl.isFieldVisible('bankAccount') || $ctrl.org.entityType === 7" label="'Bank Account'">{{$ctrl.org.bankAccount}}</mp-field>
          <mp-field ng-if="$ctrl.isFieldVisible('sortCode') || $ctrl.org.entityType === 7" label="'Sort Code'">{{$ctrl.formatSortCode}}</mp-field>

          <mp-field ng-if="$ctrl.isFieldVisible('regulated') || $ctrl.org.entityType === 2 || $ctrl.org.entityType === 3" label="'Registered with the housing regulator'">{{$ctrl.org.regulated ? 'Yes' : 'No'}}</mp-field>
          <mp-field ng-if=" $ctrl.org.regulated || $ctrl.org.entityType === 2 || $ctrl.org.entityType === 3" label="'Registered Provider of Social Housing number'">{{$ctrl.org.providerNumber}}</mp-field>
          <mp-field ng-if=" $ctrl.org.regulated" label="'Viability score'">{{$ctrl.org.viability}}</mp-field>
          <mp-field ng-if=" $ctrl.org.regulated" label="'Governance score'">{{$ctrl.org.governance}}</mp-field>

          <mp-field ng-if="($ctrl.isFieldVisible('isLearningProvider') && $ctrl.org.entityType != 1 && $ctrl.org.entityType != 5 ) || $ctrl.org.entityType === 6"
                    label="'Registered Learning Provider'">{{$ctrl.org.isLearningProvider ? 'Yes' : 'No'}}</mp-field>
          <mp-field ng-if="$ctrl.isLearningProvider" label="'UKPRN'">{{$ctrl.org.ukprn}}</mp-field>

        </div>
      </div>

    </gla-multi-panel>

    <div class="row text-center" ng-if="!$ctrl.collapsedSections.details" permission permission-only="'org.manage.approve'">
      <div class="no-padding"
           ng-class="{'col-sm-6 text-sm-right': $ctrl.org.status === 'Pending', 'col-sm-12': $ctrl.org.status === 'Inactive'}"
           ng-if="$ctrl.canApprove()">
        <button class="btn btn-primary mtop15 approve-organisation" ng-click="$ctrl.approveOrg()">APPROVE</button>
      </div>
      <div class="col-sm-6 text-sm-left no-padding" ng-if="$ctrl.org.status === 'Pending'">
        <button class="btn btn-primary mtop15 reject-organisation" ng-click="$ctrl.rejectOrg()">REJECT</button>
      </div>

      <div class="col-xs-12" ng-if="$ctrl.isApproved()">
        <button class="btn btn-secondary mtop15 set-organisation-inactive" ng-click="$ctrl.inactivateOrganisation()">SET INACTIVE</button>
      </div>
    </div>


    <section-header2 collapsed="$ctrl.collapsedSections.governance" on-collapse-change="$ctrl.onCollapseChange()">GLA governance</section-header2>
    <gla-multi-panel [editable]="$ctrl.editableGovernance" (on-edit)="$ctrl.edit('governance')" ng-if="!$ctrl.collapsedSections.governance" id="governance-section">
      <div class="one-column-section governance-section">
        <div class="section">
          <mp-field id="managing-organisation" label="'Managing organisation'">
            {{$ctrl.org.managingOrganisationName}}
            <img alt="" class="selected-org-icon managing-org-icon" ng-if="$ctrl.org.managingOrganisationIconAttachmentId" ng-src="/api/v1/file/{{$ctrl.org.managingOrganisationIconAttachmentId}}"/>
          </mp-field>
          <mp-field label="'Parent organisation ID for reporting purposes (optional)'" id="parent-organisation"
                    ng-if="$ctrl.displayParentOrganisation">
            {{$ctrl.org.parentOrganisationName}}
          </mp-field>
          <mp-field label="'SAP ID'" ng-if="$ctrl.displaySapId" id="sap-id">
            <div ng-repeat="sapIdModel in $ctrl.org.sapIds | orderBy:createdOn">
              {{sapIdModel.sapId}}{{sapIdModel.description ? ' - ' : ''}}{{sapIdModel.description}}{{sapIdModel.defaultSapId ? ' (Default)' : ''}}
            </div>
          </mp-field>
          <mp-field label="'Team'" ng-if="$ctrl.displayTeam" id="team">{{$ctrl.org.team.name}}</mp-field>
          <mp-field label="'GLA Contact'" ng-if="$ctrl.displayGLAContact" id="gla-contact">{{$ctrl.org.glaContactFullName}}</mp-field>
          <mp-field label="'Allow new organisation registrations'" ng-if="$ctrl.displayAllowRegistrations" id="allow-registrations">{{$ctrl.org.registrationAllowed ? 'Allowed' : 'Not allowed'}}</mp-field>
          <mp-field label="'Access to Skills gateway'" ng-if="$ctrl.displayAccessToSGW" id="allow-skills-gateway-access">{{$ctrl.org.skillsGatewayAccessAllowed ? 'Allowed' : 'Not allowed'}}</mp-field>
        </div>
      </div>
    </gla-multi-panel>
  </div>

  <div class="team-members" ng-if="$ctrl.isTeamOrganisation">
    <div>
    <section-header2 collapsed="$ctrl.collapsedSections.teamMembers"
                     on-collapse-change="$ctrl.onCollapseChange()">Team members ({{$ctrl.org.users.length}})

    </section-header2>

    </div>
    <gla-team-members ng-if="!$ctrl.collapsedSections.teamMembers"
                      [org]="$ctrl.org"
                      refresh-details="$ctrl.refreshDetails()">
    </gla-team-members>
  </div>

  <div class="org-programmes" ng-if="!$ctrl.isTeamOrganisation">
    <section-header2 subheader="Displaying programmes where the organisation has projects"
                     collapsed="$ctrl.collapsedSections.programmes"
                     on-collapse-change="$ctrl.onCollapseChange()">Programmes ({{$ctrl.org.programmes.length}})</section-header2>

    <programmes-list ng-if="!$ctrl.collapsedSections.programmes" org="$ctrl.org" refresh-details="$ctrl.refreshDetails()">
    </programmes-list>
  </div>

  <div class="org-contracts" ng-if="!$ctrl.isTeamOrganisation">
    <section-header2 subheader="Some types of project may require confirmation in OPS that an agreed contract is in place before they are able to proceed to approval and/or payment authorisation. This excludes variations."
                     collapsed="$ctrl.collapsedSections.contracts"
                     id="org-contracts-section-header"
                     on-collapse-change="$ctrl.onCollapseChange()">Contracts ({{$ctrl.org.contracts.length}})</section-header2>

    <contracts-list ng-if="!$ctrl.collapsedSections.contracts" org="$ctrl.org" refresh-details="$ctrl.refreshDetails()">
    </contracts-list>
  </div>

  <div class="recoverable-grant" ng-if="$ctrl.org.annualReturnsEnabled">
    <section-header2 class="recoverable-grant-header" collapsed="$ctrl.collapsedSections.grant" on-collapse-change="$ctrl.onCollapseChange()">Annual returns</section-header2>

    <recoverable-grant ng-if="!$ctrl.collapsedSections.grant" org="$ctrl.org" refresh-details="$ctrl.refreshDetails()" remaining-years="$ctrl.remainingYears">
    </recoverable-grant>
  </div>

  <div class="org-registrations" ng-if="$ctrl.displayRegistration">
    <section-header2>Registrations</section-header2>
    <div class="section-subheader">
      Access registration details via the <a href ui-sref="users">All users</a> page
    </div>
  </div>
</div>
