<div class="project-grant">
  <div class="text-center">
    <project-header on-back="$ctrl.back()" editable-block="$ctrl">Calculate grant</project-header>
  </div>

  <spinner ng-if="!$ctrl.data && $ctrl.loading"></spinner>
  <div ng-if="$ctrl.data">
    <div ng-if="$ctrl.showStartOnSiteMessage" class="text-center start-on-site-message">
      {{$ctrl.startOnSiteRestrictionText}}
    </div>
    <div class="row grant-block-title">
      Enter the units and tenure
    </div>
    <grant-table data="$ctrl.data" is-readonly="$ctrl.readOnly" on-tenure-change="$ctrl.saveTenure(true)">
    </grant-table>

    <div class="grant">
      <tenure-tiles
        tenures="$ctrl.tenureSummaryDetails"
      ></tenure-tiles>
      <total-grant total="$ctrl.data.totalGrantEligibility"></total-grant>
      <loading-mask ng-if="$ctrl.loading" text=""></loading-mask>
    </div>

    <div class="grant grant-claimed" ng-if="$ctrl.data.startOnSiteMilestoneAuthorised">
      <section-header subheader="">
        Claimed units
      </section-header>
      <div class="section__subheader">
        A total of {{$ctrl.data.totalStartOnSiteApprovedUnits | number}} units were claimed as started on site and authorised on {{$ctrl.data.startOnSiteMilestoneAuthorised | date: 'dd/MM/yyyy'}}.
      </div>
      <div class="section__subheader" ng-if="$ctrl.data.completionMilestoneAuthorised">
        A total of {{$ctrl.data.totalCompletionApprovedUnits | number}} units were claimed as completed and authorised on {{$ctrl.data.completionMilestoneAuthorised | date: 'dd/MM/yyyy'}}.
      </div>
      <tenure-tiles
        tenures="$ctrl.tenureClaimedDetails"
      ></tenure-tiles>
      <total-grant
        title="TOTAL UNITS CLAIMED"
        total="$ctrl.data.totalCompletionApprovedUnits || $ctrl.data.totalStartOnSiteApprovedUnits"
        is-unit="true"></total-grant>
      <loading-mask ng-if="$ctrl.loading" text=""></loading-mask>
    </div>

    <div class="row">
      <div class="col-xs-12 mtop30 mbottom30 text-center">
        <button class="btn btn-primary" ng-click="$ctrl.submit()" ng-if="!$ctrl.readOnly">SAVE</button>
      </div>
    </div>
  </div>
</div>
