<page-header on-back="$ctrl.onBack()" back-btn-name="'PROJECT OVERVIEW'">{{ $ctrl.project.title }}</page-header>
<header-status class="mbottom20 text-center">
  <hs-left class="project-status">
    <span>Status: </span>
    <span>{{ $ctrl.project.statusName }}</span>
    <span class="text-nowrap">{{$ctrl.subStatusText}}</span>
  </hs-left>

  <hs-center class="report-name" ng-transclude>Report</hs-center>

  <hs-right class="project-id">
    Project <span>ID: <strong>P{{ $ctrl.project.id }}</strong></span>
  </hs-right>
</header-status>


<report-subheader ng-if="!$ctrl.hideSubheader"
                  project="$ctrl.project"
                  template="$ctrl.template"></report-subheader>


