<div class="confirmation-dialog">
  <div class="modal-body text-center">
    <button aria-label="Close" class="close" data-dismiss="modal" ng-mousedown="$dismiss('cancel')" on-enter="$dismiss()" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <div class="text-center confirm-message">
      Are you sure you want to re-send this payment file to TfL?
      <br/>
      This will not create another payment.
    </div>

    <div class="row mtop20">
      <div class="col-md-10 center-col">
        <form
          id="resendForm"
          role="form"
          name="resendForm">
          <div class="form-group">
            <label for="wbsCode" class="label">Override WBS code (optional)</label>
            <input id="wbsCode"
                   name="wbsCode"
                   ng-model="$ctrl.response.wbsCode"
                   required
                   class="form-control"/>

          </div>
          <div class="form-group">
            <label for="ceCode" class="label">Override CE code (optional)</label>
            <input id="ceCode"
                   name="ceCode"
                   ng-model="$ctrl.response.ceCode"
                   required
                   class="form-control"/>

          </div>
          <div class="form-group">
            <label for="sapVendorId" class="label">Override SAP Vendor ID (optional)</label>
            <input id="sapVendorId"
                   name="ceCode"
                   ng-model="$ctrl.response.sapVendorId"
                   required
                   class="form-control"/>

          </div>
          <div class="form-group">
            <label for="companyName" class="label">Override Company Name (optional)</label>
            <input id="companyName"
                   name="companyName"
                   ng-model="$ctrl.response.companyName"
                   required
                   class="form-control"/>

          </div>
        </form>
      </div>
    </div>AuthorisedPaymentsProcessorTest

  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-primary btn-center approve-btn min-padding" type="button"
            ng-disabled="!$ctrl.response.wbsCode || !$ctrl.response.ceCode || !$ctrl.response.sapVendorId || !$ctrl.response.companyName" ng-click="$close($ctrl.response)">RESEND</button>
    <button class="btn btn-default btn-secondary btn-center dismiss-btn min-padding" type="button" ng-click="$dismiss('cancel')">CANCEL</button>
  </div>
</div>
