<div class="row no-gutter mbottom10">
  <div class="col-xs-12 no-padding">
    <div>
      <section-header
        subheader="{{$ctrl.subheader}}">
        {{$ctrl.header}}
      </section-header>
    </div>
    <div class="text-right no-padding section-control" ng-if="$ctrl.risks.length && !$ctrl.disableHideClosedFilter">
      <label for="hideRisks"><input type="checkbox" ng-model="$ctrl.hideClosed" id="hideRisks" ng-change="!$ctrl.disableHideClosedFilter && $ctrl.toggleFilter()"/> Hide closed risks</label>
    </div>
    <div class="col-xs-12 text-right mbottom10 no-padding" ng-if="!$ctrl.readOnly">
      <button type="button" class="btn btn-secondary" ng-click="$ctrl.createNewRisk()">CREATE NEW RISK +</button>
    </div>
    <div  class="table-responsive" id="risks-summary-table">
      <div ng-if="!$ctrl.risks.length" class="empty-table">Not provided</div>
      <table ng-if="$ctrl.risks.length" class="table table-hover table-bordered table-default">
        <thead class="thead-inverse uppercase">
            <tr class="mainHeader">
              <th style="width: 200px;">TITLE</th>
              <th>DESCRIPTION OF CAUSE AND IMPACT</th>
              <th>CATEGORY</th>
              <th style="width: 110px;">{{$ctrl.risksBlockConfig.initialRiskRatingColumnHeading || 'INITIAL RISK RATING'}}</th>
              <th style="width: 110px;" ng-if="$ctrl.risksBlockConfig.showResidualRiskRatings">RESIDUAL RISK RATING</th>
              <th style="width: 100px;">STATUS</th>
              <th ng-if="$ctrl.projectMarkedCorporate" style="width: 100px;">CORPORATE REPORTING</th>
              <th style="width: 10px;"> </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="$ctrl.risks.length == 0">
              <td ng-attr-colspan="{{$ctrl.columnCount}}" class="not-provided">Not provided</td>
            </tr>
            <tr
                ng-class="{'primary-row': $ctrl.canEdit(risk)}" ng-click="$ctrl.canEdit(risk) && $ctrl.editRisk({risk:risk})"
                ng-attr-tabindex="{{$ctrl.canEdit(risk)? 0: undefined}}" ng-repeat-start="risk in $ctrl.risks | filter: $ctrl.filter">
              <td>
                <toggle-icon (collapsed-change)="$ctrl.blockSessionStorage.manageProjectRisksTablesState[risk.id] = !$ctrl.blockSessionStorage.manageProjectRisksTablesState[risk.id]; $event.stopPropagation();"
                             [collapsed]="!$ctrl.blockSessionStorage.manageProjectRisksTablesState[risk.id]" >
                </toggle-icon> <span>{{risk.title}}</span>
              </td>
              <td class="break-word pre-line">{{risk.description}}</td>
              <td>{{risk.riskCategory.displayValue}}</td>
              <td ng-class="'severity-{{risk.initialRiskLevel.level}}'">
                  <div>{{risk.computedInitialRating}}</div><div>{{risk.initialRiskLevel.level}}</div>
              </td>
              <td ng-if="$ctrl.risksBlockConfig.showResidualRiskRatings">
                <div ng-if="risk.residualRiskLevel.level" ng-class="'severity-{{risk.residualRiskLevel.level}}'">
                  <div>{{risk.computedResidualRating}}</div><div>{{risk.residualRiskLevel.level}}</div>
                </div>
                <div class="severity-n-a" ng-if="!risk.residualRiskLevel.level">
                  N/A
                </div>
              </td>
              <td >
                <a href="JavaScript:void(0)" ng-click="$ctrl.closeRisk({risk:risk}); $event.stopPropagation();" ng-if="$ctrl.canEdit(risk)">{{risk.status}}</a>
                <div><span ng-if="!$ctrl.canEdit(risk)">{{risk.status}}</span></div>
              </td>
              <td ng-if="$ctrl.projectMarkedCorporate" ng-click="$event.stopPropagation();" >
                  <input id="riskIsCorporate" ng-change="$ctrl.onMarkCorporateChange(risk)" ng-if="$ctrl.canEdit(risk)" ng-model="risk.markedForCorporateReporting" type="checkbox"/>
                  <span ng-if="!$ctrl.canEdit(risk)">
                     {{risk.markedForCorporateReporting ? 'Yes' : 'No'}}
                  </span>

              </td>
              <td class="delete-btn-container">
                <delete-button ng-click="$ctrl.deleteRisk({risk:risk}); $event.stopPropagation();" ng-if="$ctrl.canEdit(risk)">
                </delete-button>
              </td>
            </tr>
            <tr class="secondaryRow" ng-if="$ctrl.blockSessionStorage.manageProjectRisksTablesState[risk.id]" ng-repeat-end>
              <td class="secondaryCell" ng-attr-colspan="{{$ctrl.columnCount}}">
                <table id="risks-mitigation-table" class="table table-bordered ">
                  <thead>
                    <tr class="sub-heading">
                      <th style="width: 200px;"></th>
                      <th>MITIGATION</th>
                      <th></th>
                      <th style="width: 220px;">OWNER</th>
                      <th style="width: 100px;"></th>
                      <th ng-if="$ctrl.projectMarkedCorporate"  style="width: 100px;">
                        <!--CORPORATE REPORTING-->
                      </th>
                      <th style="width: 10px;"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-if="risk.actions.length == 0">
                      <td ng-attr-colspan="{{$ctrl.columnCount}}" class="not-provided">Not provided</td>
                    </tr>
                    <tr ng-class="{'primary-row': $ctrl.canEdit(risk)}"
                        ng-repeat="mitigation in risk.actions | orderBy: 'lastModified'">
                      <td ng-click="$ctrl.canEdit(risk) && $ctrl.editAction({riskIssue:risk, action:mitigation, type:'Mitigation'})">
                      </td>
                      <td colspan="2"
                          ng-click="$ctrl.canEdit(risk) && $ctrl.editAction({riskIssue:risk, action:mitigation, type:'Mitigation'})">
                        {{mitigation.action}}
                      </td>
                      <td colspan="1"
                          ng-click="$ctrl.canEdit(risk) && $ctrl.editAction({riskIssue:risk, action:mitigation, type:'Mitigation'})">
                        {{mitigation.owner}}
                      </td>
                      <td>
                      </td>
                      <td ng-if="$ctrl.projectMarkedCorporate" >
                        <input id="actionIsCorporate" ng-change="$ctrl.updateRisk(risk)" ng-disabled="!risk.markedForCorporateReporting" ng-if="$ctrl.canEdit(risk)" ng-model="mitigation.markedForCorporateReporting" type="checkbox"/>
                        <span ng-if="!$ctrl.canEdit(risk)">
                           {{mitigation.markedForCorporateReporting ? 'Yes' : 'No'}}
                        </span>
                      </td>
                      <td class="no-padding delete-btn-container">
                        <delete-button ng-if="$ctrl.canEdit(risk) "
                                       ng-attr-id="delete-owner-{{$index+1}}"
                                       class="small"
                                       ng-click="$ctrl.deleteMitigation({risk:risk, mitigation: mitigation}); $event.stopPropagation();">
                        </delete-button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div ng-if="$ctrl.canEdit(risk)" class="text-right add-mitigation">
                  <a class="pageLink add-mitigation" href="JavaScript:void(0);" id="addMitigation" ng-click="$ctrl.addMitigation({risk:risk})">Add Mitigation & Owner</a>
                </div>
              </td>
            </tr>

        </tbody>
    </table>
    </div>
  </div>
</div>
