  <div ng-if="!$ctrl.units.length">Not provided</div>
  <div class="table-responsive" ng-if="$ctrl.units.length">
    <table class="table table-bordered table-striped profiled-units-table">
      <thead class="thead-inverse uppercase">
        <tr>
          <th>Tenure</th>
          <th ng-if="$ctrl.showMarketTypes">Market Type</th>
          <th>Bed(s)</th>
          <th>Unit Type</th>
          <th>UNITS</th>
          <th ng-if="$ctrl.wizardType==='Rent'">NET WEEKLY RENT £</th>
          <th ng-if="$ctrl.wizardType==='Rent'">WEEKLY SC £</th>
          <th ng-if="$ctrl.wizardType==='Rent'">RENT TOTAL £</th>
          <th ng-if="$ctrl.wizardType==='Rent' && $ctrl.hasLegacyRent">WEEKLY MARKET RENT £</th>
          <th ng-if="$ctrl.wizardType==='Rent'"><span ng-if="$ctrl.hasLegacyRent">RENT AS A % OF MARKET RENT</span></th>

          <th ng-if="$ctrl.wizardType==='Sales'">MARKET VALUE £</th>
          <th ng-if="$ctrl.wizardType==='Sales'">FIRST TRANCHE SALES %</th>
          <th ng-if="$ctrl.wizardType==='Sales' && $ctrl.hasDiscountedRate">% DISCOUNT OFF MARKET VALUE</th>
          <th ng-if="$ctrl.wizardType==='Sales' && $ctrl.hasLegacySales">NET WEEKLY RENT £</th>
          <th ng-if="$ctrl.wizardType==='Sales'">WEEKLY SC £</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in $ctrl.units | orderBy: ['tenureName', 'nbBeds.displayOrder'] track by item.id">
          <td>{{item.tenureName}}</td>
          <td ng-if="$ctrl.showMarketTypes">{{item.marketType.name}}</td>
          <td>{{item.nbBeds.displayValue}}</td>
          <td>{{item.unitType.displayValue}}</td>
          <td>
            <span ng-if="$ctrl.readOnly">{{item.nbUnits}}</span>
            <input
              class="form-control"
              style="max-width: 70px"
              ng-if="!$ctrl.readOnly"
              type="text"
              maxlength="13"
              ng-model="item.nbUnits"
              change-on-blur="$ctrl.onEdit({event: {data: item}})"
              number-mask="0"
              aria-label="Number of Units">
          </td>

          <td ng-if="$ctrl.wizardType==='Rent'">
            <span ng-if="$ctrl.readOnly">{{item.netWeeklyRent | number: 2}}</span>
            <input
              class="form-control"
              style="max-width: 100px"
              ng-if="!$ctrl.readOnly"
              type="text"
              maxlength="16"
              ng-model="item.netWeeklyRent"
              change-on-blur="$ctrl.onEdit({event: {data: item}})"
              number-mask="2"
              aria-label="Avg. Net Weekly Rent £">
          </td>


          <td ng-if="$ctrl.wizardType==='Rent'">
            <span ng-if="$ctrl.readOnly">{{item.weeklyServiceCharge | number: 2}}</span>
            <input
              class="form-control"
              style="max-width: 100px"
              ng-if="!$ctrl.readOnly"
              type="text"
              maxlength="16"
              ng-model="item.weeklyServiceCharge"
              change-on-blur="$ctrl.onEdit({event: {data: item}})"
              number-mask="2"
              aria-label="Avg. Weekly Service Charge £">
          </td>
          <td ng-if="$ctrl.wizardType==='Rent'">{{item.rentTotal | number: 2}}</td>
          <td ng-if="$ctrl.wizardType==='Rent' && $ctrl.hasLegacyRent">
            <span ng-if="$ctrl.readOnly || item.marketType.id !== $ctrl.UnitsService.LEGACY_RENT_MARKET_TYPE_ID">{{item.weeklyMarketRent | number: 2}}</span>
            <input
              class="form-control"
              style="max-width: 120px"
              ng-if="!$ctrl.readOnly && item.marketType.id === $ctrl.UnitsService.LEGACY_RENT_MARKET_TYPE_ID"
              type="text"
              maxlength="16"
              ng-model="item.weeklyMarketRent"
              change-on-blur="$ctrl.onEdit({event: {data: item}})"
              number-mask="2"
              aria-label="Avg. Weekly Service Charge £">
          </td>
          <td ng-if="$ctrl.wizardType==='Rent'" class="delete-btn-container">
            <span ng-if="item.rentPercentageOfMarket && $ctrl.hasLegacyRent">{{item.rentPercentageOfMarket | number}}</span>
            <delete-button
              ng-if="!$ctrl.readOnly"
              ng-click="$ctrl.onDelete({event: {data: item}})">
            </delete-button>
          </td>

          <td ng-if="$ctrl.wizardType==='Sales'">
            <span ng-if="$ctrl.readOnly">{{item.marketValue | number}}</span>
            <input
              class="form-control"
              ng-if="!$ctrl.readOnly"
              type="text"
              maxlength="13"
              ng-model="item.marketValue"
              change-on-blur="$ctrl.onEdit({event: {data: item}})"
              number-mask="0"
              aria-label="Avg. Market Value £">
          </td>
          <td ng-if="$ctrl.wizardType==='Sales'">
            <span ng-if="$ctrl.readOnly">{{item.firstTrancheSales | number: 0}}</span>
            <input
              class="form-control"
              ng-if="!$ctrl.readOnly && item.marketType.id !== $ctrl.UnitsService.DISCOUNTED_RATE_MARKET_TYPE_ID"
              type="text"
              maxlength="13"
              ng-model="item.firstTrancheSales"
              change-on-blur="$ctrl.onEdit({event: {data: item}})"
              number-mask="0"
              aria-label="Avg. First Tranche Sales %">
          </td>
          <td ng-if="$ctrl.wizardType==='Sales' && $ctrl.hasDiscountedRate">
            <span ng-if="$ctrl.readOnly">{{item.discountOffMarketValue | number: 0}}</span>
            <input
              class="form-control"
              ng-if="!$ctrl.readOnly && item.marketType.id === $ctrl.UnitsService.DISCOUNTED_RATE_MARKET_TYPE_ID"
              type="text"
              maxlength="13"
              ng-model="item.discountOffMarketValue"
              change-on-blur="$ctrl.onEdit({event: {data: item}})"
              number-mask="0"
              aria-label="% Discount off Market Value">
          </td>


          <td ng-if="$ctrl.wizardType==='Sales' && $ctrl.hasLegacySales">
            <span ng-if="$ctrl.readOnly">{{item.netWeeklyRent | number: 2}}</span>
            <input
              class="form-control"
              style="max-width: 100px"
              ng-if="!$ctrl.readOnly"
              type="text"
              maxlength="16"
              ng-model="item.netWeeklyRent"
              change-on-blur="$ctrl.onEdit({event: {data: item}})"
              number-mask="2"
              aria-label="Avg. Net Weekly Rent £">
          </td>

          <td ng-if="$ctrl.wizardType==='Sales'" class="delete-btn-container" ng-class="{'cell-edit': !$ctrl.readOnly}">
            <span ng-if="$ctrl.readOnly">{{item.weeklyServiceCharge | number: 2}}</span>
            <input
              class="form-control"
              ng-if="!$ctrl.readOnly"
              type="text"
              maxlength="16"
              ng-model="item.weeklyServiceCharge"
              change-on-blur="$ctrl.onEdit({event: {data: item}})"
              number-mask="2"
              aria-label="Avg. Weekly Service Charge £">

            <delete-button
              ng-if="!$ctrl.readOnly"
              ng-click="$ctrl.onDelete({event: {data: item}})">
            </delete-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
