profiled-unit-table {
  display: block;

  .table-bordered > tbody > tr > td {
    vertical-align: middle;
  }

  .delete-btn-container.cell-edit{
    padding-right: 25px;
    delete-button{
      display: block;
    }
  }

}
