.gla-header {
  margin: 0 auto;
  width: 100%;
  height: 7.81rem;
  background: url(../images/header.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 999999999;
  color: $gla-white;
  padding: 12px 15px;

  .row {
    height: 100%;
    position: relative;
  }

  .gla-ops {
    text-align: center;
    margin-top: 10px;
    font-size: 21px;
    font-weight: bold;
    font-family: $font-family-default;
    letter-spacing: 0.09rem;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);

    &.Dev{
      color: lighten($green, 15%);
    }

    &.QAS{
      color: lighten($moonstone, 15%);
    }

    &.PPD{
      color: lighten($red, 15%);
    }
  }
  a:hover,
  a:focus {
    color: white;
    text-decoration: underline;
  }
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .gla-mayor {
    font-family: $font-family-bolder;
    letter-spacing: -0.75px;
    position: absolute;
    font-size: 1rem;
  }

  #hdr-login {
    margin-left: 1.87rem;
  }

  .gla-header-user {
    font-size: 0.75rem;
    font-weight: bold;
    text-align: right;
  }

  a.logout {
    font-weight: 900;
    display: block;
    position: relative;
    z-index: 1005;
  }

  .gla-header-vbar {
    color: $gla-grey;
  }

  .gla-header-username-and-logout {
    margin-bottom: 4.37rem;
  }

  .gla-header-org {
    font-size: 0.75rem;
    font-weight: bold;
  }

  @include when-ms{
    .gla-header-vbar{
      display: inline !important;
    }

    a.logout{
      display: inline;
    }

    .gla-ops {
      font-size: 24px;
      margin-top: 3px;
    }
  }

  @include when-sm{
    .gla-ops {
      margin-top: 0px;
    }
  }
}
