<div class="newProject">

  <page-header class="mbottom10">Enter project details</page-header>

  <div class="row">
    <div class="col-xs-12 text-center gla-alert" ng-show="$ctrl.selectedTemplate.warningMessage">
      <i class="glyphicon glyphicon-exclamation-sign"></i>{{$ctrl.selectedTemplate.warningMessage}}
    </div>
  </div>

  <form class="form-gla new-project-form" role="form" name="newProjForm">
    <div class="mbottom30"></div>

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

        <div class="form-group">
          <label for="project-programme">Select a programme for the project</label>
          <ui-select id="project-programme"
                     name="programme"
                     ng-model="$ctrl.selectedProgramme"
                     search-enabled="false"
                     on-select="$ctrl.programmeSelected($select.selected)"
                     required>
            <ui-select-match placeholder="Select a programme">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="programme in $ctrl.programmes">
              <span>{{ programme.name }}</span>
            </ui-select-choices>
          </ui-select>

          <div class="error-wrapper" role="alert"
               ng-show="newProjForm.$submitted || newProjForm.programme.$touched">
            <span class="error" ng-show="newProjForm.programme.$error.required">Select a programme</span>
          </div>
          <div class="error-wrapper" role="alert"
               ng-if="$ctrl.selectedProgramme && !$ctrl.availableOrganisationsForProgrammeAndUser.length">
              <span class="error">
                You don't have a profile for this department, <a
                ui-sref="organisation.new-profile({managingOrgId:$ctrl.selectedProgramme.managingOrganisationId})">create</a> a profile to apply.
              </span>
          </div>
          <div class="error-wrapper" role="alert"
               ng-if="$ctrl.showPendingProfileProjectEditor">
            <span class="error">You cannot create projects for {{$ctrl.selectedProgramme.managingOrganisationName}} whilst a profile is pending. Once GLA have approved this profile, you can create projects.</span>
          </div>
        </div>

        <div class="form-group">
          <label for="project-organisation">Which organisation are you creating the project for?</label>
          <ui-select id="project-organisation"
                     name="organisation"
                     ng-model="$ctrl.selectedOrganisation"
                     search-enabled="false"
                     ng-disabled="!$ctrl.selectedProgramme || !$ctrl.availableOrganisationsForProgrammeAndUser.length"
                     required autofocus>
            <ui-select-match placeholder="Select a organisation">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="organisation in $ctrl.availableOrganisationsForProgrammeAndUser">
              <span>{{ organisation.name }}</span>
            </ui-select-choices>
          </ui-select>
          <div class="error-wrapper" role="alert"
               ng-show="newProjForm.$submitted || newProjForm.$touched">
            <span class="error" ng-if="newProjForm.organisation.$error.required">Select a organisation</span>
            <span class="error"
                  ng-if="$ctrl.selectedProgramme && !$ctrl.availableOrganisationsForProgrammeAndUser.length">No organisation</span>
          </div>
        </div>

        <div class="form-group">
          <label for="project-name">Project title</label>
          <input id="project-name"
                 name="title"
                 type="text"
                 class="form-control"
                 placeholder="e.g. name of site"
                 ng-model="$ctrl.title"
                 maxlength="50"
                 required/>
          <div class="error-wrapper" role="alert"
               ng-show="newProjForm.$submitted || newProjForm.title.$touched">
            <span class="error" ng-show="newProjForm.title.$error.required">Enter a title</span>
          </div>
        </div>

        <div class="form-group">
          <label for="project-template">Select the type of project you want to create</label>

          <ui-select id="project-template"
                     name="template"
                     ng-model="$ctrl.selectedTemplate"
                     on-select="$ctrl.canProjectBeAssignedToTemplate()"
                     search-enabled="false"
                     ng-disabled="!$ctrl.selectedProgramme"
                     required>
            <ui-select-match placeholder="Select a template">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="template in $ctrl.templates">
              <span>{{ template.name }}</span>
            </ui-select-choices>
          </ui-select>

          <div class="error-wrapper" role="alert" ng-if="$ctrl.showMaxProjectsForTemplateError">
            <span class="error">You are permitted {{$ctrl.selectedTemplate.numberOfProjectAllowedPerOrg}}  {{$ctrl.selectedTemplate.numberOfProjectAllowedPerOrg > 1 ? 'projects' : 'project'}} for this project type</span>
          </div>
        </div>

        <div class="error-wrapper" role="alert" ng-show="newProjForm.$submitted || newProjForm.template.$touched">
          <span class="error" ng-show="newProjForm.template.$error.required">Select a template</span>
        </div>
      </div>

    </div>

    <div class="row mtop15">
      <div class="col-xs-12 text-center">
        <button id="project-save"
                ng-disabled="
                    $ctrl.showMaxProjectsForTemplateError ||
                    $ctrl.showMissingProfileProjectEditor ||
                    $ctrl.showMissingProfileOrgAdmin ||
                    $ctrl.showPendingProfileProjectEditor ||
                    (newProjForm.organisation && newProjForm.organisation.$error.required) ||
                    newProjForm.title.$error.required ||
                    newProjForm.programme.$error.required ||
                    ($ctrl.consortium.result === 'Unknown' && $ctrl.isConsortium !== false) ||
                    newProjForm.template.$error.required ||
                    $ctrl.isSaving ||
                    $ctrl.selectedOrganisation.isTechOrg"
                class="btn btn-primary"
                ng-click="$ctrl.submit()">SAVE
        </button>
        <br/><br/>
        <!--ADD disable on selectedProject is tech org type-->
        <a href ui-sref="projects" class="form-cancel">Cancel</a>
      </div>
    </div>
  </form>
</div>
</div>
