<div class="project-grant">
  <div class="text-center">
    <gla-project-header (on-back)="$ctrl.back()" [editable-block]="$ctrl">{{$ctrl.projectBlock.blockDisplayName}}</gla-project-header>
  </div>

  <gla-spinner ng-if="!$ctrl.data && $ctrl.loading"></gla-spinner>
  <div ng-if="$ctrl.data">
    <div ng-if="$ctrl.showStartOnSiteMessage" class="text-center start-on-site-message">
      {{$ctrl.startOnSiteRestrictionText}}
    </div>
    <div>
      <div class="row grant-block-title">
        1. Are 40% or more of the habitable rooms on the entire development, including open market sale and open market rent, affordable?
      </div>
      <div id="radios" class="design-compliant">
        <gla-yes-no-input id="yesNoRadio"
                          [disabled]="$ctrl.readOnly"
                          name="affordableCriteriaMet"
                          [read-only]="$ctrl.readOnly"
                          mode="bool"
                          (model-change)="$ctrl.criteriaChange()"
                          [(model)]="$ctrl.data.affordableCriteriaMet">
        </gla-yes-no-input>
      </div>

      <div class="row" ng-if="$ctrl.data.validationFailures.Block1.length">
        <div class="col-xs-12 mtop15 text-center">
          <div class="error-wrapper error" ng-repeat="error in $ctrl.data.validationFailures.Block1">
            {{error.description}} <span ng-if="error.rowId">({{error.rowId}})</span>
          </div>
        </div>
      </div>

    </div>

    <section-header class="grant-block-title" subheader="Column totals are updated every time you change a value in the table">2. Enter the units and tenure</section-header>
    <grant-table data="$ctrl.data"
                 other-affordable-tenure-types="$ctrl.otherAffordableTenureTypes"
                 show-other-affordable-question ="$ctrl.showOtherAffordableQuestion"
                 is-readonly="$ctrl.readOnly"
                 on-tenure-change="$ctrl.saveTenure(true, true)">
    </grant-table>
    <div>
      <tenure-tiles
        tenures="$ctrl.tenureSummaryDetails"
      ></tenure-tiles>
      <total-grant total="$ctrl.data.totalGrantEligibility"></total-grant>
      <gla-loading-mask ng-if="$ctrl.loading" text=""></gla-loading-mask>
    </div>

    <claimed-units ng-if="$ctrl.data.startOnSiteMilestoneAuthorised || $ctrl.data.completionMilestoneAuthorised"
                   start-milestone="$ctrl.data.startOnSiteMilestoneAuthorised"
                   completion-milestone="$ctrl.data.completionMilestoneAuthorised"
                   total-start-on-site="$ctrl.data.totalStartOnSiteApprovedUnits"
                   total-completion="$ctrl.data.totalCompletionApprovedUnits"
                   tenures="$ctrl.tenureClaimedDetails"
                   title="TOTAL UNITS CLAIMED"
                   total="$ctrl.data.totalCompletionApprovedUnits || $ctrl.data.totalStartOnSiteApprovedUnits"
                   is-unit="true">
      <gla-loading-mask ng-if="$ctrl.loading" text=""></gla-loading-mask>
    </claimed-units>

    <project-block-footer editable-block="$ctrl"></project-block-footer>
  </div>
</div>
