<div class="inputCostBudget">
  <div class="row">
    <div class="col-xs-6 inputCostBudget__select">
        <input type="checkbox"
          ng-attr-id="{{$ctrl.linkId}}"
          name="selectInput"
          ng-model="$ctrl.isSelected"
          ng-change="$ctrl.onCheckboxChange()"
          ng-if="!$ctrl.readOnly && !$ctrl.hideCheckbox"
          aria-label="{{$ctrl.label}}-checkbox"><span ng-hide="$ctrl.readOnly || $ctrl.hideCheckbox">&nbsp;</span>
          <label for="{{$ctrl.linkId}}" ng-click="$ctrl.onSelectedChange()">
            {{$ctrl.label}}
          </label>
    </div>

    <div class="col-xs-6 inputCostBudget__input" ng-attr-id="{{$ctrl.readOnly? $ctrl.linkId: undefined}}">

      <div ng-if="$ctrl.hideCheckbox">

        <div ng-if="!$ctrl.readOnly">
          &pound;&nbsp;
          <input
            type="text"
            ng-attr-id="$ctrl.linkId"
            maxlength="13"
            name="costInput"
            ng-model="$ctrl.value"
            ng-disabled="!$ctrl.isSelected || $ctrl.readOnly"
            number-mask="0"
            aria-label="{{$ctrl.label}}-input">
        </div>

        <span ng-if="$ctrl.readOnly && $ctrl.value != null">
          {{$ctrl.value | currency:'£':0}}
        </span>

        <span ng-if="$ctrl.readOnly && $ctrl.value == null">
          Not provided
        </span>

      </div>

      <div ng-if="$ctrl.hideValue && $ctrl.readOnly">
        {{$ctrl.isSelected ? 'Yes': 'No'}}
      </div>

    </div>
  </div>
</div>
