<div class="history-accordion comments-list">
  <uib-accordion>
    <div uib-accordion-group class="panel-default text-center" is-open="$ctrl.isOpen">

      <uib-accordion-heading>
        All comments&nbsp;
        <i id="accordion" class="glyphicon"
           ng-class="{'glyphicon-triangle-top': $ctrl.isOpen, 'glyphicon-triangle-bottom': !$ctrl.isOpen}">
        </i>
      </uib-accordion-heading>

      <div ng-if="!$ctrl.comments.length" class="text-left">No comments</div>

      <div class="row content" id="content" ng-if="$ctrl.comments.length">
        <div class="col-xs-12 no-padding text-left">
          <div ng-repeat="c in $ctrl.comments | orderBy: '-createdOn'" track by c.id>
            <div class="metadata">
              <span>{{c.createdOn | date: "dd/MM/yyyy 'at' HH:mm"}}</span>
              <span> by {{c.creatorName}}</span>
            </div>
            <div class="multiline-text">
              {{ c.comment }}
            </div>
            <hr ng-if="!$last"/>
          </div>
        </div>
      </div>
    </div>
  </uib-accordion>
</div>
