<div class="funding-page">
  <project-header on-back="$ctrl.back()"
               editable-block="$ctrl">{{$ctrl.projectBlock.blockDisplayName}}</project-header>

  <form class="form-gla funding-body" role="form" name="fundingForm">
    <section-header>Total project budget</section-header>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 form-group no-padding">
        <ui-select id="project-funding-view-selector"
                   name="project-funding-view-selector"
                   aria-label="Total project budget"
                   search-enabled="false"
                   ng-change="$ctrl.changeSelectedView($ctrl.selectedView)"
                   ng-model="$ctrl.selectedView">
          <ui-select-match  placeholder="">
            {{$select.selected.label}}</ui-select-match>
          <ui-select-choices repeat="view in $ctrl.totalBudgetViewOptions">
            <span>{{view.label}}</span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="row mtop10" ng-if="$ctrl.selectedView.type === 'funding-totals'">
      <label>Total budget</label>
      <yearly-budget-funding-totals-table
        totals="$ctrl.projectFunding.totals"
        total-budget="$ctrl.projectFunding.fundingTotalBudget"
        show-revenue-gla="$ctrl.projectFunding.showRevenueGLAFunding"
        show-revenue-other="$ctrl.projectFunding.showRevenueOtherFunding"
        show-capital-gla="$ctrl.projectFunding.showCapitalGLAFunding"
        show-capital-other="$ctrl.projectFunding.showCapitalOtherFunding"
        cap-claimed-label="$ctrl.capClaimedFunding"
        cap-other-label ="$ctrl.capOtherFunding"
        rev-claimed-label="$ctrl.revClaimedFunding"
        rev-other-label="$ctrl.revOtherFunding"
      ></yearly-budget-funding-totals-table>
    </div>
    <div class="row mtop10" ng-if="$ctrl.selectedView.type === 'funding-summary'">
      <label>Project funding summary</label>
      <yearly-budget-funding-summary-table
        totals="$ctrl.projectFunding.fundingSummary"
        block-session-storage="$ctrl.blockSessionStorage"
        yearly-data="$ctrl.projectFunding.fundingSummary.yearBreakdown"
        show-revenue-gla="$ctrl.projectFunding.showRevenueGLAFunding"
        show-revenue-other="$ctrl.projectFunding.showRevenueOtherFunding"
        show-capital-gla="$ctrl.projectFunding.showCapitalGLAFunding"
        show-capital-other="$ctrl.projectFunding.showCapitalOtherFunding"
        cap-claimed-label="$ctrl.capClaimedFunding"
        cap-other-label ="$ctrl.capOtherFunding"
        rev-claimed-label="$ctrl.revClaimedFunding"
        rev-other-label="$ctrl.revOtherFunding"
      ></yearly-budget-funding-summary-table>
    </div>
    <div class="row mtop10" ng-if="$ctrl.selectedView.type === 'balance-summary'">
      <label>Balance summary</label>
      <yearly-budget-balance-summary-table data="$ctrl.sortedFundingBudgetSummaries"></yearly-budget-balance-summary-table>
    </div>
    <div class="row mtop10" ng-if="$ctrl.selectedView.type === 'capital-funding'">
      <label>Capital funding by Y & Q</label>
      <yearly-budget-capital-revenue-funding type="'capital'"
                                             block-session-storage="$ctrl.blockSessionStorage"
                                             yearly-data="$ctrl.projectFunding.fundingByYearAndQuarter"></yearly-budget-capital-revenue-funding>
    </div>
    <div class="row mtop10" ng-if="$ctrl.selectedView.type === 'revenue-funding'">
      <label>Revenue funding by Y & Q</label>
      <yearly-budget-capital-revenue-funding type="'revenue'"
                                             block-session-storage="$ctrl.blockSessionStorage"
                                             yearly-data="$ctrl.projectFunding.fundingByYearAndQuarter"></yearly-budget-capital-revenue-funding>
    </div>
    <div class="row mtop10" ng-if="$ctrl.selectedView.type === 'claim-summary'">
      <yearly-budget-quarterly-claim-summary></yearly-budget-quarterly-claim-summary>
    </div>

    <hr class="mtop20">

    <section-header>Annual budget</section-header>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 form-group no-padding">
        <label for="annual-expenditure">Year</label><br/>
        <financial-year id="annual-expenditure"
                        from="$ctrl.projectFunding.startYear"
                        to="$ctrl.projectFunding.startYear + $ctrl.projectFunding.yearAvailableTo"
                        current-financial-year-const="$ctrl.currentFinancialYear"
                        on-select="$ctrl.onSelectYear($ctrl.fromDateSelected.financialYear)"
                        selected-year="$ctrl.fromDateSelected"
                        populated-years="$ctrl.projectFunding.populatedYears"></financial-year>
        <!--<financial-year id="annual-expenditure"-->
                        <!--back="$ctrl.projectFunding.yearAvailableFrom"-->
                        <!--forward="$ctrl.projectFunding.yearAvailableTo"-->
                        <!--current-financial-year-const="$ctrl.currentFinancialYear"-->
                        <!--on-select="$ctrl.onSelectYear($ctrl.fromDateSelected.financialYear)"-->
                        <!--selected-year="$ctrl.fromDateSelected"-->
                        <!--populated-years="$ctrl.projectFunding.populatedYears"></financial-year>-->
      </div>
    </div>
    <div class="annual-expenditure clearfix">
      <!--<section-header subheader="Enter the amount of GLA capital and/or revenue you are requesting for the year and the amount of applicant funding being provided from other sources."></section-header>-->
      <span>{{$ctrl.annualBudgetText}}</span>
      <div ng-if="$ctrl.showCapitalGLA" class="annual-capital-budget form-group mtop20">
        <label for="annual-capital-budget">
          {{$ctrl.totalCapAvailableFunding}}
        </label>
        <div class="col-xs-12 col-sm-6 col-md-3 no-padding" ng-if="!$ctrl.readOnly">
          <input id="annual-capital-budget"
                 class="form-control"
                 type="text"
                 name="annual-capital-budget"
                 ng-model="$ctrl.selectedYearData.capitalValue.value"
                 change-on-blur="$ctrl.onBlurAnnualBudgetInput($ctrl.selectedYearData.capitalValue)"
                 number-mask="$ctrl.monetaryValueScaleToUse"
                 maxlength="13"/>
        </div>
        <div ng-if="$ctrl.readOnly">{{($ctrl.selectedYearData.capitalValue.value | currency:'£':$ctrl.monetaryValueScaleToUse) || 'Not provided'}}</div>
      </div>

      <div ng-if="$ctrl.showCapitalOther" class="capital-match-funding form-group">
        <label for="capital-match-funding">
          {{$ctrl.totalCapOtherFunding}}
        </label>
        <div class="col-xs-12 col-sm-6 col-md-3 no-padding" ng-if="!$ctrl.readOnly">
          <input id="capital-match-funding"
                 class="form-control"
                 type="text"
                 name="capital-match-funding"
                 ng-model="$ctrl.selectedYearData.capitalMatchFundValue.value"
                 change-on-blur="$ctrl.onBlurAnnualBudgetInput($ctrl.selectedYearData.capitalMatchFundValue)"
                 number-mask="$ctrl.monetaryValueScaleToUse"
                 maxlength="13"/>
        </div>
        <div ng-if="$ctrl.readOnly">{{($ctrl.selectedYearData.capitalMatchFundValue.value | currency:'£':$ctrl.monetaryValueScaleToUse) || 'Not provided'}}</div>
      </div>

      <div ng-if="$ctrl.showRevenueGLA" class="annual-revenue-budget form-group">
        <label for="annual-revenue-budget">
          {{$ctrl.totalRevAvailableFunding}}
        </label>
        <div class="col-xs-12 col-sm-6 col-md-3 no-padding" ng-if="!$ctrl.readOnly">
          <input id="annual-revenue-budget"
                 class="form-control"
                 type="text"
                 name="annual-revenue-budget"
                 ng-model="$ctrl.selectedYearData.revenueValue.value"
                 change-on-blur="$ctrl.onBlurAnnualBudgetInput($ctrl.selectedYearData.revenueValue)"
                 number-mask="$ctrl.monetaryValueScaleToUse"
                 maxlength="13"/>
        </div>
        <div ng-if="$ctrl.readOnly">{{($ctrl.selectedYearData.revenueValue.value | currency:'£':$ctrl.monetaryValueScaleToUse) || 'Not provided'}}</div>
      </div>
      <div ng-if="$ctrl.showRevenueOther" class="revenue-match-funding form-group">
        <label for="revenue-match-funding">
          {{$ctrl.totalRevOtherFunding}}
        </label>
        <div class="col-xs-12 col-sm-6 col-md-3 no-padding" ng-if="!$ctrl.readOnly">
          <input id="revenue-match-funding"
                 class="form-control"
                 type="text"
                 name="revenue-match-funding"
                 ng-model="$ctrl.selectedYearData.revenueMatchFundValue.value"
                 change-on-blur="$ctrl.onBlurAnnualBudgetInput($ctrl.selectedYearData.revenueMatchFundValue)"
                 number-mask="$ctrl.monetaryValueScaleToUse"
                 maxlength="13"/>
        </div>
        <div ng-if="$ctrl.readOnly">{{($ctrl.selectedYearData.revenueMatchFundValue.value | currency:'£':$ctrl.monetaryValueScaleToUse) || 'Not provided'}}</div>
      </div>
    </div>



    <hr class="mtop20" id="edit-jump-location">
    <div>
      <div class="row" ng-if="$ctrl.projectFunding.validationFailures.Block.length">
        <div class="col-xs-12 mtop15 text-center">
          <div class="error-wrapper error" ng-repeat="error in $ctrl.projectFunding.validationFailures.Block">
            {{error.description}} <span ng-if="error.rowId">({{error.rowId}})</span>
          </div>
        </div>
      </div>
    </div>
    <section-header subheader="Add spend to profiles in the table below.">Quarterly budget profile</section-header>

    <div>
      <div class="row" ng-if="$ctrl.projectFunding.validationFailures.Block1.length">
        <div class="col-xs-12 mtop15 text-center">
          <div class="error-wrapper error" ng-repeat="error in $ctrl.projectFunding.validationFailures.Block1">
            {{error.description}} <span ng-if="error.rowId">({{error.rowId}})</span>
          </div>
        </div>
      </div>
    </div>

    <quarterly-budget-wizard
      ng-if="!$ctrl.readOnly && ($ctrl.hasMilestones || $ctrl.hasCategories)"
      year="$ctrl.fromDateSelected"
      milestones="$ctrl.milestones"
      show-milestones="$ctrl.projectBlock.showMilestones"
      categories="$ctrl.categories"
      show-categories="$ctrl.projectBlock.showCategories"
      on-add-quarterly-budget="$ctrl.onAddQuarterlyBudget(data)"
      on-quarterly-budget-added="$ctrl.onQuarterlyBudgetAdded(data)"
      allow-activity-update="$ctrl.allowActivityUpdate"
      default-activity-name="$ctrl.defaultActivityName"
      show-capital-gla="$ctrl.showCapitalGLA"
      show-revenue-gla="$ctrl.showRevenueGLA"
      show-capital-other="$ctrl.showCapitalOther"
      show-revenue-other="$ctrl.showRevenueOther"
      wizard-claim-label="$ctrl.wizardClaimLabel"
      wizard-other-label ="$ctrl.wizardOtherLabel"
      monetary-value-scale="$ctrl.monetaryValueScaleToUse">
    </quarterly-budget-wizard>

    <quarterly-budget-table
      read-only="$ctrl.readOnly"
      year-breakdown="$ctrl.projectFunding.yearBreakdown"
      block-session-storage="$ctrl.blockSessionStorage"
      on-activity-update="$ctrl.onActivityUpdate(data)"
      has-milestones="$ctrl.hasMilestones"
      has-categories="$ctrl.hasCategories"
      milestone-block="$ctrl.milestoneBlock"
      on-delete-activity="$ctrl.onDeleteActivity(section, milestone, activity)"
      on-show-evidence-modal="$ctrl.showEvidenceModal(activity)"
      on-claim-quarter="$ctrl.onClaimQuarter($event)"
      on-cancel-claimed-quarter="$ctrl.onCancelClaimedQuarter($event)"
      allow-activity-update="$ctrl.allowActivityUpdate"
      allow-evidence-upload="$ctrl.allowEvidenceUpload"
      show-capital="$ctrl.showCapital"
      show-revenue="$ctrl.showRevenue"
      show-capital-gla="$ctrl.showCapitalGLA"
      show-revenue-gla="$ctrl.showRevenueGLA"
      show-capital-other="$ctrl.showCapitalOther"
      show-revenue-other="$ctrl.showRevenueOther"
      payments-enabled="$ctrl.projectBlock.paymentsEnabled"
      annual-budget="$ctrl.selectedYearData"
      cap-claimed-label="$ctrl.capClaimedFunding"
      cap-other-label ="$ctrl.capOtherFunding"
      rev-claimed-label="$ctrl.revClaimedFunding"
      rev-other-label="$ctrl.revOtherFunding"
      monetary-value-scale="$ctrl.monetaryValueScaleToUse">
    </quarterly-budget-table>


    <project-block-footer editable-block="$ctrl"></project-block-footer>
  </form>
</div>
