<div class="project-learning-grant medium-page">
  <div class="row text-center">
    <gla-project-header (on-back)="$ctrl.back()" [editable-block]="$ctrl" [show-ukprn]="true">{{$ctrl.learningGrant.blockDisplayName}}
    </gla-project-header>
  </div>

  <gla-spinner ng-if="$ctrl.loading"></gla-spinner>

  <div ng-if="$ctrl.isSelectedYearPercentageMissing " class="year-missing-error text-center" id="error-summary">
    Please contact GLA regarding your allocation profiles
  </div>
  <div class="row text-center">
    <div class="row total-allocation-exceeded-error">
      <div class="col-xs-12 mtop5 mbottom10 text-center" ng-if="$ctrl.learningGrant.validationFailures && $ctrl.learningGrant.validationFailures.TOTAL_ALLOCATION_EXCEEDED">
        <div class="error-wrapper error">
          {{$ctrl.learningGrant.validationFailures.TOTAL_ALLOCATION_EXCEEDED[0].description}}
        </div>
      </div>

      <div class="col-xs-12 mtop5 mbottom10 text-center" ng-if="!$ctrl.learningGrant.isDeliveryAllocationEditable;">
        <div class="error-wrapper error">
          Allocation cannot be edited when there are pending claims
        </div>
      </div>
    </div>

    <div class="mtop10 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">

      <div class="form-group" ng-if="$ctrl.showTotalAllocation">
        <label for="totalAllocation">{{$ctrl.labels.totalAllocation}}</label>
        <input id="totalAllocation"
               ng-if="!$ctrl.readOnly"
               number-mask="2"
               type="text"
               ng-model="$ctrl.learningGrant.totalAllocation"
               maxlength="14"
               class="form-control"
               change-on-blur="$ctrl.autoSave()"
               aria-label="Total Allocation">
        <div ng-if="$ctrl.readOnly">{{$ctrl.learningGrant.totalAllocation | number}}</div>
      </div>

      <div class="form-group">
        <label for="academic-year">{{$ctrl.labels.academicYear}}</label>
        <div ng-if="!$ctrl.showYearDropDown">{{$ctrl.academicYearFrom | fYear}}</div>
        <financial-year id="academic-year"
                        ng-if="$ctrl.showYearDropDown"
                        from="$ctrl.academicYearFrom"
                        to="$ctrl.academicYearTo"
                        current-financial-year-const="$ctrl.currentFinancialYear"
                        on-select="$ctrl.onSelectYear($ctrl.fromDateSelected.financialYear)"
                        selected-year="$ctrl.fromDateSelected"
                        populated-years="$ctrl.learningGrant.populatedYears"></financial-year>
      </div>

      <div class="form-group">
        <label for="allocation">{{$ctrl.labels.deliverAllocation}}</label>
        <input id="allocation"
               ng-if="$ctrl.canEditDeliveryAllocation()"
               number-mask="2"
               type="text"
               ng-model="$ctrl.currentDelivery.allocation"
               maxlength="14"
               class="form-control"
               change-on-blur="$ctrl.autoSave()"
               placeholder="Enter Total Allocation"
               aria-label="allocation">
        <div ng-if="!$ctrl.canEditDeliveryAllocation()">{{$ctrl.currentDelivery.allocation | number}}</div>
      </div>

      <div class="form-group" ng-if="$ctrl.isAebGrant && ($ctrl.allocationTypesConfig.showCommunity || $ctrl.allocationTypesConfig.showInnovationFund || $ctrl.allocationTypesConfig.showResponseFund1)">
        <toggle-icon [(collapsed)]="$ctrl.ofWhich.collapsed" ng-if="$ctrl.isAebGrant"></toggle-icon>
        <span class="bolder">{{$ctrl.labels.ofWhich}}</span>
      </div>

      <div ng-if="!$ctrl.ofWhich.collapsed && $ctrl.isAebGrant" class="form-group" >
        <div ng-if="$ctrl.allocationTypesConfig.showCommunity">
          <label for="community-allocation">{{$ctrl.labels.communityAllocation}}</label>
          <input id="community-allocation"
                 ng-if="$ctrl.canEditDeliveryAllocation()"
                 number-mask="2"
                 type="text"
                 ng-model="$ctrl.currentCommunity.allocation"
                 maxlength="14"
                 class="form-control mbottom10"
                 change-on-blur="$ctrl.autoSave()"
                 placeholder="Enter Community Learning Allocation"
                 aria-label="allocation">
          <div ng-if="!$ctrl.canEditDeliveryAllocation()" default-value="'Not provided'" class="mbottom10">{{$ctrl.currentCommunity.allocation | number}}</div>
          <div id="community-allocation-exceeded-error" class="mtop10 mbottom5" ng-if="$ctrl.learningGrant.validationFailures && $ctrl.learningGrant.validationFailures.COMMUNITY_ALLOCATION_EXCEEDED">
            <div class="error-wrapper error">
              {{$ctrl.learningGrant.validationFailures.COMMUNITY_ALLOCATION_EXCEEDED[0].description}}
            </div>
          </div>
        </div>

        <div ng-if="$ctrl.allocationTypesConfig.showInnovationFund">
        <label for="innovation-fund">{{$ctrl.labels.innovationFund}}</label>
        <input id="innovation-fund"
               ng-if="$ctrl.canEditDeliveryAllocation()"
               number-mask="2"
               type="text"
               ng-model="$ctrl.currentInnovationFund.allocation"
               maxlength="14"
               class="form-control mbottom10"
               change-on-blur="$ctrl.autoSave()"
               placeholder="Enter Innovation Fund Allocation"
               aria-label="allocation">
        <div ng-if="!$ctrl.canEditDeliveryAllocation()" default-value="'Not provided'" class="mbottom10">{{$ctrl.currentInnovationFund.allocation | number}}</div>
        <div id="innovation-fund-exceeded-error" class="mtop10 mbottom5" ng-if="$ctrl.learningGrant.validationFailures && $ctrl.learningGrant.validationFailures.INNOVATION_FUND_EXCEEDED">
          <div class="error-wrapper error">
            {{$ctrl.learningGrant.validationFailures.INNOVATION_FUND_EXCEEDED[0].description}}
          </div>
        </div>
        </div>

        <div ng-if="$ctrl.allocationTypesConfig.showResponseFund1">
        <label for="response-fund-strand-1">{{$ctrl.labels.responseFundStrand1}}</label>
        <input id="response-fund-strand-1"
               ng-if="$ctrl.canEditDeliveryAllocation()"
               number-mask="2"
               type="text"
               ng-model="$ctrl.currentResponseFundStrand1.allocation"
               maxlength="14"
               class="form-control mbottom10"
               change-on-blur="$ctrl.autoSave()"
               placeholder="Enter Response Fund Strand 1 Allocation"
               aria-label="allocation">
        <div ng-if="!$ctrl.canEditDeliveryAllocation()" default-value="'Not provided'" class="mbottom10">{{$ctrl.currentResponseFundStrand1.allocation | number}}</div>
        <div id="response-fund-strand-1-exceeded-error" class="mtop10 mbottom5" ng-if="$ctrl.learningGrant.validationFailures && $ctrl.learningGrant.validationFailures.RESPONSE_FUND_EXCEEDED">
          <div class="error-wrapper error">
            {{$ctrl.learningGrant.validationFailures.RESPONSE_FUND_EXCEEDED[0].description}}
          </div>
        </div>
        </div>

        <div ng-if="$ctrl.allocationTypesConfig.showNationalSkillsFund">
        <label for="national-skills-fund">{{$ctrl.labels.nationalSkillsFund}}</label>
        <input id="national-skills-fund"
               ng-if="$ctrl.canEditDeliveryAllocation()"
               number-mask="2"
               type="text"
               ng-model="$ctrl.currentNationalSkillsFund.allocation"
               maxlength="14"
               class="form-control mbottom10"
               change-on-blur="$ctrl.autoSave()"
               placeholder="Enter National Skills Fund Allocation"
               aria-label="allocation">
        <div ng-if="!$ctrl.canEditDeliveryAllocation()" default-value="'Not provided'" class="mbottom10">{{$ctrl.currentNationalSkillsFund.allocation | number}}</div>
        <div id="national-skills-fund-exceeded-error" class="mtop10 mbottom5" ng-if="$ctrl.learningGrant.validationFailures && $ctrl.learningGrant.validationFailures.NATIONAL_SKILLS_FUND_EXCEEDED">
          <div class="error-wrapper error">
            {{$ctrl.learningGrant.validationFailures.NATIONAL_SKILLS_FUND_EXCEEDED[0].description}}
          </div>
        </div>
        </div>

        <div id="of-which-exceeded-error" class="mtop10" ng-if="$ctrl.learningGrant.validationFailures && $ctrl.learningGrant.validationFailures.OF_WHICH_EXCEEDED">
          <div class="error-wrapper error">
            {{$ctrl.learningGrant.validationFailures.OF_WHICH_EXCEEDED[0].description}}
          </div>
        </div>

      </div>
    </div>

  </div>

  <learning-grant-table block-id="$ctrl.learningGrant.id"
                        id="delivery-allocations"
                        data="$ctrl.deliveryEntries"
                        claimable="$ctrl.learningGrant.claimable"
                        columns="$ctrl.labels.tableColumns"
                        on-cancel-claim="$ctrl.refreshData()"
                        is-aeb-procured="$ctrl.isAebProcured"
                        has-manual-claim-status="$ctrl.isAebProcured || $ctrl.isAebNsct"
                        is-aeb-grant="$ctrl.isAebGrant"
                        is-aeb-Nsct="$ctrl.isAebNsct"
                        is-support-allocation="false"
                        read-only="$ctrl.readOnly"
                        on-claim="$ctrl.refreshData()"
                        on-save="$ctrl.autoSave()"
                        project="$ctrl.project"></learning-grant-table>

  <div class="row mtop20 text-center" ng-if="$ctrl.showSupportAllocation">
    <div class="mtop10 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
      <div class="form-group">
        <label for="learner_support_allocation">{{$ctrl.labels.learnerSupportAllocation}}</label>
        <input id="learner_support_allocation"
               ng-if="$ctrl.canEditSupportAllocation()"
               number-mask="2"
               type="text"
               ng-model="$ctrl.currentLearningSupport.allocation"
               maxlength="14"
               class="form-control"
               change-on-blur="$ctrl.autoSave()"
               aria-label="Learner Support Allocation">
        <div id="read-only-learner-support-allocation" ng-if="!$ctrl.canEditSupportAllocation()">{{$ctrl.currentLearningSupport.allocation | number}}</div>
      </div>
    </div>
  </div>

  <learning-grant-table block-id="$ctrl.learningGrant.id"
                        id="support-allocations"
                        data="$ctrl.supportEntries"
                        claimable="$ctrl.learningGrant.claimable"
                        columns="$ctrl.labels.tableColumns"
                        ng-if="$ctrl.supportEntries.length && $ctrl.showSupportAllocation"
                        project="$ctrl.project"
                        is-aeb-procured="$ctrl.isAebProcured"
                        has-manual-claim-status="$ctrl.isAebProcured || $ctrl.isAebNsct"
                        is-support-allocation="true"
                        read-only="$ctrl.readOnly"
                        on-cancel-claim="$ctrl.refreshData()"
                        on-claim="$ctrl.refreshData()"></learning-grant-table>

  <project-block-footer editable-block="$ctrl"></project-block-footer>
</div>
