<div class="payment-summary">
  <gla-page-header (on-back)="$ctrl.back()">Payment Summary</gla-page-header>
  <div class="row no-gutter">
    <div ng-if="$ctrl.payment.ledgerStatus==='Pending'"
         class="col-sm-offset-3 col-sm-9 mtop30">
      Select the <a ui-sref="pending-payments({paymentGroupId: $ctrl.paymentGroup.id})">Pending Payments page</a> to
      view, authorise or decline this payment.
    </div>
    <div class="col-sm-offset-3 col-sm-9">
      <section-header class="mtop40">Payee</section-header>
    </div>

    <div class="form-group lead-organisation-id row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="lead-organisation-id">Organisation ID:</label></div>
      <div id="lead-organisation-id" class="read-only-text col-sm-6">{{$ctrl.payment.organisationId}}</div>
    </div>

    <div class="form-group lead-organisation row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="lead-organisation">Organisation name:</label></div>
      <div id="lead-organisation"
           class="read-only-text col-sm-6">
        <a href="" ui-sref="organisation.view({orgId: $ctrl.payment.organisationId})">{{$ctrl.payment.vendorName}}</a>
      </div>
    </div>

    <div class="form-group managing-organisation row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="managing-organisation">Managing organisation:</label></div>
      <div id="managing-organisation" class="read-only-text col-sm-6">{{$ctrl.payment.managingOrganisationName}}</div>
    </div>

    <div class="col-sm-offset-3 col-sm-9">
      <section-header>Project Details</section-header>
    </div>
    <div class="form-group project-id row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="project-id">Project ID:</label></div>
      <div id="project-id"
           class="read-only-text col-sm-6">
        <a ui-sref="project-overview({projectId: $ctrl.payment.projectId})">P{{$ctrl.payment.projectId}}</a>
      </div>
    </div>
    <div class="form-group project-name row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="project-name">Project Name:</label></div>
      <div id="project-name"
           class="read-only-text col-sm-6">
        {{$ctrl.payment.projectName}}
      </div>
    </div>
    <div class="form-group programme row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="programme">Programme:</label></div>
      <div id="programme"
           class="read-only-text col-sm-6">
        {{$ctrl.payment.programmeName}}
      </div>
    </div>
    <div class="form-group category row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="category">Payment category:</label></div>
      <div id="category"
           class="read-only-text col-sm-6">
        {{$ctrl.payment.category}}
      </div>
    </div>
    <div class="form-group sub-category row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="sub-category">Payment sub-category:</label></div>
      <div id="sub-category"
           class="read-only-text col-sm-6">
        {{$ctrl.payment.subCategory}}
      </div>
    </div>

    <div class="form-group additional-information row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="comments">Additional information:</label></div>
      <div id="comments"
           class="read-only-text additional-info col-sm-6">
        {{$ctrl.payment.comments}}
      </div>
    </div>


    <div ng-if="$ctrl.showMilestoneSection" class="row no-gutter">
      <div class="col-sm-offset-3 col-sm-9">
        <section-header>Payment approval</section-header>
      </div>
      <div class="form-group approval-requested-by row no-gutter">
        <div class="col-sm-offset-3 col-sm-3"><label for="approval-requested-by">Approval requested by:</label></div>
        <div id="approval-requested-by"
             class="read-only-text col-sm-6">
          {{$ctrl.paymentGroup.approvalRequestedBy}}
        </div>
      </div>
      <div class="form-group approver row no-gutter">
        <div class="col-sm-offset-3 col-sm-3"><label for="approver">Approver:</label></div>
        <div id="approver"
             class="read-only-text col-sm-6">
          {{$ctrl.payment.creator}}
        </div>
      </div>
      <div class="form-group created-on row no-gutter">
        <div class="col-sm-offset-3 col-sm-3"><label for="created-on">Date approved:</label></div>
        <div id="created-on"
             class="read-only-text col-sm-6">
          {{$ctrl.payment.createdOn | date: "dd/MM/yyyy"}}
        </div>
      </div>
    </div>
    <span ng-if="$ctrl.payment.reclaim" id="original-payment">
      <div class="row no-gutter">
        <div class="col-sm-offset-3 col-sm-6"><section-header>Original payment details</section-header></div>

      </div>

      <div class="form-group original-payment-total row no-gutter">
        <div class="col-sm-offset-3 col-sm-3"><label for="original-payment-total">Payment Total:</label></div>
        <div id="original-payment-total"
             class="read-only-text col-sm-6">
          {{$ctrl.originalPayment.totalIncludingInterest || 0 | currency:'£':2}}
        </div>
      </div>

      <div class="form-group original-payment-id row no-gutter">
        <div class="col-sm-offset-3 col-sm-3"><label for="original-payment-id">Payment ID:</label></div>
        <div id="original-payment-id"
             class="read-only-text col-sm-6">
          <a ui-sref="payment-summary({paymentId:$ctrl.payment.reclaimOfPaymentId})">{{$ctrl.originalPayment.id}}</a>

        </div>
      </div>

      <div class="form-group original-category row no-gutter">
        <div class="col-sm-offset-3 col-sm-3"><label for="original-category">Payment category:</label></div>
        <div id="original-category"
             class="read-only-text col-sm-6">
          {{$ctrl.originalPayment.category}}
        </div>
      </div>

      <div class="form-group original-sub-category row no-gutter">
        <div class="col-sm-offset-3 col-sm-3"><label for="original-sub-category">Payment sub-category:</label></div>
        <div id="original-sub-category"
             class="read-only-text col-sm-6">
          {{$ctrl.originalPayment.subCategory}}
        </div>
      </div>

      <div class="form-group original-payment-source row no-gutter">
        <div class="col-sm-offset-3 col-sm-3"><label for="original-payment-source">Payment Source:</label></div>
        <div id="original-payment-source"
             class="read-only-text col-sm-6">
          {{$ctrl.originalPayment.source}}
        </div>
      </div>

     <div class="form-group row no-gutter" >
      <div class="col-sm-offset-3 col-sm-3"><label for="payment-reclaim-evidences">Payment Block:</label></div>
      <div id="payment-reclaim-evidences"
           class="read-only-text col-sm-6">
           <a href="" ui-sref="project-block({projectId: $ctrl.payment.projectId,
                                           blockPosition:$ctrl.paymentBlockPosition,
                                           version:$ctrl.paymentProjectBlock.versionNumber})">
          {{$ctrl.paymentProjectBlock.blockDisplayName}}</a>
      </div>
    </div>

    </span>

    <div class="row no-gutter">
      <div class="col-sm-offset-3 col-sm-3">
        <section-header class="payment-title">{{$ctrl.labels.paymentTitle}}</section-header>
      </div>
      <div class="col-sm-6">
        <button class="mtop20 mbottom20 btn btn-primary btn-md"
                ng-if="$ctrl.showReclaimBtn"
                ng-click="$ctrl.reclaim()">RECLAIM<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        </button>
      </div>
    </div>

    <div class="form-group reclaim-reason-block row no-gutter"
         ng-if="$ctrl.payment.reclaim && !$ctrl.payment.interestPayment && $ctrl.milestone.reclaimReason">
      <div class="col-sm-offset-3 col-sm-3"><label for="reclaim-reason">Reason for payment reclaim:</label></div>
      <div id="reclaim-reason" class="read-only-text col-sm-6">
        {{$ctrl.milestone.reclaimReason}}
      </div>
    </div>

    <div class="form-group payment-status row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="payment-status">Payment Status:</label></div>
      <div id="payment-status"
           class="read-only-text col-sm-6">
        {{$ctrl.payment.ledgerStatus}}
      </div>
    </div>


    <div class="form-group payment-status row no-gutter"
         ng-if="$ctrl.payment.ledgerStatus==='Declined'">
      <div class="col-sm-offset-3 col-sm-3"><label for="decline-reason">Reason for payment decline:</label></div>
      <div id="decline-reason"
           class="read-only-text col-sm-6">
        {{$ctrl.declineReason}}
      </div>
    </div>
    <div class="form-group payment-status row no-gutter"
         ng-if="$ctrl.payment.ledgerStatus==='Declined'">
      <div class="col-sm-offset-3 col-sm-3"><label for="decline-comments">Comments:</label></div>
      <div id="decline-comments"
           class="read-only-text col-sm-6">
        {{$ctrl.declineComments}}
      </div>
    </div>


    <div class="form-group payment-id row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="payment-id">Payment ID:</label></div>
      <div id="payment-id"
           class="read-only-text col-sm-6">
        {{$ctrl.payment.id}}
      </div>
    </div>

    <div class="form-group ops-invoice-number row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="payment-id">OPS Invoice Number:</label></div>
      <div id="ops-invoice-number"
           class="read-only-text col-sm-6">
        {{$ctrl.payment.opsInvoiceNumber}}
      </div>
    </div>

    <div class="form-group sap-vendor-id row no-gutter"
         ng-if="$ctrl.canViewSapVendorId && $ctrl.payment.paymentSource != 'MOPAC'">
      <div class="col-sm-offset-3 col-sm-3"><label for="sap-vendor-id">SAP vendor ID:</label></div>
      <div id="sap-vendor-id"
           class="read-only-text col-sm-6">
        {{$ctrl.payment.sapVendorId}}
        <span ng-if="!$ctrl.payment.sapVendorId && $ctrl.payment.paymentSourceDetails.sendToSap" class="error">
             <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
             <span>SAP vendor ID has not been provided. A vendor ID must be added to the <a class="org-details"
                                                                                            ui-sref="organisation.view({orgId: $ctrl.payment.organisationId})">Organisation details</a> to allow payment authorisation.</span>
           </span>
      </div>
    </div>

    <div class="form-group wbs-code row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="payment-id">WBS Code:</label></div>
      <div id="wbs-code"
           class="read-only-text col-sm-6">
        {{$ctrl.payment.wbsCode}}
      </div>
    </div>

    <div class="form-group wbs-code row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="ce-code">CE Code:</label></div>
      <div id="ce-code"
           class="read-only-text col-sm-6">
        {{$ctrl.payment.ceCode}}
      </div>
    </div>

    <div class="form-group wbs-code row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="company-name">Company Name:</label></div>
      <div id="company-name"
           class="read-only-text col-sm-6">
        {{$ctrl.payment.companyName}}
      </div>
    </div>

    <div class="form-group payment-source row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="payment-source">Payment Source:</label></div>
      <div id="payment-source"
           class="read-only-text col-sm-6">
        {{$ctrl.source}}
      </div>
    </div>

    <div class="form-group payment-total row no-gutter" ng-if="$ctrl.payment.reclaim">
      <div class="col-sm-offset-3 col-sm-3"><label for="payment-total">{{$ctrl.labels.reclaimValue}}</label></div>
      <div id="reclaim-value"
           class="read-only-text col-sm-6">
        {{$ctrl.payment.value || 0 | currency:'£':2}}
      </div>
    </div>

    <div class="form-group payment-total row no-gutter" ng-if="!$ctrl.payment.reclaim">
      <div class="col-sm-offset-3 col-sm-3"><label for="payment-total">Payment Total:</label></div>
      <div id="payment-total"
           class="read-only-text col-sm-6">
        {{$ctrl.payment.totalIncludingInterest || 0 | currency:'£':2}}
      </div>
    </div>

    <div class="form-group row no-gutter" ng-if="!$ctrl.payment.reclaim">
      <div class="col-sm-offset-3 col-sm-3"><label for="payment-evidences">Payment Block:</label></div>
      <div id="payment-evidences"
           class="read-only-text col-sm-6">
        <a href="" ui-sref="project-block({projectId: $ctrl.payment.projectId,
                                           blockPosition:$ctrl.paymentBlockPosition,
                                           version:$ctrl.paymentProjectBlock.versionNumber})">
          {{$ctrl.paymentProjectBlock.blockDisplayName}}</a>
      </div>
    </div>

    <div ng-if="$ctrl.isAuthorised" class="form-group authorised-by row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="authorised-by">Authorised by:</label></div>
      <div id="authorised-by"
           class="read-only-text col-sm-6">
        {{$ctrl.payment.authorisor}}
      </div>
    </div>
    <div ng-if="$ctrl.isAuthorised" class="form-group authorised-on row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="authorised-on">Authorised on:</label></div>
      <div id="authorised-on"
           class="read-only-text col-sm-6">
        {{$ctrl.payment.authorisedOn | date: "dd/MM/yyyy"}}
      </div>
    </div>
    <div ng-if="$ctrl.isAuthorised" class="form-group authorised-on-time row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="authorised-on-time">Time:</label></div>
      <div id="authorised-on-time"
           class="read-only-text col-sm-6">
        {{$ctrl.payment.authorisedOn | date: "HH:mm"}}
      </div>
    </div>
    <div ng-if="$ctrl.isDeclined" class="form-group declined-by row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="declined-by">Declined by:</label></div>
      <div id="declined-by"
           class="read-only-text col-sm-6">
        {{$ctrl.payment.lastModifierName}}
      </div>
    </div>
    <div ng-if="$ctrl.isDeclined" class="form-group declined-on row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="declined-on">Declined on:</label></div>
      <div id="declined-on"
           class="read-only-text col-sm-6">
        {{$ctrl.payment.modifiedOn | date: "dd/MM/yyyy"}}
      </div>
    </div>
    <div ng-if="$ctrl.isDeclined" class="form-group declined-on-time row no-gutter">
      <div class="col-sm-offset-3 col-sm-3"><label for="declined-on-time">Time:</label></div>
      <div id="declined-on-time"
           class="read-only-text col-sm-6">
        {{$ctrl.payment.modifiedOn | date: "HH:mm"}}
      </div>
    </div>


    <div ng-if="$ctrl.payment.resentOn">
      <div class="col-sm-offset-3 col-sm-9 no-padding">
        <section-header>Payment file Resent</section-header>
      </div>
      <div class="form-group row no-gutter">
        <div class="col-sm-offset-3 col-sm-3"><label for="resent-on">Resent on:</label></div>
        <div id="resent-on" class="read-only-text col-sm-6">
          {{$ctrl.payment.resentOn | date: "dd/MM/yyyy HH:mm"}}
        </div>
      </div>
      <div class="form-group row no-gutter">
        <div class="col-sm-offset-3 col-sm-3"><label for="resent-by">Resent by:</label></div>
        <div id="resent-by"
             class="read-only-text col-sm-6">
          {{$ctrl.payment.resenderName}}
        </div>
      </div>
    </div>

    <div class="text-center" ng-if="$ctrl.resendable">
      <button class="mtop20 mbottom20 btn btn-primary btn-md"
              ng-click="$ctrl.resendPayments()">RESEND PAYMENT FILE
      </button>
    </div>



    <div class="row no-gutter history-accordion" ng-if="$ctrl.reclaims.length">
      <div class="col-sm-offset-3 col-sm-6">
        <uib-accordion>
          <div uib-accordion-group class="panel-default text-center" is-open="status.isCustomHeaderOpen">

            <uib-accordion-heading>
              Reclaim History&nbsp;
              <i id="accordion" class="glyphicon"
                 ng-class="{'glyphicon-triangle-top': status.isCustomHeaderOpen, 'glyphicon-triangle-bottom': !status.isCustomHeaderOpen}">
              </i>
            </uib-accordion-heading>

            <div class="row content reclaim-history" id="content">
              <div class="col-xs-12 no-padding">
                <div ng-repeat="p in $ctrl.reclaims">
                  <div class="text-left lighter">
                    {{ p._description }}
                  </div>
                  <hr ng-if="!$last"/>
                </div>
              </div>
            </div>
          </div>
        </uib-accordion>
      </div>
    </div>
    <div class="text-center mtop15">
      <a class="btn btn-primary btn-md"
         permission permission-only="'admin.content'"
         ng-href="/api/v1/payments/{{$ctrl.payment.id}}/xmlFile"
         ng-if="$ctrl.payment.xmlFileAvailable"
         target="_blank">DOWNLOAD</a>

      <button class="btn btn-primary btn-md"
              permission permission-only="'admin.content'"
              ng-if="!$ctrl.payment.xmlFileAvailable"
              disabled="true">DOWNLOAD
      </button>
    </div>
    <div class="col-sm-offset-3 col-sm-6" ng-if="$ctrl.paymentHistory.length">
      <section-header class="mtop40">Payment History</section-header>

      <div class="table-responsive" ng-if="$ctrl.paymentHistory.length">
        <table id="payment-history-table" class="table table-bordered table-striped-groups table-hover">
          <thead class="thead-inverse uppercase">
          <tr>
            <th>Timestamp</th>
            <th>Activity Type</th>
            <th>User Name</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in $ctrl.paymentHistory"
              ng-class="{'odd-row': $index % 2 === 1}">
            <td>{{item.activityTime | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>{{item.type}}</td>
            <td>{{item.userFullName || 'System' }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
