<div class="overrides-page page">
  <page-header header="'Overrides'">
    <ph-right>
      <button class="btn btn-primary btn-md" ng-click="$ctrl.showOverrideModal({})">
        CREATE NEW <span class="glyphicon glyphicon-plus"></span>
      </button>
    </ph-right>
  </page-header>
  <div class="table-responsive mtop20">
    <table class="overrides-table table table-hover table-bordered table-with-inputs" id="overrides-table">
      <thead class="thead-inverse uppercase">
      <tr>
        <th>Project ID</th>
        <th>Override Reason</th>
        <th>Override Type</th>
        <th>Tenure</th>
        <th>Reported Value</th>
        <th>Reported Date</th>
        <th>Overridden By</th>
        <th>Overridden On</th>
      </tr>
      </thead>

      <tbody>
      <tr class="cursor-pointer" ng-click="$ctrl.showOverrideModal(deliveryOverride)" ng-repeat="deliveryOverride in $ctrl.overrides">
        <td>P{{deliveryOverride.projectId}}</td>
        <td>{{deliveryOverride.overrideReason}}</td>
        <td>{{deliveryOverride.overrideType}}</td>
        <td>{{deliveryOverride.tenure}}</td>
        <td>{{deliveryOverride.reportedValue | number}}</td>
        <td>{{deliveryOverride.reportedDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{deliveryOverride.overriddenBy}}</td>
        <td class="delete-btn-container">
          <span>{{deliveryOverride.overriddenOn | date: 'MMM d, yyyy HH:mm'}}</span>
          <delete-button ng-click="$ctrl.delete(deliveryOverride); $event.stopPropagation();"></delete-button>
        </td>
      </tr>
      <tr ng-if="!$ctrl.overrides.length"><td colspan="8">Not provided</td></tr>
      </tbody>
    </table>
  </div>
</div>

