.all-payments {
  .date-picker{
    padding-right: 5px;
  }
  .form-control.date-input{
    height:34px;
    padding: 6px 12px;
    font-size: 14px;
    //line-height: 1.428571429;
    background-color: white;
    color: black;
    border: 1px solid #cccccc;
  }


  table{

    &.table-striped-groups > tbody > tr.odd-row {
      background-color: #EDEDED;
    }
    .extra-row {
      padding-top: 10px;
      padding-bottom: 10px;
      min-height: 50px;
      .bold {
        font-family: "Gotham-medium", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
      }
    }

    .project-name{
      word-wrap: break-word;
      max-width: 140px;
    }
  }
  .reset-column {
    padding: 0;
    .clear-filter-and-search-box {
      margin-left: 0 !important;
    }
  }

  @include when-md {
    padding-left: 15px;
    padding-right: 15px;
  }
}
