skill-profiles-table {
  .table-header-column {
    min-width: 140px;
  }

  .vertical-center {
    vertical-align: middle !important;
  }

  .date-picker.no-selection{
    width: 14px;
  }

  .calendar-spacing{
    padding-left: 5px;
  }

  .total-error{
    color: red;
  }

  .edit-mode .delete-btn-container {
    padding-right: 20px;

    delete-button {
      display: block;
    }
  }

}

