<div class="table-responsive expandableTable" id="baselines-table">
  <div ng-if="!$ctrl.tableData.length" class="empty-table">Not provided</div>
  <table ng-if="$ctrl.tableData.length" class="table table-hover table-bordered table-with-inputs">
    <thead>
    <tr class="mainHeader">
      <th ng-style="{'width': $ctrl.columnOffsets.category}">{{$ctrl.categoryName.toUpperCase()}}</th>
      <th ng-if="$ctrl.displayValue" ng-style="{'width': $ctrl.columnOffsets.value}">VALUE</th>
      <th ng-style="{'width': $ctrl.columnOffsets.baseline}">BASELINE</th>
      <th ng-style="{'width': $ctrl.columnOffsets.difference}"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="category primaryRow expandable"
        allow-enter tabindex="0"
        ng-click="categoryRow.collapsed = !categoryRow.collapsed; $ctrl.onCollapseChange(categoryRow)"
        ng-repeat-start="categoryRow in $ctrl.tableData track by categoryRow[0].config.id">
      <th ng-attr-colspan="{{$ctrl.columnCount}}">
        <toggle-icon (collapsed-change)="$ctrl.onCollapseChange(categoryRow)" [(collapsed)]="categoryRow.collapsed"></toggle-icon>
        <span>{{categoryRow[0].config.category}}</span>
      </th>
    </tr>

    <tr class="subcategory secondaryRow" ng-if="!categoryRow.collapsed" ng-repeat="subCategoryRow in categoryRow track by subCategoryRow.config.subcategory" ng-repeat-end>
      <td>{{subCategoryRow.config.subcategory}}</td>

      <td ng-if="$ctrl.displayValue">{{$ctrl.OutputsService.getUnitConfig()[subCategoryRow.config.valueType].label}}</td>

      <td class="baseline-cell">
        <span ng-if="$ctrl.readOnly">{{$ctrl.OutputsService.formatNumber(subCategoryRow.baseline, item.config.valueType) || '0'}}</span>
        <input
          aria-label="Outputs baseline cell"
          maxlength="13"
          change-on-blur="$ctrl.onRowChanged({event: {data: subCategoryRow}})"
          ng-if="!$ctrl.readOnly"
          ng-model="subCategoryRow.baseline"
          number-mask="$ctrl.OutputsService.getUnitPrecision(subCategoryRow.config.valueType)"
          type="text" >
      </td>

      <td class="delete-btn-container">
        <delete-button
          ng-click="$ctrl.onDelete({event: {data: subCategoryRow}})"
          ng-if="!$ctrl.readOnly">
        </delete-button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
