.decline-payement-dialog {
  label{
    font-family: "Gotham-medium", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  }
  .ui-select-match-text span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
