<div class="add-section-modal">

  <div class="modal-header text-center">
    <button aria-label="Close" class="close" data-dismiss="modal" ng-mousedown="$dismiss()" on-enter="$dismiss()" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>{{$ctrl.sectionModel.id ? 'EDIT' : 'ADD'}} SECTION</h1>
  </div>

  <div class="modal-body">
    <form class="mtop40" name="modalForm">
    <div class="form-group">
      <label for="section-title">Title</label>
      <input id="section-title"
             type="text"
             name="section-title"
             class="form-control"
             placeholder=""
             ng-model="$ctrl.sectionModel.title"
             required/>
    </div>

    <div class="form-group">
      <label for="section-comments-requirement">Comment type</label>
      <select class="form-control"
              id="section-comments-requirement"
              name="section-comments-requirement"
              ng-model="$ctrl.sectionModel.commentsRequirement"
              ng-options="status.value as status.label for status in $ctrl.commentsRequirements"
              required
              style-placeholder="">
        <option disabled value="">Comment type</option>
      </select>
    </div>

    <div class="form-group">
      <label for="displayOrder">Display Order</label>
      <input id="displayOrder"
             type="text"
             class="form-control"
             number-mask="2"
             placeholder="Display Order"
             ng-model="$ctrl.sectionModel.displayOrder"
             ng-keyup="$ctrl.validateDisplayOrder($ctrl.sectionModel.displayOrder)"
             maxlength="9"/>
      <div class="error-wrapper" ng-if="modalForm.sectionModel.displayOrder.$touched || $ctrl.isDuplicateDisplayOrder" role="alert">
        <span class="error" id="duplicate-display-order">Duplicate display order</span>
      </div>
    </div>

    </form>
  </div>

  <div class="modal-footer">
    <div class="row mbottom10">
      <div class="col-xs-12 text-center">
        <button class="btn btn-primary" ng-click="$ctrl.addSection()"
                ng-disabled="!$ctrl.sectionModel.title || !$ctrl.sectionModel.commentsRequirement || $ctrl.isDuplicateDisplayOrder">
          {{$ctrl.sectionModel.id ? 'SAVE' : 'ADD'}}
        </button>
        <button class="btn btn-secondary" ng-click="$close()">CLOSE</button>
      </div>
    </div>
  </div>
</div>
