<div class="project-grant indicative-grant">
  <div class="text-center">
    <gla-project-header (on-back)="$ctrl.back()" [editable-block]="$ctrl">{{$ctrl.projectBlock.blockDisplayName}}</gla-project-header>
  </div>

  <gla-spinner ng-if="!$ctrl.data && $ctrl.loading"></gla-spinner>
  <div ng-if="$ctrl.data">

    <section-header class="table-title" subheader="Column totals are updated every time you change a value in the table">{{$ctrl.title}}</section-header>
    <grant-table data="$ctrl.data"
                 other-affordable-tenure-types="$ctrl.otherAffordableTenureTypes"
                 show-other-affordable-question ="$ctrl.showOtherAffordableQuestion"
                 is-readonly="$ctrl.readOnly"
                 on-tenure-change="$ctrl.saveTenure(true)">
    </grant-table>

    <div style="position: relative;">
      <div ng-repeat="tenure in $ctrl.tenureSummaryDetailsRows track by tenure.name">
        <div class="grant-block-title">{{tenure.name}}</div>
        <div class="grant">
          <div class="row">
            <ul class="tiles-list">
              <li class="grant-column"
                  ng-class="'col-xs-{{$ctrl.tilesPerRow > 4? 3 : 12/$ctrl.tilesPerRow}}'"
                  ng-repeat="grant in tenure.grantBlocks track by grant.name">
                <gla-tile class="centered" [items]="grant.items">{{ grant.name }}</gla-tile>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <total-grant total="$ctrl.data.totalGrantEligibility"></total-grant>
      <gla-loading-mask ng-if="$ctrl.loading" text=""></gla-loading-mask>
    </div>

    <project-block-footer editable-block="$ctrl"></project-block-footer>
  </div>
</div>
