<div class="project-grant indicative-grant">
  <div class="text-center">
    <gla-project-header (on-back)="$ctrl.back()" [editable-block]="$ctrl">{{$ctrl.projectBlock.blockDisplayName}}</gla-project-header>
  </div>

  <gla-spinner ng-if="!$ctrl.data && $ctrl.loading"></gla-spinner>
  <div ng-if="$ctrl.data">

    <div class="row table-title">
      {{$ctrl.title}}
    </div>
    <grant-table data="$ctrl.data" is-readonly="$ctrl.readOnly" on-tenure-change="$ctrl.saveTenure(true)">
    </grant-table>

    <div style="position: relative;">
      <div ng-repeat="tenure in $ctrl.tenureSummaryDetailsRows track by tenure.name">
        <div class="grant-block-title">{{tenure.name}}</div>
        <div class="grant">
          <div class="row">
            <ul class="tiles-list">
              <li class="grant-column"
                  ng-class="'col-xs-{{$ctrl.tilesPerRow > 4? 3 : 12/$ctrl.tilesPerRow}}'"
                  ng-repeat="grant in tenure.grantBlocks track by grant.name">
                <tile class="centered" items="grant.items">{{ grant.name }}</tile>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <total-grant total="$ctrl.data.totalGrantEligibility"></total-grant>
      <loading-mask ng-if="$ctrl.loading" text=""></loading-mask>
    </div>

    <project-block-footer editable-block="$ctrl"></project-block-footer>
  </div>
</div>
