.project-grant.indicative-grant{
  .table-title{
    font-family: $font-family-bolder;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .grant-block-title{
    margin-bottom: 0px;
    margin-top: 10px;
  }

  grant-table {
    display: block;
    margin-bottom: 40px;
  }
}
