@import "variables";
.dateInput {
    display: inline-block;
    border: 1px solid $form-field-inactive;
    &.focused{
      border: 1px solid $form-field-focus-border;
    }
    background-color: white;
    width: auto;
    height: auto;
    text-align: left;
    box-sizing: border-box;
    min-width: 140px;
  
    input {
      width: 1.5rem;
      border: none;
      text-align: center;
      background: transparent;
      box-sizing: content-box;
      float: left;
  
      &:focus {
        outline: none;
      }
  
      &.dateInput__year {
        width: 2.3rem;
        text-align: left;
      }
    }
  
    .dateInput__divider {
      margin: 0 0.3rem 0 0.3rem;
      float: left;
      box-sizing: border-box;
    }
  
    &.disabled {
      background-color: #f7f7f7;
      cursor: not-allowed !important;
  
      & input {
        cursor: not-allowed !important;
      }
    }
  }
  
  gla-date-input{
    &.invalid, &.invalid-date {
      &, > input {
        color: $red;
  
        .dateInput {
          color: $red
        }
  
        &:focus {
          background-color: #ffffff;
        }
      }
    }
  }

  .invalid {
    color: $red;
  }
  