<div class="row registration">
  <page-header>Register to create your account</page-header>


  <div class="col-xs-12 form-top-error">
    <p class="error" ng-if="$ctrl.errors">Sorry, we were unable to complete your registration. Please check your details and try again.</p>
  </div>

  <div class="col-xs-12 col-ms-10 col-sm-8 col-md-7 center-col">
    <user-registration-form
      on-form-validity-change="$ctrl.onFormValidityChange($event)"
      show-org-lookup="true"
      errors="$ctrl.errors">
    </user-registration-form>

    <div class="text-center mtop30 mbottom30">
      <button ng-disabled="!$ctrl.isFormValid" class="btn btn-primary" ng-click="$ctrl.submit()" tabindex="2">REGISTER</button>
    </div>
    <div class="mbottom30 text-center">
      <a  ui-sref="home" class="pageLink" id="logonLink" tabindex="2">Already have an account? Log in here</a>
    </div>
  </div>
</div>
