<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <logger name="org" level="WARN"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="com.jcraft.jsch" level="WARN" />
    <logger name="springfox.documentation.spring.web.readers.operation.CachingOperationNameGenerator" level="WARN" />

    <springProfile name="local">
        <logger name="uk.gov.london.ops" level="DEBUG"/>
        <logger name="springfox.documentation.spring.web.readers.operation.CachingOperationNameGenerator" level="WARN" />

        <appender name="CONSOLE_LOGGER" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(-%5p) %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE_LOGGER" />
        </root>
    </springProfile>

    <springProfile name="!local">
        <logger name="uk.gov.london.ops" level="INFO"/>

        <logger name="com.jcraft.jsch" level="WARN" />
        <logger name="springfox.documentation.spring.web.readers.operation.CachingOperationNameGenerator" level="WARN" />

        <appender name="FILE_LOGGER" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} -%5level --- [%t] %-40.40logger{39} : %m%n%rEx{0}</pattern>
            </encoder>
            <file>/var/log/tomcat8/gla-ops.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <fileNamePattern>/var/log/tomcat8/gla-ops.log.%i</fileNamePattern>
            </rollingPolicy>
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <MaxFileSize>10MB</MaxFileSize>
            </triggeringPolicy>
        </appender>

        <appender name="EXCEPTION_FILE_LOGGER" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} -%5level --- [%t] %-40.40logger{39} : %m%n%rEx</pattern>
            </encoder>
            <file>/var/log/tomcat8/gla-ops-errors.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <fileNamePattern>/var/log/tomcat8/gla-ops-errors.log.%i</fileNamePattern>
            </rollingPolicy>
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <MaxFileSize>10MB</MaxFileSize>
            </triggeringPolicy>
        </appender>

        <root level="INFO">
            <appender-ref ref="FILE_LOGGER" />
            <appender-ref ref="EXCEPTION_FILE_LOGGER" />
        </root>
    </springProfile>

</configuration>
