<div class="abandon-modal">
  <div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-mousedown="$dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <h1>{{$ctrl.modal.title}}</h1>
  </div>
  <div class="modal-body text-left">
    <form
      id="abandonForm"
      role="form"
      name="abandonForm"
      class="form-group"
      ng-if="$ctrl.modal.actionBtnName">
        <label for="reason">{{$ctrl.modal.label}}</label>
        <div ng-if="$ctrl.modal.warning" class="error mbottom5">{{$ctrl.modal.warning}}</div>
        <textarea id="reason"
           rows="5"
           ng-attr-placeholder="{{$ctrl.modal.placeholder}}"
           name="action"
           ng-disabled="$ctrl.readOnly"
           class="form-control"
           ng-model="$ctrl.dataBlock.reason"
           required
           maxlength="200">
        </textarea>
    </form>
    <div ng-if="$ctrl.modal.hintMessage" class="text-center">{{$ctrl.modal.hintMessage}}</div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-12 text-center mbottom15">
        <button
          id="abandon-btn"
          ng-if="$ctrl.modal.actionBtnName"
          class="btn btn-default btn-primary btn-center"
          type="button"
          ng-click="$ctrl.action()"
          ng-disabled="!$ctrl.dataBlock.reason && $ctrl.modal.commentRequired">{{$ctrl.modal.actionBtnName}}</button>


        <button
          id="cancel-btn"
          class="btn btn-default btn-primary btn-center"
          type="button"
          ng-click="$dismiss()">{{$ctrl.modal.actionBtnName ? 'CANCEL' : 'CLOSE'}}</button>
      </div>
    </div>
  </div>
</div>
