@import "mixins";

gla-multi-panel {
  .multi-panel {
    .column {
      background-color: white;
      padding: 0;
      &:not(:last-child){
        border-right: none;
        border-bottom: 1px solid $alto-light;
        padding-bottom: 20px;
        margin-bottom: 30px;
      }
    }

    .section {
      padding-top: 5px;
      &:not(:last-child) {
        border-bottom: 1px solid $alto-light;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }

      .section-header {
        font-size: 20px;
        margin-bottom: 20px;
      }

      .field-label, .field-value {
        text-align: left;
        font-size: 14px;
        line-height: 1.25;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .field-label {
        text-align: left;
        font-family: $font-family-default;
        font-weight: bold;
        color: $primary-text;
        padding-right: 5px;
      }
    }

    @include when-sm {
      display: flex;
      justify-content: space-between;
      .column {
        width: 50%;
        padding-left: 20px;
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;

        &:first-child{
          padding-left: 0;
          padding-right: 20px;
        }

        &:not(:last-child){
          border-right: 1px solid $alto-light;
          border-bottom: none;
        }
      }
    }
  }

  .full-page-section{
    width: 100%;

    @include when-sm {
      .field-value{
        padding-left: 20px;
      }
    }
  }

  mp-field{
    display: block;
  }
}
