.project-risks-block {

  width: 90%;
  margin: auto;
  table {
    td {
      background-color: $primary-white;
    }
  }
  .risk-green {
    color: limegreen;
  }

  .risk-amber {
    color: orange;
  }

  .risk-red {
    color: red;
  }

  .risk-color {
    font-size: 16px;
    font-weight: bold;
  }

  .severity-Significant {
    font-weight: bold;
    color: rgb(228, 64, 64);
    //color: #f3172d;
  }
  .severity-Moderate {
    font-weight: bold;
    color: rgb(216, 154, 74);
    //color: #ff7d3d;
  }
  .severity-Low {
    color: rgb(85, 128, 177);
    font-weight: bold;

    //color: #FFD24C;
  }
  .severity-n-a {
    font-weight: bold;
  }
  .impact-level-green {
    color: limegreen;
  }
  .impact-level-amber {
    color: orange;
  }
  .impact-level-red {
    color: red;
  }
  .secondaryRow {
    .secondaryCell{
      padding: 0;
    }
  }
  .section__subheader{
    margin: 10px 0;
  }
  td.break-word {
    word-break: break-word;
  }
  td.pre-line {
    white-space: pre-line;
  }
  .secondary-table {

    box-shadow: none;
    thead {
      background-color: $table-sub-header;
    }
    tr {
      td {
        border: 0;
      }
    }
    td {
      background-color: #fff;
    }
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
  }
  .add-mitigation {
    background-color: #fff;
    padding: 5px 15px;
    border: 0;
  }
  .glyphicon {
      &.glyphicon-triangle-top,&.glyphicon-triangle-bottom{
        font-size: 19px;
      }
  }
  tr.primary-row{
    cursor: pointer;
  }
  tr .expandable{
    cursor: pointer;
  }

  .section-control{
    margin-bottom: 10px;
    font-size: 0.875rem;
    label{
      font-family: $font-family-bolder;
      user-select: none;
      text-wrap: none;
    }
  }

  @include when-sm {
    .section-control {
      margin-top: 51px;
    }
  }
}
.risk-issue-modal{
  form .group-field{
    margin-top: 0px;
    margin-bottom: 10px;
  }
  textarea, .title {
    margin-bottom: 10px;
  }
}
