<div class="claim-milestone-modal">

  <div class="modal-header text-center">
    <button aria-label="Close" class="close" data-dismiss="modal" ng-mousedown="$dismiss()" on-enter="$dismiss()" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>CLAIM{{$ctrl.isPending ?'':'ED'}} MILESTONE</h1>
    <div>{{$ctrl.milestone.summary}}</div>
  </div>

  <div class="modal-body text-left">
    <form
      id="claimMilestoneForm"
      role="form"
      name="claimMilestoneForm">

      <div class="row mtop5" ng-if="$ctrl.isPercentageMilestone">
        <div class="mbottom10">{{$ctrl.milestone.monetarySplit}}% of the project's {{$ctrl.grantName }} claimed with this milestone</div>
        <div class="text-left mbottom10 mtop5 rounding-message">Payments are rounded so minor adjustments may occur to account for any remaining balance</div>
        <div class="text-center monetary-title">{{$ctrl.monetarySplitTitle || ""}} Grant Total:</div>
        <div class="text-center monetary-amount bold">£{{$ctrl.claimableGrant | number:0}}</div>
      </div>



      <div ng-if="$ctrl.isClaimed">
        <div class="row mtop10" ng-if="!$ctrl.claimableGrant && !$ctrl.milestone.claimedRcgf && !$ctrl.milestone.claimedDpf && !$ctrl.milestone.claimedGrant">
          No grant has been claimed with this milestone.
        </div>
        <span ng-if="$ctrl.milestone.claimedRcgf || $ctrl.milestone.claimedDpf || $ctrl.milestone.claimedGrant">
          <div class="row mtop5 mbottom15">
            Funding from grant sources at this milestone
          </div>
          <div class="bold mbottom15" ng-if="$ctrl.milestone.claimedGrant">
            Grant: &pound;{{$ctrl.milestone.claimedGrant | number}}
          </div>
          <div class="bold mbottom15" ng-if="$ctrl.milestone.claimedRcgf">
            RCGF: &pound;{{$ctrl.milestone.claimedRcgf | number}}
          </div>
          <div class="bold mbottom15" ng-if="$ctrl.milestone.claimedDpf">
            DPF: &pound;{{$ctrl.milestone.claimedDpf | number}}
          </div>
        </span>
      </div>

      <div class="" ng-if="$ctrl.isPending">

        <div class="row" ng-if="$ctrl.isNonPercMonetaryMilestone">
          <div class="bold mbottom5" ng-if="$ctrl.milestone.monetaryValue">Total forecast: {{$ctrl.milestone.monetaryValue | currency:'£':0}}</div>
          <div class="bold mbottom5">Grant</div>
          <div class="mbottom5">Total unclaimed grant available: <span class="bold">&pound;{{$ctrl.maxClaims.Grant | number}}</span></div>
          <div class="mbottom5 row">
            <div class="col-xs-6 bold">
              Grant payment amount £
            </div>
            <div class="col-xs-6">
              <input type="text"
                id="grant-input"
                class="form-control grant-input"
                aria-label="grant-input"
                maxlength="13"
                name="claimedGrant"
                ng-model="$ctrl.claimedGrant"
                number-mask="0"
                max="$ctrl.maxClaims.Grant">
            </div>
          </div>
          <div role="alert" ng-show="claimMilestoneForm.claimedGrant.$error.max">
            <span class="error" ng-if="claimMilestoneForm.claimedGrant.$error.max">Payment amount cannot exceed total unclaimed Grant</span>
          </div>
        </div>

        <div class="row mtop5 mbottom15" ng-if="$ctrl.isNonMonetaryMilestone">
          Are you applying any funding from other grant sources at this milestone?
        </div>
        <div class="row" ng-if="$ctrl.maxClaims.RCGF">
          <div class="bold mbottom5">RCGF</div>
          <div class="mbottom5">Total unclaimed RCGF: <span class="bold">&pound;{{$ctrl.maxClaims.RCGF | number}}</span></div>
          <div class="mbottom5 row">
            <div class="col-xs-6 bold">
              RCGF payment amount £
            </div>
            <div class="col-xs-6">
              <input type="text"
                id="rcgf-input"
                class="form-control rcgf-input"
                aria-label="rcgf-input"
                maxlength="13"
                name="claimedRcgf"
                ng-model="$ctrl.claimedRcgf"
                number-mask="0"
                max="$ctrl.maxClaims.RCGF">
            </div>
          </div>
          <div role="alert" ng-show="claimMilestoneForm.claimedRcgf.$error.max">
            <span class="error" ng-if="claimMilestoneForm.claimedRcgf.$error.max">Payment amount cannot exceed total unclaimed RCGF</span>
          </div>
        </div>

        <div class="row mtop5 mbottom15" ng-if="$ctrl.maxClaims.DPF">
          <div class="bold mbottom5">DPF</div>
          <div class="mbottom5">Total unclaimed DPF: <span class="bold">&pound;{{$ctrl.maxClaims.DPF | number}}</span></div>
          <div class="mbottom5 row">
            <div class="col-xs-6 bold">
              DPF payment amount £
            </div>
            <div class="col-xs-6">
              <input type="text"
                id="dpf-input"
                class="form-control dpf-input"
                aria-label="dpf-input"
                maxlength="13"
                name="claimedDpf"
                ng-model="$ctrl.claimedDpf"
                number-mask="0"
                max="$ctrl.maxClaims.DPF"
                >
            </div>
          </div>
          <div role="alert" ng-show="claimMilestoneForm.claimedDpf.$error.max">
            <span class="error" ng-if="claimMilestoneForm.claimedDpf.$error.max">Payment amount cannot exceed total unclaimed DPF</span>
          </div>

        </div>
      </div>
      <div class="row mtop10">
        <span ng-if="$ctrl.isClaimed">Milestone claims must be cancelled before the milestone can be edited.</span>

        <span ng-if="$ctrl.isPending && !($ctrl.isNonMonetaryMilestone || $ctrl.isPercentageMilestone || $ctrl.isNonPercMonetaryMilestone)">By claiming the milestone you are confirming the milestone has been completed.</span>

        <span ng-if="$ctrl.isPending && ($ctrl.isNonMonetaryMilestone || $ctrl.isPercentageMilestone || $ctrl.isNonPercMonetaryMilestone)">By claiming the milestone you are confirming the milestone has been completed. Claimed payments will display in the Payments section of GLA OPS once the project changes have been approved.</span>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <div class="row" ng-if="$ctrl.canClaim">
      <div class="col-xs-12 text-center mbottom15">
        <button
          id="claim-btn"
          class="btn btn-default btn-primary btn-center claim-btn"
          type="button"
          ng-click="$ctrl.claim($ctrl.milestone)"
          ng-disabled="!claimMilestoneForm.$valid">CLAIM MILESTONE</button>
      </div>
    </div>
    <div class="row" ng-if="$ctrl.canCancel">
      <div class="col-xs-12 text-center mtop15 mbottom15">
        <button
          id="cancel-btn"
          class="btn btn-default btn-primary btn-center cancel-btn"
          type="button"
          ng-click="$ctrl.cancelClaim($ctrl.milestone)">CANCEL CLAIM</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center mbottom15 no-border">
        <a class="form-cancel dismiss-btn" href="JavaScript:void(0)" ng-mousedown="$dismiss()" on-enter="$dismiss()">Close</a>
      </div>
    </div>
  </div>
</div>
