.project-units-block {
  .table-bordered.table-with-inputs > tbody > tr > td {
    border: 1px solid #ddd;
    padding: 0;
    &.display-cell {
      padding: 9px;
    }
  }

  .units-by-nb-people {
    th, td {
      width: 10%;
    }
  }

  .glyphicon-exclamation-sign{
    color: $red;
  }
}
