<div class="project-units-block">
  <div class="row text-center">
    <gla-project-header (on-back)="$ctrl.back()" [editable-block]="$ctrl">{{$ctrl.projectBlock.blockDisplayName}}</gla-project-header>
  </div>
  <gla-spinner ng-if="$ctrl.loading"></gla-spinner>
  <form class="form-gla" name="unitsForm" name="units" ng-if="!$ctrl.loading">
    <section-header subheader="Total Units reflects the number of units already on the project; these must match the number of Profiled Units detailed in this block.">Summary of Units by Tenure on the Project</section-header>
    <div class="row mTop30" vertilize-container>
      <div class="grant">
        <ul class="tiles-list">
          <li class="col-xs-3 grant-column" ng-repeat="grant in $ctrl.summaryTiles track by grant.name">
            <tile class="centered" hlevel="4" items="grant.items">
              <div vertilize>{{ grant.name }}</div>
            </tile>
          </li>
        </ul>
      </div>
    </div>
    <div class="row summary-tenures-units-error">
      <div class="col-xs-12 mtop15 text-center" ng-if="$ctrl.blockData.validationFailures && $ctrl.blockData.validationFailures.ProfiledUnits">
        <div class="error-wrapper error">
          {{$ctrl.blockData.validationFailures.ProfiledUnits[0].description}}
        </div>
      </div>
    </div>
    <hr class="mtop40 mbottom0">

    <div ng-if="$ctrl.showRentUnits" class="row mTop30 rent-units" vertilize-container>
      <section-header subheader="Add profiled unit information for all rent products">Enter Details of Rental Units</section-header>
      <profiled-unit-wizard
        ng-if="!$ctrl.readOnly"
        class="mtop15"
        config="$ctrl.unitsMetadata"
        show-market-types="$ctrl.showRentMarketTypes"
        on-add="$ctrl.addUnit($event)"></profiled-unit-wizard>
      <profiled-unit-table
        units="$ctrl.filteredRentUnits"
        show-market-types="$ctrl.showRentMarketTypes"
        has-legacy-rent="$ctrl.hasLegacyRent"
        read-only="$ctrl.readOnly"
        on-edit="$ctrl.editUnit(event)"
        on-delete="$ctrl.deleteUnit(event)"
        class="mtop15"></profiled-unit-table>
      <hr class="mtop40 mbottom0">
    </div>
    <div ng-if="$ctrl.showSalesUnits" class="row mTop30 sales-units" vertilize-container>
      <section-header subheader="Add profiled unit information for all sales products">Enter Details of Sales Units</section-header>
      <profiled-unit-wizard
        ng-if="!$ctrl.readOnly"
        class="mtop15"
        show-market-types="$ctrl.showSalesMarketTypes"
        config="$ctrl.unitsMetadata"
        on-add="$ctrl.addUnit($event)"
        wizard-type="Sales"></profiled-unit-wizard>
      <profiled-unit-table
        units="$ctrl.filteredSalesUnits"
        show-market-types="$ctrl.showSalesMarketTypes"
        has-discounted-rate="!$ctrl.hiddenSalesColumns.discountOffMarketValue"
        has-legacy-sales="!$ctrl.hiddenSalesColumns.netWeeklyRent"
        class="mtop15"
        read-only="$ctrl.readOnly"
        on-edit="$ctrl.editUnit(event)"
        on-delete="$ctrl.deleteUnit(event)"
        wizard-type="Sales"></profiled-unit-table>
      <hr class="mtop40 mbottom0">
    </div>
    <div class="row mTop30 build-type-block" vertilize-container>
      <section-header subheader="">Project Unit Details</section-header>
      <section-header subheader="The total build type split must match the total of {{$ctrl.blockData.totalUnits}} units in the project">Build Type</section-header>
      <table id="unit-build-type-table" class="table table-hover table-bordered table-with-inputs">
        <thead class="thead-inverse uppercase">
        <tr>
          <th>BUILD TYPE</th>
          <th>NEW BUILD</th>
          <th>REFURBISHED</th>
          <th>TOTAL</th>
        </tr>
        </thead>
        <tbody>
          <td style="width:25%" class="display-cell">
            UNITS
          </td>
          <td style="width:25%" ng-if="!$ctrl.readOnly">
            <input
                   id="new-build-units"
                   class="form-control new-build-units"
                   aria-label="new-build-units"
                   type="text"
                   name="newBuildUnits"
                   ng-model="$ctrl.blockData.newBuildUnits"
                   numbers-only
                   maxlength="9"
                   aria-label="New build units"
                   change-on-blur="$ctrl.autoSave()">
          </td>
          <td style="width:25%" ng-if="$ctrl.readOnly" class="display-cell">
            <div>{{$ctrl.blockData.newBuildUnits}}</div>
          </td>

          <td style="width:25%" ng-if="!$ctrl.readOnly">
            <input
                   id="refurbished-units"
                   class="form-control refurbished-units"
                   aria-label="refurbished-units"
                   type="text"
                   name="refurbishedUnits"
                   ng-model="$ctrl.blockData.refurbishedUnits"
                   numbers-only
                   maxlength="9"
                   aria-label="Refurbished units"
                   change-on-blur="$ctrl.autoSave()">
          </td>
          <td style="width:25%" ng-if="$ctrl.readOnly" class="display-cell">
            <div>{{$ctrl.blockData.refurbishedUnits}}</div>
          </td>
          <td style="width:25%" class="display-cell">
            {{(($ctrl.blockData.newBuildUnits || 0) * 1) + (($ctrl.blockData.refurbishedUnits || 0)  * 1)}}
          </td>
        </tbody>
      </table>
      <hr class="mtop40 mbottom0">

      <div class="row build-type-error">
        <div class="col-xs-12 mtop15 text-center" ng-if="$ctrl.blockData.validationFailures && $ctrl.blockData.validationFailures.BuildType">
          <div class="error-wrapper error">
            {{$ctrl.blockData.validationFailures.BuildType[0].description}}
          </div>
        </div>
      </div>

      <section-header subheader="Detail how many people each unit is designed to accommodate, total must match the {{$ctrl.blockData.totalUnits}} units in the project.">Units by Number of People</section-header>
      <table class="table table-hover table-bordered table-with-inputs units-by-nb-people">
        <thead class="thead-inverse uppercase">
        <tr>
          <th>PEOPLE</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
          <th>7</th>
          <th>8+</th>
          <th>TOTAL</th>
        </tr>
        </thead>
        <tbody>
          <td class="display-cell">
            UNITS
          </td>
          <td ng-if="!$ctrl.readOnly">
            <input class="" type="text" name="type1Units" ng-model="$ctrl.blockData.type1Units" numbers-only maxlength="9" aria-label="Units for 1 person" change-on-blur="$ctrl.autoSave()">
          </td>
          <td ng-if="$ctrl.readOnly" class="display-cell">
            <div>{{$ctrl.blockData.type1Units}}</div>
          </td>

          <td ng-if="!$ctrl.readOnly">
            <input class="" type="text" name="type2Units" ng-model="$ctrl.blockData.type2Units" numbers-only maxlength="9" aria-label="Units for 2 people" change-on-blur="$ctrl.autoSave()">
          </td>
          <td ng-if="$ctrl.readOnly" class="display-cell">
            <div>{{$ctrl.blockData.type2Units}}</div>
          </td>

          <td ng-if="!$ctrl.readOnly">
            <input class="" type="text" name="type3Units" ng-model="$ctrl.blockData.type3Units" numbers-only maxlength="9" aria-label="Units for 3 people" change-on-blur="$ctrl.autoSave()">
          </td>
          <td ng-if="$ctrl.readOnly" class="display-cell">
            <div>{{$ctrl.blockData.type3Units}}</div>
          </td>

          <td ng-if="!$ctrl.readOnly">
            <input class="" type="text" name="type4Units" ng-model="$ctrl.blockData.type4Units" numbers-only maxlength="9" aria-label="Units for 4 people" change-on-blur="$ctrl.autoSave()">
          </td>
          <td ng-if="$ctrl.readOnly" class="display-cell">
            <div>{{$ctrl.blockData.type4Units}}</div>
          </td>

          <td ng-if="!$ctrl.readOnly">
            <input class="" type="text" name="type5Units" ng-model="$ctrl.blockData.type5Units" numbers-only maxlength="9" aria-label="Units for 5 people" change-on-blur="$ctrl.autoSave()">
          </td>
          <td ng-if="$ctrl.readOnly" class="display-cell">
            <div>{{$ctrl.blockData.type5Units}}</div>
          </td>

          <td ng-if="!$ctrl.readOnly">
            <input class="" type="text" name="type6Units" ng-model="$ctrl.blockData.type6Units" numbers-only maxlength="9" aria-label="Units for 6 people" change-on-blur="$ctrl.autoSave()">
          </td>
          <td ng-if="$ctrl.readOnly" class="display-cell">
            <div>{{$ctrl.blockData.type6Units}}</div>
          </td>

          <td ng-if="!$ctrl.readOnly">
            <input class="" type="text" name="type7Units" ng-model="$ctrl.blockData.type7Units" numbers-only maxlength="9" aria-label="Units for 7 people" change-on-blur="$ctrl.autoSave()">
          </td>
          <td ng-if="$ctrl.readOnly" class="display-cell">
            <div>{{$ctrl.blockData.type7Units}}</div>
          </td>

          <td ng-if="!$ctrl.readOnly">
            <input class="" type="text" name="type8Units" ng-model="$ctrl.blockData.type8Units" numbers-only maxlength="9" aria-label="Units for 8+ people" change-on-blur="$ctrl.autoSave()">
          </td>
          <td ng-if="$ctrl.readOnly" class="display-cell">
            <div>{{$ctrl.blockData.type8Units}}</div>
          </td>

          <td class="display-cell">
            {{ $ctrl.sumUnitsByNumberOfPeople() }}
          </td>
        </tbody>
      </table>



      <div class="row">
        <div class="col-xs-12 mtop15 text-center" ng-if="$ctrl.blockData.validationFailures && $ctrl.blockData.validationFailures.UnitsByNumberOfPeople">
          <div class="error-wrapper error">
            {{$ctrl.blockData.validationFailures.UnitsByNumberOfPeople[0].description}}
          </div>
        </div>
      </div>
      <hr class="mtop40 mbottom0">

      <section-header subheader="In total (including any specialised units) how many units are either wheelchair accessible or wheelchair adaptable?"><label for="wheelchair-units">Number of Wheelchair Units</label></section-header>
      <div class="no-padding col-xs-3">
        <input class="form-control" id="wheelchair-units" name="nbWheelchairUnits" ng-model="$ctrl.blockData.nbWheelchairUnits" numbers-only type="text"
               maxlength="9" aria-label="Number of wheelchair units" change-on-blur="$ctrl.autoSave()" ng-disabled="$ctrl.readOnly">
      </div>
      <div class="row wheel-chair-units-error">
        <div class="col-xs-12 mtop15 text-center" ng-if="$ctrl.blockData.validationFailures && $ctrl.blockData.validationFailures.WheelChairUnits">
          <div class="error-wrapper error">
            {{$ctrl.blockData.validationFailures.WheelChairUnits[0].description}}
          </div>
        </div>
      </div>
      <hr class="mtop40 mbottom0">

      <section-header subheader="Input the total gross internal area in sqm for all units in the project, excluding communal areas e.g. lifts."><label for="gross-iternal-area">Gross Internal Area</label></section-header>
      <div class="no-padding col-xs-3">
        <input class="form-control" id="gross-iternal-area" name="grossInternalArea" ng-model="$ctrl.blockData.grossInternalArea" numbers-only type="text"
               maxlength="9" aria-label="Gross internal area" change-on-blur="$ctrl.autoSave()" ng-disabled="$ctrl.readOnly">
      </div>
      <div class="row gross-internal-area-error">
        <div class="col-xs-12 mtop15 text-center" ng-if="$ctrl.blockData.validationFailures && $ctrl.blockData.validationFailures.GrossInternalArea">
          <div class="error-wrapper error">
            {{$ctrl.blockData.validationFailures.GrossInternalArea[0].description}}
          </div>
        </div>
      </div>
      <hr class="mtop40 mbottom0">
    </div>
  </form>
  <project-block-footer editable-block="$ctrl"></project-block-footer>
</div>
