<div class="row requestPasswordReset text-center">
  <page-header>Reset your password</page-header>


  <div ng-show="$ctrl.isRequestSuccess === false">
    <div class="col-xs-12 mtop15">
      <span class="error">{{$ctrl.showReasonError}}</span>
    </div>

    <div class="col-xs-12 col-ms-8 col-sm-6 col-md-4 col-ms-offset-2 col-sm-offset-3 col-md-offset-4">
      <form class="form-gla" role="form" name="reqResetForm">

        <div class="form-group mtop30">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" id="email"
                 ng-model="formData.email"
                 placeholder="Enter your organisation email address"
                 ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required autofocus/>
          <div class="error-wrapper" role="alert" ng-show="reqResetForm.$submitted || reqResetForm.email.$touched">
            <span class="error" ng-show="reqResetForm.email.$error.required">Enter your email address</span>
            <span class="error" ng-show="reqResetForm.email.$error.pattern || reqResetForm.email.$error.email">Check your email</span>
          </div>
        </div>

        <div class="mtop30 text-center">
          <button class="btn btn-primary mtop20"
                  ng-disabled="
                reqResetForm.email.$error.required ||
                !reqResetForm.email.$valid"
                  ng-click="$ctrl.onSubmit()">RESET PASSWORD
          </button>
        </div>

        <div class="mtop15">
          <a href class="form-cancel" ng-click="$ctrl.onCancel()">Back to login</a>
        </div>

      </form>
    </div>
  </div>

  <div ng-show="$ctrl.isRequestSuccess === true">
    <div class="col-xs-12 mtop30 text-center">
      <p>A link to reset your password has been sent to {{formData.email}}.</p>
      <p>If you haven’t received the email check your spam folder and that the email address matches the one you supplied during registration.</p>
    </div>
  </div>

</div>
