template-block-questions {
  display: block;

  primary-row{
    cursor: pointer;
    font-size: 0.8rem;
    background-color: $primary-white;
    td {
      border-top: 2px solid darken($table-border, 10%);
    }
  }
  .section-id{
    font-family:$font-family-light
  }
  .expandableTable table .primaryRow th delete-button i  {
      margin: 0;
      font-size: unset;
      color: unset;
    }

  tr.secondary-row td {
    border: 0;
    margin: 0 !important;
    font-size: 8px !important;
    background-color: #777777;
  }

  table {
    td {
      &.display-order {
        width: 10%;
      }

      &.id {
        width: 10%;
      }

      &.text {
        width: 45%;
        min-width: 150px
      }

      &.answer-type {
        width: 10%;
        min-width: 117px;
      }

      &.requirement {
        width: 10%;
      }

      &.parent {
        width: 15%;
      }

      &.up-down-button {
        width: 10%;
      }

    }

    .secondaryRow{
      td[colspan]{
        padding: .6rem .6rem .6rem .8rem;
      }
    }
  }
}
