<div class="page audit-history-page">
<page-header on-back="$ctrl.back()" header="'Audit History'"></page-header>


  <well class="row search-container mbottom20">

    <div class="col-xs-12 col-md-5 search-column">
      <div class="text-align-left">Search</div>
      <search-field on-clear="$ctrl.clearSearchText()"
                    on-search="$ctrl.search()"
                    on-select="$ctrl.select($ctrl.selectedSearchOption)"
                    options="$ctrl.searchOptions"
                    reset="$ctrl.resetSearch"
                    search-text="$ctrl.searchText"
                    selected-option="$ctrl.selectedSearchOption"></search-field>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 no-padding">
      <div class="col-xs-12">
        <div class="text-align-left">Audit date range</div>
      </div>
      <div class="">
        <div class="col-xs-6 date-picker">
          <span class="input-group">
            <input aria-label="From Date"
                   class="form-control date-input"
                   close-text="Close"
                   datepicker-options="$ctrl.fromDateOptions"
                   is-open="fromDateOpened"
                   name="fromDate"
                   ng-change="$ctrl.changeFromFilterDates($ctrl.fromDate)"
                   ng-click="fromDateOpened = !fromDateOpened"
                   ng-model="$ctrl.fromDate"
                   ng-required="false"
                   placeholder="From date" show-button-bar="false"
                   type="text"
                   uib-datepicker-popup="{{$ctrl.dateFormat}}"
            />
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="fromDateOpened = !fromDateOpened" type="button"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </span>
        </div>
        <div class="col-xs-6 date-picker">
          <span class="input-group">
            <input aria-label="To Date"
                   class="form-control date-input"
                   close-text="Close"
                   datepicker-options="$ctrl.toDateOptions"
                   is-open="toDateOpened"
                   name="toDate"
                   ng-change="$ctrl.changeToFilterDates($ctrl.toDate)"
                   ng-click="toDateOpened = !toDateOpened"
                   ng-model="$ctrl.toDate"
                   ng-required="true"
                   placeholder="To date" show-button-bar="false"
                   type="text"
                   uib-datepicker-popup="{{$ctrl.dateFormat}}"
            />
            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="toDateOpened = !toDateOpened" type="button"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 no-padding reset-column">
      <div class="clear-filter-and-search-box pull-left">
        <button
          class="action-buttons action-buttons-reset"
          ng-click="$ctrl.clearAll()"
          ng-if="$ctrl.searchText || $ctrl.fromDate || $ctrl.toDate"><span class="glyphicon glyphicon-remove"></span>Reset all</button>
      </div>
    </div>
  </well>


  <div ng-if="$ctrl.auditEvents.length > 0">
    <pagination class="mbottom10"
                current-page="$ctrl.currentPage"
                items-per-page="$ctrl.itemsPerPage"
                total-items="$ctrl.totalItems"
                number-of-elements="$ctrl.itemsPerPage"
                on-change="$ctrl.getAuditEvents(false)"></pagination>

    <div class="table-responsive">
      <table id="audit-activity" class="table table-hover table-bordered table-striped">
        <thead class="thead-inverse uppercase" id="audit-table-headers">
          <tr>
            <th>ID</th>
            <th>Activity Time</th>
            <th>Username</th>
            <th>Summary</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="event in $ctrl.auditEvents" class="update-row" id="{{event.id}}">
            <td class="event-id"><span class="event-id">{{ event.id }}</span></td>
            <td class="event-timestamp"><div class="title-cell">{{ event.timestamp | date: 'dd/MM/yyyy HH:mm' }}</div></td>
            <td class="event-username">{{ event.userName }}</td>
            <td class="event-summary">{{ event.summary }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <pagination class="bottom-pagination mtop10"
                current-page="$ctrl.currentPage"
                items-per-page="$ctrl.itemsPerPage"
                total-items="$ctrl.totalItems"
                number-of-elements="$ctrl.itemsPerPage"
                on-change="$ctrl.getAuditEvents(false)"></pagination>
  </div>

  <div class="text-center" id="no-results" ng-if="!$ctrl.loading && !$ctrl.auditEvents.length">
    <hr/>
    0 results match your filter criteria. Check your filter selections and search criteria and try again.
  </div>
</div>
