.yearly-budget-funding-totals-table {
  .footer-row {
    background-color: white;

    td, th {
      background-color: #E0E0E0 !important;
      color: black !important;

    }
  }

  .invalid-input {
    border: 1px solid $red;
  }

  .year-column-cell {
    background-color: #E0E0E0 !important;
    color: black !important;
  }

  .no-border {
    border-width: 0 !important;
  }

  .left-indent {
    padding-left: 20px
  }

  .dbl-left-indent {
    padding-left: 35px
  }

  table tbody tr.divider {
    height: 5px;
    background-color: #cccccc;

    td {
      padding: 0;
    }
  }

  .footer-row {
    td, th {
      color: white !important;
      background-color: #4a4d4e !important;
    }
  }

  .quarter-row {
    td {
      font-family: $font-family-bolder;
      font-size: 12px;
    }
  }

  .milestone-row {
    td {
      font-family: $font-family-bolder;
    }
  }

  .activity-row {

  }

  .top-border {
    border-top: thin solid;
    border-color: #cccccc;

  }

  .footer-row {
    td, th {
      font-family: $font-family-bolder;
    }
  }

  .claim-link {
    margin-right: 15px;
    display: inline-block;

    a {
      color: #4a4d4e;
    }

    .error {
      font-family: $font-family-bolder;
    }
  }

}

.funding-claim-modal {
  .payment-group {
    border: 1px solid $alto;
    padding: 5px;
  }
}


