<div class="funding-page">
  <gla-project-header (on-back)="$ctrl.back()"
               [editable-block]="$ctrl">{{$ctrl.projectBlock.blockDisplayName}}</gla-project-header>

  <form class="form-gla funding-body" role="form" name="fundingForm">
    <div>
      <div class="row" ng-if="$ctrl.projectFunding.validationFailures.Block.length">
        <div class="col-xs-12 mtop15 text-center">
          <div class="error-wrapper error" ng-repeat="error in $ctrl.projectFunding.validationFailures.Block">
            {{error.description}} <span ng-if="error.rowId">({{error.rowId}})</span>
          </div>
        </div>
      </div>
    </div>

    <section-header subheader="Add spend to the table below.">Budget Details</section-header>

    <div>
      <div class="row" ng-if="$ctrl.projectFunding.validationFailures.Block1.length">
        <div class="col-xs-12 mtop15 text-center">
          <div class="error-wrapper error" ng-repeat="error in $ctrl.projectFunding.validationFailures.Block1">
            {{error.description}} <span ng-if="error.rowId">({{error.rowId}})</span>
          </div>
        </div>
      </div>
    </div>

    <gla-quarterly-budget-table
      [read-only]="$ctrl.readOnly"
      [block-id]="$ctrl.projectFunding.id"
      [project-id]="$ctrl.project.id"
      [all-project-funding]="$ctrl.projectFunding.allProjectFunding"
      [block-session-storage]="$ctrl.blockSessionStorage"
      (on-activity-update)="$ctrl.onActivityUpdate($event)"
      [has-milestones]="$ctrl.hasMilestones"
      [has-categories]="$ctrl.hasCategories"
      [milestone-block]="$ctrl.projectMilestonesBlock"
      (on-delete-activity)="$ctrl.onDeleteActivity($event.section, $event.milestone, $event.activity)"
      (on-show-evidence-modal)="$ctrl.showEvidenceModal($event)"
      (on-claim-quarter)="$ctrl.onClaimQuarter($event)"
      (on-cancel-claimed-quarter)="$ctrl.onCancelClaimedQuarter($event)"
      (on-post-approval-claim-action)="$ctrl.onPostApprovalClaimAction($event)"
      (on-add-entry)="$ctrl.showFundingEntryModal($event)"
      [allow-activity-update]="$ctrl.allowActivityUpdate"
      [allow-evidence-upload]="$ctrl.allowEvidenceUpload"
      [show-capital]="$ctrl.showCapital"
      [show-revenue]="$ctrl.showRevenue"
      [show-capital-gla]="$ctrl.showCapitalGLA"
      [show-revenue-gla]="$ctrl.showRevenueGLA"
      [show-capital-other]="$ctrl.showCapitalOther"
      [show-revenue-other]="$ctrl.showRevenueOther"
      [payments-enabled]="$ctrl.projectBlock.paymentsEnabled"
      [budget-summaries]="$ctrl.projectFunding.budgetSummaries"
      [cap-claimed-label]="$ctrl.capClaimedFunding"
      [cap-other-label] ="$ctrl.capOtherFunding"
      [rev-claimed-label]="$ctrl.revClaimedFunding"
      [rev-other-label]="$ctrl.revOtherFunding"
      [monetary-value-scale]="$ctrl.monetaryValueScaleToUse"
      [can-claim-activity]="$ctrl.canClaimActivity">
    </gla-quarterly-budget-table>

    <project-block-footer editable-block="$ctrl"></project-block-footer>
  </form>
</div>
