<div class="confirmation-dialog">
    <div class="modal-body text-center">
      <button (keydown.enter)="activeModal.dismiss('cancel')" (mousedown)="activeModal.dismiss('cancel')"
              aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="title mbottom10"  >
        <label>{{title}}</label>
      </h1>
      <div class="text-left confirm-message mbottom10" >
        {{message}}
      </div>
    </div>
    <div class="modal-footer">
  
    <button (click)="activeModal.close()"
            class="btn btn-default btn-primary btn-center approve-btn min-padding"
            type="button">{{confirmationText}}</button>
    <button (click)="activeModal.dismiss()"
            class="btn btn-default btn-secondary btn-center dismiss-btn min-padding"
            type="button">{{cancelText}}</button>
  
    </div>
  </div>