<div class="user-password-reset">
    <div class="modal-body">
        <button (keydown.enter)="activeModal.dismiss('cancel')" (mousedown)="activeModal.dismiss('cancel')"
            aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="title">
            <label>{{config.title}}</label>
        </h1>
        <div class="form-gla">
            <div class="form-group">
                <label for="password-create">Create password</label>
                <input  id="password-create" 
                        type="password"
                        autocomplete="new-password"
                        class="form-control"
                        (input)="onPasswordPrimaryChange($event)"/>
                <div class="password-label">Password Strength: {{config.labels[strength]}}</div>
                <div class="strength-bar">
                    <div [ngClass]="{
                        'strength-weak' : strength === 0,
                        'strength-fair' : strength === 1,
                        'strength-good' : strength === 2,
                        'strength-strong' : strength === 3,
                        'strength-very-strong' : strength === 4
                    }"></div>
                </div>
            </div>

            <div class="form-group">
                <label for="password-confirm">Confirm password</label>
                <input  id="password-confirm"
                        type="password" 
                        autocomplete="new-password" 
                        class="form-control"
                        (input)="onPasswordConfirmChange($event)"/>
                <span id="match-success-icon" *ngIf="strength > 1 && passwordConfirm === passwordPrimary" class="passwords-match glyphicon glyphicon-ok"></span>
                <span id="match-success-text" *ngIf="strength > 1 && passwordConfirm === passwordPrimary" class="passwords-match">Passwords match</span>
                <span id="match-error-text" *ngIf="passwordConfirm !== passwordPrimary" class="error">Password does not match</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="activeModal.close(passwordPrimary)"
                [disabled]="!(strength > 1 && passwordConfirm === passwordPrimary)"
                class="btn btn-default btn-primary btn-center approve-btn min-padding"
                type="button">{{config.confirmText}}</button>
    
        <button (click)="activeModal.dismiss('cancel')"
                class="btn btn-default btn-secondary btn-center dismiss-btn min-padding"
                type="button">{{config.cancelText}}</button>
    </div>
</div>