@import 'variables';

.user-password-reset {
    padding: 15px 0;
    .title {
        margin-top: 20px;
        margin-bottom: 40px;
      }
    
    input {
        display: inline;
        width: 50%;
    }

    .form-group label {
        display: block;
    }

    .password-label {
        padding-left: 5%;
        display: inline;
    }

    .strength-bar {
        background-color: white;
        height: 5px;
        margin-left: 55%;
        width: 45%;
    }

    .passwords-match {
        padding-left: 5%;
        color: $green-spring;
        display: inline;
    }

    .error {
        padding-left: 5%;
    }

    @mixin password-strength($color, $width) {
        background-color: $color;
        width: $width;
        height: 5px;
    }

    .strength-weak {
        @include password-strength($red, 10%);
    }

    .strength-fair {
        @include password-strength($amber, 25%);
    }

    .strength-good {
        @include password-strength($green-spring, 50%);
    }

    .strength-strong {
        @include password-strength($green-spring, 75%);
    }

    .strength-very-strong {
        @include password-strength($green-spring, 100%);
    }
}