<div class="assessment-type-modal">
  <div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-mousedown="$dismiss('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>Select assessment type</h1>
  </div>
  <div class="modal-body">
    <form class="form-gla" role="form" name="modalForm">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="form-group">
            <label for="assessment-type">Assessment type</label>
            <ui-select id="assessment-type"
                       ng-model="$ctrl.assessmentTemplate"
                       required
                       search-enabled="false">
              <ui-select-match placeholder="Select assessment type">
                {{$select.selected.name}}
              </ui-select-match>
              <ui-select-choices repeat="at in $ctrl.assessmentTemplates track by at.id">
                <span>{{at.name}}</span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-primary btn-center" type="button" ng-click="$close($ctrl.assessmentTemplate)" ng-disabled="modalForm.$invalid">CONFIRM</button>
    <button class="btn btn-default btn-primary btn-center" type="button" ng-click="$dismiss('cancel')">CANCEL</button>
  </div>
</div>
