<div class="decline-payement-dialog">
  <form name="$ctrl.form">
    <div class="modal-header text-center">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2>INTEREST</h2>
    </div>
    <div class="modal-body">
      <label>Interest amount in £</label>
      <span ng-repeat="item in $ctrl.interests">
        <label ng-attr-for="{{'interest-amount-'+item.id}}">{{item.paymentLabel}}</label><br/>
        <input ng-attr-id="{{'interest-amount-'+item.id}}"
               ng-model="item.interest"
               maxlength="14"
               number-mask="2"
               class="form-control"
               placeholder="Enter interest £"/>
      </span>

    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-xs-12 text-center mbottom15">
          <button
            id="update-btn"
            class="btn btn-default btn-primary btn-center"
            type="button"
            ng-click="$ctrl.update()"
            ng-disabled="!$ctrl.enableUpdate()">UPDATE</button>


          <button
            id="cancel-btn"
            class="btn btn-default btn-primary btn-center"
            type="button"
            ng-click="$dismiss()">CANCEL</button>
        </div>
      </div>
    </div>
  </form>
</div>
