.registration {
  h3 {
    margin-top: 30px;
    text-align: center;
  }
}



.thank-you {
  margin-top: 100px;
  text-align: center;
  h3 {
    font-family: $font-family-bolder;
    font-size: 20px;
  }
  h4 {
    font-family: $font-family-light;
    color: $secondary-text;
    margin-top: 15px;
    font-size: 15px;
  }
  .glyphicon-ok{
    color: $green;
    font-size: 40px
  }
}

