<form name="mForm"  ng-if="$ctrl.data" ng-model-options="{allowInvalid: false}" class="grant-table">
  <div ng-include="'scripts/pages/project/grant/grant-table/table-calculate-grant.html'" ng-if="$ctrl.data.blockType == 'CalculateGrant'" id="calculate-grant-table"></div>
  <div ng-include="'scripts/pages/project/grant/grant-table/table-negotiated-grant.html'" ng-if="$ctrl.data.blockType == 'NegotiatedGrant'" id="negotiated-grant-table"></div>
  <div ng-include="'scripts/pages/project/grant/grant-table/table-developer-led-grant.html'" ng-if="$ctrl.data.blockType == 'DeveloperLedGrant'" id="developer-led-grant-table"></div>
  <div ng-include="'scripts/pages/project/grant/grant-table/table-indicative-grant.html'" ng-if="$ctrl.data.blockType == 'IndicativeGrant'" id="indicative-grant-table"></div>

  <div ng-if="$ctrl.showOtherAffordableTenureType()" class="row mtop20">
    <label  for="other-affordable-tenure-type-selector">Select the Other Affordable tenure type</label><br/>
    <div ng-if="$ctrl.isReadonly">
      <div ng-if="!$ctrl.data.otherAffordableTenureType"> Not provided </div>
      <div ng-if="$ctrl.data.otherAffordableTenureType">{{$ctrl.data.otherAffordableTenureType}} </div>
    </div>
    <div ng-if="!$ctrl.isReadonly" class="col-xs-12 col-md-4 col-ms-4 form-group no-padding">
      <select class="form-control"
              id="other-affordable-tenure-type-selector"
              name="other-affordable-tenure-type-selector"
              ng-change="$ctrl.tenureChange(item)"
              ng-model="$ctrl.data.otherAffordableTenureType"
              ng-disabled="$ctrl.isReadonly"
              ng-options="item as item for item in $ctrl.otherAffordableTenureTypes">
        <option disabled value="">Select tenure type</option>
      </select>
    </div>
  </div>

  <div class="row" ng-if="$ctrl.data.errors.length">
    <div class="col-xs-12 mtop15 text-center">
      <div class="error-wrapper error" ng-repeat="error in $ctrl.data.errors">
        {{error.description}} <span ng-if="error.rowId">({{error.rowId}})</span>
      </div>
    </div>
  </div>
</form>
