<table class="table table-hover table-bordered table-default table-with-inputs tenure-types"
       ng-class="{'edit-mode': !$ctrl.isReadonly}">
  <thead class="thead-inverse uppercase">
  <tr>
    <th scope="col" style="width: 24%">TENURE TYPE</th>
    <th scope="col" class="number" style="width: 15%">£ GRANT REQUESTED</th>
    <th scope="col" class="number" style="width: 16%">TOTAL AFFORDABLE UNITS</th>
    <th ng-if="$ctrl.data.showSpecialisedUnits" scope="col" class="number" style="width: 17.5%">OF WHICH SUPPORTED & SPECIALISED
      UNITS</th>
    <th ng-if="$ctrl.data.showDevelopmentCost" scope="col" class="number" style="width: 17.5%">£ TOTAL DEVELOPMENT COSTS</th>
    <th ng-if="$ctrl.data.showDevelopmentCost && $ctrl.data.showPercentageCosts"  scope="col" class="number" style="width: 10%">GRANT AS % COSTS</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="m in $ctrl.data.tenureTypeAndUnitsEntries track by m.id">
    <th scope="row">{{ m.tenureType.name }}</th>

    <td class="number" ng-class="{'read-only': $ctrl.isReadonly, 'cell-with-input': !$ctrl.isReadonly,  'invalid-cell': $ctrl.hasErrors(m, 'grantRequested')}">
      <input ng-if="!$ctrl.isReadonly"
             number-mask="0"
             type="text"
             ng-model="m.grantRequested"
             maxlength="13"
             change-on-blur="$ctrl.tenureChange(m)"
             aria-label="grant-requested-input">
      <span ng-if="$ctrl.isReadonly">{{m.grantRequested | number}}</span>
    </td>

    <td class="number" ng-class="{'read-only': $ctrl.isReadonly, 'cell-with-input': !$ctrl.isReadonly,'invalid-cell': $ctrl.hasErrors(m, 'totalUnits')}">
      <input ng-if="!$ctrl.isReadonly"
             number-mask="0"
             type="text"
             ng-model="m.totalUnits"
             maxlength="6"
             change-on-blur="$ctrl.tenureChange(m)"
             aria-label="total-units-input">
      <span ng-if="$ctrl.isReadonly">{{m.totalUnits | number}}</span>
    </td>

    <td ng-if="$ctrl.data.showSpecialisedUnits" class="number"
         ng-class="{'read-only': $ctrl.isReadonly, 'cell-with-input': !$ctrl.isReadonly, 'invalid-cell': $ctrl.hasErrors(m, 'supportedUnits')}">
      <input ng-if="!$ctrl.isReadonly"
             number-mask="0"
             type="text"
             ng-model="m.supportedUnits"
             maxlength="6"
             change-on-blur="$ctrl.tenureChange(m)"
             aria-label="tenure-change-input">
      <span ng-if="$ctrl.isReadonly">{{m.supportedUnits | number}}</span>
    </td>

    <td ng-if="$ctrl.data.showDevelopmentCost" class="number"
         ng-class="{'read-only': $ctrl.isReadonly, 'cell-with-input': !$ctrl.isReadonly,  'invalid-cell': $ctrl.hasErrors(m, 'totalCost')}">
      <input ng-if="!$ctrl.isReadonly"
             number-mask="0"
             type="text"
             ng-model="m.totalCost"
             maxlength="13"
             change-on-blur="$ctrl.tenureChange(m)"
             aria-label="total-cost-input">
      <span ng-if="$ctrl.isReadonly">{{m.totalCost | number}}</span>
    </td>

    <td ng-if="$ctrl.data.showDevelopmentCost && $ctrl.data.showPercentageCosts" class="read-only number">{{m.percentageOfTotalCost | number: 1}}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td>TOTAL</td>
    <td class="read-only number"><span role="status" class="sr-only">Total value for the column is </span>{{$ctrl.data.totals.totalGrantRequested | number}}</td>
    <td class="read-only number"><span role="status" class="sr-only">Total value for the column is </span>{{$ctrl.data.totals.totalUnits | number}}</td>
    <td ng-if="$ctrl.data.showSpecialisedUnits" class="read-only number"><span role="status" class="sr-only">Total value for the
      column is
    </span>{{$ctrl.data.totals.totalSupportedUnits | number}}</td>
    <td ng-if="$ctrl.data.showDevelopmentCost" class="read-only number"><span role="status" class="sr-only">Total value for the column is
    </span>{{$ctrl.data.totals.totalCost | number}}</td>
    <td ng-if="$ctrl.data.showDevelopmentCost && $ctrl.data.showPercentageCosts"  class="read-only number">
      <span role="status" class="sr-only">Total value for the column is</span>
      {{$ctrl.data.totals.percentageOfTotalCost | number: 1}}
    </td>
  </tr>
  </tfoot>
</table>
