<div class="subcontractors-modal">
  <div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-mousedown="$dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>{{$ctrl.subcontractor.id? 'Update Subcontractor':'Add Subcontractor'}}</h1>
  </div>
  <div class="modal-body">
    <form class="form-gla" role="form" name="modalForm">
      <div class="row" ng-if="$ctrl.showUKPRN">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="form-group">
            <label for="subcontractor-ukprn">Enter UKPRN (optional)</label>
            <input id="subcontractor-ukprn" type="text" numbers-only name="identifier" class="form-control" placeholder="UKPRN"
                   ng-model="$ctrl.subcontractor.identifier" maxlength="8"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="form-group">
            <label for="subcontractor-org-name">Enter organisation name</label>
            <input id="subcontractor-org-name" type="text" name="organisationName" class="form-control" placeholder="Organisation name"
                   ng-model="$ctrl.subcontractor.organisationName" maxlength="50"/>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-primary btn-center" type="button"
            ng-click="$close($ctrl.subcontractor)"
            ng-disabled="!$ctrl.subcontractor.organisationName">
      {{$ctrl.subcontractor.id? 'SAVE':'ADD'}}
    </button>
    <button class="btn btn-default btn-secondary btn-center" type="button" ng-click="$dismiss('cancel')">CANCEL</button>
  </div>
</div>
