<div class="deliverables-modal">
  <div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-mousedown="$dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>{{$ctrl.modalTitle}}</h1>
  </div>
  <div class="modal-body">
        <form class="form-gla" role="form" name="modalForm">
          <div class="form-group">
            <label for="subcontractor-name">Subcontractor</label>
            <input id="subcontractor-name" type="text" readonly="true" class="form-control" ng-model="$ctrl.subcontractor.organisationName" />
          </div>

          <div class="form-group" ng-if="$ctrl.showDeliverableTypes">
            <label for="deliverable_type">{{$ctrl.deliverableName}} Type</label>
              <ui-select id="deliverable_type"
                         placeholder="Select Deliverable type"
                         ng-model="$ctrl.deliverable.deliverableType"
                         search-enabled="false"
                         name="deliverableType"
                         required
                         ng-disabled="$ctrl.readOnly">
                <ui-select-match title="{{$select.selected.value}}" placeholder="Select {{$ctrl.deliverableName.toLowerCase()}} type">
                  {{$select.selected.value}}
                </ui-select-match>
                <ui-select-choices repeat="item.key as (key, item) in $ctrl.deliverableTypes | orderBy: 'item.value' track by item.key">
                  <span> {{item.value}}</span>
                </ui-select-choices>
              </ui-select>
              <div class="error-wrapper" role="alert" ng-if="modalForm.deliverableType.$touched && !$ctrl.deliverable.deliverableType">
                <span class="error">This field is required</span>
              </div>
          </div>

          <div class="form-group" ng-if="$ctrl.deliverable.deliverableType == 'OTHER'">
            <label for="deliverable-type-description">Description of provision</label>
            <textarea class="form-control"
                      id="deliverable-type-description"
                      maxlength="255"
                      name="deliverableTypeDescription"
                      ng-model="$ctrl.deliverable.deliverableTypeDescription"
                      required
                      rows="3" ></textarea>
            <div class="error-wrapper" ng-if="modalForm.deliverableTypeDescription.$touched && modalForm.deliverableTypeDescription.$error.required" role="alert">
              <span class="error">This field is required</span>
            </div>
          </div>

          <div class="form-group" ng-if="$ctrl.quantityName">
            <label for="deliverable_quantity">{{$ctrl.quantityName}}</label>
            <input class="form-control" id="deliverable_quantity" name="deliverableQuantity" placeholder="How many quantities will this affect?" required type="text"
                   ng-model="$ctrl.deliverable.quantity" maxLength="9" numbers-only/>
            <div class="error-wrapper" role="alert" ng-if="modalForm.deliverableQuantity.$touched && !$ctrl.deliverable.quantity">
              <span class="error">This field is required</span>
            </div>
          </div>

          <div class="form-group">
            <label for="deliverable_value">{{$ctrl.valueName}} for this {{$ctrl.deliverableName.toLowerCase()}}</label>
            <input id="deliverable_value" type="text" name="deliverableValue"  class="form-control" placeholder="Enter numeric GBP value only (Example 100000)"
                   ng-model="$ctrl.deliverable.value" number-mask="2" max="999999999" maxlength="14" required ng-keyup="$ctrl.getDeliverableFeeCalculation()"/>
            <div class="error-wrapper" role="alert" ng-if="modalForm.deliverableValue.$touched && modalForm.deliverableValue.$error">
              <span class="error" ng-if="modalForm.deliverableValue.$error.required">This field is required</span>
              <span class="error" ng-if="modalForm.deliverableValue.$error.max">Maximum value of £999,999,999</span>
            </div>
          </div>

          <div class="form-group">
            <label for="deliverable_fee">{{$ctrl.feeName}}</label>
            <input class="form-control"
                   id="deliverable_fee"
                   max="999999999"
                   maxlength="14"
                   name="deliverableFee"
                   ng-change="$ctrl.getDeliverableFeeCalculation()"
                   ng-model="$ctrl.deliverable.fee"
                   ng-model-options="{ debounce: 300 }"
                   number-mask="2"
                   placeholder="Enter the fee you plan to keep from the amount allocated"
                   required
                   type="text" />
            <div class="error-wrapper" role="alert" ng-if="modalForm.deliverableFee.$touched && !$ctrl.deliverable.fee">
              <span class="error" ng-if="modalForm.deliverableFee.$error.required">This field is required</span>
              <span class="error" ng-if="modalForm.deliverableFee.$error.max">Maximum value of £999,999,999</span>
            </div>

            <div class="mtop10" ng-if="$ctrl.deliverable.feeCalculation.feePercentage">
              <span ng-class="{'deliverable-fee-above-threshold': $ctrl.deliverable.feeCalculation.feePercentageExceeded}">Retention fee is {{$ctrl.deliverable.feeCalculation.feePercentage}}%</span>
            </div>
            <div class="mtop5 sub-input-text">
              In exceptional circumstances, we will consider retention fees of above {{$ctrl.retentionFeeThreshold}}%. If you are requesting this please provide a rationale in comments
            </div>
          </div>

          <div class="form-group">
            <label for="deliverable_comments">Comments</label>
            <textarea id="deliverable_comments"  rows="3" maxlength="255" name="comments" class="form-control"
                      ng-model="$ctrl.deliverable.comments" ></textarea>
          </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-primary btn-center" type="button"
            ng-click="$close($ctrl.deliverable)"
            ng-disabled="modalForm.$invalid || ($ctrl.deliverable.feeCalculation.feePercentageExceeded && !$ctrl.deliverable.comments)">
      {{$ctrl.deliverable.id? 'SAVE':'ADD'}} {{$ctrl.deliverableName.toUpperCase()}}
    </button>
    <button class="btn btn-default btn-secondary btn-center" type="button" ng-click="$dismiss('cancel')">CANCEL</button>
  </div>
</div>
