subcontractors {
  display: block;

  .footnotes{
    font-size: 12px;
    margin-top: 10px;
  }


  .comments-title-row {
    td {
      border-top: 0 !important;
      padding-top: 0 !important;
    }

    .comment-label {
      font-family: $font-family-bolder;
      margin-bottom: 6px;
    }
  }

  .float-bottom {
    vertical-align: bottom !important;
  }

  tr.deliverable-title {
    background-color: #CFE5EA !important;
    font-family: $font-family-bolder;
  }

  .subcontractors-list {
    min-height: 45px;
  }
  .child-row {
    padding-left: 17px !important;
  }
  .no-hover-row {
    pointer-events:none;
  }

  .deliverable-type-cell{
    position: relative;
    max-width: 550px;

    toggle-icon{
      position: absolute;
    }
    .deliverable-type{
      padding-left: 17px;
    }
  }

}

.deliverable-fee-above-threshold {
  color: #c63c32;
}

.deliverables-modal {
  .sub-input-text {
    font-size: 10px;
  }
}

