<div class="projects-page">
  <gla-page-header header="Projects" [hide-back-btn]="true">
    <ph-right>
      <button ng-if="$ctrl.canCreate" class="btn btn-primary btn-md" id="create-new-btn" ng-click="$ctrl.createNewProject()">
        CREATE NEW<span class="glyphicon glyphicon-plus"></span>
      </button>
    </ph-right>
  </gla-page-header>

  <well class="row programmes-list-actions mbottom10 search-container">
    <div class="col-md-5 search-column">
      <div class="text-align-left">Search</div>
      <search-field options="$ctrl.searchOptions"
                    selected-option="$ctrl.selectedSearchOption"
                    search-text="$ctrl.searchTextModel"
                    on-select="$ctrl.select($ctrl.selectedSearchOption)"
                    on-search="$ctrl.search()"
                    on-clear="$ctrl.clearSearch()"></search-field>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-2 project-status search-column">
      <div class="status-box pull-left">
        <div class="text-align-left">Project status</div>
        <checkbox-filter filter-dropdown-items="$ctrl.groupedFilterDropdownItems"
                         on-change="$ctrl.getProjects(true)"
                         on-collapse-expand-toggle="$ctrl.saveProjectStatusesToCache()"
                         grouped="true"></checkbox-filter>
      </div>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-2 project-status search-column">
      <div class="pull-left">
        <div class="text-align-left">Programmes</div>
        <checkbox-filter
          id="programmes-filter"
          filter-dropdown-items="$ctrl.programmesDropdown"
          on-change="$ctrl.onProgrammeSelected()"
          is-disabled="$ctrl.selectedSearchOption.name === $ctrl.byProgrammeOption.name"></checkbox-filter>
      </div>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-2 project-status search-column">
      <div class="pull-left">
        <div class="text-align-left">Project type</div>
        <checkbox-filter
          id="templates-filter"
          filter-dropdown-items="$ctrl.templatesDropdown"
          on-change="$ctrl.getProjects(true)"></checkbox-filter>
      </div>
    </div>

      <div class="watched-filter-box pull-left">
        <input class="checkbox-watched-input" ng-class="{checked: $ctrl.watchingProject}"
               type="checkbox"
               id="watchedCheckbox"
               aria-label="watched"
               name="watchingProject"
               ng-model="$ctrl.watchingProject"
               ng-change="$ctrl.onWatchedCheckboxClick($event)"
               ng-disabled="$ctrl.readOnly">
        <label class="checkbox-watched-label" for="watchedCheckbox">Watched</label>
      </div>

      <div ng-if="$ctrl.isAnyFilterApplied()" class="clear-filter-and-search-box pull-right col-md-12 text-align-right">
        <button
          class="action-buttons action-buttons-reset"
          ng-click="$ctrl.clearFiltersAndSearch()"><span class="glyphicon glyphicon-remove"></span>Reset all
        </button>
      </div>

  </well>

  <div class="row" ng-if="$ctrl.projects.length == 0" id="no-results">
    <hr/>
    <span ng-if="$ctrl.searchText">
        0 results match your search {{$ctrl.selectedSearchOption.description}} {{$ctrl.searchText}}. Check your search query and filters and try again.
        For Project ID and Organisation Code searches, ensure you have entered the full number as a partial number will not return any search results
      </span>
    <span ng-if="!$ctrl.searchText && $ctrl.isAnyFilterApplied()">
         0 projects match your filter selections. Check your filter criteria and try again.
      </span>


    <span ng-if="!$ctrl.isAnyFilterApplied()">
        There are currently no projects available for you to view.
      </span>
  </div>
  <div ng-if="$ctrl.projects.length > 0">
    <div class="row mbottom10">
      <div class="no-padding">
        <div>
          <div ng-if="$ctrl.showActions()" class="actions-panel pull-left">
            <span class="bolder">Project Actions:</span>
            <button
              ng-if="$ctrl.canAssess"
              class="action-buttons"
              ng-click="$ctrl.setToAssess()"><span class="icon-Assess icon"></span> Set to Assess
            </button>
            <!--<button-->
            <!--ng-if="$ctrl.canRevert"-->
            <!--class="action-buttons"-->
            <!--ng-click="$ctrl.revertToSubmit()"><span class="icon-Revert icon"></span> Revert to Submit</button>-->
            <!--<button-->
            <!--ng-if="$ctrl.canDelete"-->
            <!--class="action-buttons"-->
            <!--ng-click="$ctrl.delete()"><span class="icon-Delete icon"></span></span> Delete</button>-->
            <button
              ng-if="$ctrl.canTransfer"
              class="action-buttons"
              ng-click="$ctrl.transfer()"><span class="glyphicon glyphicon-transfer"></span> Transfer
            </button>
          </div>
        <pagination class="pagination-top pull-right"
                      current-page="$ctrl.currentPage"
                      items-per-page="$ctrl.itemsPerPage"
                      total-items="$ctrl.totalItems"
                      number-of-elements="$ctrl.itemsPerPage"
                      on-change="$ctrl.getProjects()"></pagination>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12 project-table table-responsive no-padding">
        <table id="projects-table" class="table table-hover table-bordered table-striped table-selectable-row">
          <thead class="thead-inverse uppercase">
          <tr>
            <th ng-if="::$ctrl.canAssess || $ctrl.canRevert || $ctrl.canDelete">
              <div class="checkbox" ng-class="{checked: $ctrl.allSelected}">
                <input type="checkbox"
                       aria-label="Select all projects"
                       name="selectInput"
                       ng-model="$ctrl.allSelected"
                       ng-change="$ctrl.onAllCheckboxChange($event)"
                       ng-disabled="$ctrl.readOnly"
                       ng-hide="$ctrl.hideAllCheckbox">
              </div>
            </th>
            <th>Project ID</th>
            <th>Project Title</th>
            <th>Org Name</th>
            <th>Org Code</th>
            <th>Org Type</th>
            <th>Programme</th>
            <th>Project Type</th>
            <th>Status</th>
            <th>Modified</th>
          </tr>
          </thead>
          <tbody>
          <tr allow-enter tabindex="0"
              ng-click="$ctrl.goToProjectOverview(project.id)"
              ng-repeat="project in $ctrl.projects track by project.id"
              class="project-row">
            <td ng-if="::$ctrl.canAssess || $ctrl.canRevert || $ctrl.canDelete">
              <div class="checkbox" ng-class="{checked: project.isSelected}">
                <input type="checkbox"
                       aria-label="Select project"
                       name="selectInput"
                       ng-model="project.isSelected"
                       ng-change="$ctrl.onProjectCheckboxClick($event)"
                       ng-click="$event.stopPropagation()"
                       ng-disabled="$ctrl.readOnly"
                       ng-hide="$ctrl.hideProjectCheckbox">
              </div>

            </td>
            <td class="project-id">P{{ project.id }}</td>
            <td>
              <div class="title-cell">{{ project.title }}</div>
            </td>
            <td>{{ project.orgName }}</td>
            <td>{{ project.orgId }}</td>
            <td>{{ project.orgType}}</td>
            <td>{{ project.programmeName }}</td>
            <td>{{ project.templateName }}</td>
            <td class="project-status-column">{{project.fullStatus}}</td>
            <td>{{ project.lastModified | date: 'MMM d, yyyy HH:mm'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <pagination class="pagination-bottom"
                current-page="$ctrl.currentPage"
                items-per-page="$ctrl.itemsPerPage"
                total-items="$ctrl.totalItems"
                number-of-elements="$ctrl.itemsPerPage"
                on-change="$ctrl.getProjects()"></pagination>
  </div>
</div>
