<div class="recoverable-grant">
  <div class="text-right mbottom10" ng-if="$ctrl.showCreateAnnualReturnButton">
    <button ng-if="$ctrl.canCreateNewAnnualSubmission"
       ui-sref="new-annual-submission({orgId: $ctrl.org.id})"
       class="btn btn-secondary btn-md">CREATE NEW</button>
  </div>

  <div class="row no-padding-row">
    <div class="col-xs-12 no-padding list" ng-if="$ctrl.org.annualSubmissions.length">
      <div class="row no-padding-row section-header mbottom20">
        <!--<div class="col-xs-12">-->
          <!--Annual submission-->
        <!--</div>-->
      </div>

      <div class="row no-padding-row section-header">
        <div class="col-xs-8">
          Year
        </div>
        <div class="col-xs-4">
          Status
        </div>
      </div>

      <div class="row no-padding-row" ng-repeat="as in $ctrl.org.annualSubmissions | orderBy: '-financialYear'">
        <div class="list-item">
          <div class="row">
            <div class="col-xs-8 column">
              <a ui-sref="annual-submission({annualSubmissionId: as.id})">
                {{as.financialYear | fYear}}
              </a>
            </div>
            <div class="col-xs-4 column">
              {{as.status}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 no-padding" ng-if="!$ctrl.org.annualSubmissions.length">
      No submissions
    </div>
  </div>
</div>
