<div class="table-responsive" ng-if="$ctrl.fundingClaimsEntries && $ctrl.selectedPeriod">
  <table class="table funding-claims-table table-hover table-bordered table-default">
    <thead class="thead-inverse uppercase">
    <tr>
      <th>FUNDING CLAIM CATEGORY</th>
      <th>DELIVERY TO DATE £</th>
      <th>FORECAST DELIVERY £</th>
      <th>TOTAL DELIVERY £</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-class="{'cursor-pointer': !$ctrl.readOnly}"
        class="primary-row summary-row"
        ng-repeat-start="entry in $ctrl.fundingClaimsEntriesModel | filter: {period: $ctrl.selectedPeriod.period, academicYear: $ctrl.selectedYear} | orderBy: 'displayOrder' track by entry.id">

      <td> <toggle-icon (collapsed-change)="$ctrl.onCollapseChange($event)" [(collapsed)]="entry.collapsed"  ng-if="entry.subCategories.length != 0" ></toggle-icon>{{entry.categoryName}}</td>
      <td>

        <span ng-if="$ctrl.readOnly || !entry.actualsEditable">{{entry.actualDelivery | currency:'':2}}</span>
        <input ng-if="!$ctrl.readOnly && entry.actualsEditable"
               type="text"
               name="value"
               ng-model="entry.actualDelivery"
               change-on-blur="$ctrl.onEntryChange({$event:entry})"
               maxlength="13"
               number-mask="2"
               aria-label="Monetary value">
      </td>
      <td>
        <span ng-if="$ctrl.readOnly || !$ctrl.canEditForecast">
          <span ng-if="$ctrl.readOnly && $ctrl.canEditForecast">{{entry.forecastDelivery | currency:'':2}}</span>
          <span ng-if="!$ctrl.canEditForecast">N/A</span>
        </span>
        <input ng-if="!$ctrl.readOnly && $ctrl.canEditForecast"
               type="text"
               name="value"
               ng-model="entry.forecastDelivery"
               change-on-blur="$ctrl.onEntryChange({$event:entry})"
               maxlength="13"
               number-mask="2"
               aria-label="Monetary value">
      </td>
      <td class="bolder"> {{entry.totalDelivery | currency:'£':2}}</td>
    </tr>

    <tr ng-repeat-end ng-repeat="subCategory in entry.subCategories | orderBy: 'displayOrder' track by subCategory.id"
        ng-class="{'cursor-pointer': !$ctrl.readOnly}"
        ng-if="!entry.collapsed"
        class ="sub-row no-gutter">
      <td>{{subCategory.categoryName}}</td>
      <td>

        <span ng-if="$ctrl.readOnly || !subCategory.actualsEditable">{{subCategory.actualDelivery | currency:'':2}}</span>
        <input ng-if="!$ctrl.readOnly && subCategory.actualsEditable"
               type="text"
               name="value"
               ng-model="subCategory.actualDelivery"
               change-on-blur="$ctrl.onEntryChange({$event:subCategory})"
               maxlength="13"
               number-mask="2"
               aria-label="Monetary value">
      </td>
      <td>
        <span ng-if="$ctrl.readOnly || !$ctrl.canEditForecast">
          <span ng-if="$ctrl.readOnly && $ctrl.canEditForecast">{{subCategory.forecastDelivery | currency:'':2}}</span>
          <span ng-if="!$ctrl.canEditForecast">N/A</span>
        </span>
        <input ng-if="!$ctrl.readOnly && $ctrl.canEditForecast"
               type="text"
               name="value"
               ng-model="subCategory.forecastDelivery"
               change-on-blur="$ctrl.onEntryChange({$event:subCategory})"
               maxlength="13"
               number-mask="2"
               aria-label="Monetary value">
      </td>
      <td> {{subCategory.totalDelivery | currency:'£':2}}</td>
    </tr>
    </tbody>

    <tfoot class="separated bolder">
    <tr>
      <td>TOTAL</td>
      <td class="read-only">{{$ctrl.totals[$ctrl.selectedYear][$ctrl.selectedPeriod.period].actualTotal || 0 | currency:'£':2}}</td>
      <td class="read-only">
        <span ng-if="$ctrl.canEditForecast">{{$ctrl.totals[$ctrl.selectedYear][$ctrl.selectedPeriod.period].forecastTotal || 0 | currency:'£':2}}</span>
        <span ng-if="!$ctrl.canEditForecast">N/A</span>

      </td>
      <td class="read-only">{{$ctrl.totals[$ctrl.selectedYear][$ctrl.selectedPeriod.period].deliveryTotal || 0 | currency:'£':2}}</td>
    </tr>
    </tfoot>

  </table>
</div>

