<div class="medium-page progress-update">
  <gla-project-header (on-back)="$ctrl.back()" [editable-block]="$ctrl">{{$ctrl.projectBlock.blockDisplayName}}</gla-project-header>

  <div class="row mtop40">
    <div class="col-xs-12 col-sm-8 center-col">
      <form>
        <div class="form-group">
          <label for="project-update">Enter a progress update and any issues or actions to note</label>
          <textarea ng-disabled="$ctrl.readOnly"
                    id="project-update"
                    rows="5"
                    name="project-update"
                    class="form-control"
                    ng-model="$ctrl.projectBlock.progressUpdate"
                    maxlength="1000"
                    ng-trim="false">
            </textarea>
          <gla-remaining-characters [text]="$ctrl.projectBlock.progressUpdate" [max]="1000"
                                ng-if="!$ctrl.readOnly"></gla-remaining-characters>
        </div>

        <div class="form-group">
          <label ng-if="$ctrl.project.markedForCorporate"
                 for="project-update-public">Enter a private update for Corporate Reporting</label>
          <textarea ng-disabled="$ctrl.readOnly"
                    ng-if="$ctrl.project.markedForCorporate"
                    id="project-update-private"
                    rows="5"
                    name="project-update-private"
                    class="form-control"
                    ng-model="$ctrl.projectBlock.privateUpdate"
                    maxlength="1000">
              </textarea>
          <gla-remaining-characters [text]="$ctrl.projectBlock.privateUpdate" [max]="1000"
                                ng-if="$ctrl.project.markedForCorporate && !$ctrl.readOnly"></gla-remaining-characters>

        </div>

        <div class="form-group">
          <label ng-if="$ctrl.project.markedForCorporate"
                 for="project-update-public">Enter a public update for Corporate Reporting</label>
          <textarea ng-disabled="$ctrl.readOnly"
                    ng-if="$ctrl.project.markedForCorporate"
                    id="project-update-public"
                    rows="5"
                    name="project-update-public"
                    class="form-control"
                    ng-model="$ctrl.projectBlock.publicUpdate"
                    maxlength="1000">
          </textarea>

          <gla-remaining-characters [text]="$ctrl.projectBlock.publicUpdate" [max]="1000"
                                ng-if="$ctrl.project.markedForCorporate && !$ctrl.readOnly"></gla-remaining-characters>
        </div>

      </form>
    </div>

    <project-block-footer editable-block="$ctrl"></project-block-footer>
  </div>
</div>
