<div class="milestone-claim-status">
  <a ng-if="$ctrl.milestone.claimStatus === 'Claimed'"
     href="JavaScript:void(0)"
     ng-click="$ctrl.openClaimMilestoneModal({$event:$ctrl.milestone})">{{$ctrl.milestone.displayText}}</a>

  <a ng-if="$ctrl.milestone.displayText === 'Reclaimed'"
     href="JavaScript:void(0)"
     ng-click="$ctrl.openReclaimInfoModal($ctrl.milestone)">{{$ctrl.milestone.displayText}}
  </a>

  <span ng-if="$ctrl.milestone.claimStatus !== 'Claimed' && $ctrl.milestone.displayText !== 'Reclaimed'">{{$ctrl.milestone.displayText}}</span>

  <span ng-if="$ctrl.showReclaimInfoIcon($ctrl.milestone)"
        allow-enter
        tabindex="0"
        role="button"
        aria-label="Show reclaim info modal"
        ng-click="$ctrl.openReclaimInfoModal($ctrl.milestone)"
        class="glyphicon glyphicon-exclamation-sign info info-icon cursor-pointer"></span>

  <span ng-if="$ctrl.milestone.claimedExceeded" class="glyphicon glyphicon-exclamation-sign"></span>
</div>
