<div class="element">
  <form class="element-form" name="$ctrl.form">
    <div class="form-group">
      <label ng-attr-for="{{$ctrl.nameId}}">{{$ctrl.labels.name}}</label>
      <input class="form-control"
             ng-attr-id="{{$ctrl.nameId}}"
             change-on-blur="$ctrl.onFormChange($ctrl.element)"
             name="name"
             maxlength="60"
             gla-read-only="$ctrl.readOnly"
             ng-model="$ctrl.element.name"
             placeholder="{{$ctrl.labels.name}}"
             required/>
      <div class="error-wrapper" ng-if="$ctrl.form.name.$touched && $ctrl.form.name.$error.required"
           role="alert">
        <span class="error">Required</span>
      </div>
    </div>

    <div class="form-group">
      <label ng-attr-for="{{$ctrl.postcodeId}}">{{$ctrl.labels.postcode}}</label>
      <input class="form-control"
             ng-attr-id="{{$ctrl.postcodeId}}"
             change-on-blur="$ctrl.onFormChange($ctrl.element)"
             name="postcode"
             maxlength="60"
             gla-read-only="$ctrl.readOnly"
             ng-model="$ctrl.element.postcode"
             placeholder="{{$ctrl.labels.postcode}}"
             required/>
      <div class="error-wrapper"
           ng-if="$ctrl.form.postcode.$touched && $ctrl.form.postcode.$error.required" role="alert">
        <span class="error">Required</span>
      </div>
    </div>

    <div class="form-group">
      <label ng-attr-for="{{$ctrl.projectTypeId}}">{{$ctrl.labels.projectType}}</label>
      <select class="form-control"
              gla-read-only="$ctrl.readOnly"
              ng-attr-id="{{$ctrl.projectTypeId}}"
              name="projectType"
              ng-class="{disabled: $ctrl.readOnly}"
              ng-disabled="$ctrl.blockTemplate.projectTypes.length == 0"
              ng-model="$ctrl.element.projectType"
              ng-options="projectType.option as projectType.option for projectType in $ctrl.blockTemplate.projectTypes | orderBy: 'displayOrder'"
              required
              style-placeholder="">
        <option disabled value="">Project type</option>
      </select>
    </div>

    <div class="form-group">
      <label ng-attr-for="{{$ctrl.guidanceId}}">{{$ctrl.labels.guidance}}</label>
      <textarea class="form-control"
                gla-read-only="$ctrl.readOnly"
                ng-attr-id="{{$ctrl.guidanceId}}"
                name="guidance"
                change-on-blur="$ctrl.onFormChange($ctrl.element)"
                maxlength="1000"
                ng-trim="false"
                placeholder="Element guidance sub-type"
                ng-model="$ctrl.element.guidance"
                required
                rows="3">
              </textarea>
      <div class="row no-gutter">
        <div class="col-xs-8">
          <div class="error-wrapper"
               ng-if="$ctrl.form.guidance.$touched && $ctrl.form.guidance.$error.required"
               role="alert">
            <span class="error">Required</span>
          </div>
        </div>
        <div class="col-xs-4">
          <gla-remaining-characters [max]="1000"
                                    ng-if="!$ctrl.readOnly"
                                    [text]="$ctrl.element.guidance"></gla-remaining-characters>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label ng-attr-for="{{$ctrl.descriptionId}}">{{$ctrl.labels.description}}</label>
      <textarea class="form-control"
                gla-read-only="$ctrl.readOnly"
                ng-attr-id="{{$ctrl.descriptionId}}"
                name="description"
                change-on-blur="$ctrl.onFormChange($ctrl.element)"
                maxlength="2000"
                ng-trim="false"
                placeholder="Element description"
                ng-model="$ctrl.element.description"
                required
                rows="6">
                </textarea>
      <div class="row no-gutter">
        <div class="col-xs-8">
          <div class="error-wrapper"
               ng-if="$ctrl.form.description.$touched && $ctrl.form.description.$error.required"
               role="alert">
            <span class="error">Required</span>
          </div>
        </div>
        <div class="col-xs-4">
          <gla-remaining-characters [max]="2000"
                                    ng-if="!$ctrl.readOnly"
                                    [text]="$ctrl.element.description"></gla-remaining-characters>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label ng-attr-for="{{$ctrl.projectClassificationId}}">{{$ctrl.labels.projectClassification}}</label>
      <select class="form-control"
              gla-read-only="$ctrl.readOnly"
              ng-attr-id="{{$ctrl.projectClassificationId}}"
              name="projectClassification"
              ng-class="{disabled: $ctrl.readOnly}"
              ng-disabled="$ctrl.blockTemplate.projectClassifications.length == 0"
              ng-model="$ctrl.element.projectClassification"
              ng-options="projectClassification.option as projectClassification.option for projectClassification in $ctrl.blockTemplate.projectClassifications | orderBy: 'displayOrder'"
              required
              style-placeholder="">
        <option disabled value="">Select</option>
      </select>
    </div>

    <div class="form-group">
      <label ng-attr-for="{{$ctrl.projectStageId}}">{{$ctrl.labels.projectStage}}</label>
      <select class="form-control"
                 name="projectStage"
                 ng-attr-id="{{$ctrl.projectStageId}}"
                 ng-class="{disabled: $ctrl.readOnly}"
                 ng-model="$ctrl.element.projectStage"
                 ng-options="projectStage.option as projectStage.option for projectStage in $ctrl.blockTemplate.projectStages | orderBy: 'displayOrder'"
                 ng-disabled="$ctrl.blockTemplate.projectStages.length == 0"
                 gla-read-only="$ctrl.readOnly"
                 required style-placeholder="">
        <option disabled value="">Project stage</option>
      </select>
    </div>

    <div class="form-group">
      <label ng-attr-for="{{$ctrl.operationalPeriodId}}">{{$ctrl.labels.operationalPeriod}}</label>
      <input class="form-control"
             ng-attr-id="{{$ctrl.operationalPeriodId}}"
             change-on-blur="$ctrl.onFormChange($ctrl.element)"
             name="operationalPeriod"
             maxlength="60"
             gla-read-only="$ctrl.readOnly"
             ng-model="$ctrl.element.operationalPeriod"
             placeholder="Element operational period"
             required/>
      <div class="error-wrapper"
           ng-if="$ctrl.form.operationalPeriod.$touched && $ctrl.form.operationalPeriod.$error.required"
           role="alert">
        <span class="error">Required</span>
      </div>
    </div>
  </form>
</div>
