programme-page {


  .collapse-project-types{
    .section-header {
      color: $primary-text;
      font-family: $font-family-bolder;
      font-size: 24px;
      cursor: default;
    }
  }

  a.collapse-all{
    text-decoration: none;
    font-family: $font-family-bold !important;
  }

  .edit-mode {
    gla-multi-panel .multi-panel .section .field-value {
      overflow: visible;
    }

    input[type="checkbox"]{
      height: 17px;
      margin: 0;
    }

    input[type="radio"]{
      margin-top: 1px;
    }

    .radio-group{
      //margin-bottom: 10px;
    }

    .default-value{
      display: none;
    }

    .add-btn{
      margin-top: -6px;
    }
  }
}

.assessment-template-modal {
  .roles-toggle {
    font-family: $font-family-bolder;
    margin: 10px 0;
  }

  .gla-roles {
    &.edit-mode {
      border: 1px solid $form-field-inactive;
      padding: 5px 12px;

      input {
        font-size: 16px;
      }

      label {
        display: block;
      }
    }

    .roles-toggle{
      a:first-child {
        display: inline-block;
        margin-right: 15px;
      }
    }

    .role {
      margin-bottom: 8px;
    }


  }
}
