<div class="finance-categories-page">
  <page-header>Finance Categories</page-header>

  <section-header>
    Spend and receipt data
  </section-header>

  <div class="col-xs-12 mtop15 no-padding">
    <div ng-if="!$ctrl.financeCategories.length" class="no-payments-message">
      <span>There are currently no finance categories</span>
    </div>
    <div class="table-responsive" ng-if="$ctrl.financeCategories.length">
      <div class="form-group show-all">

        <div class="checkbox" ng-class="{checked: $ctrl.showAllCodes}">
          <input type="checkbox"
                 id="show-all-code"
                 aria-label="'Show all codes'"
                 ng-model="$ctrl.showAllCodes">
        </div>
        <label for="show-all-code">Show all codes</label>
        <button class="pull-right btn confirm-button btn-default btn-primary" ng-click="$ctrl.addRow()">ADD NEW +</button>
      </div>
      <table id="finance-categories-table" class="table table-bordered table-striped-groups">
        <thead class="thead-inverse uppercase">
        <tr>
          <th>CATEGORY</th>
          <th>CE CODE</th>
          <th>OPS ID</th>
          <th>SPEND FORECAST & VISIBILITY</th>
          <th>RECEIPT FORECAST & VISIBILITY</th>
          <th>LAST UPDATED ON</th>
          <th>LAST UPDATED BY</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="item in $ctrl.financeCategories"
            ng-class="{'odd-row': $index % 2 === 1}"
            class="clickable-row"
            ng-click="$ctrl.editRow(item)">
          <td>{{item.text}}</td>
          <td ng-if="($ctrl.showAllCodes && !item.longCodes) || (!$ctrl.showAllCodes && !item.showLongCode)"><div class="codes">{{item.shortCodes}}</div><a ng-if="item.longCodes" ng-click="$event.stopPropagation(); item.showLongCode = true">Show more</a></td>
          <td ng-if="($ctrl.showAllCodes && item.longCodes) || (!$ctrl.showAllCodes && item.showLongCode)"><div class="codes">{{item.longCodes}}</div><a ng-if="!$ctrl.showAllCodes" ng-click="$event.stopPropagation(); item.showLongCode = false">Show less</a></td>
          <td>{{item.id}}</td>
          <td><div class="visbilityAndForecast">{{$ctrl.textMapping[item.spendStatus]}}</div></td>
          <td><div class="visbilityAndForecast">{{$ctrl.textMapping[item.receiptStatus]}}</div></td>
          <td>{{item.modifiedOn | date: 'dd/MM/yyyy'}}</td>
          <td>{{item.modifiedBy}}</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
