<div class="question-modal">
  <div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-mousedown="$dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>Add Question</h1>
  </div>

  <div class="modal-body text-left">
      <form class="mtop40" name="modalForm">
        <div class="form-group">
          <label for="id">Question ID</label>
          <input id="id"
                 type="text"
                 class="form-control"
                 placeholder="Question ID"
                 ng-model="$ctrl.question.question.id"
                 ng-model-options="{ debounce: 400 }"
                 ng-change="$ctrl.onQuestionIdChange($ctrl.question.question.id)"
                 maxlength="9"/>
          <div class="error-wrapper" ng-if="$ctrl.question.question.id && !$ctrl.questionExists && !$ctrl.loading" role="alert">
            <span class="error" id="invalid-question">Question not found</span>
          </div>
          <div class="error-wrapper" ng-if="$ctrl.questionExists && $ctrl.isExistingQuestion" role="alert">
            <span class="error" id="duplicate-question">Question already exists in the block</span>
          </div>
        </div>

        <div class="form-group" ng-if="$ctrl.questionExists">
          <span id="questionText" style="color: cornflowerblue">{{$ctrl.question.question.text}}</span>
        </div>

        <div class="form-group">
          <label for="requirement">Question Requirement</label>
          <ui-select id="requirement"
                     required
                     ng-model="$ctrl.question.requirement"
                     on-select="$ctrl.onAnserTypeSelect($select.selected)"
                     ng-disabled="false"
                     search-enabled="false">
            <ui-select-match placeholder="Select requirement">
              {{$select.selected}}
            </ui-select-match>
            <ui-select-choices position="auto" repeat="requirement in $ctrl.requirements">
              <span>{{requirement}}</span>
            </ui-select-choices>
          </ui-select>
        </div>

        <div class="form-group">
          <label for="displayOrder">Display Order</label>
          <input id="displayOrder"
                 type="text"
                 class="form-control"
                 number-mask="0"
                 placeholder="Display Order"
                 ng-model="$ctrl.question.displayOrder"
                 ng-keyup="$ctrl.validateDisplayOrder($ctrl.question.displayOrder)"
                 maxlength="9"/>
          <div class="error-wrapper" ng-if="modalForm.question.displayOrder.$touched || $ctrl.isDuplicateDisplayOrder" role="alert">
            <span class="error" id="duplicate-display-order">Duplicate display order</span>
          </div>
        </div>

      </form>
  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-12 text-center mbottom15">

        <button
          id="abandon-btn"
          class="btn btn-default btn-primary btn-center"
          type="button"
          ng-click="$ctrl.addQuestion()"
          ng-disabled="(!$ctrl.question.question.id ||  !$ctrl.question.question.text || !$ctrl.question.displayOrder || !$ctrl.question.requirement) || $ctrl.isExistingQuestion || $ctrl.isDuplicateDisplayOrder">ADD
        </button>

        <button
          id="cancel-btn"
          class="btn btn-default btn-secondary btn-center"
          type="button"
          ng-click="$dismiss()">CANCEL</button>

      </div>
    </div>
  </div>
</div>
