.users-page {
  @include when-md {
    padding-left: 15px;
    padding-right: 15px;
  }

  tr {
    height: 50px;
  }

  .user-approved{
    color: $green;
  }

  .user-pending{
    //color: $secondary-text;
  }
  search-field .search-dropdown{
    min-width: 170px;
  }
}
