<div class="users-page">
  <page-header class="no-padding">All Users</page-header>


  <well class="row mbottom10 search-container">

    <div class="col-xs-12 no-padding mbottom10">
      <div class="col-xs-12 col-md-5 search-column mbottom10">
        <div class="text-align-left">Search</div>
        <search-field options="$ctrl.searchOptions"
                      selected-option="$ctrl.selectedSearchOption"
                      search-text="$ctrl.searchTextModel"
                      on-select="$ctrl.select($ctrl.selectedSearchOption)"
                      on-search="$ctrl.search()"
                      on-clear="$ctrl.clearSearch()"></search-field>
      </div>
      <div ng-if="$ctrl.isGLASearch" class="col-xs-12 col-sm-6 col-md-2 project-status search-column mbottom10">
        <div class="status-box">
          <div class="text-align-left">Org type</div>
          <checkbox-filter id="org-type-filter" filter-dropdown-items="$ctrl.organisationTypeOptions" on-change="$ctrl.updateFilters(true, $event)"></checkbox-filter>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-2 project-status search-column mbottom10">
        <div class="status-box">
          <div class="text-align-left">Roles status</div>
          <checkbox-filter id="roles-filter" filter-dropdown-items="$ctrl.userRoleOptions" on-change="$ctrl.updateFilters(true, $event)"></checkbox-filter>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-2 project-status search-column mbottom10">
        <div class="status-box">
          <div class="text-align-left">Registration Status</div>
          <checkbox-filter id="registration-status-filter" filter-dropdown-items="$ctrl.registrationStatusOptions" on-change="$ctrl.updateFilters(true, $event)"></checkbox-filter>
        </div>
      </div>

      <div  ng-if="$ctrl.isGLASearch" class="col-xs-12 col-sm-6 col-md-2 project-status search-column mbottom10">
        <div class="status-box">
          <div class="text-align-left">Spend authority</div>
          <checkbox-filter id="spend-authority-filter" filter-dropdown-items="$ctrl.spendAuthorityOptions" on-change="$ctrl.updateFilters(true, $event)"></checkbox-filter>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-1 no-padding reset-column">
        <div class="clear-filter-and-search-box pull-left">
          <button
            ng-if="$ctrl.searchText || !$ctrl.isDefaultFilterState"
            class="action-buttons action-buttons-reset"
            ng-click="$ctrl.clearFiltersAndSearch()"><span class="glyphicon glyphicon-remove"></span>Reset</button>
        </div>
      </div>
    </div>
  </well>

  <div class="row mtop10 no-results" ng-if="!$ctrl.users.length">
    0 results match your search. Check your search query and try again.
  </div>
  <div class="row mtop10" ng-if="$ctrl.users.length">
    <div class="table-responsive">
      <table class="table table-hover table-bordered table-striped table-selectable-row" id="users">
        <thead class="thead-inverse uppercase">
          <tr>
            <th>NAME</th>
            <th>EMAIL ADDRESS</th>
            <th>ORG NAME</th>
            <th>ORG TYPE</th>
            <th ng-if="$ctrl.isGLASearch">SPEND AUTHORITY</th>
            <th>ROLE</th>
            <th>REGISTRATION STATUS</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in $ctrl.users" ng-click="$ctrl.goToUserProfile(user)">
            <td>{{ user.firstName }} {{user.lastName}}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.orgName }}</td>
            <td>{{ user.entityType }}</td>
            <td ng-if="$ctrl.isGLASearch">
              {{ user.pendingThreshold !== null ? (user.pendingThreshold | currency:'£':0) : (user.approvedThreshold !== null ? (user.approvedThreshold | currency:'£':0) : (user.canHaveThreshold?'Not set':'N/A')) }}{{user.pendingThreshold ? ' Pending':''}}</td>
            <td>{{ user.roleDescription }}</td>
            <td class="delete-btn-container">
              <span ng-if="!user.approved" class="user-pending">Pending</span>
              <span ng-if="user.approved" class="user-approved">
                Approved <span class="glyphicon glyphicon-ok"></span>
              </span>
              <delete-button ng-if="false"></delete-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

