<div class="users-page">
  <gla-page-header class="no-padding" [hide-back-btn]="true">All Users</gla-page-header>

  <div class="row no-gutter mtop10">
    <div class="col-xs-12 col-md-5 mbottom10">
      <div class="text-align-left">Search</div>
      <search-field on-clear="$ctrl.clearSearch()"
                    on-search="$ctrl.search()"
                    on-select="$ctrl.select($ctrl.selectedSearchOption)"
                    options="$ctrl.searchOptions"
                    search-text="$ctrl.searchTextModel"
                    selected-option="$ctrl.selectedSearchOption"></search-field>
    </div>
  </div>

  <uib-tabset active="$ctrl.activeTabIndex" class="mtop20">

    <uib-tab class="approved-users-tab" heading="APPROVED USERS" index="$ctrl.tabs.approvedUsers" select="$ctrl.onApprovedUsersTabSelected()">
      <approved-users-list ng-if="$ctrl.activeTabIndex == $ctrl.tabs.approvedUsers"
                           on-clear="$ctrl.clearFiltersAndSearch()"
                           organisation-types="$ctrl.organisationTypes"
                           search-text="$ctrl.searchText"
                           search-type="$ctrl.searchType"></approved-users-list>
    </uib-tab>

    <uib-tab class="pending-users-tab" heading="PENDING USERS" index="$ctrl.tabs.pendingUsers" select="$ctrl.onPendingUsersTabSelected()">
      <pending-users-list ng-if="$ctrl.activeTabIndex == $ctrl.tabs.pendingUsers"
                          on-clear="$ctrl.clearFiltersAndSearch()"
                          organisation-types="$ctrl.organisationTypes"
                          search-text="$ctrl.searchText"
                          search-type="$ctrl.searchType"></pending-users-list>
    </uib-tab>
  </uib-tabset>
</div>

