<div class="assessment-list readonly-mode page">
  <gla-page-header [hide-back-btn]="true">Assessments</gla-page-header>

  <gla-well class="row mbottom10 search-container">

    <div class="col-xs-12 no-padding mbottom10">
      <div class="col-xs-12 col-md-5 search-column mbottom10">
        <gla-search-field [options]="$ctrl.searchOptions"
                          [(selected-option)]="$ctrl.selectedSearchOption"
                          [(search-text)]="$ctrl.searchTextModel"
                          (on-select)="$ctrl.select($ctrl.selectedSearchOption)"
                          (on-search)="$ctrl.search()"
                          (on-clear)="$ctrl.clearSearch()"></gla-search-field>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-2 assessment-type search-column mbottom10">
        <div class="status-box">
          <label class="text-align-left" for="assessment-type-filter">Assessment type</label>
          <gla-checkbox-filter id="assessment-type-filter"
                           [filter-dropdown-items]="$ctrl.assessmentTypeOptions"
                           (on-change)="$ctrl.updateFilters(true, $event)"></gla-checkbox-filter>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-2 assessment-status search-column mbottom10">
        <div class="status-box">
          <label class="text-align-left" for="assessment-status-filter">Assessment status</label>
          <gla-checkbox-filter id="assessment-status-filter"
                           [filter-dropdown-items]="$ctrl.assessmentStatusOptions"
                           (on-change)="$ctrl.updateFilters(true, $event)"></gla-checkbox-filter>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-2 programme search-column mbottom10">
        <div class="status-box">
          <label class="text-align-left" for="programme-filter">Programme</label>
          <gla-checkbox-filter id="programme-filter"
                               [filter-dropdown-items]="$ctrl.programmeOptions"
                               (on-change)="$ctrl.updateFilters(true, $event)"></gla-checkbox-filter>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-2 project-status search-column mbottom10">
        <div class="status-box">
          <label class="text-align-left" for="project-status-filter">Project status</label>
          <gla-checkbox-filter id="project-status-filter"
                               [filter-dropdown-items]="$ctrl.projectStatusOptions"
                               (on-change)="$ctrl.updateFilters(true, $event)"></gla-checkbox-filter>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-1 no-padding reset-column">
        <div class="clear-filter-and-search-box pull-left">
          <button
            ng-if="$ctrl.isAnyFilterApplied()"
            class="action-buttons action-buttons-reset"
            ng-click="$ctrl.clearFiltersAndSearch()"><span class="glyphicon glyphicon-remove"></span>Reset all</button>
        </div>
      </div>

    </div>
  </gla-well>
  <gla-pagination class="bottom-pagination pull-right"
                  [(current-page)]="$ctrl.currentPage"
                  [(items-per-page)]="$ctrl.itemsPerPage"
                  [total-items]="$ctrl.totalItems"
                  [number-of-elements]="$ctrl.itemsPerPage"
                  (on-change)="$ctrl.getAssessments()"></gla-pagination>
  <div class="row mtop10 no-results" ng-if="!$ctrl.assessments.length">
    <span ng-if="$ctrl.searchTextModel">0 results match your search for {{$ctrl.searchTextModel}}. Check your search query and filters and try again.</span>
    <span ng-if="!$ctrl.searchTextModel && $ctrl.isDefaultFilterState != undefined">0 results match. Check your filters and try again.</span>
  </div>
  <div class="row mtop10" ng-if="$ctrl.assessments.length">
    <div class="table-responsive">
      <table id="assessment-list-table"
             class="table table-hover table-bordered table-striped mtop20">
        <thead class="thead-inverse uppercase" id="assessment-list-table-headers">
        <tr>
          <th>Project Title</th>
          <th>Project ID</th>
          <th>Assessment Type</th>
          <th class="text-nowrap">Created By</th>
          <th>Programme</th>
          <th>Project Status</th>
          <th>Assessment Status</th>
          <th>Last Modified</th>
        </tr>
        </thead>
        <tbody>
        <tr id="{{assessment.id}}"
            ng-repeat="assessment in $ctrl.assessments track by assessment.id"
            allow-enter tabindex="0"
            ui-sref="assessment({id: assessment.id, backNavigation: $ctrl.currentState})">
          <td>{{ assessment.projectTitle }}</td>
          <td>{{ assessment.projectId }}</td>
          <td>{{ assessment.assessmentTemplate }}</td>
          <td>{{ assessment.creator}}</td>
          <td>{{ assessment.programmeName}}</td>
          <td>{{ assessment.projectStatus }}</td>
          <td>{{ $ctrl.AssessmentService.getAssessmentStatus(assessment)}}</td>
          <td>{{ (assessment.modifiedOn || assessment.createdOn) | date: 'dd/MM/yyyy HH:mm' }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <gla-pagination class="bottom-pagination pull-right"
                  [(current-page)]="$ctrl.currentPage"
                  [(items-per-page)]="$ctrl.itemsPerPage"
                  [total-items]="$ctrl.totalItems"
                  [number-of-elements]="$ctrl.itemsPerPage"
                  (on-change)="$ctrl.getAssessments()"></gla-pagination>
</div>
</div>
