<div class="dateInput form-control"
     ng-class="{'disabled': $ctrl.disabled === true, 'focused': $ctrl.isFocused }">
  <input type="text"
         ng-model="$ctrl.day"
         class="dateInput__day"
         placeholder="DD"
         maxlength="2"
         ng-change="$ctrl.onDayChange()"
         numbers-only
         ng-focus="$ctrl.onInputFocus()"
         ng-blur="$ctrl.onInputBlur()"
         ng-disabled="$ctrl.disabled"
         focus-me="$ctrl.focusDay"
         aria-label="Day">

  <div class="dateInput__divider">/</div>

  <input type="text"
         ng-model="$ctrl.month"
         class="dateInput__month"
         placeholder="MM"
         maxlength="2"
         ng-pattern="$ctrl.numbersOnly"
         ng-change="$ctrl.onMonthChange()"
         numbers-only
         ng-focus="$ctrl.onInputFocus()"
         ng-blur="$ctrl.onInputBlur()"
         ng-disabled="$ctrl.disabled"
         focus-me="$ctrl.focusMonth"
         aria-label="Month">

  <div class="dateInput__divider">/</div>

  <input type="text"
         ng-model="$ctrl.year"
         class="dateInput__year"
         placeholder="YYYY"
         maxlength="4"
         ng-pattern="$ctrl.numbersOnly"
         ng-change="$ctrl.onYearChange()"
         numbers-only
         ng-focus="$ctrl.onInputFocus()"
         ng-blur="$ctrl.onInputBlur()"
         ng-disabled="$ctrl.disabled"
         focus-me="$ctrl.focusYear"
         aria-label="Year">
</div>
