<ui-select ng-model="$ctrl.selectedYear"
           on-select="$ctrl.onSelect({selectedYear:$ctrl.selectedYear})"
           search-enabled="false">
  <ui-select-match placeholder="$ctrl.selectedYear">{{$select.selected.label}}</ui-select-match>
  <ui-select-choices repeat="year in $ctrl.yearList">{{year.label}}
    <span class="float-right" ng-if="($ctrl.populatedYears || []).indexOf(year.financialYear) !== -1">
      <i class="glyphicon glyphicon-ok"></i>
    </span>
  </ui-select-choices>
</ui-select>