<div class="receipts">
  <div class="col-xs-12 text-center mbottom30">
    <project-header on-back="$ctrl.onBack()" editable-block="$ctrl">Receipts</project-header>
  </div>
  <form role="form" name="asForm">
    <div class="form-group row">
      <div class="col-md-2 col-sm-4 col-xs-8 center-col">
        <label for="currentYear">Financial Year</label>

        <financial-year id="currentYear"
          ng-if="$ctrl.currentFinancialYearConst"
          current-financial-year-const="$ctrl.currentFinancialYearConst"
          on-select="$ctrl.yearSelected(selectedYear)"
          selected-year="$ctrl.currentYear.financialYear"
          populated-years="$ctrl.projectBlock.populatedYears"></financial-year>
      </div>
    </div>
  </form>

  <section-header class="mtop15">Receipt WBS codes</section-header>
  <well class="row wbs-codes-block">
    <div class="not-provided" ng-if="!$ctrl.data.wbsCodes.length && $ctrl.readOnly">Not provided</div>
    <wbs-codes class="wbs-capital col-xs-8 col-sm-6 col-md-4 center-col"
               read-only="$ctrl.readOnly"
               codes="$ctrl.data.wbsCodes"></wbs-codes>
  </well>
  <div class="row approval-needed-message text-right">
    <span class="text-right float-right approval-needed-message-date" ng-if="$ctrl.data.lastModified">Last updated {{$ctrl.data.lastModified | date: "dd/MM/yyyy 'at' HH:mm"}}</span>
  </div>

  <div class="row mtop10">
    <section-header subheader="Outgoing debits will display as negative figures in the table below.">
      Annual receipts
    </section-header>
  </div>
  <receipt-wizard
    ng-if="!$ctrl.readOnly"
    year="$ctrl.currentYear"
    read-only="$ctrl.readOnly"
    on-add-receipt="$ctrl.onAddReceipt(event)"
    categories="$ctrl.categories">
  </receipt-wizard>

  <div class="row no-gutter mtop15">
    <div class="col-md-12 expandableTable">
        <table class="table table-bordered table-with-inputs table-responsive mtop15" id="receipts-table">
            <thead>
                <tr class="mainHeader">
                    <th style="width: 33.33%; padding-left: 1rem">MONTH</th>
                    <th style="width: 33.33%">FORECAST £</th>
                    <th style="width: 33.33%">ACTUAL £</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="month in $ctrl.yearData.annualReceiptMonthlyTotals">
                    <td colspan="5">
                        <receipts-month-row
                          session-storage="$ctrl.blockSessionStorage"
                          table-id="receiptsTable"
                          row-id="month.monthName"
                          data="month"
                          on-edit="$ctrl.onChangeReceipt(event)"
                          on-delete="$ctrl.onDeleteReceipt(event)"
                          on-show-metadata="$ctrl.showMetadataModal(event)"
                          read-only="$ctrl.readOnly">
                        </receipts-month-row>
                    </td>
                </tr>
                <tr class="divider"><td colspan="5"></td></tr>
                <tr class="footer-row">
                    <td>Actual £</td>
                    <td id="totalForPastMonths-forecast">{{$ctrl.formatTotal($ctrl.yearData.totalForPastMonths.forecast)}}</td>
                    <td id="totalForPastMonths-actual">
                      <span ng-if="$ctrl.yearData.totalForPastMonths.actual">{{$ctrl.yearData.totalForPastMonths.actual | number:2}}</span>
                      <span ng-if="!$ctrl.yearData.totalForPastMonths.actual">-</span>
                    </td>
                </tr>
                <tr class="divider"><td colspan="5"></td></tr>
                <tr class="footer-row">
                    <td>Remaining forecast £ (current and future months)</td>
                    <td id="totalForCurrentAndFutureMonths-forecast">{{$ctrl.formatTotal($ctrl.yearData.totalForCurrentAndFutureMonths.forecast)}}</td>
                    <td id="totalForCurrentAndFutureMonths-Actual">
                      <span ng-if="$ctrl.yearData.totalForCurrentAndFutureMonths.actual">{{$ctrl.yearData.totalForCurrentAndFutureMonths.actual | number:2}}</span>
                      <span ng-if="!$ctrl.yearData.totalForCurrentAndFutureMonths.actual">-</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>

  <div class="row mtop30">
    <div class="col-xs-12 text-center">
      <button
        ng-if="!$ctrl.readOnly"
        class="btn btn-primary"
        ng-click="$ctrl.onSave()">SAVE
      </button>
    </div>
  </div>
</div>
