.gla-cookie-warning {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  z-index: 1001;
  font-size: 13px;
  background-color: $green-pearl;

  a,
  a:hover,
  a:focus,
  a:active:hover,
  a:active:focus {
    color: $accent-color;
    text-decoration: none;
    font-family: $font-family-bold;
  }

  .close-button{
    cursor: pointer;
    font-size: 18px;
    color: #777777;
  }

  .cookie-warning-text{
    flex-grow: 1;
  }
}
