.outputs {
    width: 90%;
    margin: auto;

    .expandableTable table {
        min-width: 55rem; //maintain width so that contents dont brake alignment
    }
    .no-gutter-outputs{
      padding-left: 0px;
      padding-right: 0px;
    }

  a.link {
    font-size: 14px;
    font-family: $font-family-bolder;
    display: inline-block;
    margin-left: 20px;
  }


  //TODO make reusable
  .primary-row{
    cursor: pointer;
    background-color: $primary-white;
    td {
      border-top: 2px solid darken($table-border, 10%);
    }
  }

  .sub-heading{
    background-color: $table-sub-header;
    //&:hover {
    //  background-color: darken($table-sub-header, 3%);
    //}
  }

  tr.secondary-row td {
    border: 0;
  }


  .assumption-cell{
    font-family: $font-family-default;
    white-space:pre-wrap;
    word-wrap:break-word;
    word-break: break-all;
    padding: 5px;
  }

  .expandableTable table .expandableRow .primaryRow.primaryRowFocus {
    border: none;
    .focused-text{
      text-decoration: underline;
    }
  }

  .exceed-budget-text{
    color: $red;
  }

  h4{
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 21px;
    font-family: $font-family-light;
  }
}
