<div class="file-upload" ng-class="'file-upload-'+$ctrl.question.id">
  <gla-well class="row" ng-if="!$ctrl.readOnly">
    <h4>Attachments</h4>

    <h5 ng-if="!$ctrl.question.maxCombinedUploadSizeInMb" class="bold">
      Max number of files: {{ $ctrl.question.quantity || 2 }}
      &nbsp;&nbsp;&nbsp;
      Max file size per upload: {{ $ctrl.question.maxUploadSizeInMb || 5}}MB
    </h5>

    <h5 ng-if="$ctrl.question.maxCombinedUploadSizeInMb" class="bold">
      Combined file size limit: {{$ctrl.question.maxCombinedUploadSizeInMb}}MB
      &nbsp;&nbsp;&nbsp;
      Remaining: <span class="remaining-combined-file-size">{{$ctrl.getRemainingCombinedFileSize()}}MB</span>
    </h5>

    <div class="row mbottom15">

      <div class="col-xs-12 no-padding">
        <gla-file-upload-button class="add-document"
                                [component-input-id]="'file-upload-'+$ctrl.question.id"
                                [context]="$ctrl.question"
                                [is-disabled]="$ctrl.addDocumentButtonDisabled()"
                                [label]="'ADD DOCUMENT +'"
                                (on-complete)="$ctrl.onFileUploadComplete($event)"
                                (on-error)="$ctrl.onFileUploadError($event)"
                                (on-progress)="$ctrl.onFileUploadProgress($event)"
                                [upload-params]="$ctrl.uploadParams"
                                [max-file-size-in-mb]="$ctrl.question.maxUploadSizeInMb || 5"
                                [max-combined-upload-size-in-mb]="$ctrl.question.maxCombinedUploadSizeInMb"
                                [remaining-combined-file-size]="$ctrl.remainingCombinedFileSize"
                                [post-url]="'/questions/'+$ctrl.question.id+'/file?programmeId='+$ctrl.project.programmeId+'&projectId='+$ctrl.project.id+'&blockId='+$ctrl.block.id">
        </gla-file-upload-button>
      </div>
    </div>
  </gla-well>

  <div class="row">

      <div class="table-responsive attached-files text-left" ng-attr-id="{{'file-uploaded-table-'+$ctrl.question.id}}">
        <div ng-if="($ctrl.question.attachments.length + $ctrl.question.fileAttachments.length) == 0" class="empty-table no-attached-files mtop5">No files added.</div>
        <table ng-if="($ctrl.question.attachments.length + $ctrl.question.fileAttachments.length) != 0" class="table table-hover table-bordered table-striped">
          <thead class="thead-inverse uppercase">
          <tr>
            <th>DOCUMENT NAME</th>
            <th>UPLOAD DATE</th>
            <th>UPLOADED BY</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr class="staged-file" ng-repeat="attachment in $ctrl.question.attachments | orderBy:'createdOn':true">
            <td>
              <a class="uploaded-file-link" href="/api/v1/project/{{$ctrl.project.id}}/file/{{attachment.fileId}}"><span aria-hidden="true" class="glyphicon glyphicon-file"></span> {{attachment.fileName}}</a>
            </td>
            <td>{{attachment.createdOn | date: 'MMM d, yyyy'}}</td>
            <td>{{attachment.creatorName}}</td>
            <td>
              <div ng-if="!$ctrl.readOnly">
                <a
                   href ng-click="$ctrl.removeAttachment(attachment, $ctrl.question.attachments)">DELETE
                </a>
              </div>
            </td>
          </tr>
          <tr class="attached-file" ng-repeat="attachment in $ctrl.question.fileAttachments | orderBy:'createdOn':true">
            <td>
              <a class="uploaded-file-link" href="/api/v1/project/{{$ctrl.project.id}}/file/{{attachment.id}}">
                <span aria-hidden="true" class="glyphicon glyphicon-file"></span> {{attachment.fileName}}
              </a>
            </td>
            <td>{{attachment.createdOn | date: 'MMM d, yyyy'}}</td>
            <td>{{attachment.creatorName}}</td>
            <td>
              <div ng-if="!$ctrl.readOnly">
                <a
                   href ng-click="$ctrl.removeAttachment(attachment, $ctrl.question.fileAttachments)">DELETE
                </a>
              </div>
            </td>
          </tr>
          <tr class="no-attached-files"ng-if="($ctrl.question.attachments.length + $ctrl.question.fileAttachments.length) == 0">
            <td colspan="4">No files added.</td>
          </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
