<table class="expandableRow">
  <tr class="primaryRow"
      ng-class="{'expandable': $ctrl.breakdown.length > 0, 'primaryRowFocus': $ctrl.primaryRowFocus}"
      ng-click="$ctrl.openClose()">
    <th style="width: 33%">
      <a href
        ng-focus="$ctrl.onPrimaryRowFocus()"
        ng-blur="$ctrl.onPrimaryRowBlur()">
        <div class="row no-gutter">
          <div class="col-xs-2">
            <div ng-if="$ctrl.breakdown.length">
              <i class="glyphicon glyphicon-triangle-bottom" ng-if="!$ctrl.isExpanded"></i>
              <i class="glyphicon glyphicon-triangle-top" ng-if="$ctrl.isExpanded"></i>
            </div>
          </div>
          <div class="col-xs-10">
            <span>{{$ctrl.getMonthFullName($ctrl.monthName)}}</span>
          </div>
        </div>
      </a>
    </th>
    <th style="width: 33%">{{$ctrl.number($ctrl.total.forecast)}}</th>
    <th style="width: 33%">{{$ctrl.number($ctrl.total.actual, 2)}}</th>
  </tr>
  <tr class="secondaryRow"
      ng-if="$ctrl.isExpanded"
      ng-repeat="spend in $ctrl.breakdown">
    <td>{{spend.category}}</td>
    <td>
      <span ng-if="$ctrl.readOnly">
        {{$ctrl.number(spend.forecast)}}
      </span>
      <input
        ng-if="!$ctrl.readOnly"
        type="text"
        maxlength="13"
        ng-model="spend.forecast"
        ng-blur="$ctrl.onCellEditBlur($index)"
        ng-focus="$ctrl.onCellFocus($ctrl.monthName, spend.category, 'forecast')"
        focus-me
        focus-me-if="$ctrl.getCellFocus($ctrl.monthName, spend.category, 'forecast')"
        number-mask="0"
        aria-label="Receipts forecast cell">
    </td>
    <td class="delete-btn-container">
      <span class="actual link"
            ng-if="$ctrl.number(spend.actual, 2) != null"
            ng-click="$ctrl.onShowMetadata({event: {data: $ctrl.data, spend: spend}})">{{$ctrl.number(spend.actual, 2)}} <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></span>
      <delete-button
        ng-if="!$ctrl.readOnly && spend.actual === null"
        ng-click="$ctrl.onDelete({event: {data: spend}})">
      </delete-button>
    </td>
  </tr>
</table>
