<div class="template-block-objectives">
  <div class="form-group" >
    <label for="singular-title">Objective text singular</label>

    <input class="form-control"
           ng-disabled="$ctrl.readOnly"
           id="singular-title"
           maxlength="50"
           ng-model="$ctrl.block.objectiveTextSingular"
           placeholder="Objective text singular"
           type="text" />
  </div>

  <div class="form-group" >
    <label for="plural-title">Objective text plural</label>

    <input class="form-control"
           ng-disabled="$ctrl.readOnly"
           id="plural-title"
           maxlength="50"
           ng-model="$ctrl.block.objectiveTextPlural"
           placeholder="Objective text plural"
           type="text" />
  </div>
</div>
