<div class="system-message-setup-item">
  <div class="row mtop10">
    <span class="pull-left title">{{$ctrl.title}}</span><span class="pull-right">LAST UPDATED ON: {{$ctrl.message.modifiedOn | date: 'dd/MM/yyyy'}}</span>
  </div>
  <div class="row mtop10">
    <span class="pull-left">Your message:</span><span class="pull-right">LAST UPDATED BY: {{$ctrl.message.modifierName}}</span>
  </div>
  <div class="row mtop30 text-center">
    <div ng-if="$ctrl.message.text" class="multiline-text">{{$ctrl.message.text}}</div>
    <div ng-if="!$ctrl.message.text" class="no-system-message">No messages</div>

  </div>
  <div class="row mtop30 mbottom10">
    <div class="checkbox-container form-group pull-left">
      <div>{{$ctrl.message.enabled ? 'Message displayed':'Message not displayed'}}</div>
    </div>

    <button class="btn btn-primary pull-right" ng-click="$ctrl.showEditModal()">EDIT</button>
  </div>
</div>
