.receipts {

  .wbs-codes-title {
    margin-bottom: 8px;
    font-family: $font-family-bolder;
    line-height: 14px;
    text-align: center;
  }

  //TODO move somewhere to reuse
  .approval-needed-message{
    margin: 10px auto;
    .approval-needed-message-date{
      color: #777;
    }
  }
}
