<div class="project-learning-grant medium-page">
  <div class="row text-center">
    <project-header on-back="$ctrl.back()" editable-block="$ctrl" show-ukprn="true">{{$ctrl.learningGrant.blockDisplayName}}
    </project-header>
  </div>

  <spinner ng-if="$ctrl.loading"></spinner>

  <div ng-if="$ctrl.isSelectedYearPercentageMissing " class="year-missing-error text-center" id="error-summary">
    Please contact GLA regarding your allocation profiles
  </div>
  <div class="row text-center">
    <div class="row total-allocation-exceeded-error">
      <div class="col-xs-12 mtop5 mbottom10 text-center" ng-if="$ctrl.learningGrant.validationFailures && $ctrl.learningGrant.validationFailures.TOTAL_ALLOCATION_EXCEEDED">
        <div class="error-wrapper error">
          {{$ctrl.learningGrant.validationFailures.TOTAL_ALLOCATION_EXCEEDED[0].description}}
        </div>
      </div>

      <div class="col-xs-12 mtop5 mbottom10 text-center" ng-if="!$ctrl.learningGrant.isDeliveryAllocationEditable;">
        <div class="error-wrapper error">
          Allocation cannot be edited when there are pending claims
        </div>
      </div>
    </div>

    <div class="mtop10 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">

      <div class="form-group" ng-if="$ctrl.showTotalAllocation">
        <label for="totalAllocation">{{$ctrl.labels.totalAllocation}}</label>
        <input id="totalAllocation"
               ng-if="!$ctrl.readOnly"
               number-mask="2"
               type="text"
               ng-model="$ctrl.learningGrant.totalAllocation"
               maxlength="14"
               class="form-control"
               change-on-blur="$ctrl.autoSave()"
               aria-label="Total Allocation">
        <div ng-if="$ctrl.readOnly">{{$ctrl.learningGrant.totalAllocation | number}}</div>
      </div>

      <div class="form-group">
        <label for="academic-year">{{$ctrl.labels.academicYear}}</label>
        <div ng-if="!$ctrl.showYearDropDown">{{$ctrl.academicYearFrom | fYear}}</div>
        <financial-year id="academic-year"
                        ng-if="$ctrl.showYearDropDown"
                        from="$ctrl.academicYearFrom"
                        to="$ctrl.academicYearTo"
                        current-financial-year-const="$ctrl.currentFinancialYear"
                        on-select="$ctrl.onSelectYear($ctrl.fromDateSelected.financialYear)"
                        selected-year="$ctrl.fromDateSelected"
                        populated-years="$ctrl.learningGrant.populatedYears"></financial-year>
      </div>

      <div class="form-group">
        <label for="allocation">{{$ctrl.labels.deliverAllocation}}</label>
        <input id="allocation"
               ng-if="$ctrl.canEditDeliveryAllocation()"
               number-mask="2"
               type="text"
               ng-model="$ctrl.currentAllocation.allocation"
               maxlength="14"
               class="form-control"
               change-on-blur="$ctrl.autoSave()"
               aria-label="allocation">
        <div ng-if="!$ctrl.canEditDeliveryAllocation()">{{$ctrl.currentAllocation.allocation | number}}</div>
      </div>
    </div>
  </div>

  <learning-grant-table block-id="$ctrl.learningGrant.id"
                        id="delivery-allocations"
                        data="$ctrl.deliveryEntries"
                        claimable="$ctrl.learningGrant.claimable"
                        columns="$ctrl.labels.tableColumns"
                        on-cancel-claim="$ctrl.refreshData()"
                        is-aeb-procured="$ctrl.isAebProcured"
                        is-aeb-grant="$ctrl.isAebGrant"
                        is-support-allocation="false"
                        read-only="$ctrl.readOnly"
                        on-claim="$ctrl.refreshData()"
                        project="$ctrl.project"></learning-grant-table>

  <div class="row mtop20 text-center" ng-if="$ctrl.isAebProcured">
    <div class="mtop10 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
      <div class="form-group">
        <label for="learner_support_allocation">{{$ctrl.labels.learnerSupportAllocation}}</label>
        <input id="learner_support_allocation"
               ng-if="$ctrl.canEditSupportAllocation(true)"
               number-mask="2"
               type="text"
               ng-model="$ctrl.currentAllocation.learnerSupportAllocation"
               maxlength="14"
               class="form-control"
               change-on-blur="$ctrl.autoSave()"
               aria-label="Learner Support Allocation">
        <div id="read-only-learner-support-allocation" ng-if="!$ctrl.canEditSupportAllocation(true)">{{$ctrl.currentAllocation.learnerSupportAllocation | number}}</div>
      </div>
    </div>
  </div>

  <learning-grant-table block-id="$ctrl.learningGrant.id"
                        id="support-allocations"
                        data="$ctrl.supportEntries"
                        claimable="$ctrl.learningGrant.claimable"
                        columns="$ctrl.labels.tableColumns"
                        ng-if="$ctrl.supportEntries.length && $ctrl.isAebProcured"
                        project="$ctrl.project"
                        is-aeb-procured="$ctrl.isAebProcured"
                        is-support-allocation="true"
                        read-only="$ctrl.readOnly"
                        on-cancel-claim="$ctrl.refreshData()"
                        on-claim="$ctrl.refreshData()"></learning-grant-table>

  <project-block-footer editable-block="$ctrl"></project-block-footer>
</div>
