.organisation-form {
  h4 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 34px;
  }

  header-status{
    padding-left: 15px ;
    padding-left: 15px ;
  }

  .org-code-input {
    padding-left: 0;
    padding-right: 0;
  }

  .sub-label{
    margin-top: -3px;
    margin-bottom: 8px;
    color: $secondary-text;
    line-height: 1.25;
  }

  .section-description{
    padding: 0 15px;
    margin-bottom: 25px;
  }

  @include when-sm {
    .org-code-input {
      padding-right: 15px;
    }

    .glyphicon-ok.form-control-feedback{
      right: 15px;
    }
  }

  .user-form{
    .user-registration-form > .row {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  section-header .section-header{
    font-size: 24px;
    font-family: $font-family-bolder;
  }

  .registration-allowed, .skills-gateway-access-allowed {
    input{
      width: 1rem;
      height: 1rem;

      margin-left: 10px;
      margin-top: 11px;
    }
    label {
      padding-top: 11px;

    }
  }

  .org-icon{
    height: 50px;
    margin-right: 10px;
  }

  .selected-org-icon{
    height: 20px;
    margin-right: 5px;
    margin-top: -4px;
  }
}
