<label for="receiptMonth">Month</label><br/>
<ui-select id="receiptMonth"
           placeholder="Select month"
           ng-model="$ctrl.selectedMonth"
           search-enabled="false"
           ng-disabled="$ctrl.readOnly"
           on-select="$ctrl.onMonthSelected({selectedMonth:$ctrl.selectedMonth})">
    <ui-select-match placeholder="Select">
        {{$select.selected.label}}
    </ui-select-match>
    <ui-select-choices repeat="item in $ctrl.monthList">
        <span>{{item.label}}</span>
    </ui-select-choices>
</ui-select>
