<div class="abandon-modal">
  <div class="modal-header text-center">
    <button aria-label="Close" class="close" data-dismiss="modal" ng-mousedown="$dismiss()" on-enter="$dismiss()" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <h1>Reject Organisation</h1>
  </div>
  <div class="modal-body text-left">

    <p>A pending user is registered against this organisation.</p>
    <p>Rejecting this organisation will also delete the request.</p>
    <label for="reject-reason" class="mtop10">
      Select a reason to reject this organisation
    </label>
    <select class="search-dropdown form-control"
               name="reject reason"
               id="reject-reason"
               ng-model="$ctrl.reason"
               ng-options="reason as reason.label for reason in $ctrl.rejectionReasons"
               required
               style-placeholder="">
      <option disabled value="">Select</option>
    </select>

    <div ng-if="$ctrl.reason.requiresComment" class="mtop10">
      <label for="other-reason">Add a comment to the applicant explaining why the organisation was rejected</label>
      <textarea id="other-reason"
                ng-trim="false"
                rows="5"
                placeholder="Provide a reason."
                name="otherReason"
                class="form-control"
                ng-model="$ctrl.otherReason"
                required
                maxlength="250"></textarea>
    </div>
  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-12 text-center mbottom15">
        <button
          id="abandon-btn"
          class="btn btn-default btn-primary btn-center"
          type="button"
          ng-click="$ctrl.$close({reason: $ctrl.reason, reasonText: $ctrl.otherReason})"
          ng-disabled="!($ctrl.reason && $ctrl.reason.requiresComment && $ctrl.otherReason) && !($ctrl.reason && !$ctrl.reason.requiresComment)">REJECT</button>

        <button
          id="cancel-btn"
          class="btn btn-default btn-primary btn-center"
          type="button"
          ng-click="$dismiss()">CANCEL</button>
      </div>
    </div>
  </div>
</div>
