<gla-page-header (on-back)="$ctrl.back()">Update details</gla-page-header>

<form class="form-gla" role="form" name="sqlDetailsForm" style="margin-top: 30px">

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="form-group sql-update">
        <label for="id">ID</label>
        <div id="id">{{$ctrl.sqlUpdateDetails.id}}</div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="!update.summary">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="form-group sql-update">
        <label for="sql-update">SQL</label>
        <div id="sql-update">
          <textarea id="editSql" style="width: 100%; text-align: left" ng-disabled="true" ng-model="$ctrl.updateString" rows="5" maxlength="1000">
                      {{$ctrl.sqlUpdateDetails.sql}}
          </textarea>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="form-group sql-update">
        <label for="created-by">Created by</label>
        <div id="created-by">{{$ctrl.sqlUpdateDetails.createdBy}}</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="form-group sql-update">
        <label for="created-on">Created on</label>
        <div id="created-on">{{$ctrl.sqlUpdateDetails.createdOn}}</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="form-group sql-update">
        <label for="status">Status</label>
        <div id="status">{{$ctrl.sqlUpdateDetails.status}}</div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="$ctrl.sqlUpdateDetails.status!='AwaitingApproval'">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="form-group sql-update">
        <label for="approved-by">Approved by</label>
        <div id="approved-by">{{$ctrl.sqlUpdateDetails.approvedBy}}</div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="$ctrl.sqlUpdateDetails.status!='AwaitingApproval'">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="form-group sql-update">
        <label for="approved-on">Approved on</label>
        <div id="approved-on">{{$ctrl.sqlUpdateDetails.approvedOn}}</div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="$ctrl.sqlUpdateDetails.status=='Complete'">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="form-group sql-update">
        <label for="rows-affected">Row(s) affected</label>
        <div id="rows-affected">{{$ctrl.sqlUpdateDetails.rowsAffected}}</div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="$ctrl.sqlUpdateDetails.summary">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="form-group sql-update">
        <label for="rows-affected">Summary</label>
        <div id="summary">{{$ctrl.sqlUpdateDetails.summary}}</div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="$ctrl.sqlUpdateDetails.trackingId">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="form-group sql-update">
        <label for="rows-affected">Tracking Id</label>
        <div id="trackingId">{{$ctrl.sqlUpdateDetails.trackingId}}</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="form-group sql-update">
        <label for="ppd">Tested in PPD</label>
        <div id="ppd">
          <input type="checkbox" ng-model="$ctrl.sqlUpdateDetails.ppd" id="ppd-checkbox" />
        </div>
      </div>
    </div>
  </div>

</form>


<div class="row" ng-if="$ctrl.sqlUpdateDetails.status=='AwaitingApproval'">
  <div class="col-xs-12 mtop30 mbottom30 text-center">
    <button class = "btn btn-primary btn-md"
            id = "approve-and-run-btn"
            ng-click="$ctrl.actionUpdate(true)"
            ng-disabled="!$ctrl.sqlUpdateDetails.ppd">
      Approve & Run
    </button>
  </div>
</div>
