<div class="advance-payment-claim-modal">
  <div class="modal-header text-center">
    <button aria-label="Close" class="close" data-dismiss="modal" ng-mousedown="$dismiss('cancel')" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>{{$ctrl.title}}</h1>
    <div>{{$ctrl.subtitle}}</div>
  </div>
  <div class="modal-body text-left">
    <div>
      <div class="clearfix">
        <span class="label">{{$ctrl.claimableAmountTitle}}</span>
        <span class="pull-right">{{$ctrl.claimableAmount | currency:'£':2}}</span>
      </div>
    </div>
    <div class="mtop30">
      {{$ctrl.text}}
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-12 text-center">

        <button
          class="btn btn-default btn-primary btn-center"
          id="claim-btn"
          ng-click="$ctrl.onClaim()"
          ng-if="!$ctrl.isClaimed && !$ctrl.readOnly"
          type="button">{{$ctrl.claimBtnText}}</button>

        <button
          class="btn btn-default btn-secondary btn-negative btn-center"
          id="cancel-claim-btn"
          ng-click="$ctrl.onCancelClaim()"
          ng-if="$ctrl.isClaimed && !$ctrl.readOnly"
          type="button">{{$ctrl.cancelBtnText}}</button>

        <div class="mtop20">
          <a class="form-cancel dismiss-btn"  href ng-click="$dismiss('cancel')">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>
