<div class="label-modal">
  <div class="modal-header text-center">
    <button aria-label="Close" class="close" data-dismiss="modal" ng-mousedown="$dismiss()" on-enter="$dismiss()" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>Apply label</h1>
  </div>

  <div class="modal-body text-left">
    <form
      id="applyLabelForm"
      role="form"
      name="applyLabelForm">

      <div class="form-group label-type-select">
        <label for="labelType">Label type</label>
        <select aria-label="Label type"
                class="form-control"
                id="labelType"
                name="label-type"
                ng-change="$ctrl.onLabelTypeChange()"
                ng-class="{disabled: $ctrl.readOnly}"
                ng-model="$ctrl.label.type"
                ng-options="label.type as label.labelName for label in $ctrl.labelTypes track by label.type"
                required style-placeholder>
          <option disabled value="">Select a label type</option>
        </select>
      </div>

      <div class="form-group ad-hoc-label" ng-if="$ctrl.label.type ==='Custom'">
        <label for="label-text" class="mtop10">{{$ctrl.explanatoryText}}</label>
        <input id="label-text"
               type="text"
               class="form-control"
               ng-change="$ctrl.validate()"
               maxlength="20"
               ng-model="$ctrl.label.text">
        <div class="error-wrapper" ng-if="$ctrl.isExistingLabel">
          <span class="error">Label already exists</span>
        </div>
      </div>


      <div class="form-group pre-set-label" ng-if="$ctrl.label.type ==='Predefined'">
        <label for="pre-set-label">Select pre-set label</label>
        <select class="form-control"
                   id="pre-set-label"
                   ng-class="{disabled: $ctrl.readOnly}"
                   name="preSetLabel"
                   aria-label="Pre-set label"
                   ng-options="preSetLabel as (preSetLabel.labelName + ' - ' + preSetLabel.managingOrganisationName) for preSetLabel in $ctrl.activePreSetLabels | orderBy: 'labelName'"
                   ng-model="$ctrl.label.preSetLabel"
                   required style-placeholder>
          <option disabled value="">Select pre-set label</option>
        </select>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-12 text-center mbottom15">
        <button
          id="abandon-btn"
          class="btn btn-default btn-primary btn-center"
          type="button"
          ng-click="$ctrl.apply()"
          ng-disabled="(!$ctrl.label.type || (!$ctrl.label.text && !$ctrl.label.preSetLabel)) || $ctrl.isExistingLabel">APPLY</button>

        <button
          id="cancel-btn"
          class="btn btn-default btn-secondary btn-center"
          type="button"
          ng-click="$dismiss()">CANCEL</button>
      </div>
    </div>
  </div>
</div>
