$btn-normal: #43AA8B;
$btn-hover: #43AA8B;

.form-top-error {
    text-align: center;
    min-height: 40px;
    .error{
      line-height: 1.42;
    }
    p {
      margin: 15px 0 !important;
    }
}

.error {
  color: $error;
  font-size: 12px;
  line-height: 12px;
  font-family: $font-family-light;
  font-weight: 100;
  a {
    //color: $error;
    font-family: $font-family-bolder;
  }
}

.error-wrapper, .error-wrapper[role="alert"] {
  margin-top: 5px;
  .error {
    display: block;
  }
}

[role="alert"] {
  margin-top: 5px;
}



.form-section-header {
  font-family: $font-family-light;
  font-size: 24px;
  color: $form-field-active;
}

div.form-cancel {
  padding-top: 8px;
}

a.form-cancel {
  font-family: $font-family-bolder;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
  line-height: 14px;
  label {
    text-align: left;
    font-family: $font-family-bolder;
    font-weight: normal;
    color: $primary-text;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 8px;

    &.form-check-inline{
      font-family: $font-family-default;
      margin-bottom: 0px;
      &:not(:last-child){
        margin-right: 20/16 + 0rem;
      }
    }

    &.large-text{
      font-size: 18px;
      font-family: $font-family-light;
      line-height: 1.4;
    }
  }
  input.ng-invalid.ng-touched {
    border: 1px solid $error;
    box-shadow: none;
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(179, 35, 35, 0.6);*/
  }
  /*input.ng-valid.ng-touched {
    border: 1px solid green;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(4, 195, 10, 0.6);
  }*/

  .dateInput.form-control, date-input {
    height: 30px;
  }
}

.label{
  padding: 0;
  text-align: left;
  font-family: $font-family-bolder;
  font-weight: normal;
  color: $primary-text;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 8px;
  display: inline-block;
}

//.ng-invalid.ng-touched .form-control{
//  border: 1px solid $error;
//}

//TODO mixin for placeholder
.form-control {
  font-size: 0.75rem;
  height: 30px;
  border-radius: 2px !important;
  color: $form-field-active;
  letter-spacing: 0.5px;
  box-shadow: none;
  border: 1px solid $form-field-inactive;
  //TODO replace with component ui-select
  option:disabled{
    color: $form-field-inactive;
  }
  &::-webkit-input-placeholder {
    color: $form-field-inactive;
    font-size: 0.75rem;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $form-field-inactive;
    font-size: 0.75rem;

  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: $form-field-inactive;
    font-size: 0.75rem;
  }

  &:-ms-input-placeholder {
    color: $form-field-inactive;
    font-size: 0.75rem;
  }

  &:focus {
    border-color: $form-field-focus-border;
    box-shadow: none;
    outline: none;
  }
}

form .group-field{
  margin-top: 10px;
}

//TODO
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control,
  .ui-select-bootstrap[disabled], .ui-select-bootstrap[disabled] div.ui-select-match span.ui-select-toggle, .disabled-field {
  background-color: $form-field-disabled-bg;
  opacity: 1;
  .caret{
    color: $form-field-inactive;
  }
}

.ui-select-bootstrap {

  .btn-default-focus {
    outline: none;
    box-shadow: none;
    .form-control{
      border: 1px solid $form-field-focus-border;
    }
  }

  &.ng-invalid.ng-touched{
    .ui-select-match {
      outline: none;
      box-shadow: none;
      .form-control {
        border: 1px solid $error;
      }
    }
  }

  .ui-select-match-text {
    overflow-x:hidden;
    overflow-y:hidden;
    text-overflow: ellipsis;
    -ms-overflow-style: none;
  }
}
.gla-dropdown {
  a,
  a:hover,
  a:focus,
  a:active:hover,
  a:active:focus {
    color: $accent-color;
    font-family: $font-family-bolder;
    letter-spacing: .5px;
    text-decoration: none;
  }
  .caret {
    color: $accent-color;
  }
  .dropdown-menu {
    top: 1.2rem;
    margin: 0;
  }
}

// UIB-DROPDOWN
div.ui-select-bootstrap {
  div.ui-select-match {
    span.ui-select-toggle {
      padding: 6px 12px;
      background-color: #fff;

      &:focus, &:hover {
        border-color: #ccc;
        outline: none;
      }

      span.ui-select-placeholder {
        color: $inactive-field-text-color;
      }
    }

    // Triangle
    .caret {
      //top: 15px;
      right: 15px;
      color: $primary-text;
    }

    .glyphicon-remove{
      //top: 15px;
      color: $primary-text;
    }
  }

  &.ng-not-empty{
    div.ui-select-match[allow-clear=true]{
      .caret{
        display: none;
      }

      .glyphicon-remove{
        margin-right: -12px;
      }
    }
  }

  &.open {
    span.ui-select-toggle {
      border-bottom: 1px solid #ededed;
    }

    .caret {
      top: 8px !important;
      transform: rotate(180deg);
    }

  }

  ul.ui-select-choices {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top: none;
    background-color: #fff;
    padding: 0;
    margin-top: 1px;

    div.ui-select-choices-row {
      border-top: 1px solid #ededed;
      &:hover, &.selected, &.active {
        color: #000;
        background-color: #f5f5f5;
      }

      span.ui-select-choices-row-inner {
        padding: 8px 12px;
        font-size: 12px;
        color: #545656;
        background-color: transparent;
      }

      &.disabled{
        span.ui-select-choices-row-inner {
          color: $form-field-inactive;
          background-color: $form-field-disabled-bg;
        }
      }
    }
  }
}

textarea {
  resize: none;
}

.read-only-text {
   color: $form-field-active;
   font-size: 12px;
 }

.not-provided{
  color: $secondary-text;
}

.glyphicon-ok.form-control-feedback {
  color: #31ae52;
  margin-top: -2px;
}
