.modal-content{
  background-color: $gla-white;
  border-radius: 2px;
}

.modal-header {
  font-family: $font-family-bolder;
  border: none;

  .subheader {
    margin-top: 10px;
    font-family: $font-family-default;
  }
}

.modal-footer {
  padding: 15px;
  text-align: center;
  border: none;
  margin-bottom: 15px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-body{
  padding: 15px 30px;
}
