@import "variables";
:host {
  .overview-block {
    gla-icon-new{
      position: absolute;
      left: 10px;
      top: 0;
      .arrow-down{
        top: 26px;
      }
    }

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: normal;

    background-color: white;
    cursor: pointer;
    min-height: 145px;
    /*padding: 10px;*/
    width: 100%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border: none;
    position: relative;
    border-radius: 2px;

    &.with-border.with-border{
      border-style: solid !important;
      border-width: 1px !important;
    }

    &:hover{
      border: 1px solid $gla-black !important;
      &:after {
        width: 100%;
        height: 100%;
        content: '';
        outline: 1px solid $gla-black !important;
        outline-offset: -1px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &:focus{
      border: 1px solid $form-field-active !important;
    }

    .block-overview-step-number {
      color: $gla-black;
      font-size: 24px;
      padding-bottom: 5px;
    }

    .block-overview-name {
      color: $gla-black;
      font-family: $font-family-bolder;
      text-transform: uppercase;
      font-size: 14px;
      padding-bottom: 20px;
    }

    .block-overview-status {
      font-size: 12px;
      font-family: $font-family-light;
      .glyphicon{
        font-size: 1rem;
      }
      margin-bottom: 10px;
    }

    //.block-overview-status-complete, .block-overview-status-approved {
    //  color: $green;
    //}
    //
    //.block-overview-status-incomplete, .block-overview-status-unapproved {
    //  color: $amber;
    //}

    //&.active-block{
    //  border: 1px solid $green;
    //  color: $green;
    //  &.block-unapproved, &.land-block-overview.incomplete-block{
    //    border-color: $amber;
    //    color: $amber;
    //  }
    //}

    .block-overview-banner{
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      padding: 0;
      padding-top: 1px;
      height: 26px;
      line-height: 26px;
      background: $gla-red;
      color: #ffffff;
      font-size: 12px;
      font-family: $font-family-light;
    }

    &.overview-block-green{
      .status {
        color: $gla-black;
      }
      color: $green;
      border: 1px solid $green;
    }

    &.overview-block-amber{
      .status {
        color: $gla-black;
      }
      color: $amber;
      border: 1px solid $amber;
    }
  }
}
