<h1>Quaterly claim summary</h1>
<!--<div class="table-responsive yearly-budget-funding-totals-table">-->
  <!--<table class="table table-bordered table-striped" id="total-funding-table">-->
    <!--<thead class="thead-inverse uppercase">-->
    <!--<tr>-->
      <!--<th class="year-column-cell text-center">YEAR</th>-->
      <!--<th>CAPITAL GLA BUDGET</th>-->
      <!--<th>CAPITAL MATCH BUDGET</th>-->
      <!--<th>REVENUE GLA BUDGET</th>-->
      <!--<th>REVENUE MATCH BUDGET</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr ng-if="$ctrl.yearlyData.length === 0"><td colspan="5"><b>No budget added to any year, select a year to add expected annual budget</b></td></tr>-->
    <!--<tr ng-repeat="year in $ctrl.yearlyData" ng-click="$ctrl.goToUserProfile(user)">-->
      <!--<td class="">{{year.yearLabel}}</td>-->
      <!--<td>{{year.capitalValue.value | currency:'£':0}}</td>-->
      <!--<td>{{year.capitalMatchFunding.value | currency:'£':0}}</td>-->
      <!--<td>{{year.revenueValue.value | currency:'£':0}}</td>-->
      <!--<td>{{year.revenueMatchFunding.value | currency:'£':0}}</td>-->
    <!--</tr>-->
    <!--<tr class="divider"><td colspan="5"></tr>-->
    <!--<tr class="footer-row">-->
      <!--<td class="year-column-cell">TOTALS</td>-->
      <!--<td>{{$ctrl.totals.totalCapitalValue | currency:'£':0}}</td>-->
      <!--<td>{{$ctrl.totals.totalCapitalMatchFunding | currency:'£':0}}</td>-->
      <!--<td>{{$ctrl.totals.totalRevenueValue | currency:'£':0}}</td>-->
      <!--<td>{{$ctrl.totals.totalRevenueMatchFunding | currency:'£':0}}</td>-->
    <!--</tr>-->
    <!--<tr class="footer-row">-->
      <!--<td class="year-column-cell">TOTAL PROJECT BUDGET</td>-->
      <!--<td colspan="4">-->
        <!--{{($ctrl.totals.totalProjectBudget || 0) | currency:'£':0}}-->
      <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->
<!--</div>-->

