<div>

  <div class="row" style="padding-top:5rem">

    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <form novalidate class="form-gla" role="form">

        <div class="form-group">
          <label>New 'Coming Soon' message</label>
          <input type="text" class="form-control" ng-model="csoon.message" required/>
        </div>

        <button type="button" class="btn center-block btn-primary" ng-click="csoon.submit()">SAVE</button>

      </form>
    </div>

  </div>

  <div class="row" ng-if="csoon.statusMessage">
    <div class="col-xs-3"></div>
    <div class="col-xs-6 gla-welcome-message">
      {{ csoon.statusMessageText }}
    </div>
  </div>


</div>
