<div class="yesNoInput">
  <input type="radio"
         id="{{$ctrl.name}}-yes"
         name="{{$ctrl.name}}"
         ng-model="$ctrl.ngModel"
         ng-value="$ctrl.yesValue"
         ng-change="$ctrl.onChange()"
         ng-disabled="$ctrl.isDisabled">
  <label for="{{$ctrl.name}}-yes" class="yesNoInput__label">Yes</label>
  &nbsp;
  &nbsp;
  <input type="radio"
         id="{{$ctrl.name}}-no"
         name="{{$ctrl.name}}"
         ng-model="$ctrl.ngModel"
         ng-value="$ctrl.noValue"
         ng-change="$ctrl.onChange()"
         ng-disabled="$ctrl.isDisabled">
  <label for="{{$ctrl.name}}-no" class="yesNoInput__label">No</label>
</div>
