.user-account {
  //width: 90%;
  //margin: auto;
  section-header {
    margin-top: 20px;
    margin-bottom: 20px;
    .section__header {
      font-size: 1.5rem;
    }
  }

  .form-group.row {
    margin-bottom: 20px;
  }
  .org-user-approved {
    color: #31ae52;
  }

  .organisations {
    padding-left: 15px;
    padding-right: 15px;
  }

  td.spend-authority-edit {
    padding: 4px;
    input, .threshold {
      width: 170px;
      display: inline-block;
    }
  }

  .edit-mode td .btn-md{
    &,
    &:active {
      margin-top: -1px;
      margin-left: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }

  .pending{
    color: lighten($secondary-text, 10%);
  }

  delete-button{
    display: inline;
  }
}
