<table class="expandableRow">
  <tr class="primaryRow"
      ng-class="{'expandable': $ctrl.monthData.spendBreakdown.length > 0, 'primaryRowFocus': $ctrl.primaryRowFocus}"
      ng-click="$ctrl.openClose()">
    <th style="width: 20%">
      <a href
        ng-focus="$ctrl.onPrimaryRowFocus()"
        ng-blur="$ctrl.onPrimaryRowBlur()">
        <div class="row no-gutter">
          <div class="col-xs-2">
            <div ng-if="$ctrl.monthData.spendBreakdown.length">
              <i class="glyphicon glyphicon-triangle-bottom" ng-if="!$ctrl.isExpanded"></i>
              <i class="glyphicon glyphicon-triangle-top" ng-if="$ctrl.isExpanded"></i>
            </div>
          </div>
          <div class="col-xs-10">
            <span>{{$ctrl.getMonthFullName($ctrl.monthName)}}</span>
          </div>
        </div>
      </a>
    </th>
    <th style="width: 20%">{{$ctrl.formatNumberWithCR($ctrl.total.capitalForecast)}}</th>
    <th style="width: 20%">{{$ctrl.formatNumberWithCR($ctrl.total.capitalActual, 2)}}</th>
    <th style="width: 20%">{{$ctrl.formatNumberWithCR($ctrl.total.revenueForecast)}}</th>
    <th style="width: 20%">{{$ctrl.formatNumberWithCR($ctrl.total.revenueActual, 2)}}</th>
  </tr>
  <tr class="secondaryRow"
      ng-if="$ctrl.isExpanded"
      ng-repeat="spend in $ctrl.monthData.spendBreakdown">
    <td class="capital-actual">{{spend.spendCategory}}</td>
    <td class="capital-forecast">
      <forecast-change
        read-only="$ctrl.readOnly"
        spend="spend"
        is-capital="true"
        on-cell-focus="$ctrl.onCellFocus($ctrl.monthName, spend.spendCategory, 'capital')"
        get-cell-focus="$ctrl.getCellFocus($ctrl.monthName, spend.spendCategory, 'capital')"
        on-cell-edit="$ctrl.onForecastChange(event)">
      </forecast-change>
    </td>
    <td>
       <span class="actual link"
             ng-if="$ctrl.formatNumberWithCR(spend.capitalActual, 2) != null"
             ng-click="$ctrl.onShowMetadata({event: {data: $ctrl.monthData, spend: spend, spendType: 'CAPITAL'}})">{{$ctrl.formatNumberWithCR(spend.capitalActual, 2)}} <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></span>
    </td>
    <td class="revenue-forecast">
      <forecast-change
        read-only="$ctrl.readOnly"
        spend="spend"
        is-capital="false"
        on-cell-focus="$ctrl.onCellFocus($ctrl.monthName, spend.spendCategory, 'revenue')"
        get-cell-focus="$ctrl.getCellFocus($ctrl.monthName, spend.spendCategory, 'revenue')"
        on-cell-edit="$ctrl.onForecastChange(event)">
      </forecast-change>
    </td>
    <td class="revenue-actual delete-btn-container">
      <span class="actual link"
            ng-if="$ctrl.formatNumberWithCR(spend.revenueActual, 2) != null"
            ng-click="$ctrl.onShowMetadata({event: {data: $ctrl.monthData, spend: spend, spendType: 'REVENUE'}})">{{$ctrl.formatNumberWithCR(spend.revenueActual, 2)}} <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></span>
      <delete-button
        ng-if="!$ctrl.readOnly && spend.capitalActual == null && spend.revenueActual == null"
        ng-click="$ctrl.onDelete(spend)">
      </delete-button>
    </td>
  </tr>
</table>
