<div class="annual-spend-forecast">
  <div class="row no-gutter wizzard" ng-if="!$ctrl.readOnlyParent">
      <div class="col-xs-12 no-gutter">
        <!--<div class="form-group col-md-2 col-xs-12 mtop15">-->
            <!--<month-selector-->
              <!--read-only="$ctrl.readOnly"-->
              <!--year="$ctrl.year"-->
              <!--on-month-selected="$ctrl.onMonthSelected(selectedMonth)"-->
              <!--selected-month="$ctrl.addSpendMonth">-->
            <!--</month-selector>-->
        <!--</div>-->
        <div class="form-group col-md-4 col-xs-12 mtop15">
            <label for="spendCategory">Spend category</label><br/>
            <ui-select id="spendCategory"
                       ng-model="$ctrl.addSpendCategory"
                       search-enabled="false"
                       ng-disabled="$ctrl.readOnly">
                <ui-select-match placeholder="Select">
                    {{$select.selected.text}}
                </ui-select-match>
                <ui-select-choices repeat="item in $ctrl.spendCategories  | orderBy: 'text' track by item.id">
                    <span>{{item.text}}</span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group col-md-2 col-xs-12 mtop15">
            <label for="spendType">Type</label><br/>
            <ui-select id="spendType"
                       ng-model="$ctrl.addSpendType"
                       search-enabled="false"
                       ng-disabled="$ctrl.readOnly">
                <ui-select-match placeholder="Select">
                    {{$select.selected.label}}
                </ui-select-match>
                <ui-select-choices repeat="item in $ctrl.spendTypes">
                    <span>{{item.label}}</span>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group {{$ctrl.canCreateActuals ? 'col-md-2' : 'col-md-4'}} col-xs-12 mtop15">
            <label for="forecastSpendValue">Forecast £</label><br/>
            <input class="form-control"
                   id="forecastSpendValue"
                   type="text"
                   placeholder="£0"
                   ng-model="$ctrl.forecastSpendValue"
                   number-mask="0"
                   maxlength="13"
                   ng-disabled="$ctrl.readOnly"
                   ng-keypress="$ctrl.onForecastKeyPress()">
        </div>
        <div class="form-group col-md-2 col-xs-12 mtop15" ng-if="$ctrl.canCreateActuals">
          <label for="actualSpendValue">Actual £</label><br/>
          <input class="form-control"
                 id="actualSpendValue"
                 type="text"
                 placeholder="£0"
                 ng-model="$ctrl.actualSpendValue"
                 number-mask="2"
                 maxlength="13"
                 ng-disabled="$ctrl.readOnly"
                 ng-keypress="$ctrl.onActualKeyPress()">
        </div>
        <div class="form-group budget-date date-picker right-aligned col-md-2 col-xs-12 mtop15">
          <label for="date">Date</label><br/>
          <div class="input-group">
            <input ng-change="$ctrl.onDateChange($ctrl.date)" ng-class="{white: !$ctrl.readOnly}"
                   id="date"
                   ng-click="showDatePopup = !showDatePopup"
                   placeholder="Select date"
                   class="form-control"
                   uib-datepicker-popup="{{$ctrl.dateOptions.format}}"
                   ng-model="$ctrl.date"
                   is-open="showDatePopup"
                   datepicker-options="$ctrl.dateOptions"
                   show-button-bar="false"
                   readonly
                   ng-disabled="$ctrl.readOnly"
                   close-text="Close"/>
              <span class="input-group-addon" ng-click="showDatePopup = !showDatePopup" ng-class="{disabled: $ctrl.readOnly}">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
        </div>


        <!--<div class="form-group col-md-2 col-xs-12 mtop15" ng-if="true" style="opacity: .2">-->
            <!--<label for="spendRecurrence">Recurrence</label><br/>-->
            <!--<ui-select id="spendRecurrence"-->
                       <!--ng-model="$ctrl.addSpendRecurrence"-->
                       <!--search-enabled="false"-->
                       <!--ng-disabled="true">-->
                <!--<ui-select-match placeholder="Select">-->
                    <!--{{$select.selected.label}}-->
                <!--</ui-select-match>-->
                <!--<ui-select-choices repeat="item in $ctrl.spendRecurrence">-->
                    <!--<span>{{item.label}}</span>-->
                <!--</ui-select-choices>-->
            <!--</ui-select>-->
        <!--</div>-->
      </div>
      <div class="col-xs-12 text-right">
        <button class="btn btn-primary add-btn mtop15"
                ng-click="$ctrl.addForecastSpend()"
                ng-disabled="
                    $ctrl.readOnly ||
                    !$ctrl.date ||
                    !$ctrl.addSpendCategory ||
                    !$ctrl.addSpendType ||
                    !$ctrl.validateSpendValue()
                    ">ADD SPEND +
        </button>
    </div>
  </div>
  <div class="row no-gutter mtop15">
    <div class="col-md-12 expandableTable">
        <table class="table table-bordered table-with-inputs table-responsive mtop15" id="forecast-table">
            <thead>
                <tr class="mainHeader">
                    <th style="width: 20%; padding-left: 1rem;">MONTH (TOTAL)</th>
                    <th style="width: 20%">CAPITAL FORECAST £</th>
                    <th style="width: 20%">CAPITAL ACTUAL £</th>
                    <th style="width: 20%">REVENUE FORECAST £</th>
                    <th style="width: 20%">REVENUE ACTUAL £</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="month in $ctrl.yearData.annualSpendMonthlyTotals">
                    <td colspan="5">
                        <forecast-month-row
                            session-storage="$ctrl.sessionStorage"
                            table-id="forecastTable"
                            row-id="month.monthName"
                            month-data="month"
                            on-cell-edit="$ctrl.onCellEdit(event)"
                            on-delete-spend="$ctrl.onDeleteSpend(event)"
                            on-show-metadata="$ctrl.onShowMetadata({event: event})"
                            read-only="$ctrl.readOnly">
                        </forecast-month-row>
                    </td>
                </tr>
                <tr class="divider"><td colspan="5"></td></tr>
                <tr class="footer-row">
                    <td>ACTUAL £ SPEND</td>
                    <td id="totalForPastMonths-capitalForecast">{{$ctrl.formatTotal($ctrl.yearData.actualSpend.capitalForecast)}}</td>
                    <td id="totalForPastMonths-capitalActual">{{$ctrl.formatTotal($ctrl.yearData.actualSpend.capitalActual, 2)}}</td>
                    <td id="totalForPastMonths-revenueForecast">{{$ctrl.formatTotal($ctrl.yearData.actualSpend.revenueForecast)}}</td>
                    <td id="totalForPastMonths-revenueActual">{{$ctrl.formatTotal($ctrl.yearData.actualSpend.revenueActual, 2)}}</td>
                </tr>
                <tr class="divider"><td colspan="5"></td></tr>
                <tr class="footer-row">
                    <td>REMAINING £ FORECAST (CURRENT & FUTURE MONTHS)</td>
                    <td id="totalForCurrentAndFutureMonths-capitalForecast">{{$ctrl.formatTotal($ctrl.yearData.totalForCurrentAndFutureMonths.capitalForecast)}}</td>
                    <td id="totalForCurrentAndFutureMonths-capitalActual">{{$ctrl.formatTotal($ctrl.yearData.totalForCurrentAndFutureMonths.capitalActual)}}</td>
                    <td id="totalForCurrentAndFutureMonths-revenueForecast">{{$ctrl.formatTotal($ctrl.yearData.totalForCurrentAndFutureMonths.revenueForecast)}}</td>
                    <td id="totalForCurrentAndFutureMonths-revenueActual">{{$ctrl.formatTotal($ctrl.yearData.totalForCurrentAndFutureMonths.revenueActual)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
