<div class="project-grant">
  <div class="text-center">
    <project-header on-back="$ctrl.back()" editable-block="$ctrl">{{$ctrl.projectBlock.blockDisplayName}}</project-header>
  </div>

  <spinner ng-if="!$ctrl.data && $ctrl.loading"></spinner>
  <div ng-if="$ctrl.data">
    <div ng-if="$ctrl.showStartOnSiteMessage" class="text-center start-on-site-message">
      {{$ctrl.startOnSiteRestrictionText}}
    </div>
    <div>
      <div class="row grant-block-title">
        1. Are 40% or more of the habitable rooms on the entire development, including open market sale and open market rent, affordable?
      </div>
      <div id="radios" class="design-compliant">
        <label for="trueRadio">
          <input id="trueRadio" name="affordableCriteriaMet" ng-change="$ctrl.criteriaChange()" type="radio" ng-disabled="$ctrl.readOnly" ng-model="$ctrl.data.affordableCriteriaMet" ng-value="true">
          Yes
        </label>
        <label for="falseRadio">
          <input id="falseRadio" name="affordableCriteriaMet" ng-change="$ctrl.criteriaChange()" type="radio" ng-disabled="$ctrl.readOnly" ng-model="$ctrl.data.affordableCriteriaMet" ng-value="false">
          No
        </label>
      </div>

      <div class="row" ng-if="$ctrl.data.validationFailures.Block1.length">
        <div class="col-xs-12 mtop15 text-center">
          <div class="error-wrapper error" ng-repeat="error in $ctrl.data.validationFailures.Block1">
            {{error.description}} <span ng-if="error.rowId">({{error.rowId}})</span>
          </div>
        </div>
      </div>

    </div>

    <div class="row grant-block-title">
      2. Enter the units and tenure
    </div>
    <grant-table data="$ctrl.data" is-readonly="$ctrl.readOnly" on-tenure-change="$ctrl.saveTenure(true, true)">
    </grant-table>

    <div>
      <tenure-tiles
        tenures="$ctrl.tenureSummaryDetails"
      ></tenure-tiles>
      <total-grant total="$ctrl.data.totalGrantEligibility"></total-grant>
      <loading-mask ng-if="$ctrl.loading" text=""></loading-mask>
    </div>

    <claimed-units ng-if="$ctrl.data.startOnSiteMilestoneAuthorised || $ctrl.data.completionMilestoneAuthorised"
                   start-milestone="$ctrl.data.startOnSiteMilestoneAuthorised"
                   completion-milestone="$ctrl.data.completionMilestoneAuthorised"
                   total-start-on-site="$ctrl.data.totalStartOnSiteApprovedUnits"
                   total-completion="$ctrl.data.totalCompletionApprovedUnits"
                   tenures="$ctrl.tenureClaimedDetails"
                   title="TOTAL UNITS CLAIMED"
                   total="$ctrl.data.totalCompletionApprovedUnits || $ctrl.data.totalStartOnSiteApprovedUnits"
                   is-unit="true">
      <loading-mask ng-if="$ctrl.loading" text=""></loading-mask>
    </claimed-units>

    <project-block-footer editable-block="$ctrl"></project-block-footer>
  </div>
</div>
