<div class="table-responsive mtop15 learning-grant-table">

  <a href=""  ng-click="$ctrl.collapseOrExpandRows()" class="collapse-all-toggle no-print" ng-if="$ctrl.paymentsExist">
    {{$ctrl.getToggleText()}}
  </a>
  <table class="table table-hover table-bordered table-striped collapsible">
    <thead class="thead-inverse uppercase">
    <tr>
      <th></th>
      <th>{{$ctrl.columns.monthTitle}}</th>
      <th>{{$ctrl.columns.profileTitle}}</th>
      <th>{{$ctrl.columns.allocationTitle}}</th>
      <th style="max-width: 160px">{{$ctrl.columns.cumulativeAllocationTitle}}</th>
      <th ng-if="$ctrl.showColumns.cumulativeEarnings">{{$ctrl.columns.cumulativeEarningsTitle}}</th>
      <th ng-if="$ctrl.showColumns.cumulativePayment">{{$ctrl.columns.cumulativePaymentTitle}}</th>
      <th>{{$ctrl.columns.paymentDueTitle}}</th>
      <th>{{$ctrl.columns.statusTitle}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat-start="entry in $ctrl.data | orderBy: 'period'">
      <td>
        <toggle-icon ng-if="entry.payments.length" collapsed="entry.collapsed" on-collapse-change="$ctrl.onCollapseChange()"></toggle-icon>
      </td>

      <td class="text-nowrap">
        <span class="month">{{$ctrl.ProjectSkillsService.monthName(entry.actualMonth)}}</span> (P{{entry.period}})
      </td>
      <td>{{entry.percentage}}</td>
      <td>{{entry.allocation | currency:'£':2}}</td>
      <td>{{entry.cumulativeAllocation | currency:'£':2}}</td>
      <td ng-if="!$ctrl.isSupportAllocation">{{entry.cumulativeEarnings | currency:'£':2}}</td>
      <td ng-if="$ctrl.isAebProcured && !$ctrl.isSupportAllocation">{{entry.cumulativePayment | currency:'£':2}}</td>
      <td> {{$ctrl.isAebProcured ? (entry.paymentDue | currency:'£':2) : (entry.allocation | currency:'£':2)}}</td>
      <td>
        <span id="status-no-link" ng-if="!$ctrl.showStatusAsLink(entry) && $ctrl.isAebProcured">{{$ctrl.getStatusColumnText(entry)}}</span>

        <a ng-click="$ctrl.showClaimModal(entry)" ng-if="$ctrl.showStatusAsLink(entry) && $ctrl.claimable && $ctrl.isAebProcured && $ctrl.getStatusColumnText(entry) && (!$ctrl.isSupportAllocation || $ctrl.isSupportAllocation && entry.claimable)">
          {{$ctrl.getStatusColumnText(entry)}}
        </a>
        <div ng-if="$ctrl.isAebGrant">
          <div ng-if="$ctrl.isEntryPaid(entry) || !entry.claimable || !$ctrl.claimable || ($ctrl.readOnly && !entry.claim.claimStatus)">
            {{$ctrl.getScheduledPaymentStatus(entry)}}
          </div>

          <a ng-click="$ctrl.showClaimModal(entry)" ng-if="$ctrl.claimable && entry.claimable && $ctrl.getStatusColumnText(entry) != 'Approved' && !$ctrl.isEntryPaid(entry)">
            {{$ctrl.getStatusColumnText(entry)}}
          </a>
        </div>
      </td>
    </tr>
<!--    <tr ng-repeat-end ng-if="!entry.collapsed && $ctrl.showPaymentHistoryFor(entry).length >-->
    <tr ng-repeat-end ng-if="!entry.collapsed && entry.payments.length" ng-repeat="p in entry.payments | orderBy:'id' track by p.id">
      <td></td>
      <td ng-attr-colspan="{{$ctrl.visibleColumnCount}}" ng-if="!p.interestPayment">{{ p.authorisedOn | date: "dd/MM/yyyy 'at' HH:mm"}}
        {{$ctrl.getPaymentType(p)}} of {{p.value | currency:'£':2}} authorised by {{p.authorisor}}</td>
    </tr>
    </tbody>
  </table>
</div>
