total-grant{
  display: block;
  .grant-footer {
    font-size: 16px;
    text-align: center;
    border-top: 1px solid #ddd;
    background-color: $ice-blue;
    padding: 15px;
    line-height: 1.75;

    .grant-footer-title {
      //margin-bottom: 10px;
      //font-family: $font-family-light;
      color: $secondary-text;
    }

    .grant-footer-value {
      font-family: $font-family-bolder;
    }
  }
}
