change-report-table {
  display: block;
  .field-label, .field-value, .row-heading {
    border-top: $change-report-table-border;
    border-left: $change-report-table-border;
    &:last-child {
      border-right: $change-report-table-border;
    }
  }

  .aligned-tables{
    position: relative;
    .no-element{
      color: $red;
      margin-top: 10px;
    }
  }

  @include when-sm {
    .aligned-tables{
      .no-element{
        position: absolute !important;
        top: 0;
        left: 50%;
        margin-top: 20px;
        margin-left: 10px;
      }
    }
  }



  .child-row .table-row{
    .field-label {
      color: lighten(#aebecb, 10%);
      background-color: lighten($navy, 10%);
    }
  }

  .table-row {
    font-size: 12px;
    //TODO make color vars
    .field-label {
      background-color: $navy;
      text-align: left;
      color: #aebecb;
      font-family: $font-family-bolder;
    }

    .row-heading {
      background-color: $navy;
      text-align: center;
      color: #aebecb;
      font-family: $font-family-bolder;
    }

    &:last-child .right-col {
      .field-label, .field-value, .row-heading {
        border-bottom: $change-report-table-border;
      }
    }

    .left-col .field-value {
      background: $white;
    }

    .right-col .field-value {
      background: $grey;
    }

    @include when-sm {
      &:last-child {
        .left-col, .right-col {
          .field-label, .field-value, .row-heading {
            border-bottom: $change-report-table-border;
          }
        }
      }

      .aligned-table-rows{
        .no-element{
          position: absolute !important;
          top: 0;
          left: 50%;
        }
      }
    }
  }
}
