<div class="finance-categories-modal">
  <div class="modal-header text-center">
    <button (click)="activeModal.dismiss()" aria-label="Close" class="close" data-dismiss="modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>Spend & Receipt Category</h1>
  </div>

  <div class="modal-body">
    <form
      id="financeCategoryForm"
      role="form"
      #financeCategoryForm="ngForm"
      name="financeCategoryForm">
      <div class="form-group">
        <label for="title">Define spend category</label>
        <input id="title"
               type="text"
               name="text"
               class="form-control"
               placeholder=""
               [(ngModel)]="category.text"
               required
               maxlength="50"/>
      </div>
      <div class="form-group">
        <label for="ceCodesString" class="mtop10">
          Enter CE code(s) to match against.<br/>For more than one, separate codes using a comma
        </label>
        <textarea
          id="ceCodesString"
          rows="5"
          type="text"
          name="ceCodesString"
          class="form-control"
          placeholder=""
          [(ngModel)]="ceCodesString"
          required></textarea>

        <div class="error-wrapper" role="alert"  *ngIf="errorMessage">
          <span class="error" *ngIf="errorMessage">{{errorMessage}}</span>
        </div>
      </div>
      <div class="form-group">
        <label for="spend-status" class="mtop10">
          Spend - Select forecast & report status for spend
        </label>
        <select class="search-dropdown form-control"
                id="spend-status"
                name="spend-status"
                [(ngModel)]="category.spendStatus"
                required
                style-placeholder="">
          <option disabled value="">Select</option>
          <option *ngFor="let status of statuses" [ngValue]="status.value">{{status.label}}</option>
        </select>

      </div>
      <div class="form-group">
        <label for="receipt-status" class="mtop10">
          Receipt - Select forecast & report status for receipts
        </label>
        <select class="search-dropdown form-control"
                id="receipt-status"
                name="receipt-status"
                [(ngModel)]="category.receiptStatus"
                required
                style-placeholder>
          <option disabled value="">Select</option>
          <option *ngFor="let status of statuses" [ngValue]="status.value">{{status.label}}</option>

        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-12 text-center mbottom15">
        <button
          class="btn confirm-button btn-default btn-primary"
          (click)="onUpdate()"
          [disabled]="!isFormValid(financeCategoryForm)"
          type="button">{{category.id ? 'UPDATE':'CREATE'}}</button>

        <button
          id="cancel-btn"
          class="btn btn-default btn-secondary btn-center"
          type="button"
          (click)="activeModal.dismiss()">CANCEL</button>
      </div>
    </div>
  </div>
</div>

