<div class="organisation-form page-small">
  <div class="row text-center no-gutter">
    <div class="col-xs-10 col-xs-offset-1">
      <page-header ng-if="!$ctrl.visibleSections.details" on-back="$ctrl.back()">{{$ctrl.title}}</page-header>
      <page-header ng-if="$ctrl.visibleSections.details">{{$ctrl.title}}</page-header>

      <header-status ng-if="!$ctrl.isNew">
        <hs-left>Status: {{$ctrl.org.status}}</hs-left>
      </header-status>
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1 form-top-error mtop20"
       ng-if="$ctrl.errors">
    <p class="error">Sorry, we were unable to complete your changes. Please check your details and try again</p>
  </div>


  <form class="register gla-governance" role="form" name="orgForm">
    <div class="col-xs-10 col-xs-offset-1 text-center mtop20" ng-if="$ctrl.isProfile">
      Creating a new profile allows you to apply for projects within that GLA department.
    </div>

    <div class="col-xs-10 col-xs-offset-1 mtop20">
      <section-header>Enter organisation information</section-header>
    </div>

    <div class="col-xs-10 col-xs-offset-1 mtop20 mbottom15" ng-if="$ctrl.visibleSections.governance">
      <div class="form-section-header">GLA Governance</div>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3" ng-if="$ctrl.visibleSections.governance">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="orgType">{{$ctrl.labels.orgType}}</label>
          <ui-select id="orgType"
                     name="orgType"
                     ng-disabled="!$ctrl.canEditOrgType"
                     ng-model="$ctrl.org.entityType"
                     required
                     on-select="$ctrl.onEntityTypeChange()"
                     search-enabled="false">
            <ui-select-match placeholder="Select organisation type">
              {{$select.selected.value}}
            </ui-select-match>
            <ui-select-choices repeat="orgType.id*1 as (id, orgType) in $ctrl.organisationTypes track by orgType.id">
              <span>{{orgType.value}}</span>
            </ui-select-choices>
          </ui-select>
          <div class="error-wrapper" role="alert"
               ng-show="(orgForm.$submitted || orgForm.orgType.$touched) && orgForm.orgType.$error.required">
            <span class="error">Select organisation type</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 form-group" ng-if="$ctrl.isLearningProvider()">
          <label for="ukprn">UKPRN (optional)</label>
          <input id="ukprn" class="form-control"
                 type="text"
                 numbers-only
                 name="ukprn"
                 maxlength="8"
                 ng-model="$ctrl.org.ukprn"
                 ng-blur="$ctrl.countOccuranceOfUkprn($ctrl.org.ukprn)"/>
        </div>
        <span id="duplicate-ukprn" ng-if="$ctrl.org.ukprn.length && $ctrl.isUkprnNotValid()">UKPRN already in use by another provider. Please amend or contact GLA</span>
      </div>

      <div class="col-xs-12 form-group" ng-if="$ctrl.imsNumberLabel">
        <label for="org-ims-number">{{$ctrl.imsNumberLabel}} (optional)</label>
        <input id="org-ims-number" class="form-control"
               type="text"
               name="imsNumber"
               maxlength="20"
               ng-model="$ctrl.org.imsNumber"
               ng-disabled="!$ctrl.user.isAdmin"/>
      </div>

      <div class="col-xs-12">
        <div class="form-group">
          <label for="managingOrg">{{$ctrl.labels.managingOrg}}</label>
          <ui-select id="managingOrg"
                     name="managingOrg"
                     ng-disabled="!$ctrl.canEditManagingOrg"
                     placeholder="Select managing organisation"
                     ng-model="$ctrl.org.managingOrganisationId"
                     on-select="$ctrl.onManagingOrgSelect()"
                     required
                     search-enabled="false">
            <ui-select-match placeholder="Select managing organisation">
              {{$select.selected.name}}
            </ui-select-match>
            <!--<ui-select-choices repeat="item.id as item in $ctrl.managingOrganisations track by item.id">-->
            <ui-select-choices
              repeat="item.id as item in $ctrl.managingOrganisations | filter:{registrationAllowed:true} track by item.id">
              <span>{{item.name}}</span>
            </ui-select-choices>
          </ui-select>
          <div class="error-wrapper" role="alert"
               ng-show="(orgForm.$submitted || orgForm.managingOrg.$touched) && orgForm.managingOrg.$error.required">
            <span class="error">Select managing organisation</span>
          </div>
        </div>
      </div>

      <div class="col-xs-12" ng-if="!$ctrl.isProfile">
        <div class="form-group has-feedback">
          <label for="parentOrgCode">Parent organisation ID for reporting purposes (optional)</label>
          <div class="row">
            <div class="col-sm-6 org-code-input">
              <input id="parentOrgCode"
                     type="text"
                     name="parentOrgCode"
                     aria-label="Parent Organisation Id"
                     class="form-control"
                     ng-minlength="3"
                     ng-model="$ctrl.org.parentOrganisationId"
                     placeholder="Parent organisation id"
                     ng-change="$ctrl.checkOrgCode()"
                     org-lookup="$ctrl.org.parentOrganisationName"
                     autocomplete="off"
                     ng-disabled="!$ctrl.canEditParentOrg"/>
              <span ng-if="$ctrl.org.parentOrganisationName" class="glyphicon glyphicon-ok form-control-feedback"
                    aria-hidden="true"></span>
            </div>

            <div class="col-sm-6 no-padding">
              <div ng-if="$ctrl.org.parentOrganisationName" class="organisation-name mtop10">
                {{$ctrl.org.parentOrganisationName}}
              </div>
            </div>
          </div>
          <div class="error-wrapper row" role="alert">
            <span class="error" ng-if="$ctrl.org.parentOrganisationId.length > 2 && !$ctrl.org.parentOrganisationName">Organisation number not recognised</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6" ng-if="!$ctrl.isProfile">
          <div class="form-group">
            <label for="org-sapVendorId">SAP ID (optional)</label>
            <input id="org-sapVendorId" class="form-control"
                   ng-disabled="!$ctrl.canEditSapId"
                   type="text"
                   name="sapVendorId"
                   maxlength="20"
                   ng-model="$ctrl.org.sapVendorId"/>
          </div>
        </div>
      </div>


      <div class="col-xs-12 team-field" ng-if="!$ctrl.isProfile">
        <div class="form-group">
          <label for="team">Team (optional)</label>
          <ui-select id="team"
                     ng-disabled="!$ctrl.canEditTeam || !$ctrl.teams.length || $ctrl.loadingTeams"
                     name="team"
                     ng-model="$ctrl.org.team"
                     search-enabled="false">
            <ui-select-match allow-clear="true" placeholder="Select team">
              {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="team in $ctrl.teams track by team.id">
              <span>{{team.name}}</span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <div class="row" ng-if="!$ctrl.isProfile">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="contact">GLA Contact (optional)</label>
            <ui-select id="contact"
                       name="contact"
                       ng-disabled="!$ctrl.contacts.length || $ctrl.loadingContacts || !$ctrl.canEditGlaContact"
                       ng-model="$ctrl.org.contactEmail"
                       search-enabled="true">
              <ui-select-match allow-clear="true">
                {{$select.selected.fullName}}
              </ui-select-match>
              <ui-select-choices repeat="contact.username as contact in $ctrl.contacts | filter: {fullName: $select.search} track by contact.username">
                <span ng-bind-html="contact.fullName | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>

      <div class="col-xs-12" ng-if="$ctrl.isManagingOrganisation">
        <div class="form-group">
          <div class="registration-allowed">
            <label for="registration-allowed" class="pull-left">Allow new organisation registrations</label>
            <input
              id="registration-allowed"
              ng-disabled="!$ctrl.canEditManagingOrg"
              class="form-control pull-left"
              type="checkbox"
              name="enabled"
              ng-model="$ctrl.org.registrationAllowed"/>
          </div>
        </div>
      </div>

    </div>


    <div class="col-xs-10 col-xs-offset-1 mtop30 mbottom15" ng-if="$ctrl.visibleSections.details">
      <hr ng-if="$ctrl.visibleSections.governance"/>
      <div class="form-section-header">Organisation Details</div>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3" id="organisation-details"
         ng-if="$ctrl.visibleSections.details">
      <div class="col-xs-12 primary-organisation" ng-if="$ctrl.isCopyOrgEnabled">
        <div class="form-group">
          <label for="org-source">Select a primary organisation to copy data from (optional)</label>
          <div class="secondary-text sub-label">Details will be copied over to this new profile. You can then edit the
            information.
          </div>
          <ui-select id="org-source"
                     name="orgSource"
                     ng-disabled="false"
                     placeholder="None"
                     ng-model="$ctrl.orgToCopyFrom"
                     on-select="$ctrl.copyFrom($ctrl.orgToCopyFrom)"
                     search-enabled="false">
            <ui-select-match placeholder="None">
              {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="item.id as item in $ctrl.orgsToCopyFrom track by item.id">
              <span>{{item.name}}</span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="form-group">
          <label for="org-name">{{$ctrl.labels.orgName}}</label>
          <input id="org-name" class="form-control"
                 type="text"
                 name="name"
                 ng-model="$ctrl.org.name"
                 required
                 ng-blur="$ctrl.validateName($ctrl.org.name)"
                 ng-disabled="!$ctrl.isProfile && !$ctrl.user.isAdmin || !$ctrl.org.managingOrganisationId "/>
          <div class="error-wrapper" role="alert"
               ng-show="(orgForm.$submitted || orgForm.name.$touched) && orgForm.name.$error.required">
            <span class="error">Enter the organisation name</span>
          </div>

          <div class="error-wrapper" role="alert" ng-show="$ctrl.org.name && !$ctrl.isUniqueOrgName">
            <span class="error">Organisation is already registered, enter an alternative organisation name</span>
          </div>
        </div>
      </div>

      <div class="col-xs-12" ng-if="!$ctrl.isNew">
        <div class="form-group">
          <label for="org-registration-key">Registration key</label>
          <input id="org-registration-key" class="form-control"
                 type="text"
                 name="regKey"
                 ng-model="$ctrl.org.registrationKey"
                 maxlength="30"
                 required
                 ng-pattern="'^[^\\s]{5,}$'"
                 ng-blur="$ctrl.validateRegistrationKey($ctrl.org.registrationKey, orgForm)"
                 ng-model-options="{ debounce: 300 }"
                 ng-disabled="!$ctrl.canEditRegistrationKey"
          />
          <div class="error-wrapper" role="alert"
               ng-show="(orgForm.$submitted || orgForm.regKey.$touched) && orgForm.regKey.$error.required">
            <span class="error">Enter a registration key</span>
          </div>
          <div class="error-wrapper" role="alert"
               ng-show="(orgForm.$submitted || orgForm.regKey.$touched) && orgForm.regKey.$error.pattern">
            <span class="error">The registration key must be at least 5 characters with no space allowed</span>
          </div>

          <div class="error-wrapper" role="alert" ng-show="$ctrl.org.registrationKey && !$ctrl.isValidRegKey">
            <span class="error">You have entered a registration key that already exists. Please enter a new key.</span>
          </div>
        </div>
      </div>


      <div class="col-xs-12">
        <div class="form-group">
          <label for="org-website">Website (optional)</label>
          <input id="org-website" class="form-control"
                 type="text"
                 name="website"
                 ng-model="$ctrl.org.website"/>
        </div>
      </div>

      <div class="row no-gutter">
        <div class="col-xs-12">
          <div class="col-xs-6 form-group">
            <label for="org-contact-number">Contact number (optional)</label>
            <input id="org-contact-number" class="form-control"
                   type="number"
                   name="contactNumber"
                   ng-model="$ctrl.org.contactNumber"/>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-10 col-xs-offset-1 mtop30 mbottom15" ng-if="$ctrl.visibleSections.details">
      <hr/>
      <div class="form-section-header">Organisation Address</div>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3" ng-if="$ctrl.visibleSections.details">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="org-address1">Address line 1</label>
          <input id="org-address1" class="form-control"
                 type="text"
                 name="address1"
                 required
                 ng-model="$ctrl.org.address.address1"/>
          <div class="error-wrapper" role="alert"
               ng-show="(orgForm.$submitted || orgForm.address1.$touched) && orgForm.address1.$error.required">
            <span class="error">Enter the address</span>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="form-group">
          <label for="org-address2">Address line 2 (optional)</label>
          <input id="org-address2" class="form-control"
                 type="text"
                 name="address2"
                 ng-model="$ctrl.org.address.address2"/>
        </div>
      </div>

      <div class="row no-gutter">
        <div class="col-xs-12">
          <div class="col-xs-6 form-group">
            <label for="org-address5">City</label>
            <input id="org-address5" class="form-control"
                   type="text"
                   required
                   name="address5"
                   ng-model="$ctrl.org.address.address5"/>
            <div class="error-wrapper" role="alert"
                 ng-show="(orgForm.$submitted || orgForm.address5.$touched) && orgForm.address5.$error.required">
              <span class="error">Enter the city</span>
            </div>
          </div>

          <div class="col-xs-6 form-group">
            <label for="org-postcode">Postcode</label>
            <input id="org-postcode" class="form-control"
                   type="text"
                   required
                   name="postcode"
                   maxlength="10"
                   ng-pattern="/^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y]))) {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$/"
                   ng-model="$ctrl.org.address.postcode"/>

            <div class="error-wrapper" role="alert"
                 ng-show="(orgForm.$submitted || orgForm.postcode.$touched) && orgForm.postcode.$invalid">
              <span class="error" ng-if="orgForm.postcode.$error.pattern">Postcode must be in a standard format</span>
              <span class="error" ng-if="orgForm.postcode.$error.required">Enter the postcode</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-10 col-xs-offset-1 mtop30 mbottom15" ng-if="$ctrl.visibleSections.details">
      <hr/>
      <div class="form-section-header">Head of Organisation</div>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3" ng-if="$ctrl.visibleSections.details">
      <div class="row no-gutter">
        <div class="col-xs-12">
          <div class="col-xs-6 form-group">
            <label for="org-ceo-first-name">First name</label>
            <input id="org-ceo-first-name" class="form-control"
                   type="text"
                   name="ceoFirstName"
                   ng-model="$ctrl.org.ceoFirstName" required/>
            <div class="error-wrapper" role="alert"
                 ng-show="(orgForm.$submitted || orgForm.ceoFirstName.$touched) && orgForm.ceoFirstName.$error.required">
              <span class="error">Enter the first name</span>
            </div>
          </div>
          <div class="col-xs-6 form-group">
            <label for="org-ceo-last-name">Surname</label>
            <input id="org-ceo-last-name" class="form-control"
                   type="text"
                   name="ceoLastName"
                   ng-model="$ctrl.org.ceoLastName" required/>
            <div class="error-wrapper" role="alert"
                 ng-show="(orgForm.$submitted || orgForm.ceoLastName.$touched) && orgForm.ceoLastName.$error.required">
              <span class="error">Enter the surname</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="form-group">
          <label for="org-email">Email address (optional)</label>
          <input id="org-email" class="form-control"
                 type="email"
                 name="email"
                 ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                 ng-model="$ctrl.org.email"/>
          <div class="error-wrapper" role="alert"
               ng-show="(orgForm.$submitted || orgForm.email.$touched) && orgForm.email.$invalid">
            <span class="error">Enter a valid email</span>
          </div>
        </div>
      </div>
    </div>


    <div ng-if="$ctrl.visibleSections.details && $ctrl.isGlaHNL() && (!($ctrl.isTechSupportOrganisation() || $ctrl.techSupportSelected() || $ctrl.isLearningProvider()))">
      <div class="col-xs-10 col-xs-offset-1 mtop30 mbottom15">
        <hr/>
        <div class="form-section-header">Regulatory information</div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
        <div class="col-xs-12 form-group">
          <label for="org-regulated">Is the organisation registered with the social housing regulator?</label>
          <yes-no-input id="org-regulated"
                        name="org-regulated"
                        ng-model="$ctrl.org.regulated"
                        required>
          </yes-no-input>
        </div>

        <div class="row no-gutter" ng-show="$ctrl.org.regulated === 'yes'">
          <div class="col-xs-12">
            <div class="col-xs-6 form-group">
              <label for="org-viability">Viability score (optional)</label>
              <input id="org-viability"
                     class="form-control"
                     type="text"
                     name="viability"
                     maxlength="2"
                     ng-model="$ctrl.org.viability"/>
            </div>
            <div class="col-xs-6 form-group">
              <label for="org-governance">Governance score (optional)</label>
              <input id="org-governance"
                     class="form-control"
                     type="text"
                     name="governance"
                     maxlength="2"
                     ng-model="$ctrl.org.governance"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="$ctrl.orgWithUser" class="user-form">
      <div class="col-xs-10 col-xs-offset-1 mtop20 mbottom30">
        <section-header>Enter Organisation Admin information</section-header>
      </div>

      <!--<div class="col-xs-10 col-xs-offset-1 mtop30 mbottom15">
        &lt;!&ndash;<hr/>&ndash;&gt;
        <div class="form-section-header">Enter your information</div>
      </div>-->

      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
        <div class="section-description">
          <p>The Organisation Admin approves all subsequent users.</p>
          <p>You will be emailed further information when this registration is approved.</p>
        </div>
        <div>
          <user-registration-form
            errors="$ctrl.errors"
            on-form-validity-change="$ctrl.onUserFormValidityChange($event)">
          </user-registration-form>
        </div>
      </div>
    </div>

    <div class="col-xs-12 text-center mtop30 mbottom30">
      <button class="btn btn-primary"
              ng-disabled="
              !$ctrl.isValidRegKey ||
              !$ctrl.isUniqueOrgName ||
              orgForm.$invalid ||
              !($ctrl.org.regulated != null ||
              (!$ctrl.techSupportSelected() && $ctrl.isGlaHNL() == ($ctrl.org.regulated != null)) ||
              ($ctrl.techSupportSelected() && $ctrl.org.regulated === null) ||
               $ctrl.isLearningProvider()) ||
              $ctrl.showUserForm && !$ctrl.isUserFormValid"
              ng-click="$ctrl.submit()">
        {{$ctrl.btnText || 'SAVE'}}
      </button>
      <br/>
      <br/>
    </div>
  </form>
</div>
