password-strength {
  display: block;
  width: 100%;
  $height: 5px;
  $border-radius: 2px;
  font-size: 12px;

  @mixin password-strength($color, $width) {
    background-color: $color;
    width: $width;
    height: $height;
    @include border-left-radius($border-radius);
  }

  .password-strength-bar {
    background-color: white;
    height: $height;
    border-radius: $border-radius;
  }

  .password-label {
    color: $secondary-text;
    font-family: $font-family-bolder;
    margin-bottom: 6px;
    white-space: nowrap;
  }

  .password-status {
    text-transform: uppercase;
  }

  .password-strength-weak {
    @include password-strength($red, 10%);
  }

  .password-strength-fair {
    @include password-strength($amber, 25%);
  }

  .password-strength-good {
    @include password-strength($green, 50%);
  }

  .password-strength-strong {
    @include password-strength($green, 75%);
  }

  .password-strength-very-strong {
    @include password-strength($green, 100%);
    @include border-right-radius($border-radius);
  }
}


.password-comment {
  font-family: $font-family-light;
  color: $secondary-text;
  font-size: 12px;

  strong {
    font-family: $font-family-default;
  }
}
