.recoverable-grant-submission {
  width: 83.333%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;

  tr.category-row{
    cursor: pointer;
  }

  .comment-row{
    background-color: $grey-light;
    td{
      padding-left: 40px;
    }
  }
  .expired-balance-section, .opening-balance-section {
    input {
      max-width: 200px;
    }
    .balance-rollover {
      label {
        float: left;
        margin: 13px;
      }
      .checkbox {
        float: left;
      }
    }
  }

  .tiles{
    margin: 0 -15px;
  }

  .tile-status {
    display: block;
    text-transform: none;
  }

  .opening-balance, .closing-balance{
    font-size: 20px;
    font-family: $font-family-bolder;
  }

  .closing-balance {
    margin-top: -5px;
  }

  .section-header{
    display: block;
  }

  .with-pound-sign {
    input { display: inline};
  }

  .rollover-confirmation{
    label:not(:first-child){
      margin-left: 5px
    }
  }

}


