<div class="organisations organisations-page">

  <gla-page-header class="mbottom10" [hide-back-btn]="true">Organisations</gla-page-header>

  <div class="text-right register-buttons">
    <button permission set-permission="{only: 'org.request.access'}"
            ng-click="$ctrl.requestOrganisationAccess()" class="btn btn-primary btn-md">
      REQUEST ACCESS<span class="glyphicon glyphicon-plus"></span>
    </button>

    <button permission set-permission="{only: 'org.manage.approve'}"
            ui-sref="organisation.new" class="btn btn-primary btn-md mleft10">
      REGISTER NEW<span class="glyphicon glyphicon-plus"></span>
    </button>

    <button permission permission-except="'org.manage.approve'"
            ui-sref="organisation.new-profile" class="btn btn-primary btn-md mleft10">
      CREATE NEW PROFILE<span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>

  <gla-well class="row mbottom20 search-container" ng-if="$ctrl.showFilters">
    <div class="col-sm-6 col-md-5 text-search search-filter">
      <gla-search-field [options]="$ctrl.searchOptions"
                    [(selected-option)]="$ctrl.selectedSearchOption"
                    [(search-text)]="$ctrl.searchText"
                    (on-select)="$ctrl.select($ctrl.selectedSearchOption)"
                    (on-search)="$ctrl.search()"
                    (on-clear)="$ctrl.clearSearchText()"
                    (reset)="$ctrl.resetSearch"></gla-search-field>

    </div>

    <div class="col-sm-6 col-md-2 search-filter">
      <label class="text-nowrap" for="org-type">Organisation Type</label>
      <gla-checkbox-filter id="org-type"
                       [filter-dropdown-items]="$ctrl.orgTypeDropdown"
                       (on-change)="$ctrl.search()"></gla-checkbox-filter>
    </div>

    <div class="col-sm-6 col-md-2 search-filter">
      <label for="org-status">Org. status</label>
      <gla-checkbox-filter id="org-status"
                       [filter-dropdown-items]="$ctrl.orgStatusDropdown"
                       (on-change)="$ctrl.search()"></gla-checkbox-filter>
    </div>

    <div ng-if="$ctrl.canFilterByTeams" class="col-sm-6 col-md-2 team-filter">
      <label class="text-align-left" for="teams">Team</label>
      <gla-checkbox-filter id="teams"
                       [filter-dropdown-items]="$ctrl.teamsDropdown"
                       (on-change)="$ctrl.search($event)"
                       [grouped]="true"></gla-checkbox-filter>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-1" ng-class="{'reset-column' : $ctrl.showReset}">
      <button
        ng-if="$ctrl.showReset"
        class="action-buttons action-buttons-reset text-nowrap"
        ng-click="$ctrl.clearAll()"><span class="glyphicon glyphicon-remove"></span>Reset all
      </button>
    </div>
  </gla-well>

  <div ng-if="$ctrl.orgCollection.length || !$ctrl.showFilters">
    <gla-pagination [(current-page)]="$ctrl.currentPage"
                    [(items-per-page)]="$ctrl.itemsPerPage"
                    [total-items]="$ctrl.totalItems"
                    [number-of-elements]="$ctrl.itemsPerPage"
                    (on-change)="$ctrl.getOrganisations()"></gla-pagination>


    <div class="row">
      <div class="col-xs-12 org-table table-responsive no-padding">

        <table class="table table-hover table-bordered table-striped organisations-table table-selectable-row">
          <thead class="thead-inverse uppercase">
          <tr>
            <th ng-click="$ctrl.sortBy('id')">
              ID NO.
              <span class="sortorder" ng-if="$ctrl.sortByName === 'id'" ng-class="{reverse: $ctrl.sortReverse}"></span>
            </th>

            <th ng-click="$ctrl.sortBy('name')">
              ORG. NAME
              <span class="sortorder" ng-if="$ctrl.sortByName === 'name'" ng-class="{reverse: $ctrl.sortReverse}"></span>
            </th>
            <th>
              ORG. TYPE
              <span class="sortorder" ng-if="$ctrl.sortByName === 'entityType'" ng-class="{reverse: $ctrl.sortReverse}"></span>
            </th>
            <th>
              MANAGED BY
              <span class="sortorder" ng-if="$ctrl.sortByName === 'managingOrganisationName'"
                    ng-class="{reverse: $ctrl.sortReverse}"></span>
            </th>
            <th>
              TEAM
              <span class="sortorder" ng-if="$ctrl.sortByName === 'teamName'" ng-class="{reverse: $ctrl.sortReverse}"></span>
            </th>
            <th>
              DEFAULT SAP ID
              <span class="sortorder" ng-if="$ctrl.sortByName === 'defaultSapVendorId'" ng-class="{reverse: $ctrl.sortReverse}"></span>
            </th>
            <th>
              ORG. STATUS
            </th>
            <th>
              GLA Watching
            </th>
          </tr>
          </thead>

          <tbody>
          <tr ng-repeat="row in $ctrl.orgCollection"
              allow-enter
              tabindex="0"
              ui-sref="organisation.view({orgId: row.id, backNavigation: $ctrl.currentState})">
            <td>{{row.id}}</td>
            <td class="org-name">{{row.name}}</td>
            <td>{{$ctrl.organisationTypes[row.entityType].summary}}</td>
            <td>{{row.managingOrganisationName}}</td>
            <td>{{row.teamName}}</td>
            <td>{{row.defaultSapVendorId}}</td>
            <td>{{row.status}}</td>
            <td><a href="JavaScript: void(0);" ng-click="$event.stopPropagation(); $ctrl.toggleWatch(row)">{{$ctrl.watchedOrganisations[row.id] ? 'Stop watching' : 'Watch'}}</a></td>
          </tr>
          </tbody>
        </table>
        <div class="text-center mtop30" ng-if="!$ctrl.user.approved">You currently do not have access to any organisations.
        </div>
      </div>
    </div>

    <gla-pagination class="bottom-pagination"
                    [(current-page)]="$ctrl.currentPage"
                    [(items-per-page)]="$ctrl.itemsPerPage"
                    [total-items]="$ctrl.totalItems"
                    [number-of-elements]="$ctrl.itemsPerPage"
                    (on-change)="$ctrl.getOrganisations()"></gla-pagination>
  </div>

  <div class="text-center" ng-if="!$ctrl.loading && $ctrl.showFilters && !$ctrl.orgCollection.length" id="no-results">
    <hr/>
    0 organisations match your filter criteria. Check your filter selections and search criteria and try again.
  </div>
</div>
