//TODO move to generic form styles
.project-details {
  width: 90%;
  margin: auto;

  .borough__dropdown {
    &.disabled .ui-select-match .ui-select-toggle span {
      background-color: transparent;
    }
  }

  .status__dropdown {
    &.disabled .ui-select-match .ui-select-toggle span {
      background-color: transparent;
    }
  }

  .multi-select {
    height: 160px;
  }

  .warning {
    color: $secondary-text;
    font-size: 12px;
    line-height: 12px;
    font-family: $font-family-light;
    font-weight: 100;
    a {
      //color: $error;
      font-family: $font-family-bolder;
    }
  }
}
