<div class="skill-profile-page">

  <page-header on-back="$ctrl.back()" editable-block="$ctrl" stop-editing="true">Skills Profiles</page-header>

  <skill-profiles-table ng-repeat="pt in $ctrl.paymentTypes track by pt.id"
                        data="$ctrl.data[pt.id]"
                        totals="$ctrl.totals[pt.id]"
                        title="pt.title"
                        read-only="$ctrl.readOnly"
                        payment-type="pt.id"
                        on-create="$ctrl.createNewRow(pt.id)"
                        on-update="$ctrl.updateValue($event)"
                        on-delete="$ctrl.deleteValue($event)"></skill-profiles-table>

  <div class="mtop40 mbottom40 text-center" ng-if="!$ctrl.readOnly">
    <button class="btn btn-primary btn-md"
            ng-click="$ctrl.stopEditing()">STOP EDITING<i class="glyphicon glyphicon-edit"></i></button>
  </div>

</div>
