<div class="organisation-programme">

  <div class="col-xs-10 col-xs-offset-1">
    <gla-page-header (on-back)="$ctrl.back()" [editable-block]="$ctrl">
      {{$ctrl.organisation.name}}
    </gla-page-header>

    <div class="row programme-name">
      <h3>{{$ctrl.programme.name}}</h3>
    </div>

    <div class="row strategic-partnership-block" ng-if="$ctrl.data.strategicPartnership || !$ctrl.readOnly">
      <section-header>Strategic Partnership Status</section-header>
      <div class="checkbox-field">
        <label for="strategicPartnership">
          <input id="strategicPartnership"
                 ng-if="!$ctrl.readOnly"
                 type="checkbox"
                 name="strategicPartnership"
                 ng-model="$ctrl.data.strategicPartnership"
                 ng-disabled="$ctrl.data.strategicPartnership && $ctrl.totals.initialStrategicTotal"
                 ng-change="$ctrl.onStrategicPartnershipChange()"/>
          Organisation is a strategic partner
        </label>
        <div ng-if="!$ctrl.readOnly && $ctrl.data.strategicPartnership && $ctrl.totals.initialStrategicTotal">To remove strategic partner status, strategic grant, RCGF and DPF allocation must show 0</div>
      </div>
      <hr class="mtop30">
    </div>



    <div class="row">
      <section-header>Initial Allocated Budgets</section-header>
    </div>

    <div class="row no-gutter mtop10 initial-allocated-budgets">
      <div class="col-xs-9 grant-types" ng-class="{'has-totals': $ctrl.showTotals}">
        <div class="row no-gutter">
          <div ng-class="$ctrl.grantTypesCol" ng-repeat="grant in $ctrl.initialBudgets track by grant.uniqueId" ng-attr-id="{{grant.uniqueId}}">
            <div class="budget-label">{{grant.label}}</div>
            <div ng-if="$ctrl.readOnly">{{grant.amount == null? 'Not provided' : (grant.amount | number)}}</div>
            <div ng-if="!$ctrl.readOnly">
              <input class="form-control budget-input"
                     type="text"
                     maxlength="13"
                     number-mask="0"
                     aria-label="{{grant.label}}"
                     ng-model="grant.amount"
                     change-on-blur="$ctrl.updateBudgetEntry(grant)">
            </div>
          </div>

          <div ng-class="$ctrl.grantTypesCol" ng-if="$ctrl.showTotals">
            <div class="budget-label">Total</div>
            <div id="initial-non-strategic-total">{{$ctrl.totals.initialNonStrategicTotal | number}}</div>
          </div>
        </div>

        <div class="row no-gutter mtop30 initial-strategic-budgets" ng-if="$ctrl.data.strategicPartnership">
          <div ng-class="$ctrl.grantTypesCol" ng-repeat="grant in $ctrl.initialStrategicBudgets" ng-attr-id="{{grant.uniqueId}}">
            <div class="budget-label">{{grant.label}}</div>
            <div ng-if="$ctrl.readOnly">{{grant.amount == null? 'Not provided' : (grant.amount | number)}}</div>
            <div ng-if="!$ctrl.readOnly">
              <input class="form-control budget-input"
                     type="text"
                     maxlength="13"
                     number-mask="0"
                     aria-label="{{grant.label}}"
                     ng-model="grant.amount"
                     change-on-blur="$ctrl.updateBudgetEntry(grant)">
            </div>
          </div>

          <div ng-class="$ctrl.grantTypesCol" ng-if="$ctrl.showTotals">
            <div class="budget-label">Total</div>
            <div id="initial-strategic-total">{{$ctrl.totals.initialStrategicTotal | number}}</div>
          </div>
        </div>
      </div>
      <div class="col-xs-3 no-gutter grant-totals-summary" ng-if="$ctrl.showTotals">
        <div class="budget-label">Total initial value £</div>
        <div id="initial-total">{{$ctrl.totals.initialTotal | number}}</div>
      </div>
    </div>



    <hr class="mtop30">

    <div class="row no-gutter additional-approvals">
      <section-header class="with-button">
        <span>Additional Approvals</span>
        <span><a class="additional-approvals-toggle text-nowrap" href="JavaScript:void(0)" ng-click="$ctrl.toggleAdditionalApprovals()">{{$ctrl.showExpandAll? 'Expand All Rows' : 'Hide All Rows'}}</a></span>
        <button class="btn btn-secondary btn-md pull-right " ng-click="$ctrl.openAdjustBudgetsModal()" ng-if="!$ctrl.readOnly">
          ADJUST BUDGETS<span class="glyphicon glyphicon-plus"/>
        </button>
      </section-header>

      <div class="table-responsive" id="delegated-approval-table">
        <div ng-if="!$ctrl.delegatedApprovalEntries.length" class="empty-table">No additional approvals.</div>
        <table ng-if="$ctrl.delegatedApprovalEntries.length" class="table table-bordered collapsible" ng-class="{'edit-mode': !$ctrl.readOnly}">
          <thead class="thead-inverse uppercase">
          <tr>
            <th></th>
            <th>GRANT TYPE</th>
            <th>AMOUNT £</th>
            <th>APPROVAL AGREED DATE</th>
            <th>APPROVED BY</th>
            <th>ADDED BY</th>
            <th>DATE</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr ng-if="$ctrl.delegatedApprovalEntries.length === 0">
            <td></td>
            <td colspan="7">
              No additional approvals.
            </td>
          </tr>

          <tr class="budget-entry-row"
              allow-enter ng-attr-tabindex="{{$ctrl.readOnly? undefined : 0}}"
              ng-click="!$ctrl.readOnly && $ctrl.openAdjustBudgetsModal(entry)"
              ng-repeat-start="entry in $ctrl.delegatedApprovalEntries | orderBy:['approvedOn', 'createdOn']:true  | limitTo: $ctrl.showHowMany">
            <td><toggle-icon (collapsed-change)="$ctrl.onCollapseChange($event)" [(collapsed)]="entry.collapsed"></toggle-icon></td>
            <td>{{$ctrl.label(entry.grantType, entry.strategic, entry.type)}}</td>
            <td>{{entry.amount | currency:'':0}}</td>
            <td>{{entry.approvedOn | date: 'dd/MM/yyyy'}}</td>
            <td>{{entry.approvedBy}}</td>
            <td>{{entry.creatorName}}</td>
            <td>{{entry.createdOn | date: 'dd/MM/yyyy'}}</td>
            <td class="delete-btn-container">
              <delete-button class="delete-{{$index+1}}" ng-click="$ctrl.deleteEntry(entry); $event.stopPropagation();" ng-if="!$ctrl.readOnly">
              </delete-button>
            </td>
          </tr>
          <tr class="secondary-row comments-title-row" ng-click="!$ctrl.readOnly && $ctrl.openAdjustBudgetsModal(entry)"
              ng-if="!entry.collapsed" ng-repeat-end>
            <td></td>
            <td colspan="7">
              <div class="comment-label">Comments:</div>
              <div class="comments-content-row">{{entry.comments || 'Not provided'}}</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <show-more-btn class="mtop20" ng-if="$ctrl.delegatedApprovalEntries.length > 3"
                     ng-click="$ctrl.showMoreLessBudgetEntries()"
                     collapsed="$ctrl.showAll">VIEW {{$ctrl.showAll ? 'LESS' : 'ALL'}}</show-more-btn>
    </div>



    <hr class="mtop30">

    <div class="row">
      <section-header subheader="Initial allocated budgets plus budget adjustments made during the project lifecycle">Totals</section-header>
      <div class="row no-gutter mtop10 totals">
        <div class="col-xs-9 grant-types" ng-class="{'has-totals': $ctrl.showTotals}">
          <div class="row no-gutter">
            <div ng-class="$ctrl.grantTypesCol" ng-repeat="grant in $ctrl.initialBudgets">
              <div class="budget-label">{{grant.label}}</div>
              <div ng-attr-id="{{grant.uniqueId + '-total'}}">{{grant.total | number}}</div>
            </div>

            <div ng-class="$ctrl.grantTypesCol" ng-if="$ctrl.showTotals">
              <div class="budget-label">Total</div>
              <div id="non-strategic-total">{{$ctrl.totals.nonStrategicTotal | number}}</div>
            </div>
          </div>

          <div class="row no-gutter mtop30 strategic-totals" ng-if="$ctrl.data.strategicPartnership || $ctrl.totals.strategicTotal">
            <div ng-class="$ctrl.grantTypesCol" ng-repeat="grant in $ctrl.initialStrategicBudgets">
              <div class="budget-label">{{grant.label}}</div>
              <div ng-attr-id="{{grant.uniqueId + '-total'}}">{{grant.total | number}}</div>
            </div>

            <div ng-class="$ctrl.grantTypesCol" ng-if="$ctrl.showTotals">
              <div class="budget-label">Total</div>
              <div id="strategic-total">{{$ctrl.totals.strategicTotal | number}}</div>
            </div>
          </div>
        </div>
        <div class="col-xs-3 no-gutter grant-totals-summary" ng-if="$ctrl.showTotals">
          <div class="budget-label">Total initial <br>+ adjusted value £</div>
          <div id="total">{{$ctrl.totals.total | number}}</div>
        </div>
      </div>
    </div>


    <hr class="mtop30">

    <div class="grant-source-totals">
      <div class="row mtop10">
        <section-header subheader="{{$ctrl.getGrantSourceTotalsSubheader()}}">Grant Source Totals</section-header>
      </div>
      <div class="row">
        <div ng-if="!$ctrl.showApprovedOnlyCheckbox">
          <a href="JavaScript:void(0)" ng-click="$ctrl.showApprovedOnlyCheckbox = true">View approved totals</a> to exclude unapproved changes
        </div>
        <div ng-if="$ctrl.showApprovedOnlyCheckbox">
          <a href="JavaScript:void(0)" ng-click="$ctrl.showApprovedOnlyCheckbox = false">View all</a> unapproved and approved changes
        </div>
      </div>
      <table id="grant-source-total-table" class="table table-bordered table-responsive">
        <thead class="thead-inverse uppercase">
        <tr class="mainHeader">
          <th scope="col">ALL {{$ctrl.grantSourceData.projectCount}} PROJECT(S)</th>
          <th scope="col">REQUESTED</th>
          <th scope="col">PAID</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="$ctrl.isGrantTypeAvailable('Grant')">
          <th scope="row" class="header-cell">GRANT VALUE £</th>
          <td>{{($ctrl.showApprovedOnlyCheckbox ? $ctrl.grantSourceData.grantApproved : $ctrl.grantSourceData.grantRequested) | number}}</td>
          <td>{{$ctrl.grantSourceData.grantPaid | number}}</td>
        </tr>
        <tr ng-if="$ctrl.isGrantTypeAvailable('RCGF')">
          <th scope="row" class="header-cell">RCGF VALUE £</th>
          <td>{{($ctrl.showApprovedOnlyCheckbox ? $ctrl.grantSourceData.rcgfApproved : $ctrl.grantSourceData.rcgfRequested) | number}}</td>
          <td>{{$ctrl.grantSourceData.rcgfPaid | number}}</td>
        </tr>
        <tr ng-if="$ctrl.isGrantTypeAvailable('DPF')">
          <th scope="row" class="header-cell">DPF VALUE £</th>
          <td>{{($ctrl.showApprovedOnlyCheckbox ? $ctrl.grantSourceData.dpfApproved : $ctrl.grantSourceData.dpfRequested) | number}}</td>
          <td>{{$ctrl.grantSourceData.dpfPaid | number}}</td>
        </tr>
        <tr ng-if="$ctrl.showTotals">
          <th scope="row" class="header-cell">TOTALS</th>
          <td>{{($ctrl.showApprovedOnlyCheckbox ? $ctrl.grantSourceData.projectApprovedTotal : $ctrl.grantSourceData.projectRequestedTotal) | number}}</td>
          <td>{{$ctrl.grantSourceData.totalPaid | number}}</td>
        </tr>
        <tr class="divider" ng-if="$ctrl.showIndicative"><td colspan="3"></td></tr>
        <tr ng-if="$ctrl.showIndicative">
          <th scope="row" class="header-cell">INDICATIVE PROJECT ALLOCATION £</th>
          <td>{{($ctrl.showApprovedOnlyCheckbox ? $ctrl.grantSourceData.indicativeGrantApproved : $ctrl.grantSourceData.indicativeGrantRequested)| number}}</td>
          <td>N/A</td>
        </tr>
        <tr class="divider" ng-if="$ctrl.showIndicative"><td colspan="3"></td></tr>
        <tr ng-if="$ctrl.showIndicative">
          <th scope="row" class="header-cell">TOTAL OF ALL PROJECTS + INDICATIVE</th>
          <td>{{($ctrl.showApprovedOnlyCheckbox ? $ctrl.grantSourceData.totalApproved : $ctrl.grantSourceData.totalRequested) | number}}</td>
          <td>{{$ctrl.grantSourceData.totalPaid | number}}</td>
        </tr>

        </tbody>
      </table>
      </div>
    <div ng-if="$ctrl.strategicRecord" class="strategic-partnership-totals">
      <hr class="mtop30">
      <div class="row mtop10">
        <section-header subheader="">
          Strategic Partnership totals
        </section-header>
      </div>
      <div class="row">
        <div ng-if="!$ctrl.showApprovedOnlyCheckboxStrategic">
          <a href="JavaScript:void(0)" ng-click="$ctrl.showApprovedOnlyCheckboxStrategic = true">View approved totals</a> to exclude unapproved changes
        </div>
        <div ng-if="$ctrl.showApprovedOnlyCheckboxStrategic">
          <a href="JavaScript:void(0)" ng-click="$ctrl.showApprovedOnlyCheckboxStrategic = false">View all</a> unapproved and approved changes
        </div>
      </div>
      <table id="strategic-partnership-total-table" class="table table-bordered table-responsive">
        <thead class="thead-inverse uppercase">
        <tr class="mainHeader">
          <th scope="col">STRATEGIC PROJECT</th>
          <th scope="col">REQUESTED</th>
          <th scope="col">PAID</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="$ctrl.isGrantTypeAvailable('Grant')">
          <th scope="row" class="header-cell">GRANT VALUE £</th>
          <td>{{($ctrl.showApprovedOnlyCheckboxStrategic ? $ctrl.strategicRecord.grantApproved : $ctrl.strategicRecord.grantRequested) | number}}</td>
          <td>{{$ctrl.strategicRecord.grantPaid | number}}</td>
        </tr>
        <tr ng-if="$ctrl.isGrantTypeAvailable('RCGF')">
          <th scope="row" class="header-cell">RCGF VALUE £</th>
          <td>{{($ctrl.showApprovedOnlyCheckboxStrategic ? $ctrl.strategicRecord.rcgfApproved : $ctrl.strategicRecord.rcgfRequested) | number}}</td>
          <td>{{$ctrl.strategicRecord.rcgfPaid | number}}</td>
        </tr>
        <tr ng-if="$ctrl.isGrantTypeAvailable('DPF')">
          <td scope="row" class="header-cell">DPF VALUE £</td>
          <td>{{($ctrl.showApprovedOnlyCheckboxStrategic ? $ctrl.strategicRecord.dpfApproved : $ctrl.strategicRecord.dpfRequested) | number}}</td>
          <td>{{$ctrl.strategicRecord.dpfPaid | number}}</td>
        </tr>
        <tr ng-if="$ctrl.showTotals">
          <th scope="row" class="header-cell">TOTALS</th>
          <td>{{($ctrl.showApprovedOnlyCheckboxStrategic ? $ctrl.strategicRecord.projectApprovedTotal : $ctrl.strategicRecord.projectRequestedTotal) | number}}</td>
          <td>{{$ctrl.strategicRecord.totalPaid | number}}</td>
        </tr>

        </tbody>
      </table>
      <table id="associated-projects-total-table" class="table table-bordered table-responsive mtop15">
        <thead class="thead-inverse uppercase">
        <tr class="mainHeader">
          <th scope="col">ALL {{$ctrl.associatedProjectsRecord.projectCount}} ASSOCIATED PROJECT(S)</th>
          <th scope="col">REQUESTED</th>
          <th scope="col">PROJECTS THAT HAVE STARTED ON SITE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row" class="header-cell">TOTAL VALUE £</th>
          <td>{{$ctrl.associatedProjectsRecord.projectCount ? ($ctrl.associatedProjectsRecord.strategicRequested | number) : 'N/A'}}</td>
          <td>{{$ctrl.associatedProjectsRecord.projectCount ? ($ctrl.associatedProjectsRecord.startedOnSite | number) : 'N/A'}}</td>
        </tr>
      </tbody>
    </table>
      <table id="variance-total-table" class="table table-bordered table-responsive mtop15">
        <thead class="thead-inverse uppercase">
        <tr class="mainHeader">
          <th scope="col">VARIANCE</th>
          <th scope="col">REQUESTED VARIANCE</th>
          <th scope="col">VARIANCE BETWEEN PAID AND SOS CLAIMED</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row" class="header-cell">TOTAL VALUE £</th>
          <td>{{$ctrl.associatedProjectsRecord.projectCount ? ($ctrl.associatedProjectsRecord.requestedVariance | number) : 'N/A'}}</td>
          <td>{{$ctrl.associatedProjectsRecord.projectCount ? ($ctrl.associatedProjectsRecord.varianceBetweenPaidAndSoSClaimed | number) : 'N/A'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="$ctrl.isStrategicUnitsSummary && $ctrl.data.strategicPartnership" class="strategic-partnership-unit-summary">
    <hr class="mtop30">
    <div class="row mtop10">
      <section-header subheader="">
        Strategic partnership unit summary
      </section-header>
      <div class="row">
        <div ng-if="!$ctrl.showApprovedUnitSummary">
          <a href="JavaScript:void(0)" ng-click="$ctrl.showApprovedUnitSummary = true">View approved totals</a> to exclude unapproved changes
        </div>
        <div ng-if="$ctrl.showApprovedUnitSummary">
          <a href="JavaScript:void(0)" ng-click="$ctrl.showApprovedUnitSummary = false">View all</a> unapproved and approved changes
        </div>
      </div>
    </div>
    <table id="strategic-partnership-unit-summary-table" class="table table-bordered table-responsive strategic-partnership-unit-summary-table">
      <thead class="thead-inverse uppercase">
      <tr class="mainHeader">
        <th scope="col"><div>TENURE</div></th>
        <th scope="col"><div>STRATEGIC TARGET</div></th>
        <th scope="col"><div>ALL ASSOCIATED UNITS</div></th>
        <th scope="col"><div>UNITS CLAIMED AT SOS</div></th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="record in $ctrl.strategicPartnershipUnitSummary.associatedRecords">
          <th scope="row" class="header-cell">{{record.tenureTypeName}}</th>
          <td ng-if="$ctrl.readOnly">{{record.unitsPlanned | number}}</td>
          <td ng-if="!$ctrl.readOnly" class="input-cell">
            <input class="form-control planned-units-input"
                   type="text"
                   maxlength="13"
                   number-mask="0"
                   aria-label="{{record.tenureTypeName +'Input'}}"
                   ng-model="record.unitsPlanned"
                   change-on-blur="$ctrl.updateUnitsPlaned(record)">
          </td>
          <td>{{$ctrl.showApprovedUnitSummary? record.approvedUnits : record.requestedUnits | number}}</td>
          <td>{{$ctrl.showApprovedUnitSummary? record.approvedAtSoS: record.requestedAtSoS | number}}</td>
        </tr>
        <tr>
          <th scope="row" class="header-cell">TOTAL</th>
          <td>{{$ctrl.strategicPartnershipUnitSummary.unitsPlannedTotal | number}}</td>
          <td>{{$ctrl.showApprovedUnitSummary? $ctrl.strategicPartnershipUnitSummary.approvedUnitsTotal : $ctrl.strategicPartnershipUnitSummary.requestedUnitsTotal | number}}</td>
          <td>{{$ctrl.showApprovedUnitSummary? $ctrl.strategicPartnershipUnitSummary.approvedAtSoSTotal : $ctrl.strategicPartnershipUnitSummary.requestedAtSoSTotal | number}}</td>
        </tr>
      </tbody>
    </table>
    </div>
    <hr class="mtop30">

    <div class="row mtop30">
      <div class="col-xs-12 text-center">
        <button ng-if="!$ctrl.readOnly" class="btn btn-primary" ng-click="$ctrl.save()">SAVE</button>
      </div>
    </div>
  </div>

</div>
