.organisation-programme {

  .allocated-budget-amount {
    font-weight: bold;
  }

  #delegated-approval-table{
    &.edit-mode{
      tbody tr{
        cursor: pointer;
      }
    }
  }

  #mdApprovalEntry {
    width: 65%;
  }
  .mainHeader{
    th {
      width: 30%;
    }
  }
  .header-cell{
    background-color: #3e4e5c;
    text-align: left;
    color: #aebecb;
    font-family: "Gotham-medium", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  }

  .divider {
    height: 5px;
    background-color: #cccccc;
    td {
      padding: 0;
    }
  }

  .form-horizontal .control-label{
    text-align:left;
    padding-top: 10px;
    padding-right: 0;
  }

  #dateApproved {
    display: block;
    height: 30px;
    .dateInput {
      width: 100%;
    }
  }

  .read-only-field{
    padding-top: 8px;
  }

  .checkbox-field{
    input{
      font-size: 1rem;
      margin-right: 5px;
    }
    label{
      font-weight: normal;
    }
  }

  .budget-label{
    margin-bottom: 5px;
  }

  .budget-input{
    width: 90%;
  }

  .grant-types{
    &.has-totals {
      border-right: 1px solid $gla-grey;
      min-height: 65px;
    }
  }

  .grant-totals-summary{
    padding-left: 15px;
  }
  #strategic-partnership-unit-summary-table{
    tr>th{
      width: 25%;
    }
    //td {
    //  line-height: 24px;
    //}
    .input-cell{
      padding: 0
    }
  }

  .budget-entry-row {
    td {
      border-top: 1px solid #aaaaaa;
    }
  }

  .comments-title-row {
    td {
      border-top: 0;
      padding-top: 0;
    }

    .comment-label {
      font-family: $font-family-bolder;
      margin-bottom: 6px;
    }
  }

  .comments-content-row {
    white-space:pre-wrap;
    word-wrap:break-word;
    word-break: break-all;
  }

  .additional-approvals-toggle{
    font-size: 14px;
    font-family: $font-family-default;
  }
}
