<div class="gla-dropdown" uib-dropdown keyboard-nav is-open="isOpen" ng-onclick="isOpen = true">

  <!-- button style dropdown -->
  <button ng-if="isButton"
          type="button"
          class="btn btn-primary"
          ng-bind="ngModel.name || default">
  </button>

  <button ng-if="isButton"
          type="button"
          class="btn btn-primary dropdown-toggle" toggle="dropdown"
          dropdown-toggle>
    <span class="caret"></span>
  </button>

  <!-- no button, plz -->
  <a ng-if="!isButton"
      id="gla-dd"
       uib-dropdown-toggle
      href>
     <div><span ng-bind="ngModel.name || default" ></span> <span class="caret"></span></div>
  </a>


  <!-- dropdown items -->
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="gla-dd">
    <li ng-repeat="item in items" role="menuitem">
      <a href
         ng-bind="item.name"
         ng-click="select(item)"></a>
    </li>
  </ul>

</div>

