<div class="table-responsive quarterly-budget-container mtop20">
  <table class="table table-bordered table-with-inputs quarterly-budget-table" id="quarterly-budget-table">
    <thead class="thead-inverse uppercase">
    <tr>
      <th class="year-column-cell" style="width: 50px" class="no-print"></th>
      <th class="year-column-cell text-center">PROFILES AND ACTIVITY</th>
      <th ng-if="$ctrl.showCapitalGla">{{$ctrl.capClaimedLabel}}</th>
      <th ng-if="$ctrl.showCapitalOther">{{$ctrl.capOtherLabel}}</th>
      <th ng-if="$ctrl.showRevenueGla">{{$ctrl.revClaimedLabel}}</th>
      <th ng-if="$ctrl.showRevenueOther">{{$ctrl.revOtherLabel}}</th>
      <th>{{$ctrl.allowEvidenceUpload ? 'EVIDENCE' : ''}}</th>
    </tr>
    </thead>
    <tbody ng-if="$ctrl.hasMilestones || $ctrl.hasCategories"
           ng-repeat="section in $ctrl.yearBreakdown.mappedSections"
           class="expandableRow">
      <tr class="quarter-row primaryRow expandable"
          ng-click="section.hasMilestones && ($ctrl.blockSessionStorage.sectionExpandState[section.toggleId] = !$ctrl.blockSessionStorage.sectionExpandState[section.toggleId]); $event.stopPropagation();"
          ng-class="{expandable:section.hasMilestones}">
        <td ng-if="!section.hasMilestones" class="year-column-cell"></td>
        <td ng-if="section.hasMilestones" class="expandable no-print year-column-cell">
          <span>
            <i class="glyphicon glyphicon-triangle-bottom" ng-if="!$ctrl.blockSessionStorage.sectionExpandState[section.toggleId]"></i>
            <i class="glyphicon glyphicon-triangle-top" ng-if="$ctrl.blockSessionStorage.sectionExpandState[section.toggleId]"></i>
          </span>
        </td>
        <td colspan="6" class="text-left year-column-cell text-left">
          <span>{{section.label}}</span>
          <span class="pull-right claim-link" ng-if="$ctrl.paymentsEnabled">
            <a ng-if="$ctrl.paymentsEnabled && (section.status === 'Claimable' || section.claim) && !$ctrl.readOnly" ng-click="$ctrl.showClaimModal(section);$event.stopPropagation();">{{section.claim? section.status : 'Claim'}} Q{{section.quarter}}</a>
            <span class="bolder error" ng-if="section.notClaimableReason && !$ctrl.readOnly">{{section.notClaimableReason}}</span>
            <a ng-if="(section.status === 'Claimed' || section.status === 'Approved') && $ctrl.readOnly" ng-click="$ctrl.showClaimModal(section);$event.stopPropagation();">{{section.status}} Q{{section.quarter}}</a>
          </span>
        </td>
      </tr>

      <tr ng-if="!section.hasMilestones"><td colspan="7">Not provided</td></tr>
      <tr ng-if="$ctrl.blockSessionStorage.sectionExpandState[section.toggleId]" ng-repeat-start="milestone in section.milestones" class="milestone-row">
        <td></td>
        <td class="text-left"><b>{{milestone.name}}</b></td>
        <td ng-if="$ctrl.showCapitalGla"><!--{{milestone.totalCapitalValue | number}}--></td>
        <td ng-if="$ctrl.showCapitalOther"><!--{{milestone.totalCapitalMatchFund | number}}--></td>
        <td ng-if="$ctrl.showRevenueGla"><!--{{milestone.totalRevenueValue | number}}--></td>
        <td ng-if="$ctrl.showRevenueOther"><!--{{milestone.totalRevenueMatchFund | number}}--></td>
        <td></td>
      </tr>
      <tr ng-if="$ctrl.blockSessionStorage.sectionExpandState[section.toggleId]"
          ng-repeat-end ng-repeat="activity in milestone.activities">
        <td></td>
        <td class="text-left" ng-class="{'cell-with-input2': !$ctrl.readOnly}">
          <div ng-if="$ctrl.readOnly || !$ctrl.allowActivityUpdate || section.claim">{{activity.name}}</div>
          <input
            ng-if="!$ctrl.readOnly && $ctrl.allowActivityUpdate && !section.claim"
            type="text"
            name=""
            ng-model="activity.name"
            ng-class="{'invalid-input': activity.emptyNameWarning}"
            ng-change="$ctrl.onActivityNameChange(activity)"
            ng-blur="$ctrl.onActivityNameBlur(activity)"
            ng-focus="$ctrl.onActivityNameFocus(activity)"
            change-on-blur2="$ctrl.onBlurActivityInput(activity)"/>
            <span ng-if="activity.emptyNameWarning" class="error">
                 <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                 Activity name cannot be empty
               <!--<span ng-if="activity.emptyBudgetsWarning">-->
                 <!--<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>-->
                 <!--Fill in at least 1 budget-->
               <!--</span>-->
             </span>
        </td>
        <td ng-if="$ctrl.showCapitalGla">
          <div ng-if="$ctrl.isReadOnly(section)">{{activity.capitalValue | number}}</div>
          <input
           ng-if="!$ctrl.isReadOnly(section)"
           type="text"
           name=""
           ng-model="activity.capitalValue"
           change-on-blur="$ctrl.onBlurActivityInput(activity)"
           number-mask="$ctrl.monetaryValueScale"
           ng-class="{'invalid-input': activity.emptyBudgetsWarning}"
           maxlength="13"/>

          <span ng-if="activity.emptyBudgetsWarning" class="error">
             <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
             Fill in at least 1 budget
           </span>
        </td>
        <td ng-if="$ctrl.showCapitalOther">
          <div ng-if="$ctrl.isReadOnly(section)">{{activity.capitalMatchFundValue | number}}</div>
          <input
            ng-if="!$ctrl.isReadOnly(section)"
            type="text"
            name=""
            ng-model="activity.capitalMatchFundValue"
            change-on-blur="$ctrl.onBlurActivityInput(activity)"
            number-mask="$ctrl.monetaryValueScale"
            ng-class="{'invalid-input': activity.emptyBudgetsWarning}"
            maxlength="13"/>
        </td>
        <td ng-if="$ctrl.showRevenueGla">
          <div ng-if="$ctrl.isReadOnly(section)">{{activity.revenueValue | number}}</div>
          <input
            ng-if="!$ctrl.isReadOnly(section)"
            type="text"
            name=""
            ng-model="activity.revenueValue"
            change-on-blur="$ctrl.onBlurActivityInput(activity)"
            number-mask="$ctrl.monetaryValueScale"
            ng-class="{'invalid-input': activity.emptyBudgetsWarning}"
            maxlength="13"/>
        </td>
        <td ng-if="$ctrl.showRevenueOther">
          <div ng-if="$ctrl.isReadOnly(section)">{{activity.revenueMatchFundValue | number}}</div>
          <input
            ng-if="!$ctrl.isReadOnly(section)"
            type="text"
            name=""
            ng-model="activity.revenueMatchFundValue"
            change-on-blur="$ctrl.onBlurActivityInput(activity)"
            number-mask="$ctrl.monetaryValueScale"
            ng-class="{'invalid-input': activity.emptyBudgetsWarning}"
            maxlength="13"/>
        </td>
        <td class="delete-btn-container">

          <div style="min-width: 80px" ng-if="$ctrl.allowEvidenceUpload">
            <a ng-if="$ctrl.evidenceLinkText(activity)" ng-click="$ctrl.onShowEvidenceModal({activity: activity})">{{$ctrl.evidenceLinkText(activity)}}</a>
            <span ng-if="!$ctrl.evidenceLinkText(activity)">None added</span>
          </div>


          <delete-button ng-click="$ctrl.onDeleteActivity({section: section, milestone: milestone, activity:activity}); $event.stopPropagation();" ng-if="!$ctrl.isReadOnly(section) ">
          </delete-button>
        </td>

      </tr>

      <tr class="quarter-row primaryRow expandable"
          ng-if="section.hasMilestones"
          ng-click="section.hasMilestones && ($ctrl.blockSessionStorage.sectionExpandState[section.toggleId] = !$ctrl.blockSessionStorage.sectionExpandState[section.toggleId]); $event.stopPropagation();"
          ng-class="{expandable:section.hasMilestones}">
        <td class="year-column-cell"></td>
        <td class="year-column-cell">{{section.totalLabel}}</td>
        <td ng-if="$ctrl.showCapitalGla" class="year-column-cell">{{section.totalCapitalValue | number}}</td>
        <td ng-if="$ctrl.showCapitalOther" class="year-column-cell">{{section.totalCapitalMatchFund | number}}</td>
        <td ng-if="$ctrl.showRevenueGla" class="year-column-cell">{{section.totalRevenueValue | number}}</td>
        <td ng-if="$ctrl.showRevenueOther" class="year-column-cell">{{section.totalRevenueMatchFund | number}}</td>
        <td class="year-column-cell"></td>
      </tr>
    </tbody>
    <tbody ng-if="$ctrl.hasMilestones || $ctrl.hasCategories">
      <tr class="divider"><td colspan="7"></tr>
      <tr class="footer-row">
        <td class="year-column-cell"></td>
        <td class="year-column-cell">{{$ctrl.yearBreakdown.year | fYear}} TOTALS</td>
        <td ng-if="$ctrl.showCapitalGla">{{$ctrl.yearBreakdown.totalCapitalValue | number}}</td>
        <td ng-if="$ctrl.showCapitalOther">{{$ctrl.yearBreakdown.totalCapitalMatchFund | number}}</td>
        <td ng-if="$ctrl.showRevenueGla">{{$ctrl.yearBreakdown.totalRevenueValue | number}}</td>
        <td ng-if="$ctrl.showRevenueOther">{{$ctrl.yearBreakdown.totalRevenueMatchFund | number}}</td>
        <td class="read-only">
        </td>
      </tr>

    </tbody>
    <tbody ng-if="!$ctrl.hasMilestones && !$ctrl.hasCategories">
    <tr><td colspan="7"><b>Add milestones in the <a ng-if="$ctrl.milestoneBlock" ui-sref="project.block.milestones({projectId: $ctrl.milestoneBlock.projectId, blockPosition: $ctrl.milestoneBlock.displayOrder, blockId: $ctrl.milestoneBlock.id})">milestone page</a> before you can profile expenditure</b></td></tr>
    </tbody>
  </table>
</div>


