<div id="filter-dropdown" class="btn-group" uib-dropdown is-open="status.isopen">
  <a class="btn filter-dropdown-button" href="JavaScript: void(0);" ng-disabled="$ctrl.isDisabled" role="button" uib-dropdown-toggle>
    {{$ctrl.title}} <span class="caret"></span>
  </a>
  <ul class="dropdown-menu filter-dropdown" uib-dropdown-menu role="menu" aria-labelledby="filter-dropdown">
    <li>
      <div class="select-all-filter-toggle">
        <a href="JavaScript: void(0);" ng-click="$ctrl.toggleAllFilters($event, !$ctrl.hasFilterSelections)">{{$ctrl.hasFilterSelections? 'Deselect All' : 'Select All'}}</a>
      </div>
    </li>
    <li ng-repeat="item in $ctrl.dropdownItems"
        ng-if="item.items.length || !item.groupId || !item.collapsed"
        ng-class="{group: item.items.length, 'group-item': item.groupId, 'filter-item': !item.items.length}">

      <div class="checkbox" ng-class="{checked: item.model, unchecked: !item.model, focused: item.focused}">
        <input type="checkbox"
               aria-label="{{item.ariaLabel || item.label}}"
               name="{{item.name}}"
               ng-model="item.model"
               ng-click="$event.stopPropagation();"
               ng-change="$ctrl.onCheckboxesChange(item)">
      </div>
      <div class="li-item-label">
        <span ng-click="$event.stopPropagation();">{{item.label}}</span>
        <span class="glyphicon link"
              ng-class="{'glyphicon-plus': item.collapsed, 'glyphicon-minus': !item.collapsed}"
              ng-if="item.items.length"
              allow-enter
              tabindex="0"
              role="button"
              aria-label="{{(item.collapsed? 'Expand ' : 'Collapse ') + item.label}}"
              ng-click="$ctrl.toggle(item);$event.stopPropagation();"></span>
      </div>
    </li>
  </ul>
</div>
