<div class="permissions-page page">
  <gla-page-header [hide-back-btn]="true"> Permissions</gla-page-header>

  <table id="permission-table"
         class="permission-table table table-hover table-bordered">
    <thead class="thead-inverse uppercase">
    <tr>
      <th> Role </th>
      <th> My organisation </th>
      <th> All organisations </th>
      <th> Non organisation specific </th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="(role, permissions) in $ctrl.permissions ">
      <td> {{role}}</td>
      <td>
        <div ng-repeat="permission in permissions | orderBy: 'permissionDescription'"
             ng-if="permission.permissionApplicability === 'MY_ORG'">
          {{permission.permissionDescription}}
        </div>
      </td>
      <td>
        <div ng-repeat="permission in permissions | orderBy: 'permissionDescription'"
             ng-if="permission.permissionApplicability === 'ALL'">
          {{permission.permissionDescription}}
        </div>
      </td>
      <td>
        <div ng-repeat="permission in permissions | orderBy: 'permissionDescription'"
             ng-if="permission.permissionApplicability === 'NON_SPECIFIC'">
          {{permission.permissionDescription }}
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>

