<div class="templates-questions-page page">
  <gla-page-header header="Templates questions" [hide-back-btn]="true">
    <ph-right>
      <button class="btn btn-primary btn-md" ui-sref="system-question-new">
        CREATE NEW<span class="glyphicon glyphicon-plus"></span>
      </button>
    </ph-right>
  </gla-page-header>

  <well class="row mbottom20 search-container">
      <div class="col-sm-6 text-search search-filter">
      <div>Search</div>
      <search-field options="$ctrl.searchOptions"
                    selected-option="$ctrl.selectedSearchOption"
                    search-text="$ctrl.searchText"
                    on-select="$ctrl.select($ctrl.selectedSearchOption)"
                    on-search="$ctrl.search()"
                    on-clear="$ctrl.clearSearchText()"
                    reset="$ctrl.resetSearch"></search-field>
    </div>
  </well>


  <div ng-if="$ctrl.questions.length">

    <pagination class="mbottom10 pagination-top"
                current-page="$ctrl.currentPage"
                items-per-page="$ctrl.itemsPerPage"
                total-items="$ctrl.totalItems"
                number-of-elements="$ctrl.itemsPerPage"
                on-change="$ctrl.getQuestions()"></pagination>

    <div class="mtop10">
      <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped" id="templates-questions-table">
          <thead class="thead-inverse uppercase">
          <tr>
            <th>ID</th>
            <th>TEXT</th>
            <th>ANSWER TYPE</th>
            <th>OPTIONS</th>
            <th>TEMPLATE</th>
          </tr>
          </thead>
          <tbody>
          <tr allow-enter class="cursor-pointer" ng-click="$ctrl.goToQuestionDetails(question.id)" ng-repeat="question in $ctrl.questions track by question.id" tabindex="0">
            <td>{{ question.id }}</td>
            <td><div style="width:300px;">{{ question.text }}</div></td>
            <td>
              <div>{{ question.answerType}}</div>
              <div ng-if="question.answerType == 'Dropdown'">Max. answers: {{question.maxAnswers}}</div>
              <div ng-if="question.answerType == 'FileUpload'">
                <div ng-if="question.maxCombinedUploadSizeInMb">Max. file size: {{question.maxCombinedUploadSizeInMb | number}}MB</div>
                <div ng-if="!question.maxCombinedUploadSizeInMb && question.maxUploadSizeInMb">Max. file size: {{question.maxUploadSizeInMb | number}}MB</div>
                <div ng-if="!question.maxCombinedUploadSizeInMb && question.quantity">Max. no.: {{question.quantity}}</div>
              </div>
            </td>
            <td>
              <div style="width:150px;">
                <ul ng-if="question.answerOptions && question.answerOptions.length">
                  <li ng-repeat="option in question.answerOptions">{{ option.option }}</li>
                </ul>
              </div>
            </td>
            <td>
              <div style="width:250px;">
                <ul ng-if="question.templates && question.templates.length">
                  <li ng-repeat="template in question.templates | orderBy: 'name'">{{ template.name }}</li>
                </ul>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <pagination class="mtop10 bottom-pagination"
                current-page="$ctrl.currentPage"
                items-per-page="$ctrl.itemsPerPage"
                total-items="$ctrl.totalItems"
                number-of-elements="$ctrl.itemsPerPage"
                on-change="$ctrl.getQuestions()"></pagination>
  </div>
  <div class="text-center" ng-if="!$ctrl.questions.length && !$root.showGlobalLoadingMask" id="no-results">
    <hr>
    0 questions match your filter criteria. Check your search criteria and try again.
  </div>

</div>

