$change-report-table-border: 1px solid $table-border-color;
$tiles-border: 1px solid $table-border-color;
.change-report {
  width: 90%;
  margin: auto;
  padding-bottom: 40px;

  .change-count-display {
    display: none;
  }
  .change-report-box {
    margin-top: 10px;
    border: 1px solid black;
    .left-col {
      background-color: blue;
      margin: 0 20px;
      color: white;
    }
    .right-col {
      background-color: green;
      margin: 0 20px;
      color: white;
    }
  }

  .text-area-field {
    .right-column-value, .left-column-value{
      white-space: pre-line;
    }
  }

  .project-general-info {
    font-family: $font-family-bolder;
    font-size: 16px;
  }

  .report-name {
    font-size: 16px;
    font-family: $font-family-bolder;
  }

  .unapproved-blocks-count {
    hr {
      margin-top: 5px;
    }

    a {
      margin-left: 20px;
      font-family: $font-family-bolder;
    }
  }

  .report-block {
    .report-block-content {
      padding: 10px 0;
      width: 100%;
      hr {
        margin-top: 40px;
        margin-bottom: 0px;
      }
    }
    .report-block-title {
      font-size: 16px;
      font-family: $font-family-bolder;
      cursor: pointer;
      user-select: none;
      .block-toggle {
        position: relative;
        display: inline-block;
        color: $links;
        font-weight: bold;
        cursor: pointer;
        .glyphicon {
          font-size: 10px;
          top: -1px;
        }
      }
    }
  }

  .jump-link {
    font-size: 14px;
    font-family: $font-family-bolder;
  }

  change-report-field,
  change-report-field-files,
  change-report-field-lookup,
  change-report-coodinates,

  gla-change-report-static-text,

  change-report-table,
  gla-change-report-table,
  change-report-tiles,
  change-report-tile-total {
    display: block;


    .glyphicon-exclamation-sign{
      color: $red;
      margin-left: 5px;
      top: 2px;
    }

    .changed-value{
      color: $red;
    }

    .right-column-value, .right-col {
      &.changed-value, .changed-value {
        color: $red;
      }
    }

    .report-field-left, .report-field-right {
      padding: 10px;
    }

    .left-column-label, .right-column-label, .report-label {
      font-size: 16px;
      font-family: $font-family-default;
      font-weight: bold;
    }

    .left-column-value, .right-column-value, .report-value {
      color: $secondary-text;
    }
    .left-column-sublabel, .right-column-sublabel {
      color: $secondary-text;
    }

    .report-field-row {
      display: flex;
      .report-field-left, .report-field-right {
        padding: 10px 20px;
      }
      .report-field-right {
        background-color: $report-right-side-background;
      }
    }

    &.next-to-tables {
      .report-field-row {
        .report-field-left, .report-field-right {
          padding: 10px;
        }
      }
    }

    @include when-sm {
      .report-field-row {
        .report-field-row-right.has-changes{
          background-color: $report-right-side-background;
        }
        .report-field-left {
          padding-right: 40px;
          padding-left: 0px;
        }
        .report-field-right {
          padding-left: 20px;
          padding-right: 20px;
          background-color: $report-right-side-background;
        }
      }

      &.next-to-tables {
        .report-field-row {
          .report-field-left {
            padding-right: 20px;
            padding-left: 0px;
          }
          .report-field-right {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
  }
  //Handles report tables wrapping without styling (colors, borders)
  .report-tables {
    //Mobile layout first
    .table-row {
      display: flex;
      width: 100%;
      flex-direction: column;
      .left-col, .right-col, .col {
        display: flex;
        &.no-block {
          display: none;
        }
      }

      .row-heading, .row-description {
        text-align: center;
        padding: 10px;
        width: 100%;
      }

      .left-col, .right-col {
        padding: 0;
      }

      .field-label, .field-value {
        padding: 10px;
        width: 50%;
      }
      //Don't show same header twice on mobile
      .right-col .row-heading, .right-col .row-description {
        display: none;
      }
    }

    //Desktop case override
    @include when-sm {
      .table-row {
        flex-direction: row;
        .left-col, .right-col, .col {
          width: 50%;
          &.no-block {
            display: flex;
            &, .field-label, .field-value {
              visibility: hidden;
            }
          }
        }

        .left-col {
          padding-right: 20px;
        }
        .right-col {
          padding-left: 10px;
          padding-right: 10px;
          background-color: $report-right-side-background;
          .row-heading, .row-description {
            display: block;
          }
        }
      }

      .with-no-element-msg .table-row{
        .left-col, .right-col, .col {
          &.no-block {
            visibility: visible;
          }
        }
      }
    }
  }

  .unapproved-changes-text{
    margin-top: 10px;
    color: $secondary-text;
  }

  .date-picker {
    position: relative;
    margin-bottom: 10px;
    .glyphicon{
      padding-right: 4px;
    }
    .dropdown-menu {
      top: 20px !important;
      width: 220px;
      min-width: 220px;
      padding: 0px;
      table {
        width: 100%;
        td {
          button {
            padding: 10px;
            border: 2px solid lighten($secondary-grey, 15%);
            color: $nav-text-color;
            text-transform: uppercase;
            font-family: $font-family-bolder;
            font-size: 12px;
            border-radius: 0;
            background-color: $white;

            &.btn-info.active{
              &,
              &:hover,
              .text-info {
                background-color: $moonstone;
                color: $nav-text-hover;
              }
            }

            .text-info {
              color: $nav-text-color;
            }


            &:hover, .text-info:hover{
              color: $dark-navy;
            }

            &[disabled] {
              color: $nav-text-hover;
              background-color: #DAE0DF;
              opacity: 1;
            }
          }
        }
        thead th {
          button{
            background-color: $nav-bg-color;
            color: $nav-text-color;
            border: none;
            &:hover{
              color: $nav-text-hover;
            }

            &.btn.uib-title{
              &[disabled] {
                color: $nav-text-color;
                cursor: initial;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  .last-approved-date, .programme-name, .template-name{
    margin-top: 10px;
  }

  internal-blocks-change-report{
    .section-title{
      font-size: 16px;
      font-weight: bold;
    }
  }
}

@media print {
  .change-report {
    font-size: 12px !important;
    width: 100%;

    .project-general-info, .report-name, .report-block-title, .left-column-label, .right-column-label, change-report-tile-total .table-row .field-value{
      font-size: 14px !important;
    }
  }
}
