<div class="grant-source">
  <div class="text-center">
    <project-header on-back="$ctrl.back()" editable-block="$ctrl">{{$ctrl.projectBlock.blockDisplayName}}</project-header>
  </div>

  <spinner ng-if="$ctrl.loading && !$ctrl.data"></spinner>
  <div class="row" ng-if="!$ctrl.loading || $ctrl.data">
    <div class="row grant-block-title">
      {{$ctrl.blockMetaData.description || 'Select and enter the amount from each grant source'}}. <span ng-if="$ctrl.data.totalGrantEligibility != null">You can request any amount up to &pound;{{ ($ctrl.data.totalGrantEligibility) | number }}</span>
    </div>
    <br>
    <input-cost-budget
      ng-if="$ctrl.associatedProjectConfig.showMarker"
      label="This project is using strategic partnership funding"
      is-selected="$ctrl.data.associatedProject"
      value="$ctrl.data.associatedProject"
      hide-value="true"
      read-only="$ctrl.readOnly || !$ctrl.associatedProjectConfig.enableMarker || $ctrl.data.zeroGrantRequested">
    </input-cost-budget>

    <input-cost-budget
      ng-if="$ctrl.data.associatedProject"
      label="Specify the strategic project funding attributed to this project"
      hide-checkbox="true"
      is-selected="true"
      value="$ctrl.data.strategicFunding"
      read-only="$ctrl.readOnly || $ctrl.data.zeroGrantRequested">
    </input-cost-budget>
    <div class="row gla-alert mtop10" ng-if="!$ctrl.readOnly && !$ctrl.associatedProjectConfig.enableMarker && $ctrl.data.associatedProject">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      <span>This project cannot be removed from the strategic allocation as a milestone has been claimed</span>
    </div>

    <br>
    <input-cost-budget
      ng-if="$ctrl.config.showNilGrant"
      label="£0 grant requested (nil grant)"
      is-selected="$ctrl.data.zeroGrantRequested"
      value="$ctrl.data.zeroGrantRequested"
      hide-value="true"
      read-only="$ctrl.readOnly || $ctrl.data.associatedProject">
    </input-cost-budget>
    <div class="read-only-text" ng-if="$ctrl.config.showNilGrant">By ticking this box you are confirming that you are not requesting any grant from any source</div>
    <br>
    <input-cost-budget
      ng-if="$ctrl.config.showRcgfGrant"
      label="Recycled Capital Grant Fund (RCGF)"
      hide-checkbox="true"
      is-selected="true"
      value="$ctrl.data.recycledCapitalGrantFundValue"
      read-only="$ctrl.readOnly || $ctrl.data.zeroGrantRequested || $ctrl.data.associatedProject">
    </input-cost-budget>

    <input-cost-budget
      ng-if="$ctrl.config.showDpfGrant"
      label="Disposal Proceeds Fund (DPF)"
      hide-checkbox="true"
      is-selected="true"
      value="$ctrl.data.disposalProceedsFundValue"
      read-only="$ctrl.readOnly || $ctrl.data.zeroGrantRequested || $ctrl.data.associatedProject">
    </input-cost-budget>


    <input-cost-budget
      ng-if="$ctrl.config.showGrant"
      label="Grant"
      hide-checkbox="true"
      is-selected="true"
      value="$ctrl.data.grantValue"
      read-only="$ctrl.readOnly || $ctrl.data.zeroGrantRequested || $ctrl.data.associatedProject">
    </input-cost-budget>
    <br>

    <div class="text-center mtop30 total-block">
      <div>{{$ctrl.blockMetaData.grantTotalText || "THE AMOUNT REQUESTED FOR THIS PROJECT IS"}}</div>
      <div class="total-currency">&pound;<span class="grant-total">{{$ctrl.total() | number}}</span></div>
    </div>

    <div class="row" ng-if="$ctrl.data.validationFailures.Block1.length">
      <div class="col-xs-12 mtop15 text-center">
        <div class="error-wrapper error" ng-repeat="error in $ctrl.data.validationFailures.Block1">
          {{error.description}}
        </div>
      </div>
    </div>
    <project-block-footer editable-block="$ctrl"></project-block-footer>
  </div>
</div>
