<div class="projectHistory history-accordion">
  <uib-accordion>
    <div uib-accordion-group class="panel-default" is-open="status.isCustomHeaderOpen">

      <uib-accordion-heading>
        Project History&nbsp;
        <i id="accordion" class="glyphicon"
           ng-class="{'glyphicon-triangle-top': status.isCustomHeaderOpen, 'glyphicon-triangle-bottom': !status.isCustomHeaderOpen}">
        </i>
      </uib-accordion-heading>

      <div class="row content" id="content">
        <div class="col-xs-12 history-comments">
          <div ng-repeat="item in $ctrl.items" ng-if="item.transition != 'Unconfirmed'">
            <div class="text-left lighter" id="metadata-{{$index}}">
              {{$ctrl.formatDate(item.createdOn)}} {{item.description || $ctrl.transitionMap[item.transition] || item.transition}} by {{ item.createdByFirstName}} {{ item.createdByLastName}}
            </div>
            <div class="text-left">{{item.comments}}</div>
            <hr/>
          </div>
        </div>
      </div>
    </div>
  </uib-accordion>
</div>
