<div class="row requestPasswordReset text-center">
  <gla-page-header [hideBackBtn]="true">Reset your password</gla-page-header>


  <div *ngIf="isRequestSuccess === false">
    <div class="col-xs-12 mtop15">
      <span class="error">{{errorMessage}}</span>
    </div>

    <div class="col-xs-12 col-ms-8 col-sm-6 col-md-4 col-ms-offset-2 col-sm-offset-3 col-md-offset-4">
      <form class="form-gla" role="form" name="reqResetForm" #reqResetForm="ngForm">
        <div class="form-group mtop30">
          <label for="email">Email address</label>
          <input type="email"
                 class="form-control"
                 id="email"
                 name="email"
                 [(ngModel)]="userEmail"
                 placeholder="Enter your organisation email address"
                 [pattern]="emailPattern"
                 #email="ngModel"
                 required/>
          <div class="error-wrapper" role="alert" *ngIf="email.errors && (reqResetForm.submitted || email.touched)">
            <span class="error" *ngIf="email.errors?.required">Enter your email address</span>
            <span class="error" *ngIf="email.errors?.pattern">Check your email</span>
          </div>
        </div>

        <div class="mtop30 text-center">
          <button class="btn btn-primary mtop20"
                  [disabled]="email.errors || reqResetForm.invalid"
                  (click)="onSubmit()">RESET PASSWORD</button>
        </div>

        <div class="mtop15">
          <a href="JavaScript:void(0)" class="form-cancel" (click)="onCancel()">Back to login</a>
        </div>

      </form>
    </div>
  </div>

  <div *ngIf="isRequestSuccess === true">
    <div class="col-xs-12 mtop30 text-center">
      <p>A link to reset your password has been sent to {{userEmail}}.</p>
      <p>If you haven’t received the email check your spam folder and that the email address matches the one you supplied during registration.</p>
    </div>
  </div>

</div>
