.annual-spend-forecast {
  .wizzard {
    padding: .5rem .8rem .5rem .8rem;
    background-color: white;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.05);
    .add-btn {
      padding: .3rem .5rem .3rem .5rem !important;
    }
  }
}


