.assessmentTemplates, .assessmentTemplate, .assessmentTemplateNew .assessmentTemplatePaste {

  @include when-md {
    padding-left: 15px;
    padding-right: 15px;
  }

  a.link {
    font-size: 14px;
    font-family: $font-family-bolder;
    display: inline-block;
    margin-left: 20px;
  }

  .primary-row{
    cursor: pointer;
    background-color: $primary-white;
    td {
      border-top: 2px solid darken($table-border, 10%);
    }
  }

  .sub-heading{
    background-color: $table-sub-header;
  }

  tr.secondary-row td {
    border: 0;
  }

  table.sections > tbody > tr > td {
    border-top: 0;
  }

}
