<div class="assessmentTemplate assessment-template">

  <gla-page-header header="Assessment Template" (on-back)="$ctrl.onBack()" back-btn-name="ASSESSMENT LIST" [editable-block]="$ctrl" [stop-editing]="true">
    <ph-right>
      <span permission permission-only="'assessment.manage'">
        <button class="btn btn-primary btn-md mleft5" id="copy-assessment-template" ng-if="$ctrl.readOnly"
                              clipboard on-copied="$ctrl.success()" on-error="$ctrl.fail(err)" supported="$ctrl.supported" text="$ctrl.copyAssessmentTemplate()">
          COPY
        </button>
      </span>
    </ph-right>
  </gla-page-header>

  <header-status>
    <hs-left class="row text-nowrap" ng-if="$ctrl.assessmentTemplate.createdOn && $ctrl.assessmentTemplate.creatorName && !($ctrl.assessmentTemplate.modifiedOn && $ctrl.assessmentTemplate.modifierName)">Created on {{($ctrl.assessmentTemplate.createdOn) | date: 'dd/MM/yyyy'}} by {{$ctrl.assessmentTemplate.creatorName}}</hs-left>
    <hs-left class="row text-nowrap" ng-if="$ctrl.assessmentTemplate.modifiedOn && $ctrl.assessmentTemplate.modifierName">Last updated on {{($ctrl.assessmentTemplate.modifiedOn) | date: 'dd/MM/yyyy'}} by {{$ctrl.assessmentTemplate.modifierName}}</hs-left>
    <hs-left class="row text-nowrap" ng-if="$ctrl.readOnly">Status: {{$ctrl.assessmentTemplate.statusLabel}}</hs-left>
    <hs-right>ID: <b>{{$ctrl.assessmentTemplate.id}}</b></hs-right>
  </header-status>

  <form class="form-gla mtop40 assessment-template-form" role="form" name="editAssessmentTemplateForm">

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="form-group">
          <label for="assessment-template-name">Name</label>

          <div class="word-wrap" ng-if="$ctrl.readOnly">
            {{$ctrl.assessmentTemplate.name}}
          </div>

          <input id="assessment-template-name" name="assessment-template-name" type="text" class="form-control" required autofocus
                 placeholder="Assessment template name" ng-model="$ctrl.assessmentTemplate.name" maxlength="255"
                 ng-if="!$ctrl.readOnly" change-on-blur="$ctrl.save()"/>
          <div id="name-error" class="error-wrapper" role="alert" ng-show="editAssessmentTemplateForm.$submitted || editAssessmentTemplateForm.name.$touched">
            <span class="error" ng-show="editAssessmentTemplateForm.name.$error.required">Enter a name</span>
          </div>
        </div>

        <div class="form-group">
          <label for="managing-organisation">Managing organisation</label>

          <div ng-if="$ctrl.readOnly">
            {{$ctrl.assessmentTemplate.managingOrganisationName}}
          </div>
          <select class="form-control"
                  id="managing-organisation"
                  ng-change="$ctrl.onManagingOrganisation($ctrl.assessmentTemplate.managingOrganisation)"
                  ng-if="!$ctrl.readOnly && $ctrl.managingOrganisations.length > 1"
                  ng-model="$ctrl.assessmentTemplate.managingOrganisation"
                  ng-options="managingOrganisation as managingOrganisation.name for managingOrganisation in $ctrl.managingOrganisations track by managingOrganisation.id"
                  required
                  style-placeholder="">
            <option disabled value="">Select</option>
          </select>
          <div ng-if="$ctrl.editMode || $ctrl.managingOrganisations.length === 1">
            {{$ctrl.assessmentTemplate.managingOrganisationName || '-'}}
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row no-gutter">
        <div class="col-sm-10 col-sm-offset-1 mtop15 no-gutter">
          <div class="text-right">
            <label ng-if="!$ctrl.readOnly" for="include-weight"><input
              id="include-weight"
              type="checkbox"
              class="mtop30"
              ng-change="$ctrl.save()"
              ng-model="$ctrl.assessmentTemplate.includeWeight"> Include weight %</label>
          </div>

          <hr>
          <div class="no-padding mtop30" class="col-xs-12">
            <section-header>Assessment scores</section-header>
          </div>

          <button class="btn btn-secondary mbottom15 pull-right" ng-if="!$ctrl.readOnly" ng-click="$ctrl.showAddScoreModal()">
            ADD SCORE
          </button>

          <table class="table table-bordered table-responsive scores" id="scores" ng-if="$ctrl.assessmentTemplate.scores.length">
            <thead class="thead-inverse uppercase">
            <tr>
              <th>NUMBER</th>
              <th>SHORT TITLE</th>
              <th>DEFINITION</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="score in $ctrl.assessmentTemplate.scores | orderBy: 'score'" class="secondaryRow">
              <td>{{score.score}}</td>
              <td>{{score.name}}</td>
              <td ng-class="{'delete-btn-container': !$ctrl.readOnly}">
                {{score.description}}
                <delete-button ng-if="!$ctrl.readOnly" ng-click="$ctrl.deleteScoreEntry(score.id)"></delete-button>
              </td>
            </tr>
            </tbody>
          </table>

          <div class="row" ng-if="$ctrl.assessmentTemplate.validationFailures.scores.length" id="scores-errors">
            <div class="col-xs-12 mtop15 text-center">
              <div class="error-wrapper error" ng-repeat="error in $ctrl.assessmentTemplate.validationFailures.scores">
                {{error.description}} <span ng-if="error.rowId">({{error.rowId}})</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div id="assessment-outcomes-section" class="form-group">
      <div class="row no-gutter">
        <div class="col-sm-10 col-sm-offset-1 mtop15 no-gutter">

          <hr class="mtop30">

          <div class="no-padding" class="col-xs-12">
            <section-header>Assessment outcomes</section-header>
          </div>

          <button class="btn btn-secondary mbottom15 pull-right" ng-if="!$ctrl.readOnly" ng-click="$ctrl.showAddOutcomeModal()">
            ADD OUTCOME
          </button>

          <table id="assessment-outcomes" class="table table-bordered table-responsive scores" ng-if="$ctrl.assessmentTemplate.outcomes.length">
            <thead class="thead-inverse uppercase">
            <tr>
              <th>SHORT TITLE</th>
              <th>ALLOW TO PROCEED</th>
              <th>DISPLAY ORDER</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="outcome in $ctrl.assessmentTemplate.outcomes | orderBy: 'displayOrder'" class="secondaryRow">
              <td>{{outcome.name}}</td>
              <td>
                {{$ctrl.AssessmentService.getOutcomeTypeLabel(outcome.allowToProceed)}}
              </td>
              <td ng-class="{'delete-btn-container': !$ctrl.readOnly}">
                {{outcome.displayOrder | number : 1}}
                <delete-button ng-if="!$ctrl.readOnly" ng-click="$ctrl.deleteOutcomeEntry(outcome.id)"></delete-button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="form-group" id="assessment-summary">
      <div class="row no-gutter">
        <div class="col-sm-10 col-sm-offset-1 mtop15 no-gutter">

          <hr class="mtop30">

          <section-header>Assessment summary</section-header>


          <div class="mtop30">
            <div class="form-group yes-no">
              <label for="summary">Is this assessment a summary of other individual assessments?</label>
              <gla-yes-no-input id="summary"
                                [disabled]="$ctrl.readOnly"
                                mode="bool"
                                ng-if="!$ctrl.readOnly"
                                [(model)]="$ctrl.assessmentTemplate.summary"
                                (model-change)="$ctrl.onSummaryChange()">
              </gla-yes-no-input>
              <div ng-if="$ctrl.readOnly" >{{$ctrl.assessmentTemplate.summary | bool}}</div>
            </div>

            <div class="row no-gutter" ng-if="$ctrl.assessmentTemplate.summary">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="outcomeTemplate">Individual assessment template</label>
                  <select class="form-control"
                          id="outcomeTemplate"
                          name="outcomeTemplate"
                          ng-change="$ctrl.onOutcomeTemplateSelect()"
                          ng-if="!$ctrl.readOnly"
                          ng-model="$ctrl.assessmentTemplate.outcomeOfAssessmentTemplateId"
                          ng-options="at.id as at.name for at in $ctrl.filteredAssessmentTemplates | orderBy : 'name'"
                          required
                          style-placeholder="">
                    <option disabled value="">Select assessment template</option>
                  </select>
                  <div class="error-wrapper error" ng-if="!$ctrl.readOnly && !$ctrl.filteredAssessmentTemplates.length">No assessment templates available</div>
                  <div default-value ng-if="$ctrl.readOnly">{{$ctrl.outcomeAssessment.name}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mtop10" id="summary-errors" ng-if="$ctrl.assessmentTemplate.validationFailures.summary.length">
        <div class="col-xs-12 text-center error">
          <div ng-repeat="error in $ctrl.assessmentTemplate.validationFailures.summary">
            {{error.description}}
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row no-gutter">
        <div class="col-sm-10 col-sm-offset-1 mtop15 no-gutter">

          <hr class="mtop30">

          <div class="no-padding" class="col-xs-12">
            <section-header>Assessment sections and criteria</section-header>
          </div>

              <button class="btn btn-secondary mbottom15 pull-right" ng-if="!$ctrl.readOnly" ng-click="$ctrl.showAddSectionModal()">
                ADD SECTION
              </button>

          <table class="table table-bordered table-responsive sections" id="sections" ng-if="$ctrl.assessmentTemplate.sections.length">
            <thead class="thead-inverse uppercase">
            <tr class="mainHeader">
              <th class="no-print"></th>
              <th>SECTION TITLE</th>
              <th ng-if="$ctrl.assessmentTemplate.includeWeight">WEIGHT %</th>
              <th>COMMENT</th>
              <th></th>
            </tr>
            </thead>
            <tbody ng-repeat="section in $ctrl.assessmentTemplate.sections | orderBy: 'displayOrder'">
            <tr allow-enter class="primary-row" ng-attr-tabindex="{{$ctrl.readOnly? undefined : 0}}" ng-click="$ctrl.showAddSectionModal(section)">
              <td allow-enter
                  aria-expanded="{{!!$ctrl.blockSessionStorage.assessmentTemplateSectionsTableState[section.id]}}"
                  aria-label="{{!$ctrl.blockSessionStorage.assessmentTemplateSectionsTableState[section.id]? 'Expand' : 'Collapse'}}"
                  class="expandable no-print"
                  ng-click="$ctrl.blockSessionStorage.assessmentTemplateSectionsTableState[section.id] = !$ctrl.blockSessionStorage.assessmentTemplateSectionsTableState[section.id]; $event.stopPropagation();"
                  role="button"
                  tabindex="0">
                <span>
                  <i class="glyphicon glyphicon-triangle-bottom" ng-if="!$ctrl.blockSessionStorage.assessmentTemplateSectionsTableState[section.id]"></i>
                  <i class="glyphicon glyphicon-triangle-top" ng-if="$ctrl.blockSessionStorage.assessmentTemplateSectionsTableState[section.id]"></i>
                </span>
              </td>
              <td>{{section.title}} <span class="glyphicon glyphicon-exclamation-sign red"
                                          aria-hidden="true"
                                          ng-click="$ctrl.blockSessionStorage.assessmentTemplateSectionsTableState[section.id] = !$ctrl.blockSessionStorage.assessmentTemplateSectionsTableState[section.id]; $event.stopPropagation();"
                                          ng-if="section.validationFailures.criteria.length"></span></td>
              <td ng-if="$ctrl.assessmentTemplate.includeWeight">{{section.weight}}</td>
              <td>{{$ctrl.AssessmentService.getCommentsRequirementLabel(section.commentsRequirement)}}</td>
              <td ng-class="{'delete-btn-container': !$ctrl.readOnly}">
                <delete-button ng-if="!$ctrl.readOnly" ng-click="$ctrl.deleteSection(section.id); $event.stopPropagation();"></delete-button>
              </td>
            </tr>

            <tr ng-if="$ctrl.blockSessionStorage.assessmentTemplateSectionsTableState[section.id]" class="sub-heading">
              <td></td>
              <td>CRITERIA TITLE</td>
              <td ng-if="$ctrl.assessmentTemplate.includeWeight">CRITERIA WEIGHT %</td>
              <td>COMMENT</td>
              <td>ANSWER TYPE</td>
            </tr>

            <tr ng-if="$ctrl.blockSessionStorage.assessmentTemplateSectionsTableState[section.id] && !section.criteriaList.length">
              <td></td>
              <td colspan="4" class="not-provided">Not provided</td>
            </tr>

            <tr allow-enter
                class="secondary-row"
                ng-if="$ctrl.blockSessionStorage.assessmentTemplateSectionsTableState[section.id]"
                ng-repeat="criteria in section.criteriaList | orderBy: 'displayOrder'" tabindex="0"
                ng-click="$ctrl.showAddCriteriaModal(section, criteria)">
              <td></td>
              <td>{{criteria.title}}</td>
              <td ng-if="$ctrl.assessmentTemplate.includeWeight">
                <div ng-if="$ctrl.readOnly">
                  {{criteria.weight}}
                </div>
                <input ng-if="!$ctrl.readOnly && criteria.answerType === 'Score'"
                       id="assessment-criteria-weight-${{criteria.id}}"
                       name="assessment-criteria-weight-${{criteria.id}}"
                       aria-label="assessment-criteria-weight"
                       ng-model="criteria.weight"
                       number-mask="0"
                       min="0"
                       max="100"
                       class="form-control"
                       placeholder=""
                       required
                       maxlength="3"
                       ng-click="$event.stopPropagation();"
                       change-on-blur="$ctrl.save()"/>
              </td>
              <td>{{$ctrl.AssessmentService.getCommentsRequirementLabel(criteria.commentsRequirement)}}</td>
              <td ng-class="{'delete-btn-container': !$ctrl.readOnly}">
                {{$ctrl.AssessmentService.getAnswerTypeLabel(criteria.answerType)}}
                <delete-button class="small" ng-if="!$ctrl.readOnly" ng-click="$ctrl.deleteCriteria(section, criteria.id); $event.stopPropagation();"></delete-button>
              </td>
            </tr>

            <tr class="" ng-if="$ctrl.blockSessionStorage.assessmentTemplateSectionsTableState[section.id]">
              <td></td>
              <td colspan="{{$ctrl.assessmentTemplate.includeWeight ? 3 : 2}}">
                <div class="error mtop5" ng-repeat="error in section.validationFailures.criteria">{{error.description}}
                </div>
              </td>
              <td>
                <div ng-if="!$ctrl.readOnly" class="text-right add-criteria">
                  <a class="pageLink add-criteria"
                     id="addCriteria"
                     href="JavaScript:void(0)"
                     ng-click="$ctrl.showAddCriteriaModal(section, criteria); $event.stopPropagation();">Add criteria</a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div class="row" ng-if="$ctrl.assessmentTemplate.validationFailures.sections.length" id="section-errors">
      <div class="col-xs-12 text-center error">
        <div ng-repeat="error in $ctrl.assessmentTemplate.validationFailures.sections">
          {{error.description}}
        </div>
      </div>
    </div>



    <div class="form-group" ng-if="!$ctrl.assessmentTemplate.validationFailures.readyForUse.length && !$ctrl.readOnly">
      <div class="row no-gutter mtop30">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 no-gutter">
          <div class="inline-checkbox">
            <label for="ready-for-use">Ready for use</label>
            <input id="ready-for-use"
                   class="form-control"
                   type="checkbox"
                   name="readyForUse"
                   ng-change="$ctrl.save()"
                   ng-model="$ctrl.isReadyForUse"/>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
