option_settings:
  - namespace: aws:elasticbeanstalk:cloudwatch:logs
    option_name: StreamLogs
    value: true

files:
  "/etc/awslogs/config/gla-ops-logs.config":
    mode : "060644"
    owner: root
    group: root
    content: |
      [/var/log/tomcat8/catalina.out]
      datetime_format = %b %d %H:%M:%S
      file = /var/log/tomcat8/catalina.out
      buffer_duration = 5000
      log_stream_name = /var/log/tomcat8/catalina.out
      initial_position = start_of_file
      log_group_name = `{ "Fn::Join" : ["-", [{ "Ref" : "AWSEBEnvironmentName" }, "webrequests" ]]}`
      [/var/log/tomcat8/localhost_access_log.txt]
      datetime_format = %b %d %H:%M:%S
      file = /var/log/tomcat8/localhost_access_log.txt
      buffer_duration = 5000
      log_stream_name = /var/log/tomcat8/localhost_access_log.txt
      initial_position = start_of_file
      log_group_name = `{ "Fn::Join" : ["-", [{ "Ref" : "AWSEBEnvironmentName" }, "webrequests" ]]}`
      [/var/log/tomcat8/localhost.date.log]
      datetime_format = %b %d %H:%M:%S
      file = /var/log/tomcat8/localhost.????-??-??.log
      buffer_duration = 5000
      log_stream_name = /var/log/tomcat8/localhost_date.log
      initial_position = start_of_file
      log_group_name = `{ "Fn::Join" : ["-", [{ "Ref" : "AWSEBEnvironmentName" }, "webrequests" ]]}`
      [/var/log/tomcat8/catalina.date.log]
      datetime_format = %b %d %H:%M:%S
      file = /var/log/tomcat8/catalina.????-??-??.log
      buffer_duration = 5000
      log_stream_name = /var/log/tomcat8/catalina.date.log
      initial_position = start_of_file
      log_group_name = `{ "Fn::Join" : ["-", [{ "Ref" : "AWSEBEnvironmentName" }, "webrequests" ]]}`
      [/var/log/gla-ops.log]
      datetime_format = %b %d %H:%M:%S
      file = /var/log/tomcat8/gla-ops.log
      buffer_duration = 5000
      log_stream_name = /var/log/tomcat8/gla-ops.log
      initial_position = start_of_file
      log_group_name = `{ "Fn::Join" : ["-", [{ "Ref" : "AWSEBEnvironmentName" }, "webrequests" ]]}`
      [/var/log/gla-ops-errors.log]
      datetime_format = %b %d %H:%M:%S
      file = /var/log/tomcat8/gla-ops-errors.log
      buffer_duration = 5000
      log_stream_name = /var/log/tomcat8/gla-ops-errors.log
      initial_position = start_of_file
      log_group_name = `{ "Fn::Join" : ["-", [{ "Ref" : "AWSEBEnvironmentName" }, "webrequests" ]]}`
      [/var/log/httpd/elasticbeanstalk-access_log]
      datetime_format = %b %d %H:%M:%S
      file = /var/log/httpd/elasticbeanstalk-access_log
      buffer_duration = 5000
      log_stream_name = /var/log/httpd/elasticbeanstalk-access_log
      initial_position = start_of_file
      log_group_name = `{ "Fn::Join" : ["-", [{ "Ref" : "AWSEBEnvironmentName" }, "webrequests" ]]}`
      [/var/log/httpd/elasticbeanstalk-error_log]
      datetime_format = %b %d %H:%M:%S
      file = /var/log/httpd/elasticbeanstalk-error_log
      buffer_duration = 5000
      log_stream_name = /var/log/httpd/elasticbeanstalk-error_log
      initial_position = start_of_file
      log_group_name = `{ "Fn::Join" : ["-", [{ "Ref" : "AWSEBEnvironmentName" }, "webrequests" ]]}`

container_commands:
  10-restart-cwlogs:
    command: "/etc/init.d/awslogs restart"