<div class="project-grant indicative-grant">
  <div class="text-center">
    <project-header on-back="$ctrl.back()" editable-block="$ctrl">Enter indicative grant</project-header>
  </div>

  <spinner ng-if="!$ctrl.data && $ctrl.loading"></spinner>
  <div ng-if="$ctrl.data">

    <div class="row table-title">
      Enter the units by tenure type that are expected to start on site in the years specified below
    </div>
    <grant-table data="$ctrl.data" is-readonly="$ctrl.readOnly" on-tenure-change="$ctrl.saveTenure(true)">
    </grant-table>

    <div style="position: relative;">
      <div ng-repeat="tenure in $ctrl.tenureSummaryDetailsRows track by tenure.name">
        <div class="grant-block-title">{{tenure.name}}</div>
        <div class="grant">
          <div class="row">
            <div class="grant-column"
                 ng-class="'col-xs-{{tenure.grantBlocks.length > 4? 4 : 12/tenure.grantBlocks.length}}'"
                 ng-repeat="grant in tenure.grantBlocks track by grant.name">
              <grant-block items="grant.items">{{ grant.name }}</grant-block>
            </div>
          </div>
        </div>
      </div>
      <total-grant total="$ctrl.data.totalGrantEligibility"></total-grant>
      <loading-mask ng-if="$ctrl.loading" text=""></loading-mask>
    </div>

    <div class="row">
      <div class="col-xs-12 mtop30 mbottom30 text-center">
        <button class="btn btn-primary" ng-click="$ctrl.submit()" ng-if="!$ctrl.readOnly">SAVE</button>
      </div>
    </div>
  </div>
</div>
