.glaFooter {
  color: $gla-white;
  background-color: #353d42;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.625rem 0.9375rem;
  margin-top: 1rem;
  display: flex;
  align-items: baseline;


  .glaFooter__buildVersion {
    color: $gla-grey;
    text-align: right;
    font-size: 0.625rem;
    width: 20%;
  }

  .glaFooter__aboutLink {
    color: $gla-grey;
    text-align: left;
    font-size: 0.625rem;
    cursor: pointer;
    width: 20%;
  }

  .copyright{
    width: 60%;
  }

  a:hover, a:focus {
    color: white;
    text-decoration: underline;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
}


