<div class="row passwordReset">
  <div class="col-xs-12 text-center mbottom30">
    <h2>Reset your password</h2>
  </div>

  <div class="col-xs-12 col-ms-7 col-sm-5 col-md-4 center-col" ng-show="$ctrl.isTokenValid">
    <form class="form-gla" role="form" name="resetForm">

      <div class="form-group mtop30">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" id="email"
               ng-model="formData.email"
               placeholder="Enter your organisation email address"
               ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required autofocus/>
        <div class="error-wrapper" role="alert" ng-show="resetForm.$submitted || resetForm.email.$touched">
          <span class="error" ng-show="resetForm.email.$error.required">Enter your email address</span>
          <span class="error" ng-show="resetForm.email.$error.pattern || resetForm.email.$error.email">Check your email</span>
        </div>
      </div>

      <div class="form-group mtop30" id="first-password">
        <label for="password1">New password</label>
        <input type="password" class="form-control" name="pass"
               placeholder="Must be at least 8 characters"
               ng-password-strength="passwd" ng-minlength="8" strength="50"
               ng-model="formData.password" ng-model-options="{ debounce: 100 }" id="password1" ng-change="$ctrl.errors = null"
               required/>
        <div class="error-wrapper" role="alert" ng-show="resetForm.$submitted || resetForm.pass.$touched">
          <span class="error" ng-show="resetForm.pass.$error.required">Enter a password</span>
          <span class="error" ng-show="resetForm.pass.$error.minlength">Enter at least 8 characters</span>
          <span class="error" ng-show="$ctrl.errors.password">{{$ctrl.errors.password}}</span>

        </div>
      </div>

      <div class="form-group">
        <password-strength password="resetForm.pass.$viewValue" is-valid="$ctrl.isPasswordStrongEnough"></password-strength>
      </div>

      <div class="form-group">
        <password-strength-explanation></password-strength-explanation>
      </div>

      <div class="form-group mtop30" id="second-password">
        <label for="password2">Re-enter password</label>
        <input type="password" class="form-control" name="passTwo"
               ng-model="formData.passConfirm"
               placeholder="Re-enter your password"
               minlength="8" match="resetForm.pass"
               id="password2"
               required/>
        <div class="error-wrapper"
             role="alert"
             ng-show="resetForm.$submitted || resetForm.passTwo.$touched">
          <span class="error" ng-show="resetForm.passTwo.$error.required">Confirm your password</span>
          <span class="error" id="invalidPassMatch" ng-show="resetForm.passTwo.$error.match">Password doesn't match!</span>
        </div>
      </div>
    </form>
  </div>

  <div class="col-xs-12">
    <div class="text-center mtop30">
      <button class="btn btn-primary"
              ng-disabled="
              resetForm.email.$error.required ||
              !resetForm.email.$valid ||
              resetForm.pass.$error.required ||
              resetForm.pass.$error.minlength ||
              resetForm.passTwo.$error.required ||
              !$ctrl.isPasswordStrongEnough ||
              resetForm.passTwo.$error.match"
              ng-click="$ctrl.onSubmit()">CREATE NEW PASSWORD
      </button>
    </div>
  </div>

  <div class="col-xs-12 mtop15 text-center">
    <a href="JavaScript:void(0)" class="form-cancel" ng-click="$ctrl.onCancel()">Back to login</a>
  </div>

</div>
