questions, .questions {
  display: block;

  label{
    line-height: 1.43;
  }
  .FreeText-question{
    textarea{
      min-height: 82px;
      //Nedd this content-box and calc for IE resizing with jqyery-ui-resizer
      box-sizing: content-box;
      width: calc(100% - 26px);
      resize: vertical;
    }

    p {
      white-space: pre-line;
      border: 1px solid $silver;
      color: $abbey;
      width: 100%;
      min-height: 82px;
      padding: 6px 12px;
      font-size: 12px;
      word-break: break-all;
      word-wrap: break-word;
    }
  }
  .section-header-questions {
    font-size: 1.5rem;
    font-weight: 100;
    font-family: $font-family-light;
    margin-bottom: 20px;
  }
  .section-question{
    &.ng-enter{
      opacity: 0;
      transition: opacity ease-in 0.5s;
      &.ng-enter-active{
        opacity: 1;
      }
    }

    &.ng-leave {
      opacity: 1;
      transition: opacity ease-out 0.5s;
      &.ng-leave-active {
        opacity: 0;
      }
    }
  }
  .conditional-question{
    label{
      margin-top: -4px;
      color: darken($secondary-text, 7%);
      font-family: $font-family-bolder;
      font-weight: 100;
      font-size: 13px;
    }

    .form-group {
      border-left: 1px solid $alto-light;
      padding-left: 15px;
    }

    &.ng-enter{
      opacity: 0;
      transition: opacity ease-in 0.5s;
      &.ng-enter-active{
        opacity: 1;
      }
    }

    &.ng-leave {
      opacity: 1;
      transition: opacity ease-out 0.5s;
      &.ng-leave-active {
        opacity: 0;
      }
    }
  }

  @include when-sm{
    .form-group input[number-mask]{
      max-width: 150px;
    }
  }

  icon-new {
    top: 4px;
    margin-left: -100px;
  }

  .uploaded-file-link {
    word-break: break-all;
  }


  yes-no-input{
    display: block;
    .yesNoInput{
      height: 14px;
      input {
        margin-bottom: 0;
        margin-left: 0;
      }
    }
  }
}
