<div class="file-upload" ng-class="'file-upload-'+$ctrl.question.id">
  <well class="row" ng-if="!$ctrl.readOnly">
    <h4>Attachments</h4>
    <h5>Maximum file size: {{ $ctrl.question.maxUploadSizeInMb || 5}}MB</h5>

    <div class="row mbottom15">

      <div class="col-xs-12 no-padding">
        <file-upload
                    class="add-document"
                     component-input-id="'file-upload-'+$ctrl.question.id"
                     context="$ctrl.question"
                     is-disabled="$ctrl.readOnly || ($ctrl.question.attachments.length + $ctrl.question.fileAttachments.length) >= $ctrl.question.quantity"
                     label="ADD DOCUMENT +"
                     on-complete="$ctrl.onFileUploadComplete(event)"
                     on-error="$ctrl.onFileUploadError(event)"
                     on-progress="$ctrl.onFileUploadProgress(event)"
                     upload-params="$ctrl.uploadParams",
                     max-file-size-in-mb="$ctrl.question.maxUploadSizeInMb || 5",
                     post-url="'/questions/' + $ctrl.question.id + '/file'" >
        </file-upload>
      </div>
    </div>
  </well>

  <div class="row">

      <div class="table-responsive attached-files text-left">
        <table class="table table-hover table-bordered table-striped" ng-attr-id="{{'file-uploaded-table-'+$ctrl.question.id}}">
          <thead class="thead-inverse uppercase">
          <tr>
            <th>DOCUMENT NAME</th>
            <th>UPLOAD DATE</th>
            <th>UPLOADED BY</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr class="staged-file" ng-repeat="attachment in $ctrl.question.attachments | orderBy:'createdOn':true">
            <td>
              <a class="uploaded-file-link" href="/api/v1/file/{{attachment.fileId}}"><span aria-hidden="true" class="glyphicon glyphicon-file"></span> {{attachment.fileName}}</a>
            </td>
            <td>{{attachment.createdOn | date: 'MMM d, yyyy'}}</td>
            <td>{{attachment.creatorName}}</td>
            <td>
              <div ng-if="!$ctrl.readOnly">
                <a
                   href ng-click="$ctrl.removeFileToUpload(attachment)">DELETE
                </a>
              </div>
            </td>
          </tr>
          <tr class="attached-file" ng-repeat="attachment in $ctrl.question.fileAttachments | orderBy:'createdOn':true">
            <td>
              <a class="uploaded-file-link" href="/api/v1/file/{{attachment.id}}"><span aria-hidden="true" class="glyphicon glyphicon-file"></span> {{attachment.fileName}}</a>
            </td>
            <td>{{attachment.createdOn | date: 'MMM d, yyyy'}}</td>
            <td>{{attachment.creatorName}}</td>
            <td>
              <div ng-if="!$ctrl.readOnly">
                <a
                   href ng-click="$ctrl.removeAttachment(attachment)">DELETE
                </a>
              </div>
            </td>
          </tr>
          <tr class="no-attached-files"ng-if="($ctrl.question.attachments.length + $ctrl.question.fileAttachments.length) == 0">
            <td colspan="4">No files added.</td>
          </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
