.inputCostBudget {
  display: block;
  position: relative;
  margin-top: 0.5rem;
  box-sizing: border-box;

  // input[type="checkbox"] {
  //   &:checked:after {
  //     color: green;
  //   }
  // }

  input[type="text"] {
    border: 1px solid $gla-grey;
    padding: 0.2rem 0.5rem 0.1rem 0.5rem;

    &:focus {
      border: 1px solid $form-field-active;
      outline: none;
    }
  }

  .inputCostBudget__select {
    padding-left: 0;
    &label {
      cursor: pointer;
    }
  }

  .inputCostBudget__input {
    &.disabled {
      opacity: 0.5;

      input[type="text"] {
        background-color: transparent;
      }
    }
  }

}
