financial-year-quarterly-outputs-table {
  display: block;

  td, th{
    &:first-child{
      min-width: 200px;
    }
  }

  tr.quarter, tr.quarter-totals{
    background-color: #aebecb;
    color: #333333;
    font-family: $font-family-bolder;
    &:hover{
      background-color: #aebecb;
    }
  }

  .quarter {
    font-family: $font-family-bolder;
  }

  tr.month, tr.month-totals {
    background-color: #aebecb;
    color: #333333;
    font-family: $font-family-bolder;
    background-color: darken($ice-blue, 4%);
    &:hover{
      background-color: darken($ice-blue, 4%);
    }
  }

  tr.quarter-totals td{
    border-bottom: 2px solid $table-border;
  }

  tr.month-totals td{
    border-bottom: 2px solid $table-border;
    &:first-child{
      padding-left: 27px;
    }
  }

  tr.category{
    background-color: $ice-blue;
    td{
      border-top: 1px solid #cecece;
      vertical-align: middle;
      &:first-child{
        font-family: $font-family-default;
      }

      &:first-child{
        padding-left: 45px;
      }
    }
  }

  .claim-link{
    margin-right: 15px;
    display: inline-block;
    a {
      color: $navy;
    }

    .error{
      font-family: $font-family-bolder;
    }
  }

  tr.payment-history {
    td {
      padding-left: 27px;
      font-family: $font-family-default;
      &:first-child{
        font-family: $font-family-default;
      }
    }
  }

}
