.annualOutputsForecast {
  .wizzard {
    padding: .5rem .8rem .5rem .8rem;
    background-color: white;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.05);
    button {
      padding: .3rem .5rem .3rem .5rem !important;
    }
  }
  .ui-select-match-text span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ui-select-choices{
    width: auto;
  }
}
