<form name="mForm"  ng-if="$ctrl.data" ng-model-options="{allowInvalid: false}">
  <div ng-include="'table-calculate-grant.html'" ng-if="$ctrl.data.blockType == 'CalculateGrant'"></div>
  <div ng-include="'table-negotiated-grant.html'" ng-if="$ctrl.data.blockType == 'NegotiatedGrant'"></div>
  <div ng-include="'table-developer-led-grant.html'" ng-if="$ctrl.data.blockType == 'DeveloperLedGrant'"></div>
  <div ng-include="'table-indicative-grant.html'" ng-if="$ctrl.data.blockType == 'IndicativeGrant'"></div>

  <div class="row" ng-if="$ctrl.data.errors.length">
    <div class="col-xs-12 mtop15 text-center">
      <div class="error-wrapper error" ng-repeat="error in $ctrl.data.errors">
        {{error.description}} <span ng-if="error.rowId">({{error.rowId}})</span>
      </div>
    </div>
  </div>
</form>


<script type="text/ng-template" id="table-calculate-grant.html">
  <table class="table table-hover table-bordered table-with-inputs">
    <thead class="thead-inverse uppercase">
    <tr>
      <th style="width: 25%">TENURE TYPE</th>
      <th style="width: 25%">TOTAL UNITS</th>
      <th style="width: 25%">OF WHICH NIL GRANT UNITS</th>
      <th style="width: 25%">£ TOTAL DEVELOPMENT COSTS</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="m in $ctrl.data.tenureTypeAndUnitsEntries track by m.id">
      <td>{{ m.tenureType.name }}</td>

      <td class="cell-with-input" ng-class="{'read-only': $ctrl.isReadonly, 'default-value': m.totalUnits === 0, 'invalid-cell': $ctrl.hasErrors(m, 'totalUnits')}">
        <input
          ng-if="!$ctrl.isReadonly"
          number-mask="0"
          type="text"
          ng-model="m.totalUnits"
          maxlength="6"
          change-on-blur="$ctrl.tenureChange(m)"
          aria-label="total-units-input">
        <span ng-if="$ctrl.isReadonly">{{m.totalUnits | number}}</span>
      </td>

      <td class="cell-with-input" ng-class="{'read-only': $ctrl.isReadonly, 'default-value': m.s106Units === 0, 'invalid-cell': $ctrl.hasErrors(m, 's106Units')}">
        <input ng-if="!$ctrl.isReadonly"
          number-mask="0"
          type="text"
          ng-model="m.s106Units"
          maxlength="6"
          change-on-blur="$ctrl.tenureChange(m)"
          aria-label="s106-units-input">
        <span ng-if="$ctrl.isReadonly">{{m.s106Units | number}}</span>
      </td>

      <td class="cell-with-input" ng-class="{'read-only': $ctrl.isReadonly, 'default-value': m.totalCost === 0, 'invalid-cell': $ctrl.hasErrors(m, 'totalCost')}">
        <input ng-if="!$ctrl.isReadonly"
          number-mask="0"
          type="text"
          ng-model="m.totalCost"
          maxlength="13"
          change-on-blur="$ctrl.tenureChange(m)"
          aria-label="total-cost-input">
        <span ng-if="$ctrl.isReadonly">{{m.totalCost | number}}</span>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td>TOTAL</td>
      <td class="read-only">{{$ctrl.data.totals.totalUnits | number}}</td>
      <td class="read-only">{{$ctrl.data.totals.totalS106Units  | number}}</td>
      <td class="read-only">{{$ctrl.data.totals.totalCost  | number}}</td>
    </tr>
    </tfoot>
  </table>
</script>



<script type="text/ng-template" id="table-negotiated-grant.html">
  <table class="table table-hover table-bordered table-with-inputs tenure-types">
    <thead class="thead-inverse uppercase">
    <tr>
      <th style="width: 25%">TENURE TYPE</th>
      <th style="width: 18.75%">£ GRANT REQUESTED</th>
      <th style="width: 18.75%">TOTAL AFFORDABLE UNITS</th>
      <th style="width: 18.75%">OF WHICH SUPPORTED & SPECIALISED UNITS</th>
      <th style="width: 18.75%">£ TOTAL DEVELOPMENT COSTS</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="m in $ctrl.data.tenureTypeAndUnitsEntries track by m.id">
      <td>{{ m.tenureType.name }}</td>

      <td class="cell-with-input" ng-class="{'read-only': $ctrl.isReadonly, 'default-value': m.grantRequested === 0, 'invalid-cell': $ctrl.hasErrors(m, 'grantRequested')}">
        <input ng-if="!$ctrl.isReadonly"
          number-mask="0"
          type="text"
          ng-model="m.grantRequested"
          maxlength="13"
          change-on-blur="$ctrl.tenureChange(m)"
          aria-label="grant-requested-input">
        <span ng-if="$ctrl.isReadonly">{{m.grantRequested | number}}</span>
      </td>

      <td class="cell-with-input" ng-class="{'read-only': $ctrl.isReadonly, 'default-value': m.totalUnits === 0, 'invalid-cell': $ctrl.hasErrors(m, 'totalUnits')}">
        <input ng-if="!$ctrl.isReadonly"
          number-mask="0"
          type="text"
          ng-model="m.totalUnits"
          maxlength="6"
          change-on-blur="$ctrl.tenureChange(m)"
          aria-label="total-units-input">
        <span ng-if="$ctrl.isReadonly">{{m.totalUnits | number}}</span>
      </td>

      <td class="cell-with-input" ng-class="{'read-only': $ctrl.isReadonly, 'default-value': m.supportedUnits === 0, 'invalid-cell': $ctrl.hasErrors(m, 'supportedUnits')}">
        <input ng-if="!$ctrl.isReadonly"
          number-mask="0"
          type="text"
          ng-model="m.supportedUnits"
          maxlength="6"
          change-on-blur="$ctrl.tenureChange(m)"
          aria-label="tenure-change-input">
        <span ng-if="$ctrl.isReadonly">{{m.supportedUnits | number}}</span>
      </td>

      <td class="cell-with-input" ng-class="{'read-only': $ctrl.isReadonly, 'default-value': m.totalCost === 0, 'invalid-cell': $ctrl.hasErrors(m, 'totalCost')}">
        <input ng-if="!$ctrl.isReadonly"
          number-mask="0"
          type="text"
          ng-model="m.totalCost"
          maxlength="13"
          change-on-blur="$ctrl.tenureChange(m)"
          aria-label="total-cost-input">
        <span ng-if="$ctrl.isReadonly">{{m.totalCost | number}}</span>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td>TOTAL</td>
      <td class="read-only">{{$ctrl.data.totals.totalGrantRequested | number}}</td>
      <td class="read-only">{{$ctrl.data.totals.totalUnits | number}}</td>
      <td class="read-only">{{$ctrl.data.totals.totalSupportedUnits | number}}</td>
      <td class="read-only">{{$ctrl.data.totals.totalCost | number}}</td>
    </tr>
    </tfoot>
  </table>
</script>



<script type="text/ng-template" id="table-developer-led-grant.html">
  <table class="table table-hover table-bordered table-with-inputs">
    <thead class="thead-inverse uppercase">
    <tr>
      <th style="width: 25%">TENURE TYPE</th>
      <th style="width: 25%">S106 AGREEMENT UNITS</th>
      <th style="width: 25%">ADDITIONAL AFFORDABLE UNITS</th>
      <th style="width: 25%">TOTAL DEVELOPMENT COSTS £</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="m in $ctrl.data.tenureTypeAndUnitsEntries track by m.id">
      <td>{{ m.tenureType.name }}</td>

      <td class="cell-with-input" ng-class="{'read-only': $ctrl.isReadonly, 'default-value': m.s106Units === 0, 'invalid-cell': $ctrl.hasErrors(m, 's106Units')}">
        <input ng-if="!$ctrl.isReadonly"
          number-mask="0"
          type="text"
          ng-model="m.s106Units"
          maxlength="6"
          change-on-blur="$ctrl.tenureChange(m)"
          aria-label="s106-units-input">
        <span ng-if="$ctrl.isReadonly">{{m.s106Units | number}}</span>
      </td>

      <td class="cell-with-input" ng-class="{'read-only': $ctrl.isReadonly, 'default-value': m.additionalAffordableUnits === 0, 'invalid-cell': $ctrl.hasErrors(m, 'additionalAffordableUnits')}">
        <input ng-if="!$ctrl.isReadonly"
          number-mask="0"
          type="text"
          ng-model="m.additionalAffordableUnits"
          maxlength="6"
          change-on-blur="$ctrl.tenureChange(m)"
          aria-label="additional-affordable-units-input">
        <span ng-if="$ctrl.isReadonly">{{m.additionalAffordableUnits | number}}</span>
      </td>

      <td class="cell-with-input" ng-class="{'read-only': $ctrl.isReadonly, 'default-value': m.totalCost === 0, 'invalid-cell': $ctrl.hasErrors(m, 'totalCost')}">
        <input ng-if="!$ctrl.isReadonly"
          number-mask="0"
          type="text"
          ng-model="m.totalCost"
          maxlength="13"
          change-on-blur="$ctrl.tenureChange(m)"
          aria-label="total-cost-input">
        <span ng-if="$ctrl.isReadonly">{{m.totalCost | number}}</span>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td>TOTAL</td>
      <td class="read-only">{{$ctrl.data.totals.totalS106Units | number}}</td>
      <td class="read-only">{{$ctrl.data.totals.totalAdditionalUnits | number}}</td>
      <td class="read-only">{{$ctrl.data.totals.totalCost | number}}</td>
    </tr>
    </tfoot>
  </table>
</script>



<script type="text/ng-template" id="table-indicative-grant.html">
  <table class="grant-table table table-hover table-bordered table-with-inputs">
    <thead class="thead-inverse uppercase">
    <tr>
      <th rowspan="2" style="width: 25%">TENURE TYPE</th>
      <th class="grant-table-centered-th-text" colspan="{{$ctrl.data.tenureTypeAndUnitsEntries[0].indicativeTenureValuesSorted.length}}">
        <div>
          <span>Units to start on site in</span>&nbsp;
        </div>
      </th>
    </tr>
    <tr>
      <!-- <th style="width: 25%"></th> -->
      <th class="grant-table-centered-th-text second-th-row" ng-repeat="data in $ctrl.data.tenureTypeAndUnitsEntries[0].indicativeTenureValuesSorted">
        <div>
          <span>{{data.year}}/{{data.year + 1 | limitTo:2:2}}</span>
        </div>

      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="t in $ctrl.data.tenureTypeAndUnitsEntries track by t.id">
      <td>{{ t.tenureType.name }}</td>

      <td class="cell-with-input" ng-class="{'read-only': $ctrl.isReadonly, 'default-value': m.units === 0}" ng-repeat="m in t.indicativeTenureValuesSorted">
        <input ng-if="!$ctrl.isReadonly"
          number-mask="0"
          type="text"
          ng-model="m.units"
          maxlength="6"
          change-on-blur="$ctrl.tenureChange(m)"
          aria-label="{{t.tenureType.name}}-{{m.year}}-units-input">
        <span ng-if="$ctrl.isReadonly">{{m.units | number}}</span>
      </td>
    </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>TOTAL</td>
        <td class="read-only" ng-repeat="total in $ctrl.data.totals.resultsByYear track by $index">{{total | number}}</td>
      </tr>
    </tfoot>
  </table>
</script>
