button.btn.btn-sm {
  &, &:active, &:focus, {
    padding: 3px 10px 1px 9px;
    margin-right: 3px;

    &:last-child {
      margin-right: 5px;
    }

    text-align: center;

    .glyphicon {
      margin: 0;
    }
  }
}
