<div class="request-organisation-access-modal">

  <div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-mousedown="$dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>Send a request to another organisation</h1>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="form-group has-feedback">
          <input id="orgcode" type="text" name="orgcode" aria-label="Organisation Code" class="form-control" ng-minlength="3" org-lookup="$ctrl.orgName"
                 ng-model="$ctrl.orgCode" placeholder="GLA provider number" required autofocus autocomplete="off"/>
          <span ng-if="$ctrl.orgName" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <div class="error-wrapper" role="alert">
            <span class="error" ng-if="$ctrl.orgCode.length > 2 && !$ctrl.orgName">Organisation number not recognised</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div ng-if="!$ctrl.orgName" class="form-group">
          <input type="text" class="form-control" disabled />
        </div>
        <div ng-if="$ctrl.orgName" class="organisation-name">
          {{$ctrl.orgName}}
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default btn-primary btn-center" type="button" ng-if="!$ctrl.orgName" ng-click="$dismiss()"
            ng-disabled="modalForm.$pristine || modalForm.$invalid">CANCEL</button>

    <button class="btn btn-default btn-primary btn-center" type="button" ng-if="$ctrl.orgName" ng-click="$close($ctrl.orgCode)"
            ng-disabled="modalForm.$pristine || modalForm.$invalid">SEND REQUEST</button>
  </div>

</div>
