<multi-panel>
  <div class="column">
    <div class="section">
      <mp-field label="$ctrl.labels.wbsCapital">
        <span ng-if="$ctrl.readOnly">{{$ctrl.projectType.capitalWbsCode}}</span>
        <input ng-if="!$ctrl.readOnly"
               aria-label="{{$ctrl.labels.wbsCapital}}"
               class="form-control"
               type="text"
               maxlength="50"
               ng-model="$ctrl.projectType.capitalWbsCode">
      </mp-field>

      <mp-field label="$ctrl.labels.wbsRevenue">
        <span ng-if="$ctrl.readOnly">{{$ctrl.projectType.revenueWbsCode}}</span>
        <input ng-if="!$ctrl.readOnly"
               aria-label="{{$ctrl.labels.wbsRevenue}}"
               class="form-control"
               type="text"
               maxlength="50"
               ng-model="$ctrl.projectType.revenueWbsCode">
      </mp-field>

      <mp-field label="$ctrl.labels.ceCode">
        <span ng-if="$ctrl.readOnly || !$ctrl.canEditCeCode">{{$ctrl.projectType.ceCode}}</span>
        <input ng-if="!$ctrl.readOnly && $ctrl.canEditCeCode"
               aria-label="{{$ctrl.labels.ceCode}}"
               class="form-control"
               type="text"
               maxlength="50"
               ng-model="$ctrl.projectType.ceCode">
      </mp-field>

      <mp-field label="$ctrl.labels.paymentsEnabled">
        <span ng-if="$ctrl.readOnly">{{$ctrl.projectType.paymentsEnabled ? 'Yes' : 'No'}}</span>

        <div ng-if="!$ctrl.readOnly" class="radio-group">
          <label class="radio-inline">
            <input aria-label="{{$ctrl.labels.paymentsEnabled}} Yes"
                   type="radio"
                   ng-attr-name="pe{{$index}}"
                   ng-model="$ctrl.projectType.paymentsEnabled"
                   ng-value="true"> Yes
          </label>
          <label class="radio-inline">
            <input aria-label="{{$ctrl.labels.paymentsEnabled}} No"
                   type="radio"
                   ng-attr-name="pe{{$index}}"
                   ng-model="$ctrl.projectType.paymentsEnabled"
                   ng-value="false"> No
          </label>
        </div>
      </mp-field>

      <mp-field label="$ctrl.labels.paymentDefault">
        <span ng-if="$ctrl.readOnly">{{$ctrl.getWbsCodeType($ctrl.projectType.defaultWbsCodeType).label}}</span>
        <ui-select ng-if="!$ctrl.readOnly"
                   aria-label="{{$ctrl.labels.paymentDefault}}"
                   ng-change="$ctrl.onDefaultWbsSelect($ctrl.projectType)"
                   ng-init="$ctrl.projectType.previousDefaultWbsCodeType=$ctrl.projectType.defaultWbsCodeType"
                   ng-model="$ctrl.projectType.defaultWbsCodeType"
                   search-enabled="false">
          <ui-select-match placeholder="Select default">{{$select.selected.label}}</ui-select-match>
          <ui-select-choices repeat="wbsCodeType.key as wbsCodeType in $ctrl.wbsCodeTypes track by wbsCodeType.key">
            <span>{{ wbsCodeType.label }}</span>
          </ui-select-choices>
        </ui-select>
      </mp-field>


      <mp-field label="$ctrl.labels.status">
        <span ng-if="$ctrl.readOnly">{{$ctrl.projectType.status}}</span>
        <ui-select ng-if="!$ctrl.readOnly"
                   aria-label="{{$ctrl.labels.status}}"
                   ng-change="$ctrl.onStatusSelect($ctrl.projectType)"
                   ng-init="$ctrl.projectType.previousStatus=$ctrl.projectType.status"
                   ng-model="$ctrl.projectType.status"
                   search-enabled="false">
          <ui-select-match placeholder="Select">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="status in $ctrl.statuses">
            <span>{{ status }}</span>
          </ui-select-choices>
        </ui-select>
      </mp-field>

      <mp-field label="$ctrl.labels.statusModel">{{$ctrl.projectType.stateModelName}}</mp-field>

    </div>
  </div>

  <div class="column">
    <div class="section">
      <mp-field label="$ctrl.labels.assessmentTemplates" mp-default="' '">
        <button class="btn btn-secondary add-btn"
                ng-click="$ctrl.showAssessmentTemplateModal()"
                ng-if="!$ctrl.readOnly && $ctrl.availableAssessmentTemplates.length">ADD <b>+</b></button>
        <span ng-if="$ctrl.readOnly && !$ctrl.projectType.assessmentTemplates.length">Not provided</span>
      </mp-field>

      <div ng-repeat="at in $ctrl.projectType.assessmentTemplates | orderBy : 'assessmentTemplate.name' track by at.assessmentTemplate.id"
           class="delete-btn-container mtop5 assessment-template">
        <div class="assessment-name">{{at.assessmentTemplate.name}}</div>
        <div class="roles">{{$ctrl.usedByRolesText(at)}}</div>
        <div class="actions">
          <a href="" ng-click="$ctrl.showAssessmentTemplateModal(at)" ng-if="$ctrl.isAssessmentTemplateEditableOrDeletable(at)">Edit</a>
          <a href="" ng-click="$ctrl.showAssessmentTemplateModal(at, true)" ng-if="!$ctrl.isAssessmentTemplateEditableOrDeletable(at)">View</a>
        </div>

        <delete-button ng-if="$ctrl.isAssessmentTemplateEditableOrDeletable(at)"
                       class="small"
                       style="margin-right: 30px"
                       ng-click="$ctrl.removeAssessmentTemplate(at)"></delete-button>
      </div>

      <delete-button ng-if="!$ctrl.readOnly && !$ctrl.projectsCount"
                     ng-click="$ctrl.onDelete({$event:$ctrl.projectType})"></delete-button>
    </div>
  </div>
</multi-panel>
