programme-project-type{
  display: block;

  .roles{
    margin-bottom: 10px;
  }

  .assessment-name{
    width: 85%;
  }

  .assessment-template{
    width: 90%;
  }

  .actions{
    position: absolute;
    bottom: 50%;
    top: 50%;
    right: 20px;
    width: 40px;
    margin-top: -9px;
  }
}
