output-unit-cost {
  display: block;

  table.table > tbody > tr > td {
    vertical-align: middle;

    &:first-child{
      font-family: $font-family-default;
    }
  }

  .readonly-mode{
    .radio{
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
