.decline-payement-dialog {
  label{
    font-family: $font-family-bolder;
    font-weight: normal;
    margin-top: 20px;
  }
  .ui-select-match-text span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
