<span ng-if="!$ctrl.isEmpty">
  <span ng-if="$ctrl.readOnly">{{$ctrl.formatNumberWithCR($ctrl.value)}}</span>
  <span ng-if="!$ctrl.readOnly && !$ctrl.isEmpty">
    <input
      type="text"
      maxlength="13"
      number-mask="0"
      ng-model="$ctrl.value"
      ng-blur="$ctrl.changeValue()"
      ng-keydown="$ctrl.keyDown($event)"
      ng-focus="$ctrl.onCellFocus()"
      focus-me focus-me-if="$ctrl.getCellFocus()"
      aria-label="Forecast Cell">
    <span class="cr-label" ng-if="$ctrl.isCR">CR</span>
  </span>
</span>
