financial-year-monthly-outputs-table {
  display: block;

  table {
    th, td {
      vertical-align: middle !important;
      text-align: left;
    }

    td {
      font-family: $font-family-bolder;
    }
  }

  .category, .assumption-row {
    td {
      padding: 0.8rem !important;
    }
  }

  .assumption-row {
    th, td {
      border-top: none !important;

      .glyphicon.glyphicon-remove {
        margin: 0 !important;
        font-size: 8px !important;
        color: #777777;
      }
    }
  }

  .assumption-cell {
    padding: 0 !important;
  }

  toggle-icon {
    .glyphicon {
      margin: 0 .3rem;
      font-size: 0.50rem;
      color: #1f1f1f;
    }
  }

  input:focus {
    padding: 5px 11px !important;
  }
}
