<div class="org-contracts">

  <div class="row" ng-if="$ctrl.org.contracts.length">
    <div class="col-xs-12 contracts-list list">
      <div class="row section-header">
        <div class="contract-text col-xs-3">
          Contract Type
        </div>
        <div class="contract-text col-xs-2">
          Contract Status
        </div>
        <div class="contract-text col-xs-2">
          Date Accepted
        </div>
        <div class="contract-text col-xs-2">
          Accepted By
        </div>
        <div class="contract-text col-xs-3">
          Actions
        </div>
      </div>

      <div class="row" ng-repeat-start="contract in $ctrl.org.contracts | filter: {variation:false} | orderBy: 'name' | limitTo: $ctrl.showHowMany">

        <div class="org-contract list-item">
          <div class="row">
            <div class="contract-title col-sm-3 contract-text" id="contract-name">
              <toggle-icon ng-if ="$ctrl.hasContractVariation(contract)" (collapsed-change)="" [(collapsed)]="contract.collapsed"></toggle-icon>{{$ctrl.getContractTypeTitle(contract)}}</div>
            <div class="col-sm-2 contract-text" id="contract-status">{{$ctrl.contractStatusMap[contract.status]}}</div>
            <div class="col-sm-2 contract-text" id="contract-date">{{contract.acceptedOn ? (contract.acceptedOn | date: "dd/MM/yyyy") : 'N/A'}}</div>
            <div class="col-sm-2 contract-text" id="contract-accepted-by">{{contract.acceptedByFullName ? contract.acceptedByFullName : 'N/A'}}</div>
            <div class="col-sm-3 contract-text" id="contract-actions">
              <span ng-repeat="action in contract.availableActions"><a href="JavaScript:void(0)" ng-click="$ctrl.performAction(contract, action)">{{action.text}}</a><br/></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-if="!contract.collapsed" ng-repeat-end
           ng-repeat="variation in $ctrl.org.contracts | filter: {variation:true, name:contract.name} | orderBy: 'name+id' track by variation.id">
        <div class="org-contract list-item">
          <div class="row">
            <div style=" padding-left: 26px;"  class="contract-title col-sm-3 contract-text" id="variation-name">{{$ctrl.getContractTypeTitle(variation)}}</div>
            <div class="col-sm-2 contract-text" id="variation-status">{{$ctrl.contractStatusMap[variation.status]}}</div>
            <div class="col-sm-2 contract-text" id="variation-date">{{variation.acceptedOn ? (variation.acceptedOn | date: "dd/MM/yyyy") : 'N/A'}}</div>
            <div class="col-sm-2 contract-text" id="variation-accepted-by">{{variation.acceptedByFullName ? variation.acceptedByFullName : 'N/A'}}</div>
            <div class="col-sm-3 contract-text" id="variation-actions">
              <span ng-repeat="action in variation.availableActions"><a href="JavaScript:void(0)" ng-click="$ctrl.performAction(variation, action)">{{action.text}}</a><br/></span>
            </div>
          </div>
        </div>
      </div>

      <show-more-btn ng-if="$ctrl.org.contracts.length > 3"
                     ng-click="$ctrl.showMoreLessContract()"
                     collapsed="$ctrl.showAll">VIEW {{$ctrl.showAll ? 'LESS' : 'ALL'}} CONTRACTS</show-more-btn>
    </div>
  </div>
</div>
