<div class="org-contracts">
  <div class="row no-padding-row" ng-if="$ctrl.org.contracts.length">
    <div class="col-xs-12 no-padding contracts-list list">
      <div class="row no-padding-row section-header">
        <div class="col-xs-6">
          Contract
        </div>
        <div class="col-xs-6">
          Contract status
        </div>
      </div>
      <!-- Blank, Signed, NotRequired -->
      <div class="row no-padding-row" ng-repeat="contract in $ctrl.org.contracts | orderBy: 'name' | limitTo: $ctrl.showHowMany">
        <div class="org-contract list-item">
          <div class="row no-padding-row">
            <div class="contract-title col-sm-6 contract-name">{{contract.name}}{{contract.orgGroupType ? (' - ' + contract.orgGroupType) : '' }}</div>
            <div class="col-sm-3" ng-if="$ctrl.canEditContracts">
              <label class="checkbox signed"
                ng-class="{checked: contract.status === $ctrl.contractStatusConst.SIGNED}">
                <input type="checkbox"
                  aria-label="contract signed"
                  name="signed"
                  ng-click="$ctrl.statusCheckboxClicked(contract,$ctrl.contractStatusConst.SIGNED)">
                <div class="checkbox-label">Signed</div>
              </label>

            </div>
            <div class="col-sm-3" ng-if="$ctrl.canEditContracts">
              <label class="checkbox not-required"
                ng-class="{checked: contract.status === $ctrl.contractStatusConst.NOT_REQUIRED}">
                <input type="checkbox"
                  aria-label="contract required"
                  name="required"
                  ng-click="$ctrl.statusCheckboxClicked(contract,$ctrl.contractStatusConst.NOT_REQUIRED)">
                <div class="checkbox-label">Not required</div>
              </label>
            </div>
            <div class="col-xs-6" ng-if="!$ctrl.canEditContracts">
              <div class="checkbox-label no-checkbox">{{$ctrl.contractStatusMap[contract.status]}}</div>
            </div>
          </div>
        </div>
      </div>

      <show-more-btn ng-if="$ctrl.org.contracts.length > 3"
                     ng-click="$ctrl.showMoreLessContract()"
                     collapsed="$ctrl.showAll">VIEW {{$ctrl.showAll ? 'LESS' : 'ALL'}} CONTRACTS</show-more-btn>
    </div>
  </div>
</div>
