<div class="all-notifications-page page">
  <page-header>Notifications</page-header>

  <table id="all-notifications-table"
         class="all-notifications-table table table-hover table-bordered table-with-inputs">
    <thead class="thead-inverse uppercase">
    <tr>
      <th>NOTIFICATION</th>
      <th>TRIGGER</th>
      <th>TEXT</th>
      <th>ROLE</th>
      <th>TYPE</th>
      <th>SENDS EMAIL</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="notification in $ctrl.allNotifications">
      <td>{{notification.type}}</td>
      <td>{{notification.trigger}}</td>
      <td>{{notification.text}}</td>
      <td>
        <div ng-repeat="role in notification.rolesNotifiedAsString.split(',') | orderBy:propertyName:reverse">
          {{role.substring(5)}}
        </div>
      </td>
      <td>{{notification.subType}}</td>
      <td>{{notification.emailSubject != null}}</td>
    </tr>
    </tbody>
  </table>

</div>

