.grant-source {
  width: 90%;
  margin: auto;

  .total-block{
    font-family: $font-family-bolder;
  }

  .total-currency{
    font-size: 18px;
    margin-top: 10px
  }
  .gla-alert{
    text-align: left;
  }
}
