<div class="template-block-outputs">
  <div class="form-group" ng-repeat="field in $ctrl.configurableFields track by field.id">
    <label ng-attr-for="{{field.id}}">{{field.label}}</label>

    <div ng-if="field.id != 'outputConfigurationGroup' && field.id != 'grantTypes' && field.id != 'paymentSources'">
    <yes-no-input
                  is-disabled="$ctrl.readOnly"
                  mode="bool"
                  name="{{field.id}}"
                  ng-if="!$ctrl.readOnly"
                  on-change="$ctrl.save(false)"
                  ng-model="$ctrl.template.detailsConfig[field.id]">
    </yes-no-input>
    <div ng-if="$ctrl.readOnly" >{{$ctrl.getAnswerAsText($ctrl.template.detailsConfig[field.id])}}</div>
    </div>

    <ui-select ng-if="field.id === 'outputConfigurationGroup'"
               ng-attr-id="{{field.id}}"
               ng-attr-name="{{field.id}}"
               ng-disabled="$ctrl.readOnly"
               ng-model="$ctrl.block.outputConfigurationGroup"
               on-select="$ctrl.onOutputConfigurationGroupSelected($select.selected)"
               search-enabled="false">
      <ui-select-match placeholder="OutputConfigurationGroup">
        {{$ctrl.block.outputConfigurationGroup.id}}
      </ui-select-match>
      <ui-select-choices
        repeat="outputConfigurationGroup.id as outputConfigurationGroup in $ctrl.outputConfigurationsOptions track by outputConfigurationGroup.id">
        <span>{{outputConfigurationGroup.id}}</span>
      </ui-select-choices>
    </ui-select>

  </div>
</div>
