<div class="project-milestones">
  <div class="text-center">
    <project-header on-back="$ctrl.back()"
                    editable-block="$ctrl">Enter and review milestone details</project-header>
  </div>

  <form name="mForm">
    <div class="processingRoute" ng-if="$ctrl.processingRoutes.length > 1">
      <div ng-show="!$ctrl.processingRoute">
        <div class="form-group row no-gutter mtop15">
          <label for="processingRoute">Select processing route</label>
          <p>Ensure you have made the correct selection as the processing route will define the content of your milestone plan and associated payment schedule.</p>
          <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <ui-select class="group-field" id="project-processingRoute"
                       name="processingRoute"
                       search-enabled="false"
                       ng-disabled="$ctrl.readOnly"
                       ng-model="$ctrl.selectedProcessingRoute"
                       on-select="$ctrl.processingRouteSelected($select.selected)">
              <ui-select-match placeholder="Select">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="route in $ctrl.processingRoutes">
                <span>{{route.name}}</span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="row no-gutter mtop15 text-center">
          <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <hr />
          </div>
          <div class="mtop30">
            <button class="btn btn-primary"
                    ng-click="$ctrl.confirmProcessingRoute()"
                    ng-if="!$ctrl.readOnly && $ctrl.selectedProcessingRoute">
              CONFIRM <i class="glyphicon glyphicon-ok"></i>
            </button>
          </div>
        </div>
      </div>

      <div ng-show="$ctrl.processingRoute">
        <div class="col-xs-12 text-center">
          <h4>YOUR PROCESSING ROUTE IS</h4>
          <h3>{{$ctrl.processingRoute.name}}</h3>
          <p><a class="btn btn-text" ng-click="$ctrl.removeProcessingRoute()" ng-hide="$ctrl.readOnly || $ctrl.active">Change</a></p>
        </div>
        <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 mtop10 mbottom15">
          <hr />
        </div>
      </div>
    </div>

    <div ng-hide="$ctrl.processingRoutes.length && !$ctrl.processingRoute">
      <div class="row no-gutter mtop15">
        <div class="col-xs-12 text-right">
          <button class="btn btn-secondary pull-right addNewMilestoneBtn"
                  ng-click="$ctrl.add()"
                  ng-if="!$ctrl.isAddBtnDisabled">
            ADD NEW MILESTONE <b>+</b>
          </button>
        </div>
      </div>

      <spinner ng-if="!$ctrl.milestones && $ctrl.loading"></spinner>

      <table id="milestones-table" class="table table-hover table-bordered table-with-inputs mtop15" ng-class="{multiline: $ctrl.isMonetaryValueType}">
        <thead class="thead-inverse uppercase">
        <tr>
          <th>Milestone</th>
          <th ng-if="$ctrl.showNaColumn">N/A</th>
          <th>Date</th>
          <th ng-if="$ctrl.showDescription">Description</th>
          <th ng-if="$ctrl.isMonetaryValueType">Value £</th>
          <th ng-if="$ctrl.showGrantColumn" style="width: 25%">{{ $ctrl.monetarySplitTitle || 'GRANT %' }}</th>
          <th ng-if="$ctrl.showEvidenceColumn">Evidence</th>
          <th>Status</th>
          <th ng-if="$ctrl.showClaimStatus">Claim Status</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="!$ctrl.milestones.length && !$ctrl.loading">
          <td colspan="6">No milestones added</td>
        </tr>
        <tr ng-repeat-start="m in $ctrl.milestones"
            ng-class="{'with-manual-indicator': m.manuallyCreated,'with-conditional-indicator': m.conditional, 'recently-added': m.id == $ctrl.addedMilestone.id}">
          <td ng-class="{'with-manual-indicator': m.manuallyCreated, 'cursor-pointer': $ctrl.showPaymentsToggle(m)}"
              ng-click="$ctrl.showPayments(m)">
            <span class="manual-indicator" ng-class="{'conditional-indicator': m.conditional}" ng-if="m.manuallyCreated"></span>
            <span ng-if="$ctrl.showPaymentsToggle(m)"
                  class="glyphicon expand-toggle"
                  ng-class="{'glyphicon-triangle-bottom': !m.expanded,'glyphicon-triangle-top': m.expanded }"></span>
            {{ m.summary }}
          </td>

          <td ng-if="$ctrl.showNaColumn" ng-class="{'read-only': $ctrl.isNaFieldReadonly(m), 'cell-with-input': !$ctrl.isNaFieldReadonly(m)}">
            <input type="checkbox"
                   ng-model="m.notApplicable"
                   style="width: auto; display: inline; margin-left: 8px; height: 28px"
                   ng-change="$ctrl.onNaChange(m)"
                   ng-if="!$ctrl.isNaFieldReadonly(m)">
            <span ng-if="$ctrl.isNaFieldReadonly(m)">{{m.notApplicable? 'N/A' : ''}}</span>
          </td>


          <td ng-if="$ctrl.isMilestoneReadonly(m)" class="read-only text-nowrap">{{ m.notApplicable? 'N/A' : m.milestoneDate | date: 'dd / MM / yyyy' }}</td>
          <td class="cell-with-input"
              ng-if="!$ctrl.isMilestoneReadonly(m)"
              ng-class="{'active-cell': isFocused, 'invalid-cell': m._invalidDate}">
            <date-input is-focused="isFocused"
                        on-blur="$ctrl.autoSave()"
                        has-errors="m._invalidDate"
                        ng-model="m.milestoneDate"
                        clear="m.notApplicable"
                        class="monetary-date"
                        name="{{'date' + m.id}}"></date-input>
          </td>


          <td ng-if="$ctrl.isMilestoneReadonly(m) && $ctrl.isMonetaryValueType && $ctrl.descriptionEnabled" class="read-only multiline-text">{{m.description}}</td>
          <td class="cell-with-input" ng-if="!$ctrl.isMilestoneReadonly(m) && $ctrl.isMonetaryValueType && $ctrl.descriptionEnabled"
              ng-class="{'active-cell': isFocused}">
            <textarea type="text"
                      rows="5"
                      ng-model="m.description"
                      maxlength="200"
                      aria-label="Description"
                      ng-focus="m.isFocused = true"
                      ng-blur="m.isFocused = false"
                      change-on-blur="$ctrl.autoSave()"
                      placeholder="{{$ctrl.descriptionHintText}}">
            </textarea>
          </td>


          <td class="read-only" ng-if="$ctrl.isMilestoneReadonly(m) && $ctrl.isMonetaryValueType">
            {{m.monetary ?  (m.monetaryValue | number) : 'N/A'}}
          </td>
          <td class="" ng-if="!$ctrl.isMilestoneReadonly(m) && $ctrl.isMonetaryValueType"
              ng-class="{'active-cell': isFocused, 'read-only':!m.monetary, 'cell-with-input': m.monetary}">

            <input type="text"
                   class="monetary-value"
                   name="{{'monetaryValue'+m.id}}"
                   ng-if="m.monetary"
                   ng-model="m.monetaryValue"
                   ng-focus="m.isFocused = true"
                   ng-blur="m.isFocused = false"
                   maxlength="13"
                   number-mask="0"
                   aria-label="Monetary value"
                   change-on-blur="$ctrl.autoSave()">
            <span ng-if="!m.monetary" style="padding: 8px">N/A</span>
          </td>

          <td class="read-only"
              ng-if="$ctrl.showGrantColumn && $ctrl.isMilestoneReadonly(m)">{{ m.monetary ? m.monetarySplit : 'N/A'}}
          </td>
          <td class="cell-with-input monetary-split-cell" ng-if="$ctrl.showGrantColumn && !$ctrl.isMilestoneReadonly(m)"
              ng-class="{'active-cell': isFocused, 'invalid-cell': m._invaliMonetarySplit, 'read-only':!m.monetary, 'cell-with-input': m.monetary}">

            <input class="monetary-split"
                   type="text"
                   ng-if="m.monetary"
                   name="{{'monetarySplit'+m.id}}"
                   ng-model="m.monetarySplit"
                   ng-change="$ctrl.onSplitChange(m)"
                   focus-me="$index === $ctrl.focusRow && !$ctrl.focusDate"
                   focus-reset="false"
                   ng-focus="m.isFocused = true"
                   ng-blur="m.isFocused = false"
                   maxlength="3"
                   numbers-only
                   aria-label="Monetary split"
                   change-on-blur="$ctrl.autoSave()">
            <span ng-if="!m.monetary" style="padding: 8px">N/A</span>
          </td>

          <td class="read-only" ng-if="$ctrl.showEvidenceColumn">
            <div ng-if="!$ctrl.isEvidenceAllowed(m)">N/A</div>
            <div ng-if="$ctrl.isEvidenceAllowed(m)">
              <a ng-if="$ctrl.evidenceLinkText(m)" ng-click="$ctrl.showEvidenceModal(m)">{{$ctrl.evidenceLinkText(m)}}</a>
              <span ng-if="!$ctrl.evidenceLinkText(m)">None added</span>
            </div>
          </td>

          <td
            class="read-only"
            ng-class="{'no-right-border': !$ctrl.showClaimStatus}">
            <span ng-if="m.notApplicable || !$ctrl.isAutoApproval || $ctrl.readOnly">{{ m.notApplicable? 'N/A' : m.milestoneStatus }}</span>
            <span ng-if="!m.notApplicable && $ctrl.isAutoApproval && !$ctrl.readOnly">
              <ui-select
                         class="milestone-status"
                         name="status"
                         ng-model="m.milestoneStatus"
                         search-enabled="false"
                         required autofocus
                         on-select="$ctrl.autoSave()"
                         ng-disabled="!m.isDateInPast"
                         style="width: 200px;">
              <ui-select-match placeholder="Select a status">{{$select.selected.label}}</ui-select-match>

              <ui-select-choices repeat="status.key as status in $ctrl.milstoneStatuses">
                <span>{{ status.label }}</span>
              </ui-select-choices>
            </ui-select>
            </span>
          </td>
          <td
            class="read-only"
            ng-if="$ctrl.showClaimStatus"
            ng-class="{'no-right-border': $ctrl.showClaimStatus}">
            <a
              ng-if="m.hasAction"
              ng-click="$ctrl.openClaimMilestoneModal(m)">{{m.displayText}} <span ng-if="m.claimedExceeded" class="glyphicon glyphicon-exclamation-sign"></span>
            </a>
            <span ng-if="!m.hasAction">
              {{m.notApplicable? 'N/A' : m.displayText}}
            </span>
            <a ng-if="$ctrl.showReclaimInfoIcon(m)"
               ng-click="$ctrl.openReclaimInfoModal(m)">
              <span class="glyphicon glyphicon-exclamation-sign info info-icon"></span>
            </a>
          </td>
          <td>
            <delete-button ng-click="$ctrl.delete(m)" ng-if="m.manuallyCreated && !($ctrl.isMilestoneReadonly(m) || (m.conditional && !$ctrl.canDeleteConditionalMilestone))">
            </delete-button>
          </td>
        </tr>
        <tr ng-if="m.expanded && m.payments.length" class="sub-heading">
          <td ng-attr-colspan="{{$ctrl.columnCount}}">PAYMENT HISTORY</td>
        </tr>
        <tr ng-repeat-end ng-if="m.expanded && m.payments.length" ng-repeat="p in m.payments track by p.id" class="sub-row">
          <td ng-attr-colspan="{{$ctrl.columnCount}}">{{ p.authorisedOn | date: "dd/MM/yyyy 'at' HH:mm"}} {{p.sourceType}} {{p.value > 0? 'payment' : 'reclaim'}} of {{p.value | currency:'£':0}} authorised by {{p.authorisor}}</td>
        </tr>
        </tbody>
      </table>


      <div class="row" ng-if="$ctrl.claimExceeded && !$ctrl.reclaimRemaining && !$ctrl.reclaimRemaining.RCGF">
        <div class="col-xs-12 mtop15 text-center">
          <span class="error">Claimed milestone(s) contains a value which exceeds the total amount of Grant Source requested</span>
        </div>
      </div>
      <div class="row" ng-if="$ctrl.reclaimRemaining">
        <div class="col-xs-12 mtop15 text-center" ng-if="$ctrl.reclaimRemaining.DPF">
          <span class="error">You must request to repay {{$ctrl.reclaimRemaining.DPF | currency:'£':0}} DPF to continue with this project. You can repay milestones by selecting 'Approved' in the status column.</span>
        </div>
        <div class="col-xs-12 mtop15 text-center" ng-if="$ctrl.reclaimRemaining.RCGF">
          <span class="error">You must request to repay {{$ctrl.reclaimRemaining.RCGF | currency:'£':0}} RCGF to continue with this project. You can repay milestones by selecting 'Approved' in the status column.</span>
        </div>
      </div>

      <div class="row" ng-if="$ctrl.showGrantColumn && ($ctrl.splitTotal() != 100)">
        <div class="col-xs-12 mtop15 text-center">
          <span class="error">Monetary split value should be 100% across the available milestones</span>
        </div>
      </div>

      <span ng-if="$ctrl.isMonetaryValueType" id="monetary-milestones-tally">
        <div class="row mtop10">
          <section-header subheader="Total values for forecast and actual values">
            Totals
          </section-header>
        </div>

        <div class="row mtop10">
          <div class="col-xs-12 col-md-3 no-padding">UNCLAIMED {{$ctrl.projectBlock.tally.forecast | currency:'£':0}}</div>
          <div class="col-xs-12 col-md-3 no-padding">CLAIMED {{$ctrl.projectBlock.tally.claimed | currency:'£':0}}</div>
          <div class="col-xs-12 col-md-3 no-padding">AUTHORISED {{$ctrl.projectBlock.tally.authorised | currency:'£':0}}</div>
          <div class="col-xs-12 col-md-3 no-padding">TOTAL {{$ctrl.projectBlock.tally.total | currency:'£':0}}</div>
        </div>
      </span>
      <div class="col-xs-12 gla-alert project-status-message mtop10">
        <div class="row" ng-if="!$ctrl.projectBlock.valid" ng-repeat="message in $ctrl.projectBlock.validationFailures.Block">
          <span class="glyphicon glyphicon-exclamation-sign"></span>
          <span>{{message.description}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 mtop30 mbottom30 text-center">
          <button class="btn btn-primary" ng-click="$ctrl.submit()" ng-if="!$ctrl.readOnly && !(this.assess && this.hasConditionalMilestones)">SAVE</button>
        </div>
      </div>

    </div>
  </form>
</div>
