<div class="milestone-modal">
  <div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-mousedown="$dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>Add new milestone</h1>
    <!--<h3 class="subheader">Something has gone wrong</h3>-->
  </div>
  <div class="modal-body">
    <form class="form-gla" role="form" name="modalForm">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="form-group">
            <label for="milestone-name">Enter milestone name</label>
            <input id="milestone-name" type="text" name="summary" class="form-control" placeholder="Milestone name" ng-model="$ctrl.milestone.summary" maxlength="50" ng-keyup="$ctrl.onMilestoneNameKeyUp($ctrl.milestone.summary)" required focus-me="$ctrl.focusSummary"/>
            <div class="error-wrapper" role="alert" ng-if="(modalForm.summary.$touched && modalForm.summary.$error.required) || $ctrl.duplicateName">
              <span class="error" ng-if="modalForm.summary.$error.required">Required</span>
              <span class="error" ng-if="$ctrl.duplicateName">Milestone name already exists</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="form-group">
            <label for="milestone-date">Enter milestone date</label>
            <date-input id="milestone-date" name="milestoneDate" placeholder="DD/MM/YYYY" ng-model="$ctrl.milestone.milestoneDate" required style="display: block" on-blur="$ctrl.dateTouched = true"></date-input>
            <div class="error-wrapper" role="alert" ng-if="$ctrl.dateTouched && !$ctrl.milestone.milestoneDate">
              <span class="error">Required</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row" ng-if="$ctrl.isMonetaryValueType">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="form-group">
            <label for="milestone-description">Enter milestone description</label>
            <textarea id="milestone-description"
                      rows="5"
                      placeholder="{{$ctrl.descriptionHintText}}"
                      name="description"
                      class="form-control"
                      ng-model="$ctrl.milestone.description"
                      maxlength="200">
            </textarea>
          </div>
        </div>
      </div>

      <div class="row" ng-if="$ctrl.isMonetaryValueType">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="form-group">
            <label for="milestone-value">Enter milestone value</label>
            <input id="milestone-value"
                   type="text"
                   number-mask="0"
                   name="monetaryValue"
                   class="form-control"
                   placeholder="Milestone value"
                   ng-model="$ctrl.milestone.monetaryValue"
                   required
                   maxlength="13"/>
            <div class="error-wrapper" role="alert" ng-if="modalForm.monetaryValue.$touched && modalForm.monetaryValue.$error.required">
              <span class="error">Required</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-xs-8 col-xs-offset-2 read-only-text">
          New milestone will be added in date order
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-primary btn-center" type="button" ng-click="$close($ctrl.milestone)" ng-disabled="modalForm.$pristine || modalForm.$invalid || $ctrl.duplicateName">ADD</button>
    <div class="row">
      <div class="col-xs-12 text-center mtop15 mbottom15">
        <a href  class="form-cancel" ng-mousedown="$dismiss()">Cancel</a>
      </div>
    </div>
  </div>
</div>
