<div class="milestone-modal">
  <div class="modal-header text-center" style="padding-bottom: 0">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-mousedown="$dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <!--<h1>Milestones History</h1>-->
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped version-history" id="version-history">
        <thead class="thead-inverse uppercase">

        <tr>
          <th>Version</th>
          <th>Date</th>
          <th>{{$ctrl.actionedByTitle}}</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in $ctrl.versionHistory">
          <td>
            <span class="version-text">{{$ctrl.versionText(item, $first)}}</span>
            <span class="block-label"
                  ng-class="{'preset-label' : label.preSetLabel.labelName}"
                  ng-repeat="label in item.labels"> {{label.preSetLabel.labelName || label.text}}
            </span>
          </td>
          <td>{{item.versionUpdated | date: "dd/MM/yyyy"}}</td>
          <td>{{item.actionedBy}}</td>
          <td>
            <a href="" ng-click="$close(item)">View</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-12 text-center">
        <a href  class="form-cancel" ng-mousedown="$dismiss()">Cancel</a>
      </div>
    </div>
  </div>
</div>
