<div>
  <page-header>Components</page-header>
  <div>
    <section-header>Overview Block</section-header>
    <div class="row">
      <overview-block
        class="col-md-4 col-sm-6" ng-class="block.theme"
        ng-repeat="block in $ctrl.blocks"
        name="block.name"
        block-state="block.blockState"
        new-block="block.newBlock"
        banner="block.banner"
        status="block.status"
        number="$index + 1"
        icon="block.icon">
      </overview-block>
    </div>
  </div>

  <div>
    <section-header>Tiles</section-header>
    <div class="row">
      <div class="col-xs-4 grant-column" ng-repeat="tile in $ctrl.tiles track by tile.name">
        <tile items="tile.items">{{ tile.name }}</tile>
      </div>
    </div>
  </div>
</div>
