components-showcase {
  display: block;
  width: 90%;
  margin: auto;

  section-header {
    //TODO change inside component
    padding: 0 15px;
  }

  overview-block {
    margin: 10px 0;

    &.draft {
      .overview-block {
        .block-overview-step-number,
        .block-overview-name {
          color: $primary-text;
        }
        border: none;
      }
    }
  }
}



