<div class="table-responsive yearly-budget-balance-summary-table" id="balance-summary-table">
  <div ng-if="!$ctrl.data.length" class="empty-table">No budget added to any year, select a year to add expected annual budget</div>
  <table class="table table-bordered table-default" ng-if="$ctrl.data.length">
    <thead class="thead-inverse uppercase">
    <tr>
      <th >YEAR</th>
      <th >SPEND TYPE</th>
      <th class="number" >TOTAL BUDGET £</th>
      <th class="number" >ACTUAL SPEND TO DATE £</th>
      <th class="number" >REMAINING FORECAST £</th>
      <th class="number" >BALANCE £</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-if="$ctrl.data.length === 0">
      <td colspan="6"><b>No budget added to any year, select a year to add expected annual budget</b></td>
    </tr>

    <tr ng-repeat="yearData in $ctrl.data track by yearData.id" >
      <td class="years-cell bold-cell"
          ng-attr-rowspan="{{($ctrl.data[$index+1].year == $ctrl.data[$index].year && $ctrl.data[$index+1].spendType != $ctrl.data[$index].spendType) ? 2 : 1}}"
          ng-if="$ctrl.data[$index-1].year != $ctrl.data[$index].year"
          style="vertical-align : middle; text-align:center;">
        {{$ctrl.formatYear(yearData.year)}}</td>
      <td class="bolder" >{{$ctrl.spendTypeText(yearData.spendType)}}</td>
      <td class="number" >  {{$ctrl.formatNumber(yearData.budget)}}</td>
      <td class="number" >{{$ctrl.formatNumber(yearData.actualSpend)}}</td>
      <td class="number" >{{$ctrl.formatNumber(yearData.forecastSpend)}}</td>
      <td class="number" >{{$ctrl.formatNumber(yearData.balance)}}</td>
    </tr>
    </tbody>
  </table>
</div>

