<div class="file-upload-error-modal">

    <div class="modal-header text-center">
      <button (keydown.enter)="activeModal.dismiss('cancel')" (mousedown)="activeModal.dismiss('cancel')"
                aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      <h1>{{error.error.title}}</h1>
    </div>

    <div class="modal-body text-center">
      <div class="row">
        <div class="col-xs-12">
          {{error.error.description}}
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <div class="row">
        <div class=" col-xs-offset-3 col-xs-6 cancel">
          <button class="btn btn-default btn-primary pull-left" type="button" (click)="activeModal.dismiss('cancel')">OK</button>
        </div>
      </div>
    </div>

  </div>
