<div class="template-block-questions expandableTable form-group">
  <label for="questions">Questions</label>

  <div class="text-right" style="padding-bottom: 10px">
    <button class="btn btn-secondary mtop10" ng-click="$ctrl.showQuestionModal()"
            ng-if="!$ctrl.readOnly">
      ADD QUESTION <b>+</b>
    </button>
  </div>

  <div id="questions" class="table-responsive questions-table">
    <table class="table table-hover table-bordered blocks">
      <thead class="thead-inverse uppercase">
      <tr>
        <th>DISPLAY ORDER</th>
        <th>QUESTION ID</th>
        <th>QUESTION TEXT</th>
        <th>ANSWER TYPE</th>
        <th>REQUIREMENT</th>
        <th>PARENT</th>
      </tr>
      </thead>

      <tbody>
      <tr class="bolder" ng-if="!$ctrl.block.questions.length">
        <td colspan="6">Not provided</td>
      </tr>

      <tr class="primaryRow expandable"
          ng-click="$ctrl.sortedQuestions[section.id].collapsed = !$ctrl.sortedQuestions[section.id].collapsed; $ctrl.onCollapseChange($ctrl.sortedQuestions[section.id])"
          ng-repeat-start="section in $ctrl.sortedSections track by $index">
        <th ng-attr-colspan="6" ng-if="$ctrl.block.sections.length != 0 && section.id != 'undefined'" >
          <toggle-icon collapsed="$ctrl.sortedQuestions[section.id].collapsed" icon="'triangle'" on-collapse-change="$ctrl.onCollapseChange($ctrl.sortedQuestions[section.id])"></toggle-icon>
          <span>{{$ctrl.getSectionText(section.id)}}</span>
        </th>
      </tr>

      <tr class="secondaryRow question-row" ng-if="!$ctrl.sortedQuestions[section.id].collapsed" ng-repeat="question in $ctrl.sortedQuestions[section.id] | orderBy : 'displayOrder' track by question.question.id" ng-repeat-end>
        <td>{{question.displayOrder}}</td>
        <td>{{question.question.id}}</td>
        <td>{{question.question.text}}</td>
        <td>{{question.question.answerType}}</td>
        <td>{{question.requirement}}</td>
        <td class="delete-btn-container">
          <span ng-if="question.parentId != null"> {{question.parentId}} : {{question.parentAnswerToMatch}}</span>
          <delete-button class="medium" ng-click="$event.stopPropagation(); $ctrl.deleteQuestion(question);" ng-if="!$ctrl.readOnly"></delete-button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>


</div>
