template-block-questions {
  display: block;

  toggle-icon {
    .glyphicon {
      margin: 0 .3rem;
      font-size: 0.50rem;
      color: #1f1f1f;
    }
  }

  primary-row{
    cursor: pointer;
    font-size: 0.8rem;
    background-color: $primary-white;
    td {
      border-top: 2px solid darken($table-border, 10%);
    }
  }

  tr.secondary-row td {
    border: 0;
    margin: 0 !important;
    font-size: 8px !important;
    background-color: #777777;
  }
}
