change-report-tile-total {
  display: block;
  .table-row {
    .row-heading, .row-description {
      background-color: $white;
      text-transform: uppercase;
      font-size: 14px;
      color: $secondary-text;
      padding: 20px 10px 5px 10px !important;
      border-top: $tiles-border;
      border-left: $tiles-border;
      border-right: $tiles-border;
    }

    .field-value {
      background: $white;
      text-align: center;
      width: 100% !important;
      border-left: $tiles-border;
      border-right: $tiles-border;
      font-size: 18px;
      font-family: $font-family-bolder;
    }

    &:last-child .right-col .field-value {
      border-bottom: $tiles-border;
    }

    @include when-sm {
      &:last-child {
        .left-col, .right-col {
          .field-label, .field-value, .row-heading, .row-description {
            border-bottom: $tiles-border;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}
