<div class="risk-issue-modal">

  <div class="modal-header text-center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-mousedown="$dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>{{$ctrl.type}} Profile</h1>
  </div>

  <div class="modal-body text-left">
    <form
      id="riskForm"
      role="form"
      name="riskForm"
      class="form-group">

      <label for="title">Title</label>
      <input id="title"
             type="text"
             name="title"
             ng-disabled="$ctrl.readOnly"
             class="form-control title"
             placeholder="title"
             ng-model="$ctrl.dataBlock.title"
             required
             maxlength="50"  />
      <div ng-if="$ctrl.type ==='Risk'">
        <label for="category">Category</label>
        <ui-select class="group-field status__dropdown" id="category"
                  ng-class="{disabled: $ctrl.readOnly}"
                  name="category"
                  aria-label="Category"
                  search-enabled="false"
                  ng-disabled="$ctrl.readOnly"
                  ng-model="$ctrl.dataBlock.riskCategory"
                  required>
         <ui-select-match  placeholder="Select a category">{{$select.selected.displayValue}}</ui-select-match>
         <ui-select-choices repeat="category in $ctrl.riskCategories">
           <span>{{category.displayValue}}</span>
         </ui-select-choices>
        </ui-select>
      </div>

       <label for="description">Description</label>
       <textarea id="description"
                 ng-trim="false"
                 rows="5"
                 placeholder="Provide a description of the risk raised, max 400 characters."
                 name="description"
                 ng-disabled="$ctrl.readOnly"
                 class="form-control"
                 ng-model="$ctrl.dataBlock.description"
                 required
                 maxlength="400">
       </textarea>
      <remaining-characters text="$ctrl.dataBlock.description" max="400"></remaining-characters>

      <div ng-if="$ctrl.type ==='Risk'">
         <label for="initialProbability">Initial Probability Rating</label>
         <ui-select class="group-field status__dropdown" id="initialProbability"
                    ng-class="{disabled: $ctrl.readOnly}"
                    name="initialProbability"
                    aria-label="Initial Probability"
                    search-enabled="false"
                    ng-disabled="$ctrl.readOnly"
                    ng-model="$ctrl.dataBlock.initialProbabilityRating"
                    required>
           <ui-select-match  placeholder="Select a Initial Probability">{{$select.selected.displayValue}}</ui-select-match>
           <ui-select-choices repeat="probability.value as probability in $ctrl.probabilities">
             <span>{{probability.displayValue}}</span>
           </ui-select-choices>
         </ui-select>
       </div>

       <div ng-if="$ctrl.type ==='Risk'">
         <label for="initialImpact">Initial Impact Rating</label>
         <ui-select class="group-field status__dropdown" id="initialImpact"
                    ng-class="{disabled: $ctrl.readOnly}"
                    name="initialImpact"
                    aria-label="Initial Impact"
                    search-enabled="false"
                    ng-disabled="$ctrl.readOnly"
                    ng-model="$ctrl.dataBlock.initialImpactRating"
                    required>
           <ui-select-match  placeholder="Select a Initial Impact">{{$select.selected.displayValue}}</ui-select-match>
           <ui-select-choices repeat="impact.value as impact in $ctrl.impacts">
             <span>{{impact.displayValue}}</span>
           </ui-select-choices>
         </ui-select>
       </div>

       <div ng-if="$ctrl.type ==='Risk'">
         <label for="residualProbability">Residual Probability Rating After Mitigation</label>
         <ui-select class="group-field status__dropdown" id="residualProbability"
                    ng-class="{disabled: $ctrl.readOnly}"
                    name="residualProbability"
                    aria-label="Initial Probability"
                    search-enabled="false"
                    ng-disabled="$ctrl.readOnly"
                    ng-model="$ctrl.dataBlock.residualProbabilityRating">
           <ui-select-match  placeholder="Select a Residual Probability">{{$select.selected.displayValue}}</ui-select-match>
           <ui-select-choices repeat="probability.value as probability in $ctrl.probabilitiesAfterMitigation">
             <span>{{probability.displayValue}}</span>
           </ui-select-choices>
         </ui-select>
       </div>

       <div ng-if="$ctrl.type ==='Risk'">
         <label for="residualImpact">Residual Impact Rating</label>
         <ui-select class="group-field status__dropdown" id="residualImpact"
                    ng-class="{disabled: $ctrl.readOnly}"
                    name="residualImpact"
                    aria-label="Residual Impact"
                    search-enabled="false"
                    ng-disabled="$ctrl.readOnly"
                    ng-model="$ctrl.dataBlock.residualImpactRating">
           <ui-select-match  placeholder="Select a Residual Impact">{{$select.selected.displayValue}}</ui-select-match>
           <ui-select-choices repeat="impact.value as impact in $ctrl.impactsAfterMitigation">
             <span>{{impact.displayValue}}</span>
           </ui-select-choices>
         </ui-select>
       </div>
       <div ng-if="$ctrl.type ==='Issue'">
         <label for="issueImpactLevel">Impact level</label>
         <ui-select class="group-field status__dropdown" id="issueImpactLevel"
                    ng-class="{disabled: $ctrl.readOnly}"
                    name="initialImpact"
                    aria-label="Impact Level"
                    search-enabled="false"
                    ng-disabled="$ctrl.readOnly"
                    ng-model="$ctrl.dataBlock.initialImpactRating"
                    required>
           <ui-select-match  placeholder="Select an Impact Level">{{$select.selected.displayValue}}</ui-select-match>
           <ui-select-choices repeat="impact.value as impact in $ctrl.issueImpactLevels">
             <span>{{impact.displayValue}}</span>
           </ui-select-choices>
         </ui-select>
       </div>

    </form>
  </div>

  <div class="modal-footer">
    <div class="row" ng-if="true">
      <div class="col-xs-12 text-center mbottom15">
        <button
          id="claim-btn"
          class="btn btn-default btn-primary btn-center"
          type="button"
          ng-click="$close($ctrl.dataBlock)"
          ng-disabled="riskForm.$invalid">{{$ctrl.btnName}}</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center mbottom15 no-border">
        <a href  class="form-cancel" ng-mousedown="$dismiss()">Close</a>
      </div>
    </div>
  </div>
</div>
