<div class="info-modal">

  <div class="modal-header text-center">
    <button aria-label="Close" class="close" data-dismiss="modal" ng-mousedown="$dismiss()" on-enter="$dismiss()" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>MILESTONE REPAYMENT/RECLAIM REQUEST</h1>
    <div class="mtop20">{{$ctrl.milestone.summary}}</div>
  </div>

  <div class="modal-body">
    <div class="source" ng-if="$ctrl.milestone.reclaimedGrant && $ctrl.isMonetaryValue">
      <div>A grant repayment of £{{$ctrl.milestone.reclaimedGrant | number}} has been created against this milestone.</div>
    </div>

    <div class="source" ng-if="$ctrl.milestone.reclaimedRcgf">
      <div>A RCGF repayment of £{{$ctrl.milestone.reclaimedRcgf | number}} has been created against this milestone.</div>
    </div>

    <div ng-if="$ctrl.milestone.reclaimedDpf" class="source">
      <div>A DPF repayment of £{{$ctrl.milestone.reclaimedDpf | number}} has been created against this milestone.</div>
    </div>

    <div class="mtop25 reclaim-reason" ng-if="$ctrl.milestone.reclaimReason">
      <div>{{$ctrl.milestone.reclaimReason}}</div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="row mbottom10">
      <div class="col-xs-12 text-center">
        <button ng-if="$ctrl.showCancelReclaim" class="btn btn-primary" ng-click="$ctrl.cancelReclaim($ctrl.milestone)">CANCEL RECLAIM</button>
        <button class="btn btn-primary" ng-click="$close()">CLOSE</button>
      </div>
    </div>
  </div>
</div>
