.finance-summary-block{
  h4, h5 {
    text-align: left;
  }
  table {
    text-align: left;
    width: 100%;
    color: $primary-black;
    box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.05);

    .bold-cell { 
      font-family: "Gotham-medium", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    }

    .mainHeader {
      background-color: $navy !important;
      color: $heather;
    }
    .mainHeader th {
      padding: .8rem; // .5rem .8rem .5rem;
      //   border: 1px solid darken($ice-blue, 50%);
      //   border-top: none;
      //   border-bottom: none;
    }
    .years-cell {
      padding-top: 27px;
    }
    .divider {
      height: 5px;
      background-color: #cccccc;
      td {
        padding: 0;
      }
    }
  }
}
