<div class="finance-summary-block text-left">
  <div class="row no-gutter">
    <div class="col-md-12">
      <div class="table-responsive" id="finance-summary-table">
        <div ng-if="!$ctrl.summaryData.years.length" class="empty-table">Not provided</div>
        <table ng-if="$ctrl.summaryData.years.length" class="table table-bordered">
            <thead>
                <tr class="mainHeader">
                    <th style="padding-left: 1rem;">FINANCIAL YEAR</th>
                    <th>SPEND TYPE</th>
                    <th>REMAINING FORECAST £</th>
                    <th>ACTUAL SPEND £</th>
                    <th><div>REMAINING FORECAST </div><div>& ACTUAL SPEND £</div></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="$ctrl.summaryData.years.length == 0">
                  <td colspan="5" class="not-provided">Not provided</td>
                </tr>
                <tr ng-repeat-start="year in $ctrl.summaryData.years">
                  <td class="years-cell bold-cell" rowspan="2">{{year.range}}</td>
                  <td>Capital</td>
                  <td>{{$ctrl.formatNumber(year.capitalForecast)}}</td>
                  <td>{{$ctrl.formatNumber(year.capitalActual)}}</td>
                  <td>{{$ctrl.formatNumber(year.capitalRemaining)}}</td>
                </tr>
                <tr ng-repeat-end>
                  <td>Revenue</td>
                  <td>{{$ctrl.formatNumber(year.revenueForecast)}}</td>
                  <td>{{$ctrl.formatNumber(year.revenueActual)}}</td>
                  <td>{{$ctrl.formatNumber(year.revenueRemaining)}}</td>
                </tr>
                <tr>
                  <td class="bold-cell">All years</td>
                  <td> Capital & Revenue</td>
                  <td>{{$ctrl.formatNumber($ctrl.summaryData.total.totalForecast)}}</td>
                  <td>{{$ctrl.formatNumber($ctrl.summaryData.total.totalActual)}}</td>
                  <td>{{$ctrl.formatNumber($ctrl.summaryData.total.totalRemaining)}}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
