.total__spend {
    width: 90%;
    margin: auto;

    .summary-profiled-years-header {
      cursor: pointer;
    }
    .outerBox {
        //padding: 1rem 1rem 2rem 1rem;
        width: 100%;
        height: 100%;
    }
    .totalBox_description{
      min-height: 34px;
    }
    .approval-needed-message{
      font-size: 12px;
      margin-top: 8px;
      .approval-needed-message-date{
        color: $secondary-text;
      }
    }
    .innerBox {
        background-color: white;
        border: 1px solid #eaeaea;
        box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.05);
        .innerPadding {
            padding: 1rem 1rem 0 1rem;
        }
        position: relative;
    }

    .rightDivider {
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 1px;
        border: 1px solid gray;
        border-top: none;
        border-left: none;
        border-bottom: none;
    }

    .from-to-date-edit {
      padding: 15px 0 0 0;
      margin-bottom: 20px;
      //background-color: #ffffff;
      //box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.05);

    }
    .padding-top-15{
      padding-top: 15px;
    }
    .document-type span.btn {
        height: 34px;
    }
    .add-document {
        width: 100%;
    }
    .approval-required-error.glyphicon-exclamation-sign {
        color: red;
    }

    .wbs-codes-title {
      margin-top: 24px;
      margin-bottom: 8px;
      //font-family: $font-family-bolder;
      line-height: 14px;
      text-align: center;
    }

    .financial-year{
      font-family: $font-family-bolder;
      font-size: 20/16 + 0rem;
      margin-top: 15/16 + 0rem;
      margin-bottom: 15/16 + 0rem;
    }

  .flex-container {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;

    > gla-well {
      width: 100%;
      margin-top: 10px;
      &:first-child{
        margin-top: 0;
      }
    }

    @include when-sm{
      > gla-well{
        margin-top: 0;
        width: 49%;
      }
    }
  }



  .totalBox{
    padding: 1rem 1.25rem;
  }

  .totals .totalBox{
    & .totalBox__label, .totalBox__value{
      font-size: 15/16 + 0rem;
    }

    & .totalBox__totalValue{
      font-size: 16/16 + 0rem;
    }

    .totalBox.box.noDescription{
      min-height: 20/16 + 0rem;
    }

    @include when-sm{

      .totalBox__valueContainer .row{
        .col-xs-6:first-child{
          padding-left: 25%;
        }
        .col-xs-6:last-child{
          padding-right: 25%;
        }
      }
    }
  }

  .out-of-range {
    font-family: "Gotham-book", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 12px;
    color: #7fbeab;
    a {
      color: #7fbeab;
    }
  }
}
.total__spend {
  .property-name {
    color: $secondary-text;
    font-weight: normal;
    line-height: 14px;
    margin-bottom: 5px;
  }


  .property-value {
    font-family: $font-family-bolder;
    color: $primary-text;
    line-height: 14px;
  }
}

.file-upload-error-modal,
.file-delete-error-modal {
    span.glyphicon-exclamation-sign {
        color: red;
        font-size: 3em;
    }
    .confirm-button {
        width: 100%;
        button {
            width: 100%;
        }
    }
    .cancel {
        button {
            width: 100%;
        }
    }
}


.annual-spend {
  clear:both;
  width: 90%;
  margin: auto;
  .budgetBox {
    text-align: center;
    padding: 1rem;
    background-color: white;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.05);
    .budgetBox__label {
      font-family: $font-family-light;
      font-size: 14px;
      width: 100%;
      margin: 0 0.7rem 0.7rem 0;
    }
    .budgetBox__value {
      font-size:14px;
      width: 100%;
      text-align: center;
      color: $primary-text;
    }
    label {
      @extend .budgetBox__label;
      margin: 1rem 0 1rem 0;
    }
    input {
      max-width: 15rem;
      margin: auto;
    }
  }
  .wizzardBox {
    color: $secondary-text;
    padding: 1rem;
    min-height: 5rem;
    background-color: #ffffff;
    box-shadow: 0 0 0.6rem 0 rgba(0, 0, 0, 0.05);
  }

  .totalBox {
    padding: 1rem 0.95rem;

    @include when-sm{
      .totalBox_description{
        min-height: 51/16 + 0rem;
      }
    }
  }

  .expandableTable table .secondaryRow input {
    width: 8rem;
  }


  .totalBox .totalBox__valueContainer{
    padding: 0px;
  }
}
