<div class="timeout-modal">
  <div class="modal-header text-center">
    <h1>TIMEOUT WARNING</h1>
  </div>
  <div class="modal-body text-center">
    Your session is going to expire in:

    <div class="bolder mtop20" idle-countdown="countdown">
      {{$ctrl.formatTime(countdown)}}
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-primary btn-center" ng-click="$ctrl.resume()" type="button">RESUME SESSION</button>
    <div class="mtop20">
      <a class="form-cancel dismiss-btn" href="JavaScript:void(0)" ng-click="$ctrl.logout()">Logout</a>
    </div>
  </div>
</div>
