//TODO match design across all blocks
section-header {
  display: block;
  text-align: left;
  margin-top: 30/16 + 0rem;
  margin-bottom: 8/16 + 0rem;

  .section-header {
    font-size: 20/16 + 0rem;
    font-family: $font-family-light;
    margin-top: 0;
    margin-bottom:0;

    .glyphicon {
      top: 3px;
    }

  }

  h3, h4 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 28px;
  }

  .section-subheader {
    font-family: $font-family-default;
    color: $secondary-text;
    font-size: 14/16 + 0rem;
    margin-top: 0;
  }

  &.section-toggle {
    user-select: none;

    .glyphicon {
      top: 3px;
    }

    cursor: pointer;
  }

  &.with-button {
    .section-title {
      width: 100%;
      line-height: 34px;
    }
  }

  label{
    font-weight: normal;
    margin-bottom: 0;
  }
}
