<table class="expandableRow">
  <tr class="primaryRow"
      ng-class="{'expandable': $ctrl.data.length > 0, 'primaryRowFocus': $ctrl.primaryRowFocus}"
      ng-click="$ctrl.openClose()">
    <th colspan="7">
      <a href
        ng-focus="$ctrl.onPrimaryRowFocus()"
        ng-blur="$ctrl.onPrimaryRowBlur()">
        <div class="col-xs-4 no-gutter no-padding">
          <div class="col-xs-1">
            <div ng-if="$ctrl.data.length">
              <i class="glyphicon glyphicon-triangle-bottom" ng-if="!$ctrl.isExpanded"></i>
              <i class="glyphicon glyphicon-triangle-top" ng-if="$ctrl.isExpanded"></i>
            </div>
          </div>
          <div class="col-xs-11">
            <span>{{$ctrl.category}}</span>
          </div>
        </div>
      </a>
    </th>
  </tr>
  <tr class="secondaryRow"
      ng-if="$ctrl.isExpanded"
      ng-repeat="item in $ctrl.data track by $index">
    <td ng-style="{'width': $ctrl.columnOffsets[0]}">{{item.config.subcategory}}</td>
    <td ng-style="{'width': $ctrl.columnOffsets[1]}">{{$ctrl.getOutputTypeById(item.outputType.key)}}</td>
    <td ng-style="{'width': $ctrl.columnOffsets[2]}">{{$ctrl.getUnitLabelById(item.config.valueType)}}</td>
    <td ng-style="{'width': $ctrl.columnOffsets[3]}">{{$ctrl.getPeriodName(item.month)}}</td>
    <td ng-style="{'width': $ctrl.columnOffsets[4]}">
      <span ng-if="item.forecast && $ctrl.readOnly">
          {{$ctrl.formatNumber(item.forecast, item.config.valueType)}}
      </span>
      <input
        ng-if="!$ctrl.readOnly"
        type="text"
        maxlength="13"
        ng-model="item.forecast"
        ng-focus="$ctrl.onCellFocus($ctrl.category, item.config.subcategory, 'forecast')"
        focus-me focus-me-if="$ctrl.getCellFocus($ctrl.category, item.config.subcategory, 'forecast')"
        ng-blur="$ctrl.onCellEditBlur($index)"
        number-mask="$ctrl.getUnitPrecision(item.config.valueType)"
        aria-label="Outputs forecast cell" >
    </td>
    <td ng-style="{'width': $ctrl.columnOffsets[5]}">
      <span
        ng-if="(item.actual && $ctrl.readOnly)
          || $ctrl.isFutureDate(item.month, item.year)">
        {{$ctrl.formatNumber(item.actual, item.config.valueType)}}
      </span>
      <input
        ng-if="(!$ctrl.readOnly && !$ctrl.isFutureDate(item.month, item.year))"
        type="text"
        maxlength="13"
        ng-model="item.actual"
        ng-focus="$ctrl.onCellFocus($ctrl.category, item.config.subcategory, 'actual')"
        focus-me focus-me-if="$ctrl.getCellFocus($ctrl.category, item.config.subcategory, 'actual')"
        ng-blur="$ctrl.onCellEditBlur($index)"
        number-mask="$ctrl.getUnitPrecision(item.config.valueType)"
        aria-label="Outputs actual cell">
    </td>
    <td class="delete-btn-container" ng-style="{'width': $ctrl.columnOffsets[6]}">
      <span ng-if="item.difference">
        {{$ctrl.formatDifference(item.difference, item.config.valueType)}}
      </span>
      <delete-button
        ng-if="!$ctrl.readOnly"
        ng-click="$ctrl.onDelete({event: {data: item}})">
      </delete-button>
    </td>
  </tr>
</table>
