<div class="modal-content password-modal">
  <div class="modal-header text-center">
    <button aria-label="Close" class="close" data-dismiss="modal" ng-mousedown="$dismiss()" on-enter="$dismiss()" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <h1>Password help</h1>
  </div>
  <div class="modal-body">
    <p>
      It is always good advice to make passwords as long as possible. However, a good password can be 8 characters and a
      bad one can be 9.
    </p>
    <p>
      If you want a secure password that is easy to remember try using a few random words strung together.
      e.g. Mice-hello-yacht-slow (by the way, this example won’t work and is just for guidance).
      A visual story involving them can help you remember these words.
    </p>
    <p>
      Traditional advice has been that we need to create passwords that are hard to remember but in doing so these are
      often still easy for computers and hackers to guess.
    </p>
    <p>
      Latest advice is that we can be very secure using passwords that are easy to remember.
    </p>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-12 text-center mbottom15">
        <a class="form-cancel" href="JavaScript:void(0)" ng-mousedown="$dismiss()" on-enter="$dismiss()">Cancel</a>
      </div>
    </div>
  </div>
</div>
